.heading-section {
  border: 1px solid #e6e6e6;
  padding-top: 12px;
  padding-left: 18px;
  background-color: #f5f5f5;
  color: #000;
  border-radius: 5px;

}
.mdl-data-table th {
  background-color: #f5f5f5;
}
.addPhotos {
  background: #c84730 !important;
  color: #fff !important;
  right: 10px;
  border-radius: 7px;
  padding-right: 16px;
  cursor: pointer;
  border: 1px solid #c84730;
  padding-left: 16px;line-height: 30px !important;
}
.addPhotos input.upload_step2 {
  opacity: 0;
  position: absolute;
  top: 0px;
  cursor: pointer;
  left: 0px;
  right: 0;
  width: 82%;
}
/*.flip-vertical {
  width: 30% !important;
  margin: 0 0 10px 0 !important;
}
.flip-vertical li {
  min-width: 150px;
  margin-top: 10px;
  display: block !important;
}
.flip-vertical li > *,
.flip-vertical li.current > * {
  padding: 1em 0.8em 0.8em 1em !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.custom-vertical-line {
  width: 90%;
  padding: 0 1.2em 2em 1.2em;
  margin: 1em auto;
  counter-reset: step;
}
.custom-vertical-line li {
  position: relative;
  margin-left: 15px;
  display: inline-block;
  counter-increment: step;
}
.custom-vertical-line li a {
  color: #c63f28;
}
.custom-vertical-line li a:hover {
  color: #c63f28 ;
}
.custom-vertical-line li a:hover:before {
  position: absolute;
  content: '';
  margin: 0;
  width: 26px;
  height: 26px;
  background-color: #b2b2b2;
  left: 28%;
  top: 108%;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.custom-vertical-line li:not(:first-child):before,
.custom-vertical-line li:not(:last-child):after {
  position: absolute;
  content: '';
  height: 5px;
  background: #edeff0;
  margin: 0;
  width: 75%;
  top: 165%;
}
.custom-vertical-line li:not(:last-child):after {
  left: 60%;
}
.custom-vertical-line li:not(:first-child):before {
  right: 60%;
}
.custom-vertical-line li > * {
  display: block;
}
.custom-vertical-line li.visited > *,
.custom-vertical-line li.current > * {
  color: #c63f28 ;
}
.custom-vertical-line li.current:before,
.custom-vertical-line li.current:after,
.custom-vertical-line li.visited:before,
.custom-vertical-line li.visited:after {
  background-color: #c63f28 ;
}
.custom-vertical-line li.visited a:hover:before {
  background-color: #c63f28 ;
}
.custom-vertical-line li > *:after {
  position: absolute;
  content: counter(step);
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: #edeff0;
  left: 33%;
  top: 125%;
  z-index: 2;
  text-align: center;
  color: #2c3f4c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.custom-vertical-line li.visited > *:after,
.custom-vertical-line li.current > *:after {
  background-color: #c63f28 ;
  color: #fff;
}
.custom-vertical-line.flip-vertical li {
  padding-left: 15px;
}
.custom-vertical-line.flip-vertical li a:hover:before {
  left: -3px;
  top: 28%;
}
.custom-vertical-line.flip-vertical li:not(:last-child):after {
  height: 100%;
  width: 5px;
  top: 77%;
  left: 8px;
}
.custom-vertical-line.flip-vertical li:not(:first-child):before {
  height: 75%;
  width: 5px;
  top: 0;
  left: 8px;
  right: 0;
}
.custom-vertical-line.flip-vertical li > * {
  display: block;
}
.custom-vertical-line.flip-vertical li > *:after {
  left: 0;
  top: 36%;
}*/
.custom-circle-box {
  display: inline-block;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: whitesmoke;
  color: #000;
  font-size: 18px;
  z-index: 100;
  margin-left: 12%;
}
.custom-circle-box-true {
  display: inline-block;
  border: 1px solid #0ac35d;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #0ac35d;
  color: #fff;
  z-index: 100;
  font-size: 18px;
  margin-left: 12%;
}
.custom-circle-box-false {
  display: inline-block;
  border: 1px solid #c84730;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #c84730;
  color: #fff;
  z-index: 100;
  font-size: 18px;
  margin-left: 12%;
}
/*.custom-circle-box:hover {
  display: inline-block;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #c63f28;
  color: #fff;
  font-size: 18px;
}*/
/*.bottom-line {
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  text-align: center;
  margin-left: 40%;

}*/
span.bottom-line{
  display: inline-block;
  width: 2px;
  height: 100%;

  z-index: 50;
  background-color: #e6e6e6;

}
