<section class="container-fluid with-maxwidth chapter customFluid " style="padding: 0px;margin-top: 2%">
  <!--  <article class="article" style="margin-top: -6%">
      <h2 class="article-title">{{titile}}</h2>
    </article>-->
  <div class="box box-default">
    <div class="box-body">
      <div class="row">
        <div class="col-4" style="margin-top: 1%;">
          <h2 cdkFocusInitial class="sub-title">Import digital certificate</h2>
        </div>

        <div class="col-12" style="margin-top: 2%">
          <form>
            <div class="from-group row">
              <div class="col-1">
                <span  [className]="extractKey ? 'custom-circle-box-true' : 'custom-circle-box'" >1</span>
              </div>
              <div class="col-11">
                <h5 class="sub-title heading-section align-self-center" style="margin-bottom: 0px !important;">Extracting
                  Key</h5>
                <md-progress-bar style="border-radius:50px;margin-top: -5px " [mode]="typeProgress" [value]="keyProgress"
                                 *ngIf="step1start"></md-progress-bar>
              </div>
              <div class="col-1 text-center">
                <span class="bottom-line">&nbsp;</span>
              </div>
              <div class="col-6" style="margin-top: 20px;">
                Recipient Public Key
                <md-input-container class="ml-xs mr-xs full-width">
                  <input mdInput name="recpID" disabled [(ngModel)]="verifyDetails.recpID" #recpID="ngModel">
                </md-input-container>

              </div>
              <div class="col-5" style="margin-top: 20px;">
                University Public Key
                <md-input-container class="ml-xs mr-xs full-width">
                  <input mdInput disabled name="issuerID" [(ngModel)]="verifyDetails.issuerID" #issuerID="ngModel">
                </md-input-container>
              </div>
            </div>

            <div class="from-group row">
              <div class="col-1">
                <span  [className]="extractTranID ? 'custom-circle-box-true' : 'custom-circle-box'">2</span>
              </div>
              <div class="col-11">
                <h5 class="sub-title heading-section" style="margin-bottom: 0px !important;">Extracting transaction ID</h5>
                <md-progress-bar style="border-radius:50px;margin-top: -5px " [mode]="typeProgress" [value]="keyProgress"
                                 *ngIf="step2start"></md-progress-bar>
              </div>
              <div class="col-1 text-center">
                <span class="bottom-line">&nbsp;</span>
              </div>
              <div class="col-11" style="margin-top: 20px;">
                Blockchain transaction ID
                <md-input-container class="ml-xs mr-xs full-width">
                  <input mdInput disabled name="blockChainID" [(ngModel)]="verifyDetails.blockChainID"
                         #blockChainID="ngModel">
                </md-input-container>
              </div>
            </div>

            <div class="from-group row">
              <div class="col-1">
                <span class="custom-circle-box" [className]="extractDC ? 'custom-circle-box-true' : 'custom-circle-box'">3</span>
              </div>
              <div class="col-11">
                <h5 class="sub-title heading-section" style="margin-bottom: 0px !important;">Extracting digital
                  certificate</h5>
                <md-progress-bar style="border-radius:50px ;margin-top: -5px" [mode]="typeProgress" [value]="keyProgress"
                                 *ngIf="step3start"></md-progress-bar>
              </div>
              <div class="col-1 text-center">
                <span class="bottom-line">&nbsp;</span>
              </div>
              <div class="col-11" style="margin-top: 20px;">
                Hash
                <md-input-container class="ml-xs mr-xs full-width">
                  <input mdInput disabled name="hash" [(ngModel)]="verifyDetails.hash" #hash="ngModel">
                </md-input-container>
              </div>
            </div>

            <div class="from-group row">
              <div class="col-1">
                <span class="custom-circle-box" [className]="conectedTser ? 'custom-circle-box-true' : 'custom-circle-box'">4</span>
              </div>
              <div class="col-11">
                <h5 class="sub-title heading-section" style="margin-bottom: 0px !important;">Connecting to the BlockChain
                  Network</h5>
                <md-progress-bar style="border-radius:50px; margin-top: -5px" [mode]="typeProgress" [value]="keyProgress"
                                 *ngIf="step4start"></md-progress-bar>
              </div>
              <div class="col-1 text-center">
                <span class="bottom-line"></span>
              </div>
              <div class="col-11" style="margin-top: 20px;min-height: 50px" align="center">

                <p style="color: #00c853;" *ngIf="conectedTser">   Connected to Network : <span style="color: #f26922"> https://kovan.etherscan.io/</span> </p>
              </div>
            </div>

            <div class="from-group row">
              <div class="col-1">
                <span [ngClass]="classNames">5</span>
              </div>
              <div class="col-11">
                <h5 class="sub-title heading-section" style="margin-bottom: 0px !important;">Transaction detail from
                  Network</h5>
                <md-progress-bar style="border-radius:50px;margin-top: -5px " [mode]="typeProgress" [value]="keyProgress"
                                 *ngIf="step5start"></md-progress-bar>
              </div>
              <div class="col-1 text-center">
                <span class="bottom-line">&nbsp;</span>
              </div>
              <div class="col-6" style="margin-top: 20px;">
                Recipient Public Key from Network
                <md-input-container class="ml-xs mr-xs full-width">
                  <input disabled mdInput name="to" [(ngModel)]="verifyDetails.to" #to="ngModel">
                </md-input-container>
              </div>
              <div class="col-5" style="margin-top: 20px;">
                University Public Key from Network
                <md-input-container class="ml-xs mr-xs full-width">
                  <input disabled mdInput name="from" [(ngModel)]="verifyDetails.from" #from="ngModel">
                </md-input-container>
              </div>
            </div>

            <div class="from-group row">
              <div class="col-1">
                <span class="custom-circle-box" [className]="validationDone ? 'custom-circle-box-true' : 'custom-circle-box'">6</span>
              </div>
              <div class="col-11">
                <h5 class="sub-title heading-section" style="margin-bottom: 0px !important;">Validating Keys and Hash</h5>
                <md-progress-bar style="border-radius:50px " [mode]="typeProgress" [value]="keyProgress"
                                 *ngIf="step6start"></md-progress-bar>
              </div>
              <div class="col-1">
              </div>
              <div class="col-11" style="margin-top: 20px;text-align: center">
                <span style="color: #00c853" *ngIf="validationDone"> Validation completed successfully </span>
              </div>
            </div>
          </form>
          <!--Form Fields Demo-->
        </div>

      </div>
    </div>
  </div>
</section>
