  <div class="row" style="margin-top: -1%;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" align="right">
      <i class="fa fa-times" aria-hidden="true" (click)="close()" style="font-size: 20px;"></i>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 marginTop1per">
      <a href="mailto:mus@fliptin.com"><img src="assets/images/landingPage/Gitex_En-4.jpg" style="width: 100%;"></a>
    </div>
  </div>

