<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">
  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/adminSettings']">Admin</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/job-advertisement']">Job Advertisement</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/job-advertisement']">Job List</a>
    </li>
    <li class="breadcrumb-item active">Post Job</li>
  </ol>
  <!-- Breadcumbs -->

  <article class="article">
    <div class="box box-default">
      <div class="box-body" style="padding:0px;">
        <div class="row borderBottom marginZero">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h4 class="titleStyle">Job Advertisement</h4>
          </div>
          <form [formGroup]="addJobForm" class="form-horizontal">
            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 col-md-offset-1">
              <div class="col-md-12 col-xs-12 col-sm-12">
                <!-- <div class="form-group">
                  <div class="col-sm-2">
                    <table style="width: 100%;">
                      <tr>
                        <td style="vertical-align: middle;">
                          Organisation&nbsp;Logo:
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-sm-8">
                    <table style="width: 100%;">
                      <tr>
                        <td style="vertical-align: middle;">
                          <img *ngIf="orgLogo" [src]="orgLogo" style="width:15%; height:75%" name="orgLogo" (click)="file.click()">
                          <img *ngIf="!orgLogo" src="assets/images/profile_pic.jpg" style="width:15%; height:15%">
                        </td>
                      </tr>
                    </table>
                  </div>
                </div> -->
                <div class="form-group ">
                  <div class="col-sm-2 middle">
                    <p>Organisation&nbsp;Logo:</p>

                  </div>
                  <div class="col-sm-8 middle">
                    <span>
                      <img *ngIf="orgLogo" [src]="orgLogo" style="width:15%;" name="orgLogo" (click)="file.click()">
                      <img *ngIf="!orgLogo" src="assets/images/profile_pic.jpg" >
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 col-md-offset-1">
              <div class="col-md-6 col-xs-6 col-sm-12">
                <div class="form-group">
                  <label class="col-sm-4 labelStyle">Organisation&nbsp;name:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" readonly formControlName="orgName" [(ngModel)]="jobModal.orgName" name="orgName"
                      placeholder="Organisation name" required [ngClass]="{ 'is-invalid': submitted && fData.orgName.errors }">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-6 col-sm-12">
                <div class="form-group">
                  <label class="col-sm-4 labelStyle">Job Title * :</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="jobTitle" required [(ngModel)]="jobModal.jobTitle" name="jobTitle"
                      placeholder="Job Title" [ngClass]="{ 'is-invalid': submitted && fData.jobTitle.errors }">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 col-md-offset-1">
              <div class="col-md-6 col-xs-6 col-sm-12">
                <div class="form-group">
                  <label class="col-sm-4 labelStyle">Location * :</label>
                  <div class="col-sm-8">
                    <input ngx-google-places-autocomplete formControlName="orgLocation" [options]="googlePlacesOptions" #placesRef="ngx-places"
                      required [(ngModel)]="jobModal.orgLocation" type="text" placeholder="Location" class="inputField form-control"
                      id="orgLocation" name="orgLocation" (onAddressChange)="handleAddressChange($event)" [ngClass]="{ 'is-invalid': submitted && fData.orgLocation.errors }">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-6 col-sm-12">
                <div class="form-group">
                  <label class="col-sm-4 labelStyle">Job Type * :</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="jobType" [(ngModel)]="jobModal.jobType" name="jobType" placeholder="Job Type"
                      required [ngClass]="{ 'is-invalid': submitted && fData.jobType.errors }">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 col-md-offset-1">
              <div class="col-md-6 col-xs-6 col-sm-12">
                <div class="form-group">
                  <label class="col-sm-4 labelStyle">Experience * :</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="experience" [(ngModel)]="jobModal.experience" name="experience"
                      placeholder="Experience" required [ngClass]="{ 'is-invalid': submitted && fData.experience.errors }">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-6 col-sm-12">
                <div class="form-group">
                  <label class="col-sm-4 labelStyle">Job Expiry Date * :</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input type="text" [mdDatepicker]="picker1" placeholder="DD/MM/YYYY" aria-describedby="basic-addon3" class="form-control"
                        name="jobExpiryDate" [(ngModel)]="jobModal.jobExpiryDate" formControlName="jobExpiryDate" required
                        [ngClass]="{ 'is-invalid': submitted && fData.jobExpiryDate.errors }" [min]="minDate">
                      <span class="input-group-addon spanStyle2" style="display:inline" id="basic-addon3">
                        <button mdSuffix [mdDatepickerToggle]="picker1">
                        </button>
                      </span>
                      <md-datepicker #picker1></md-datepicker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 col-md-offset-1">
              <div class="col-md-6 col-xs-6 col-sm-12">
                <div class="form-group">
                  <label class="col-sm-4 labelStyle">Job Update Url :</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="jobModal.jobUrl" formControlName="jobUrl" name="jobUrl" placeholder="Job Update Url"
                      [ngClass]="{ 'is-invalid': submitted && fData.jobUrl.errors }">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 col-md-offset-1">
              <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="form-group">
                  <label class="col-sm-2 labelStyle">About This Job * :</label>
                  <div class="col-sm-10">
                    <textarea class="noResize" rows="5" cols="98" name="aboutJob" [(ngModel)]="jobModal.aboutJob" formControlName="aboutJob"
                      placeholder="About Job" required [ngClass]="{ 'is-invalid': submitted && fData.aboutJob.errors }"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="form-group">
                  <label class="col-sm-2 labelStyle">Role requirement (Skills) * :</label>
                  <div class="col-sm-10">
                    <textarea class="noResize" rows="5" cols="98" name="skills" [(ngModel)]="jobModal.skills" formControlName="skills" placeholder="Skills"
                      required [ngClass]="{ 'is-invalid': submitted && fData.skills.errors }"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 col-md-offset-2 btnDivStyle">
                <button class="btn btn-default" type="button" [routerLink]="['/app/job-advertisement']">Cancel
                </button>
                <button class="btn btn-primary" type="submit" style="width:9rem;" (click)="postJob()">
                  <i>
                    <img *ngIf="btnshowLoader" src="assets/images/source.gif" style="width:20px; height: 20px;">
                  </i> Post Job
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>
</section>