.divStyle{
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding:2%;
 }
 .titleStyle{
     text-align: center;
     color:#009bbd;
 }
 .labelStyle{
     margin-top:1%;;
     font-weight: 500;
 }
 .labelStyle1{
    margin-top: 2.5rem;
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
}
 .spanStyle2 {
    padding-top: 2%;
    width: 3rem !important;
    height: 2.4rem !important;
    border-radius: 0px 5px 5px 0px !important;
  }
  .btn-default {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    box-shadow: none;
    width:9rem;
    border:1px solid cornflowerblue;
    margin-right: 2rem;
  }
  .btnDivStyle{
      text-align:center;
      padding-bottom:3% !important;
  }
  .is-invalid {
    border-color: #EF5350 !important;
  }

  .middle {
    // display: flex; 
    // width: 50%;  
    display:table;
  } 
  p { 
    // margin: auto; /* Important */ 
  display:table-cell;
  vertical-align:middle;
  }
  