<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">
  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/adminSettings']">Admin Setting</a>
    </li>
    <li class="breadcrumb-item active">Change Password</li>
  </ol>
  <!-- Breadcumbs -->
  <article class="article">


    <div class="col-md-12">
      <div class="col-md-6">
        <div class="box box-default">
          <div class="box-body">
            <div class="row mb-2">
              <div class="col-md-12">
                <span class="change-pass">Change Your Password</span>
              </div>
            </div>
            <form [formGroup]="changePasswordForm" name="myForm">
              <div class="form-group">
                <label> New Password* </label>
                <input required class="form-control" type="password" name="password" placeholder="Password" formControlName="pwd"
                  [(ngModel)]="passwordObj.password" minlength="5" [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }">
              </div>
              <!--
                        <password-strength-bar (passwordStatus)="passwordStatuss($event)" [passwordToCheck]="passwordObj.password" ></password-strength-bar>
              -->
              <div class="form-group">
                <label> Confirm New password* </label>
                <input required class="form-control" type="password" name="cpassword" placeholder="Confirm password "
                  formControlName="cnfrmPwd" [(ngModel)]="confpassword" minlength="5" [ngClass]="{ 'is-invalid': submitted && f.cnfrmPwd.errors }">

                <div *ngIf="passwordObj.password !== confpassword && confpassword">
                  <span style="font-size: 10px;color: #838383;"><i> Password must be same </i></span>
                </div>
              </div>
              <div class="row" *ngIf="changePasswordError">
                <div class="col-md-12" align="center">
                  <p id="password-strength-text" class="errMsg">{{changePasswordError}}</p>
                </div>
              </div>
              <div class="form-group margintop2per">
                <div class="col-md-12">
                  <div class="col-md-6">
                    <button class="btn btn-secondary-color" (click)="goBack()" type="button">
                      Cancel
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-primary btn-block" (click)="goToDashboard()" type="submit" >
                      Continue <img *ngIf="showLoader" src="assets/images/source.gif" class="loaderPosition">
                    </button>
                  </div>
                </div>
                <div>
                </div>
              </div>
              </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box box-default">
          <div class="box-body pass-hint-block">
            <div class="row mb-2">
              <div class="col-md-12">
                <span class="change-pass">Password must contains:</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="pass-hint">
                  <li>Be at least 8 character</li>
                  <li>Have at least one uppercase</li>
                  <li>Have at least one numerical character</li>
                  <li>Have at least one special character</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </article>

</section>
