.change-pass{
  font-size: 14px;
  font-weight: 600;
  display: block;
}
label {
  font-weight: 500;
  margin-bottom: 0.2rem;
  font-size: 13px;
  color: #909090;
}
.form-control {
  padding: 1.5rem 1rem;
  box-shadow: none;
}
.btn-primary {
  text-shadow: none;
  box-shadow: none;
}

.btn {
  padding: .97rem 1rem;
  margin-top: 0.5rem;
  border: 0;
  background-color: #009bbd;
}
.pass-hint{
  color: #9a9a9a;
  font-size: 13px;
}
.btn {
  padding: 0.9rem 1rem;
  border-radius: 4px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  width: 100%;
  background-image: none !important;
  background-color:#009bbd;
}
.btn-secondary-color {
  background-color: #ffffff;
  border: 1px solid #D8DDE6;
  color: #009bbd !important;
}
.btn-secondary-color:hover {
  background-color: #fbffff;
  border: 1px solid #D8DDE6;
  color: #009bbd !important;
}
.pass-hint-block{
  min-height: 288px;
}
