<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 2%">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 custom-pl-1">
          <p class="custom-tab-title" style="margin-bottom:0px;"> {{certType | titlecase}} Certificates </p>
          <!-- Breadcumbs -->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/app/dashboard']">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a>Inbox</a>
            </li>
            <li class="breadcrumb-item">
              <a>Certificates</a>
            </li>
            <li class="breadcrumb-item">
              <a> {{certType | titlecase}} Certificates</a>
            </li>
            <li class="breadcrumb-item active">View Certificates</li>
          </ol>
          <!-- Breadcumbs -->
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 custom-pl-1">
          <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background-color: #fff ;margin-bottom:3%;border: 1px solid #cccccc; border-radius: 4px">
        <div class="row" style="padding:1%;margin-top:1rem;">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" *ngIf="getPersonDetail?.pictureUrl">
            <img src="{{getPersonDetail?.pictureUrl}}" class="img-responsive imgStyles">
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" *ngIf="!getPersonDetail?.pictureUrl">
            <img src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer" (click)="file.click()">
            <input id="upload1" class="none_display" #file type="file" name="file-upload" multiple accept="image/*" (change)="uploadPicturegeneral($event)">
          </div>
          <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10 m-top-1rem">
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4">Name </label>
            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">&nbsp;:&nbsp;&nbsp;{{getPersonDetail?.firstName}}&nbsp;{{getPersonDetail?.lastName}}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4">Email </label>
            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">&nbsp;:&nbsp;&nbsp;{{getPersonDetail?.email}}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6">Phone</label>
            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">&nbsp;:&nbsp;&nbsp;{{getPersonDetail?.phone?.countryCode}} {{" "}} {{getPersonDetail?.phone?.number}}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf='getPersonDetail?.gender'>Gender </label>
            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text" *ngIf='getPersonDetail?.gender'>&nbsp;:&nbsp;&nbsp;{{getPersonDetail?.gender}}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf='getPersonDetail?.dateOfBirth'>Date Of Birth </label>
            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text" *ngIf='getPersonDetail?.dateOfBirth'>&nbsp;:&nbsp;&nbsp;{{getPersonDetail?.dateOfBirth}}</label>
          </div>
        </div>
        <div class="row" style="padding:1%; border-top:1px solid lightgrey" *ngIf="getCertDetail">
          <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10 m-top-1rem col-md-offset-2 col-lg-offset-2 col-sm-offset-2">
            <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12" *ngIf="getCertDetail?.claim?.claimType != 'GENERAL_CLAIM'">{{getCertDetail?.claim?.claimType}} {{"CLAIM"}}
            </label>
            <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12" *ngIf="getCertDetail?.claim?.claimType == 'GENERAL_CLAIM'">GENERAL CLAIM</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4"> Requested Date </label>
            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text"> &nbsp;:&nbsp;&nbsp;{{mm.utc(getCertDetail?.claim?.claimDate).toDate() | date:'mediumDate'}}, {{mm.utc(getCertDetail?.claim?.claimDate).toDate()|
              date:'mediumTime'}} </label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getCertDetail?.claim?.claimType == 'WORK'">Job Position </label>
            <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8 claim-detail-text" *ngIf="getCertDetail?.claim?.claimType == 'WORK'">&nbsp;:&nbsp;&nbsp;{{getCertDetail?.claim?.heading | titlecase }}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getCertDetail?.claim?.claimType == 'SKILLS'">Skill </label>
            <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8 claim-detail-text" *ngIf="getCertDetail?.claim?.claimType == 'SKILLS'">&nbsp;:&nbsp;&nbsp;{{getCertDetail?.claim?.skill | titlecase }}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getCertDetail?.claim?.claimType == 'SKILLS'">Level </label>
            <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8 claim-detail-text" *ngIf="getCertDetail?.claim?.claimType == 'SKILLS'">&nbsp;:&nbsp;&nbsp;{{getCertDetail?.claim?.level | titlecase }}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getCertDetail?.claim?.claimType == 'SKILLS'">Years&nbsp;of&nbsp;Experience </label>
            <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getCertDetail?.claim?.claimType == 'SKILLS'">&nbsp;:&nbsp;&nbsp;{{getCertDetail?.claim?.yearsOfExp | titlecase }} Years</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getCertDetail?.claim?.claimType == 'GENERAL_CLAIM'">Certificate </label>
            <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8 claim-detail-text" *ngIf="getCertDetail?.claim?.claimType == 'GENERAL_CLAIM'">&nbsp;:&nbsp;&nbsp;{{getCertDetail?.requestType | titlecase }}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getCertDetail?.claim?.claimType == 'GENERAL_CLAIM'">Request </label>
            <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8 claim-detail-text" *ngIf="getCertDetail?.claim?.claimType == 'GENERAL_CLAIM'">&nbsp;:&nbsp;&nbsp;{{getCertDetail?.description | titlecase }}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getCertDetail?.claim?.claimType != 'CHARACTER' && getCertDetail?.claim?.claimType != 'WORK' && getCertDetail?.claim?.claimType != 'SKILLS' && getCertDetail?.claim?.claimType != 'GENERAL_CLAIM'">Course Name </label>
            <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8 claim-detail-text" *ngIf="getCertDetail?.claim?.claimType != 'CHARACTER' && getCertDetail?.claim?.claimType != 'WORK' && getCertDetail?.claim?.claimType != 'SKILLS' && getCertDetail?.claim?.claimType != 'GENERAL_CLAIM'">&nbsp;:&nbsp;&nbsp;{{getCertDetail?.claim?.heading | titlecase }}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getCertDetail?.claim?.claimType != 'CHARACTER' && getCertDetail?.claim?.claimType != 'SKILLS' && getCertDetail?.claim?.claimType != 'GENERAL_CLAIM'">Period </label>
            <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8 claim-detail-text" *ngIf="getCertDetail?.claim?.claimType != 'CHARACTER' && getCertDetail?.claim?.claimType != 'SKILLS' && getCertDetail?.claim?.claimType != 'GENERAL_CLAIM'">&nbsp;:&nbsp;&nbsp;{{mm.utc(getCertDetail?.claim?.startDate).toDate() | date:'mediumDate'}} - {{mm.utc(getCertDetail?.claim?.endDate).toDate()|
              date:'mediumDate'}}
            </label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getCertDetail?.claim?.claimType != 'CHARACTER' && getCertDetail?.claim?.claimType != 'SKILLS' && getCertDetail?.claim?.claimType != 'GENERAL_CLAIM'">Location </label>
            <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getCertDetail?.claim?.claimType != 'CHARACTER' && getCertDetail?.claim?.claimType != 'SKILLS' && getCertDetail?.claim?.claimType != 'GENERAL_CLAIM'">&nbsp;:&nbsp;&nbsp;{{getCertDetail?.claim?.location}}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getCertDetail?.claim?.claimType != 'GENERAL_CLAIM'">Keywords </label>
            <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getCertDetail?.claim?.claimType != 'GENERAL_CLAIM'">&nbsp;:&nbsp;&nbsp;
              <ng-container *ngFor="let keyword of getCertDetail?.claim?.keywords">
                <p class="label label-primary bgColorLabel" style="font-weight: lighter">{{keyword}}</p> &nbsp;
              </ng-container>
            </label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getCertDetail?.claim?.claimType != 'SKILLS' && getCertDetail?.claim?.claimType != 'GENERAL_CLAIM'">Description </label>
            <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getCertDetail?.claim?.claimType != 'SKILLS' && getCertDetail?.claim?.claimType != 'GENERAL_CLAIM'">&nbsp;:&nbsp;&nbsp;{{getCertDetail?.claim?.description}}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4">
              Evidence
            </label>
            <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8">
              <span>&nbsp;:&nbsp;&nbsp;
                <ng-container *ngFor="let evidences of getCertDetail?.claim?.evidences">
                  <i class="fa fa-file-pdf-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'pdf' " (click)="openEvidence(evidences.fileUrl)"></i>
                  <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'png' " (click)="openEvidence(evidences.fileUrl)"></i>
                  <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'jpg' " (click)="openEvidence(evidences.fileUrl)"></i>
                  <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'tif' " (click)="openEvidence(evidences.fileUrl)"></i>
                  <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'gif' " (click)="openEvidence(evidences.fileUrl)"></i>
                  <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'jpeg' " (click)="openEvidence(evidences.fileUrl)"></i>
                  <i class="fa fa-certificate iconColor" aria-hidden="true" *ngIf="evidences?.certUid" (click)="openCertificate(evidences.certUid)"></i>
                  <!-- <img *ngIf="evidences.fileUrl.split('.').pop() === 'pdf' " src="../../../assets/images/pen.png" >
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'png' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'jpg' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'tif' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'gif' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'jpeg' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences?.certUid" src="../../../assets/images/pen.png" (click)="openCertificate(evidences.certUid)"> -->
                </ng-container>
              </span>

              <!--  <span> &nbsp;&nbsp;  <img src="../../../assets/images/pen.png"></span>
                  <span> &nbsp;&nbsp;<img src="../../../assets/images/pen.png"></span>-->

            </label>
          </div>
        </div>
        <div class="row keyStyle" style="padding:1%; border-top:1px solid lightgrey">
          <span class="col-md-2" style="font-weight:bold">Public Key : </span>
          <span class="col-md-9 col-lg-9 col-sm-9 col-xs-9 text-left"> {{getCertDetail?.claim?.requesterPublicKey}}</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 custom-plr-3" style="background-color: #fff ; border: 1px solid #cccccc; border-radius: 4px;margin-top: 2%">
        <div class="row">
          <p style="padding-top: 2%;font-size: 14px; padding-left:25px;">
            Please ensure that the detail provided below are correct. Note that the certificate is an official document provided the
            organisation. The issuer is responsible for the information.

          </p>
        </div>
        <div class="row">
          <!--<p> Hi this is sprnt7 code</p>-->
          <div class="col-md-6 col-xs-6 col-sm-6">
            <form class="form-horizontal" style="margin-top: 4%" [formGroup]="issueForm" (ngSubmit)="getEndroseDeclined('ISSUED')">
              <div class="form-group">
                <label class="col-sm-4 control-label">Certificate Type
                  <span>*</span>
                </label>
                <div class="col-sm-8">
                  <select disabled class="form-control" [(ngModel)]="certificateapply.certType" formControlName="certificateTypeform" (change)="selectedCertType($event.target.value)">
                    <option [value]="CertType?.type" *ngFor="let CertType of certTypeList?.certTypes">
                      {{CertType?.value}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group" *ngIf="selected !=='TRANSCRIPT'">
                <label class="col-sm-4 control-label">Content Template
                  <span>*</span>
                </label>
                <div class="col-sm-8">
                  <select required class="form-control" (change)="contentTemplateChange(certificateapply.contentTemplateId)" [ngClass]="{ 'is-invalid': submitted && f.templateForm.errors }"
                    [(ngModel)]="certificateapply.contentTemplateId" formControlName="templateForm">
                    <option *ngFor="let certType of certTypeTemplate" [value]="certType?.id">{{certType.version}}
                    </option>
                    <option value="custom_template"> Custom Template</option>
                  </select>
                </div>
              </div>
              <div class="form-group" *ngIf="certificateapply.contentTemplateId === 'custom_template' || selected ==='TRANSCRIPT'">
                <label class="col-sm-4 control-label">
                  <span *ngIf="selected !=='TRANSCRIPT'"> Custom Template </span>
                  <span *ngIf="selected ==='TRANSCRIPT'"> Transcript</span>
                  <span>*</span>
                </label>
                <div class="col-sm-8">
                  <button type="button" [ngClass]="{ 'btnfile': attachmentRequired}" (click)="file.click()" class="btn btn-default btn-block">
                    {{btnText}}
                    <img *ngIf="showloader" src="assets/images/newLoader.gif" style="width:20px; height: 20px;">
                  </button>
                  <input [ngClass]="{ 'is-invalid': attachmentRequired}" id="upload" class="none_display" #file type="file" name="file-upload"
                    multiple accept="image/*" (change)="uploadPicture($event)">
                </div>
              </div>
              <!--<p>certificate fileds</p>-->
              <div class="form-group" [hidden]="selected !=='ATTENDANCE_LETTER'">
                <label class="col-sm-4 control-label">Event Name
                  <span *ngIf="certificateapply.contentTemplateId != 'custom_template'">*</span>
                </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="attendLetterModal.event" formControlName="eventName" [required]="(certificateapply.certType == 'ATTENDANCE_LETTER') && (certificateapply.contentTemplateId != 'custom_template')"
                    placeholder="Event Name" [ngClass]="{ 'is-invalid': submitted && f.eventName.errors }">
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='PROOF_OF_INTERNSHIP' && selected !=='ATTENDANCE_LETTER' ">
                <label class="col-sm-4 control-label">Location</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="attendLetterModal.location" placeholder="Location" formControlName="locationForm">
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='PROOF_OF_INTERNSHIP' &&  selected !=='WORK_ATTESTATION'">
                <label class="col-sm-4 control-label">Role
                  <span *ngIf="certificateapply.contentTemplateId != 'custom_template'">*</span>
                </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="proofinternModal.role" formControlName="roleName" [required]="(certificateapply.certType == 'PROOF_OF_INTERNSHIP' || certificateapply.certType == 'WORK_ATTESTATION') && (certificateapply.contentTemplateId != 'custom_template')"
                    [ngClass]="{ 'is-invalid': submitted && f.roleName.errors }" placeholder="Role">
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='PROOF_OF_INTERNSHIP' &&  selected !=='WORK_ATTESTATION'">
                <label class="col-sm-4 control-label">Currently working </label>
                <div class="col-sm-8">

                  <input type="checkbox" (change)="currentlyWorkChange(proofinternModal.currentlyEmployed)" [(ngModel)]="proofinternModal.currentlyEmployed"
                    formControlName="currentlyWorkingForm" style="margin-top:3.5%">
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='PROOF_OF_INTERNSHIP' && selected !=='REFERENCE_LETTER'">
                <label class="col-sm-4 control-label">Recommendation Level
                  <span *ngIf="certificateapply.contentTemplateId != 'custom_template'">*</span>
                </label>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="recomondForm" [ngClass]="{ 'is-invalid': submitted && f.recomondForm.errors }"
                    [required]="(certificateapply.certType == 'PROOF_OF_INTERNSHIP' || certificateapply.certType == 'REFERENCE_LETTER') && (certificateapply.contentTemplateId != 'custom_template')"
                    [(ngModel)]="proofinternModal.recommendationLevel">
                    <option value='0'>Normal</option>
                    <option value='1'>High</option>
                    <option value='2'>Excellent</option>
                  </select>

                  <!-- <input type="number" class="form-control" formControlName="recomondForm"
                          [(ngModel)]="proofinternModal.recommendationLevel"
                          [required]="certificateapply.certType == 'PROOF_OF_INTERNSHIP' || certificateapply.certType == 'REFERENCE_LETTER'"
                          [ngClass]="{ 'is-invalid': submitted && f.recomondForm.errors }"
                          placeholder="Recommendation Level">-->
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='QUALIFICATION_CERTIFICATE' && selected !== 'PROOF_OF_ENROLLMENT'">
                <label class="col-sm-4 control-label">Course name
                  <span *ngIf="certificateapply.contentTemplateId != 'custom_template'">*</span>
                </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="qualificationModal.courseName" formControlName="courseNameForm" [required]="(certificateapply.certType == 'QUALIFICATION_CERTIFICATE' || certificateapply.certType == 'PROOF_OF_ENROLLMENT') && (certificateapply.contentTemplateId != 'custom_template') "
                    placeholder="Course name" [ngClass]="{ 'is-invalid': submitted && f.courseNameForm.errors }">
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='TRANSCRIPT'">
                <label class="col-sm-4 control-label">Course of study
                  <span *ngIf="selected !=='TRANSCRIPT'">*</span>
                </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="courseOfstudyForm" placeholder="Course name" [ngClass]="{ 'is-invalid': submitted && f.courseOfstudyForm.errors }">
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='QUALIFICATION_CERTIFICATE' && selected !=='PROOF_OF_ENROLLMENT' && selected !=='TRANSCRIPT' ">
                <label class="col-sm-4 control-label">Specialization</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="qualificationModal.specialisation" formControlName="specializationForm"
                    placeholder="Specialization">
                </div>
              </div>
              <div class="form-group" [hidden]=" selected !=='PROOF_OF_ENROLLMENT' ">
                <label class="col-sm-4 control-label">Student Id</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="proofOfEndros.studentID" formControlName="studentIdform" placeholder="Student Id">
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='TRANSCRIPT'">
                <label class="col-sm-4 control-label">
                  Is Completed
                </label>
                <div class="col-sm-8">
                  <input type="checkbox" formControlName="fullTimeForm" [(ngModel)]="workAttestationModal.fulltime" style="margin-top: 3.5%;">
                </div>
              </div>
              <!--  <div class="form-group" [hidden]="selected !=='QUALIFICATION_CERTIFICATE'">
                  <label class="col-sm-4 control-label">Transcript</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Transcript"
                           [(ngModel)]="qualificationModal.tranScript" formControlName="transcriptForm">
                  </div>
                </div>-->
              <div class="form-group" [hidden]="selected !=='WORK_ATTESTATION'">
                <label class="col-sm-4 control-label">Salary</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="salaryeForm" [(ngModel)]="workAttestationModal.salary" placeholder="Salary">
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='WORK_ATTESTATION'">
                <label class="col-sm-4 control-label">Employee number</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="empNumberForm" [(ngModel)]="workAttestationModal.employeeNumber"
                    placeholder="Employee number">
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='LICENSE_CERTIFICATE'">
                <label class="col-sm-4 control-label">Certification
                  <span *ngIf="certificateapply.contentTemplateId != 'custom_template'">*</span>
                </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="licenseCertificateModal.certification" formControlName="certificationForm"
                    [ngClass]="{ 'is-invalid': submitted && f.certificationForm.errors }" [required]="(certificateapply.certType == 'LICENSE_CERTIFICATE') && (certificateapply.contentTemplateId != 'custom_template')"
                    placeholder="Certification">
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='LICENSE_CERTIFICATE'">
                <label class="col-sm-4 control-label">Certificate number</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="licenseCertificateModal.certificationNumber" formControlName="certificateNumberForm"
                    placeholder="Certificate number">
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='LICENSE_CERTIFICATE'">
                <label class="col-sm-4 control-label">Level</label>
                <div class="col-sm-8">
                  <input type="text" [(ngModel)]="licenseCertificateModal.level" formControlName="levelForm" class="form-control" placeholder="Level">
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='REFERENCE_LETTER'">
                <label class="col-sm-4 control-label">Known years
                  <span *ngIf="certificateapply.contentTemplateId != 'custom_template'">*</span>
                </label>
                <div class="col-sm-8">
                  <input type="text" [(ngModel)]="referencelettermodalData.yearsKnown" [required]="(certificateapply.certType == 'REFERENCE_LETTER')&& (certificateapply.contentTemplateId != 'custom_template')"
                    formControlName="knownYearsForm" [ngClass]="{ 'is-invalid': submitted && f.knownYearsForm.errors }" class="form-control"
                    placeholder="Known years">
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='REFERENCE_LETTER'">
                <label class="col-sm-4 control-label">Position</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="" [(ngModel)]="referencelettermodalData.position" formControlName="positionForm">
                </div>
              </div>
              <!--<span *ngIf="selected !=='LICENSE_CERTIFICATE'"> Start Date </span>
              <span *ngIf="selected ==='LICENSE_CERTIFICATE'"> Expiry  Date </span>-->
              <div class="form-group" [hidden]="selected ==='REFERENCE_LETTER'">
                <label class="col-sm-4 control-label">
                  <span> {{fromDateName}} </span>
                  <span *ngIf="certificateapply.certType != 'TRANSCRIPT' && certificateapply.contentTemplateId !== 'custom_template'">*</span>
                </label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <!--[max]="selected === 'LICENSE_CERTIFICATE'? maxDate : ''"-->
                    <input type="text" [max]="transcriptFuture" [mdDatepicker]="picker1" placeholder="DD/MM/YYYY" aria-describedby="basic-addon3"
                      class="form-control" name="startDate" formControlName="strtDate" [(ngModel)]="certificateIssueModel.startDate"
                      [ngClass]="{ 'is-invalid': submitted && f.strtDate.errors }" [required]="(certificateapply.certType == 'ATTENDANCE_LETTER' || certificateapply.certType == 'PROOF_OF_INTERNSHIP' ||  certificateapply.certType == 'WORK_ATTESTATION' || certificateapply.certType == 'QUALIFICATION_CERTIFICATE' || certificateapply.certType == 'PROOF_OF_ENROLLMENT' || certificateapply.certType == 'LICENSE_CERTIFICATE') && (certificateapply.contentTemplateId != 'custom_template')">
                    <span class="input-group-addon spanStyle2" style="display:inline" id="basic-addon3">
                      <button mdSuffix [mdDatepickerToggle]="picker1">
                      </button>
                    </span>
                    <md-datepicker #picker1></md-datepicker>
                  </div>
                </div>
              </div>
              <div class="form-group" [hidden]="selected ==='REFERENCE_LETTER' || endDateCheck == true">
                <label class="col-sm-4 control-label">
                  <span> {{endDateName}} </span>
                  <span *ngIf="(certificateapply.certType == 'QUALIFICATION_CERTIFICATE') && (certificateapply.contentTemplateId != 'custom_template')">*</span>
                </label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input [disabled]="proofinternModal.currentlyEmployed" type="text" [mdDatepicker]="picker2" placeholder="DD/MM/YYYY" aria-describedby="basic-addon1"
                      class="form-control" [ngClass]="{ 'is-invalid': submitted && f.endate.errors }" [required]="(certificateapply.certType == 'QUALIFICATION_CERTIFICATE') && (certificateapply.contentTemplateId != 'custom_template')"
                      name="endDate" formControlName="endate" [max]="transcriptFuture" [min]="certificateIssueModel.startDate"
                      [(ngModel)]="certificateIssueModel.endDate">
                    <span class="input-group-addon spanStyle2" style="display:inline" id="basic-addon1">
                      <button mdSuffix [mdDatepickerToggle]="picker2" [disabled]="endDateCheck">
                      </button>
                    </span>
                    <md-datepicker #picker2></md-datepicker>
                  </div>
                </div>
              </div>
              <div class="form-group" [hidden]="selected !=='PROOF_OF_ENROLLMENT' && selected !=='WORK_ATTESTATION'">
                <label class="col-sm-4 control-label">
                  Full Time
                </label>
                <div class="col-sm-8">
                  <input type="checkbox" formControlName="fullTimeForm" [(ngModel)]="workAttestationModal.fulltime" style="margin-top: 3.5%;">
                </div>
              </div>

              <!--     <div class="form-group" [hidden]="getCertDetail?.certificateType !== 'WORKATTESTATION'">
                     <label class="col-sm-4 control-label">Name</label>
                     <div class="col-sm-8">
                       <input type="text" name="certName" class="form-control" formControlName="certName"
                              [ngClass]="{'red-border-class': submitTry && !certificateIssueModel.certificateName}"
                              placeholder="Name" [(ngModel)]="certificateIssueModel.certificateName"
                              [required]="getCertDetail?.certificateType == 'WORKATTESTATION'">
                     </div>
                   </div>
                   <div class="form-group" [hidden]="getCertDetail?.certificateType !== 'QUALIFICATION'">
                     <label class="col-sm-4 control-label">Course Title </label>
                     <div class="col-sm-8">
                       <input type="text" name="course" class="form-control" formControlName="courseName"
                              [ngClass]="{'red-border-class': submitTry && !certificateIssueModel.courseName}"
                              placeholder="Course Title" [(ngModel)]="certificateIssueModel.courseName"
                              [required]="getCertDetail?.certificateType === 'QUALIFICATION'">
                     </div>
                   </div>
                   <div class="form-group" [hidden]="getCertDetail?.certificateType !== 'QUALIFICATION'">
                     <label class="col-sm-4 control-label">Specialization </label>
                     <div class="col-sm-8">
                       <input type="text" name="spclztn" class="form-control" formControlName="splczation"
                              [ngClass]="{'red-border-class': submitTry && !certificateIssueModel.specialization}"
                              placeholder="Specialization" [(ngModel)]="certificateIssueModel.specialization"
                              [required]="getCertDetail?.certificateType === 'QUALIFICATION'">
                     </div>
                   </div>
                   <div class="form-group">
                     <label class="col-sm-4 control-label">Start Date </label>
                     <div class="col-sm-8">
                       &lt;!&ndash; <input type="text" class="form-control" placeholder="Start Date"> &ndash;&gt;
                       <div class="input-group">
                         <input type="text" [mdDatepicker]="picker1" placeholder="DD/MM/YYYY"
                                aria-describedby="basic-addon3"
                                class="form-control"
                                required name="startDate" formControlName="strtDate"
                                [(ngModel)]="certificateIssueModel.startDate" disabled>
                         <span class="input-group-addon spanStyle2" style="display:inline" id="basic-addon3">
                       <button mdSuffix [mdDatepickerToggle]="picker1">
                       </button>
                     </span>
                         <md-datepicker #picker1></md-datepicker>
                       </div>
                     </div>
                   </div>
                   <div class="form-group">
                     <label class="col-sm-4 control-label">End Date </label>
                     <div class="col-sm-8">
                       <div class="input-group">
                         <input type="text" [mdDatepicker]="picker2" placeholder="DD/MM/YYYY"
                                aria-describedby="basic-addon1"
                                class="form-control"
                                required name="endDate" formControlName="endate" [min]="certificateIssueModel.startDate"
                                [(ngModel)]="certificateIssueModel.endDate" disabled>
                         <span class="input-group-addon spanStyle2" style="display:inline" id="basic-addon1">
                       <button mdSuffix [mdDatepickerToggle]="picker2">
                       </button>
                     </span>
                         <md-datepicker #picker2></md-datepicker>
                       </div>
                     </div>
                   </div>
                   <div class="form-group">
                     <label class="col-sm-4 control-label">Description </label>
                     <div class="col-sm-8">
                   <textarea name="des" class="form-control resize" formControlName="descrptn"
                             rows="4" [(ngModel)]="certificateIssueModel.description" required
                             [ngClass]="{'red-border-class': submitTry && !certificateIssueModel.description}"> </textarea>
                     </div>
                   </div>-->
              <div class="form-group" style="margin-top:6%">
                <div class="col-sm-12 " align="right">
                  <!--  <button class="btn btn-default" type="button" (click)="getEndroseDeclined('CANCELLED')"
                            style=" width:9rem;border:1px solid cornflowerblue">Cancel
                    </button>
                    <button class="btn btn-primary respMtop1per" type="submit" style="width:9rem;">
                      <i>
                        <img *ngIf="showLoader" src="assets/images/source.gif" style="width:20px; height: 20px;">
                      </i> Issue
                    </button>-->
                  <button type="button" class="btn-arrow btn-arrow-right btn-apply" (click)="applyChanges()">Apply Changes
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6 col-12 col-xs-12" style="margin-top: -2%">
            <div class="col-md-12" *ngIf="certificateIssueModel.customTemplateUrl" style="margin-top: 5%">
              <div class="col-md-12" *ngIf="!checkPdf(certificateIssueModel.customTemplateUrl)">
                <img [src]="certImg" class="img-responsive">
              </div>
              <div class="col-md-12" *ngIf="checkPdf('certificateIssueModel.customTemplateUrl')" style="height:50px !important; ">
                <div *ngIf="isLoaded" style="text-align: center;">
                  <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
                  <span>{{ page }} / {{ totalPages }}</span>
                  <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
                </div>
                <pdf-viewer (after-load-complete)="afterLoadComplete($event)" [autoresize]="true" [fit-to-page]="true" [show-all]="false"
                  [page]="page" [src]="certImg" [render-text]="true"></pdf-viewer>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 col-12 col-lg-12" *ngIf="!certificateIssueModel.customTemplateUrl">
              <div class="col-md-3 col-sm-3">
                <button class="btn btn-link" (click)="setView('text')" type="button" style="cursor: pointer;text-decoration: none" [ngClass]="{'txt-view': viewType === 'text', 'txt-plain': viewType != 'text'}">Text View
                </button>
              </div>

              <div class="col-md-5 pull-right">
                <button [disabled]="!textViewInfo" type="button" class="pull-right btn btn-link" style="text-decoration: none" (click)="setView('graphic')"
                  [ngClass]="{'txt-view': viewType === 'graphic', 'txt-plain': viewType != 'graphic'}"> Graphical View
                </button>
              </div>
            </div>
            <div *ngIf="!certificateIssueModel.customTemplateUrl" class="col-md-12 col-12 col-xs-12 col-lg-12 col-sm-12 girdStyle" style="margin-top: 2%; margin-bottom: 3%">
              <div class="col-md-12 col-12 col-sm-12 col-lg-12" style="margin-top: 2%" *ngIf="viewType==='text'">
                <textarea rows="10" [readonly]="!textViewInfo" (blur)="getHtmlView()" [(ngModel)]="textViewInfo" class="form-control" style="resize: none"> </textarea>
              </div>
              <div class="col-md-12 col-12 col-sm-12 col-lg-12" style="margin-top: 2%;margin-bottom: 3%" *ngIf="viewType==='graphic'">

                <div class="row" *ngIf="selected !== 'QUALIFICATION_CERTIFICATE' &&  selected !== 'LICENSE_CERTIFICATE' && (selected === 'ATTENDANCE_LETTER' && certificateDetails?.claim?.organisation?.templates?.ATTENDANCE_LETTER === 'ATTENDANCELETTER_DEFAULT')">
                  <app-work-template [hero]="getCertDetailsResponse" [revoked]="true" [htmlContent]="applyCertificateResp.htmlContent" [className]="''"></app-work-template>
                </div>
                <div class="row" *ngIf="selected === 'QUALIFICATION_CERTIFICATE' ||  selected === 'LICENSE_CERTIFICATE' ">
                  <app-qualification-directive [revoked]="true" [htmlContent]="applyCertificateResp.htmlContent" [borderTop]="borderTop" [borderBtm]="borderBtm"
                    [qualificationInfo]="getCertDetailsResponse">
                  </app-qualification-directive>
                </div>
                <div class="row" *ngIf="selected === 'ATTENDANCE_LETTER' && certificateDetails?.claim?.organisation?.templates?.ATTENDANCE_LETTER === 'ATTENDANCELETTER_TEMP'">
                  <app-event-certificate [participentName]="getPersonDetail?.firstName + ''+ getPersonDetail?.lastName " [revoked]="true" [className]="'inboxView'"></app-event-certificate>
                </div>
                <!--   <div class="row" *ngIf="selected === 'ATTENDANCE_LETTER' ">
                     <app-attendence-certificate [hero]="getCertDetailsResponse"
                                                 [className]="''"></app-attendence-certificate>
                   </div>
                   <div class="row" *ngIf="selected === 'PROOF_OF_INTERNSHIP' ">
                     <app-proofofIntern-dirctive [hero]="getCertDetailsResponse"
                                                 [className]="''"></app-proofofIntern-dirctive>
                   </div>
                   <div class="row" *ngIf="selected === 'REFERENCE_LETTER' ">
                     <app-reference-directive [hero]="getCertDetailsResponse"
                                              [className]="''"></app-reference-directive>
                   </div>-->
              </div>
            </div>

            <div class="col-md-12 col-12 col-xs-12 col-lg-12 col-sm-12 mt-3 text-center">
              <button class="btn btn-default" type="button" (click)="cancelCertificate()" style=" width:9rem;border:1px solid cornflowerblue;margin-right: 2rem;">Cancel
              </button>
              <button class="btn btn-primary respMtop1per" type="submit" style="width:9rem;" [disabled]="(!applyCertificateResp && this.certificateapply.contentTemplateId !== 'custom_template') || (!this.certificateIssueModel.customTemplateUrl && this.certificateapply.contentTemplateId === 'custom_template') "
                (click)="issueCertificate()"> Issue
                <img *ngIf="issueLoader" src="assets/images/source.gif" style="width:20px; height: 20px;">
              </button>
            </div>

          </div>
          <!-- <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12"
                *ngIf="getCertDetail?.certificateType !== 'WORKATTESTATION' ">
             <div class="row" style="margin-top: 2%; margin-bottom:2%;">
               <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 noPadding">
                 <img *ngIf="borderTop" [src]="borderTop" class="img-responsive">
               </div>
               <div class="col-md-12 col-xs-12 col-sm-12" align="center">
                 <h3 class="titleHead"> Certificate Of
                   <span *ngIf="getCertDetail?.certificateType !== 'WORKATTESTATION' "> Qualification </span>
                   <span *ngIf="getCertDetail?.certificateType === 'WORKATTESTATION' "> Work Attestation</span>
                 </h3>
               </div>
               <div class="col-md-10 col-md-offset-1 col-lg-10 col-sm-10 col-sm-offset-1 col-lg-offset-1">
                 <div class="col-md-12 col-sm-12 col-lg-12 ch4"
                      style="border-top: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee;" align="center">
                   <h4 *ngIf="getCertDetail">{{getCertDetailsResponse?.person?.firstName}}
                     {{getCertDetailsResponse?.person?.lastName}}</h4>
                 </div>
               </div>
               <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center"
                    *ngIf="getCertDetail?.certificateType === 'QUALIFICATION'"
                    style="margin-top: 2%">
                 <div class="logo" style="position: absolute;top: 35%;left:8%;">
                   <img *ngIf="getCertDetail?.template === 'QUALIFICATION_ORG'" [src]="getCertDetail?.orgUrl"
                        class="img-responsive custom-profile-pic">
                 </div>
                 <p class="heading"> Certificate Type:
                   <span class="value">{{getCertDetail?.certificateType}}</span>
                 </p>
                 <p class="heading"> Course Title :
                   <span class="value"> {{certificateIssueModel?.courseName}}</span>
                 </p>
                 <p class="heading"> Description :
                   <span class="value"> {{certificateIssueModel?.description}}</span>
                 </p>
                 <p class="heading" *ngIf="certificateIssueModel?.specialization"> Specialization :
                   <span class="value"> {{certificateIssueModel?.specialization}}</span>
                 </p>
                 <p class="heading"> Start Date :
                   <span class="value">{{mm(certificateIssueModel.startDate).format('MM/DD/YYYY')}}</span>
                 </p>
                 <p class="heading"> End date :
                   <span class="value">{{mm(certificateIssueModel.endDate).format('MM/DD/YYYY')}}</span>
                 </p>
               </div>
               <div class="col-md-12 col-sm-12 col-lg-12 colxs-12 subHead" align="center">
                 <div class="col-md-12" align="center">
                   <h6 class="fontsize13px colorBlack">
                     <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
                   </h6>
                 </div>

               </div>
               <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 noPadding">
                 <img *ngIf="borderBtm" [src]="borderBtm" class="img-responsive">
               </div>
             </div>
           </div>
           &lt;!&ndash;//work attestaion  div start Here&ndash;&gt;
           <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12"
                *ngIf="getCertDetail?.certificateType === 'WORKATTESTATION' ">
             <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
               <div class="row newWorkAttestation">
                 <div class="col-md-12" style="margin-top: 5%">
                   <img *ngIf="!getCertDetail?.orgUrl"
                        src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer">
                   <img *ngIf="getCertDetail?.orgUrl" [src]="getCertDetail?.orgUrl"
                        class="custom-profile-pic cursorPointer">
                 </div>
                 <div class="col-md-12 pull-right">
                   <p class="pull-right"> Date Issued: <br> {{mm().format('DD/MM/YYYY')}}</p>
                 </div>
                 <div class="col-md-12">
                   <p><b> To Whom It May Concern: </b></p>
                   <p> This letter is to verify that <b>{{getPersonDetail?.firstName}}
                     {{getPersonDetail?.lastName}}</b> is
                     employed at <b>{{getCertDetail?.issuerUnvName}}</b> in the position of
                     <b>{{certificateIssueModel.certificateName }}</b>.</p>
                   <p><b>{{getPersonDetail?.firstName}} {{getPersonDetail?.lastName}}</b> started working in this
                     capacity
                     on <b>{{mm(certificateIssueModel.startDate).format('DD/MM/YYYY')}}</b> and ended his employment
                     in this position on <b>{{ mm(certificateIssueModel.endDate).format('DD/MM/YYYY')}} </b>
                   </p>
                   <p>If you require any additional information, please contact me at
                     <b>{{personResponse?.person?.phones[0]?.countryCode}}
                       {{personResponse?.person?.phones[0]?.number}}</b> or
                     via
                     email <b>{{personResponse?.person?.emails[0]?.email}} </b></p>
                   <p> Yours sincerely</p>
                   <p><span>  <img src="assets/images/sign.svg" style="width: 30%"></span> <br>
                     {{personResponse?.person?.firstName}} {{personResponse?.person?.lastName}}
                   </p>
                 </div>
                 <div class="col-md-12  ">
                   <div class="col-md-12 footer" style="margin-top: 2%">
                     <div class="row">
                       <div class="col-md-6 ">
                         <p> Reg. {{footerInfo?.listOfCompany[0]?.registrationNumber}}<br>{{footerInfo?.organisation?.address[0]?.line1}}<br>{{footerInfo?.organisation?.address[0]?.line2}}<br>{{footerInfo?.organisation?.address[0]?.line3}}<br>{{footerInfo?.organisation?.address[0]?.country}}
                         </p>
                       </div>
                       <div class="col-md-6">
                         <p> Ph: {{personResponse?.person?.phones[0]?.countryCode}}
                           {{personResponse?.person?.phones[0]?.number}} <br> {{footerInfo?.organisation?.website}}</p>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>-->
        </div>
        <!--//work attestaion  div ends Here-->
        <!-- <p class="custom-tab-title"> Comments </p>
          <textarea rows="7" cols="50" style="resize:none" [(ngModel)]="commnets"> </textarea> -->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-l-0" align="center" style="margin-bottom: 2%">

        </div>
      </div>
    </div>
  </div>

</section>