.load-bar {
  position: fixed;
  z-index: 9999;
  margin-top: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
}

.active .bar {
  content: "";
  display: inline;
  position: absolute;

  height: 100%;
  left: 0px;
  text-align: center;
  background-color: #fb9a5e;
  animation: loading 3s linear infinite;
  -webkit-animation:  loading 3s linear infinite;
}

.hide{
  display: block !important;
}

.hide  .bar {
  content: "";
  display: inline;
  position: absolute;
  height: 100%;
  left: 0px;
  text-align: center;
 /* animation: loading 1.0s forwards;
  -webkit-animation: loading 1.0s forwards;*/
  animation: none !important;
   /* animation: loading 2s linear !important;
  animation-iteration-count: 1 !important;*/

}
@keyframes loading {
  from {
    left: 0;
  }
  to {
    right: 0;
  }

}

/*@keyframes loading {
  0% {
    right: 0%;
    left: 100%;
  }
  99.9% {
    right: 50%;
    left: 50%;
  }
  100% {
    right: 100%;
    left: 100%;
  }

}*/

@keyframes movingbar {
  0% {
    right: 0%;
    left: 100%;
  }
  99.9% {
    right: 50%;
    left: 50%;
  }
  100% {
    right: 100%;
    left: 100%;
  }
}

/*.preloaderbar {
  z-index: $zindex-modal-backdrop;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  margin-bottom: -4px;

  .bar {
    position: absolute;
    width: 100%;
    height: 0;
    text-indent: -9999px;
    background-color: #23b7e5;

    &:before {
      position: absolute;
      right: 50%;
      left: 50%;
      height: 4px;
      background-color: inherit;
      content: "";
    }
  }

  &.active {
    animation: changebar 2.25s infinite 0.75s;
  }
  &.active .bar {
    animation: changebar 2.25s infinite;
  }
  &.active .bar:before {
    animation: movingbar 0.75s infinite;
  }
}

@keyframes movingbar {
  0% {
    right: 0%;
    left: 100%;
  }
  99.9% {
    right: 50%;
    left: 50%;
  }
  100% {
    right: 100%;
    left: 100%;
  }
}
@keyframes changebar {
  0% {
    background-color: #9CCC65; // light green, 400
  }
  33.3% {
    background-color: #9CCC65;
  }
  33.33% {
    background-color: theme-color("warning");
  }
  66.6% {
    background-color: theme-color("warning");
  }
  66.66% {
    background-color: theme-color("danger");
  }
  99.9% {
    background-color: theme-color("danger");
  }
  100% {
    background-color: #9CCC65;
  }
}
*/
