<div class="container-fluid" style="background: #ffffff;">
  <div class="row" style="margin-top: 2%">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li [ngClass]="{'active':tabSelected === 1}">
          <a (click)="gototab(1)">Person</a>
        </li>
        <li [ngClass]="{'active':tabSelected === 2}">
          <a (click)="gototab(2)">Organisation</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class=" container-fluid" style="background-color: #ffffff;border-top:1px solid #dee2e6;margin-top: -1px">
  <form [formGroup]="accountPersonForm" class="form-horizontal">
    <ng-container *ngIf="tabSelected === 1; else second">
      <div class="row">
        <div class="col-md-12 custom-pl-2">
          <div class="col-md-12" style="margin-top: 2%;margin-bottom:3%;border: 1px solid #cccccc; border-radius: 4px">
            <div class="row" style="margin-top: 2%">
              <div class="col-md-6 custom-pl-1 custom-width-60">
                <p class="custom-tab-title">
                  Personal Information
                </p>
              </div>
              <div class="col-md-6 custom-width-40 pull-right">
                <button (click)="minimizePersonal()" class="btn btn-link  pull-right"
                        style="margin-top: -10px;color: #838383">
                  <i class="fa fa-angle-up fa-2x" *ngIf="!personalPerson" aria-hidden="true"></i>
                  <i class="fa fa-angle-down fa-2x" *ngIf="personalPerson" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="row" *ngIf="!personalPerson">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 margintop2per" align="center">
                <img *ngIf="!logoUrl" src="https://flipaccess-resized.s3.amazonaws.com/resized-profile_pic.jpg" class="custom-profile-pic cursorPointer"
                     (click)="file.click()">
                <!--<img *ngIf="logoUrl" [src]="logoUrl" class="custom-profile-pic cursorPointer" (click)="file.click()">-->
                <img *ngIf="logoUrl" [src]="logoUrl" (click)="file.click()">
                <p (click)="file.click()" class="fontsize16px cursorPointer mt-4"> Click to upload photo</p>
                <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
              </div>
              <input id="upload" class="none_display" #file type="file" name="file-upload" multiple accept="image/*"
                     (change)="uploadPicture($event)">
              <div class="col-md-9">
                <div class="form-group">
                  <div class="col-md-4 custom-pb-1">
                    <label>Title*</label>
                    <select class="form-control" formControlName="title" required [(ngModel)]="personModal.title" name="title"
                            [ngClass]="{ 'is-invalid': (submitted && f.title.errors) || (submitted && personModal.title == 'defaultTitle')}">
                      <option value="defaultTitle" disabled>Select Title</option>
                      <option value="Mr">Mr</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Ms">Ms</option>
                      <option value="Dr">Dr</option>
                      <option value="Prof">Prof</option>
                      <option value="Rev">Rev</option>
                    </select>
                  </div>
                  <div class="col-md-4 custom-pb-1">
                    <label>First Name*</label>
                    <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" required
                           name="firstName" [(ngModel)]="personModal.firstName"
                           [ngClass]="{'is-invalid': submitted && f.firstName.errors}">
                  </div>
                  <div class="col-md-4 custom-pb-1">
                    <label>Last Name*</label>
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" required
                           name="lastName" [(ngModel)]="personModal.lastName"
                           [ngClass]="{'is-invalid': submitted && f.lastName.errors}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 custom-pb-1">
                    <label>Birth Date*</label>
                    <div class="input-group">
                      <input mdInput type="text" [mdDatepicker]="picker" placeholder="MM/DD/YYYY"
                             aria-describedby="basic-addon1" class="form-control"
                             [max]="maxDate"  formControlName="dob" name="birthDate" [(ngModel)]="personModal.dateOfBirth"
                             required [ngClass]="{'is-invalid': submitted && f.dob.errors}" disabled>
                      <span class="input-group-addon spanStyle" id="basic-addon1">
                        <button mdSuffix [mdDatepickerToggle]="picker"></button>
                      </span>
                      <md-datepicker #picker></md-datepicker>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-3 custom-width-60" style="padding-top: 1%">
                    <label>Linked in Profile</label>
                  </div>
                  <div class="col-md-2 custom-width-40" style="padding-top: 0.5%;padding-left: 3%;">
                    <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <label>Email*</label>
                    <input type="email" [disabled]='true' [pattern]="emailPattern" class="form-control"
                           placeholder="Email"  formControlName="emailId"
                           required name="email" [(ngModel)]="personModal.email"
                           [ngClass]="{'is-invalid': submitted && f.emailId.errors}">
                  </div>
                  <div class="col-md-2 " style="margin-top: 4%">
                    <!-- <span style="font-size: 14px">
                      <i class="fa fa-check-square-o " aria-hidden="true"></i> &nbsp; Verified! </span> -->
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <label>Mobile*</label>
                    <span class="input-group">
                      <select id="basic-addon1" class=" col-md-4 input-group-addon form-control" [disabled]='true'
                              formControlName="countryCode" required
                              [(ngModel)]="personModal.countryCode" name="countryCode" style="height:34px;"
                              [ngClass]="{'is-invalid': (submitted && f.countryCode.errors) || (submitted && personModal.countryCode == 'defaultCode')}">
                        <option value="defaultCode">Code</option>
                        <!-- <option value="+91"> +91</option>-->
                        <option *ngFor="let countryCode of countryDetails" [ngValue]="countryCode.dial_code">
                          {{countryCode.dial_code}}
                        </option>
                      </select>
                      <input (keypress)="numberOnly($event)" [disabled]='true' type="text"
                             class=" col-md-8 inputField form-control" placeholder="Mobile "
                             formControlName="mob" required aria-describedby="basic-addon1" minlength="10"
                             maxlength="12" name="phoneNumber"
                             [(ngModel)]="personModal.phoneNumber"
                             [ngClass]="{'is-invalid': submitted && f.mob.errors}">
                    </span>
                  </div>
                  <div class="col-md-2" style="margin-top: 4%">
                    <!-- <span style="font-size: 14px">
                      <i class="fa fa-check-square-o " aria-hidden="true"></i> &nbsp; Verified! </span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-0 p-0">
          <div class="col-md-12 custom-pl-2">
            <div class="row">
              <div [className]="this.loginResponseStorage.roles[0] === 'CERTTIN_ADMIN' ? 'col-md-6 col-lg-6 col-sm-6 col-xs-6' : 'col-md-12 col-lg-12 col-xs-12 col-sm-12'">
                <div class="col-md-12 minHeight320px"
                     style="margin-bottom:3%;border: 1px solid #cccccc; border-radius: 4px">
                  <div class="row" style="margin-top: 2%">
                    <div class="col-md-6 custom-width-60">
                      <p class="custom-tab-title"> Address Information</p>
                    </div>
                    <div class="col-md-6 custom-width-40 pull-right">
                      <button (click)="addressMinimize()" class="btn btn-link  pull-right"
                              style="margin-top: -10px;color: #838383">
                        <i class="fa fa-angle-up fa-2x" *ngIf="!addressPerson" aria-hidden="true"></i>
                        <i class="fa fa-angle-down fa-2x" *ngIf="addressPerson" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row" *ngIf="!addressPerson">
                    <div class="col-md-12">
                      <!--<form class="form-horizontal" role="form" #addressForm="ngForm">-->
                      <div class="form-group">
                        <div class="col-md-12 custom-pb-1">
                          <label> Line 1*</label>
                          <input type="text" class="form-control" placeholder="Line 1" formControlName="line1" required
                                 name="addressLine1" [(ngModel)]="addressModal.line1"
                                 [ngClass]="{'is-invalid': submitted && f.line1.errors}">
                        </div>
                        <div class="col-md-12 margintop2per custom-pb-1">
                          <label> Line 2*</label>
                          <input type="text" class="form-control" placeholder="Line 2" formControlName="line2" required
                                 name="addressLine2" [(ngModel)]="addressModal.line2"
                                 [ngClass]="{'is-invalid': submitted && f.line2.errors}">
                        </div>
                        <div class="col-md-12 margintop2per custom-pb-1">
                          <label> Line 3 </label>
                          <input type="text" class="form-control" placeholder="Line 3" formControlName="line3"
                                 name="addressLine3" [(ngModel)]="addressModal.line3">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-4 custom-pb-1">
                          <label>Country*</label>
                          <select class="form-control selectField" formControlName="country" required
                                  [(ngModel)]="addressModal.country" name="country"
                                  [ngClass]="{'is-invalid': (submitted && f.country.errors) || (submitted && addressModal.country == 'defaultCountry')}">
                            <option value="defaultCountry">Select Country</option>
                            <option *ngFor="let countryCode of countryDetails" [ngValue]="countryCode.name">
                              {{countryCode.name}}
                            </option>
                          </select>
                        </div>
                        <div class="col-md-4 custom-pb-1">
                          <label>Region*</label>
                          <input type="text" class="form-control" placeholder="Region" formControlName="region" required
                                 name="region" [(ngModel)]="addressModal.region"
                                 [ngClass]="{'is-invalid': submitted && f.region.errors}">
                        </div>
                        <div class="col-md-4 custom-pb-1">
                          <label>Post Code*</label>
                          <input type="text" class="form-control" placeholder="Post Code" formControlName="pinCode" required
                                 name="postCode" [(ngModel)]="addressModal.postCode"
                                 [ngClass]="{'is-invalid': submitted && f.pinCode.errors}" minlength="3"
                                 maxlength="8">
                        </div>
                      </div>


                      <!--</form>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" *ngIf="this.loginResponseStorage.roles[0] === 'CERTTIN_ADMIN'">
                <div class="col-md-12 minHeight320px"
                     style="margin-bottom:3%;border: 1px solid #cccccc; border-radius: 4px">
                  <div class="row" style="margin-top: 2%">
                    <div class="col-md-8 custom-width-80">
                      <p class="custom-tab-title"> Identification &nbsp;&nbsp;&nbsp;&nbsp;
                        <span>
                          <i class="fa fa-star fontsize18px" aria-hidden="true"></i>
                          <i class="fa fa-star fontsize18px" aria-hidden="true"></i>
                          <label class="msg-text no-margin"> Requirement</label>
                        </span>
                      </p>
                    </div>

                    <div class="col-md-4 custom-pb-1 custom-width-20 pull-right">
                      <button (click)="iddentFicationMinimize()" class="btn btn-link  pull-right"
                              style="margin-top: -10px;color: #838383">
                        <i class="fa fa-angle-up fa-2x" *ngIf="!iddentification" aria-hidden="true"></i>
                        <i class="fa fa-angle-down fa-2x" *ngIf="iddentification" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row" *ngIf="!iddentification">
                    <div class="col-md-12">
                      <!--<form class="form-horizontal" role="form" #identificationForm="ngForm">-->
                      <div class="form-group">
                        <div class="col-md-12 custom-pb-1">
                          <label>ID Type*</label>
                          <select class="form-control selectField" formControlName="idType" disabled  name="idProofType"
                                  [(ngModel)]="identificationModal.idProofType"
                                  [ngClass]="{'is-invalid': (submitted && f.idType.errors) || (submitted && identificationModal.idProofType == 'defaultIdtype')}">
                            <option value="defaultIdtype" disabled>ID Type</option>
                            <option value="ID Card"> ID Card</option>
                            <option value="passport"> Passport</option>
                          </select>
                        </div>
                        <div class="col-md-12 margintop2per custom-pb-1">
                          <label>ID Number*</label>
                          <input type="text" class="form-control" placeholder="ID Number" formControlName="idNum" disabled
                                 name="idNumber" [(ngModel)]="identificationModal.idNumber"
                                 [ngClass]="{'is-invalid': submitted && f.idNum.errors}">
                        </div>

                        <div class="col-md-12 custom-pb-1" >
                          <label class="margintop2per">Issued Date*</label>
                          <div class="input-group">
                            <input type="text" [mdDatepicker]="picker2" disabled="true" aria-describedby="basic-addon3"
                                   class="form-control" formControlName="issued"
                                   placeholder="MM/DD/YYYY" name="issued"
                                   [(ngModel)]="identificationModal.issuedDate"
                                    >
                            <span class="input-group-addon spanStyle1" id="basic-addon3">
                              <button mdSuffix [mdDatepickerToggle]="picker2" disabled>
                              </button>
                            </span>
                            <md-datepicker #picker2></md-datepicker>
                          </div>
                        </div>


                        <div class="col-md-12 custom-pb-1" >
                          <label class="margintop2per">Expiry Date<span *ngIf="identificationModal?.idProofType== 'passport'">*</span></label>
                          <div class="input-group">
                            <input type="text" [mdDatepicker]="picker1" disabled aria-describedby="basic-addon2"
                                   class="form-control" formControlName="expiry"
                                   placeholder="MM/DD/YYYY" name="expiryDate"
                                   [(ngModel)]="identificationModal.expiryDate"
                                   [ngClass]="{'is-invalid': submitted && !identificationModal.expiryDate}" disabled>
                            <span class="input-group-addon spanStyle1" id="basic-addon2">
                              <button mdSuffix [mdDatepickerToggle]="picker1" disabled>
                              </button>
                            </span>
                            <md-datepicker #picker1></md-datepicker>
                          </div>
                        </div>



                        <div class="col-md-12 margintop2per custom-pb-1">
                          <label>Nationality*</label>
                          <select class="form-control selectField" formControlName="national"  name="nationality" disabled
                                  [(ngModel)]="identificationModal.nationality"
                                  [ngClass]="{'is-invalid': (submitted && f.national.errors) || (submitted && identificationModal.nationality == 'defaultNationality')}">
                            <option value="defaultNationality" disabled>Nationality</option>
                            <!--  <option value="india"> India</option>
                        <option> South Africa</option>-->
                            <option *ngFor="let countryCode of countryDetails" [ngValue]="countryCode.name">
                              {{countryCode.name}}
                            </option>
                          </select>
                        </div>

                      </div>
                      <!--   </form>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingbottom2per" align="center">
          <div class="col-md-4 col-lg-4 col-sm-4 col-sm-offset-4  col-xs-12" style="float:right;">
            <button class="btn btn-primary" style="width:9rem" type="button" (click)="updatePerson()">
              Cancel
            </button>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-sm-offset-4  col-xs-12" style="float:right;">
            <button class="btn btn-primary" style="width:9rem" type="button" (click)="updatePerson()">
              Update
              <img src="assets/images/source.gif" *ngIf="updatePersonLoading" class="loaderPosition">
            </button>
          </div>
        </div>
        </div>-->

      </div>
      <div class="row">
        <div class="col-md-12" >
        <div class="col-md-6 pull-right noPaddingRightBtn">
          <div class="form-group pull-right ">
            <div class="col-md-4 col-lg-6 col-sm-6 col-xs-12 margintop2per"  align="right">
              <button class="btn btn-secondary-color cancelBtn" type="button" (click)="cancel()">Cancel
              </button>
            </div>
            <div class="col-md-4 col-lg-6 col-sm-6 col-xs-12 margintop2per" align="left">
              <button class="btn btn-primary mainBtn" type="button" (click)="updatePerson()">
                Update
                <img src="assets/images/source.gif" *ngIf="updatePersonLoading" class="loaderPosition">
              </button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </ng-container>
  </form>
  <form class="form-horizontal" role="form" [formGroup]="organizationForm">
    <ng-template #second>
      <ng-container *ngIf="tabSelected === 2;">
        <div class="row">
          <div class="col-md-12 custom-pl-2">
            <div class="col-md-12"
                 style="margin-top: 2%;margin-bottom:3%;border: 1px solid #cccccc; border-radius: 4px">
              <div class="row" style="margin-top: 2%">
                <div class="col-md-6 custom-width-60 custom-pl-1">
                  <p class="custom-tab-title"> General Information </p>
                </div>
                <div class="col-md-6 custom-width-40 pull-right">
                  <button (click)="orgGen()" class="btn btn-link  pull-right" style="margin-top: -10px;color: #838383">
                    <i class="fa fa-angle-up fa-2x" *ngIf="!orgGeneral" aria-hidden="true"></i>
                    <i class="fa fa-angle-down fa-2x" *ngIf="orgGeneral" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="row" *ngIf="!orgGeneral">
               <!-- <div class="col-md-3 marginTop1per" align="center">
                  <img *ngIf="!orgUploadUrl" src="assets/images/profile_pic.jpg"
                       class="custom-profile-pic cursorPointer" (click)="file.click()">
                  <img *ngIf="orgUploadUrl" [src]="orgUploadUrl" class="profileImage cursorPointer"
                       (click)="file.click()">
                  <p (click)="file.click()" class="fontsize16px cursorPointer mt-4"> Click to upload logo</p>
                  <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
                </div>-->

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 marginTop1per" align="center">
                  <img *ngIf="!orgUploadUrl" src="https://flipaccess-resized.s3.amazonaws.com/resized-certin.png" class="custom-profile-pic cursorPointer"
                       (click)="file.click()">
                  <img *ngIf="orgUploadUrl" [src]="orgUploadUrl"  (click)="file.click()">
                   <p (click)="file.click()" class="fontsize16px cursorPointer mt-4"> Click to upload photo</p>
                  <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
                </div>
                <!--<input id="upload1" [disabled]="isReadOnly" readonly class="none_display" #file type="file" name="file-upload" multiple accept="image/*"
                       (change)="uploadPicturegeneral($event)">-->
                <input id="upload1"  class="none_display" #file type="file" name="file-upload" multiple accept="image/*"
                       (change)="uploadPicturegeneral($event)">
                <div class="col-md-4 custom-plr-3">
                  <div class="form-group">
                    <label>Industry Type*</label>
                    <select  class="form-control selectField" formControlName="indType" required name="industryType"
                            [(ngModel)]="orgGeneralModal.type"
                            [ngClass]="{'is-invalid': (submitTry && f1.indType.errors) || (submitTry && orgGeneralModal.industry == 'defaultIndustrytype')}">
                      <option value="defaultIndustrytype" disabled>Industry Type</option>
                      <option *ngFor="let industry of industryNames" [ngValue]="industry.industryName">
                        {{industry.industryName}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 custom-pl-2">
                  <div class="form-group">
                    <label>Organisation URL*</label>
                    <input type="text"  class="form-control" placeholder="Orbitall.co.za" formControlName="orgUrl"
                           name="orgUrl" [(ngModel)]="orgGeneralModal.website"
                           [ngClass]="{'is-invalid': (submitTry && f1.orgUrl.errors) || validityStatus == 'fail'}" (blur)="checkValidSite()">
                    <div *ngIf="!f1.orgUrl.errors && validityStatus == 'fail' ">
                  <span style="font-size: 10px;color: #838383;">
                    <i> Please enter working URL</i>
                  </span>
                    </div>
                   <!-- <div *ngIf="orgUrl.errors?.pattern">
                      <span style="font-size: 10px;color: #838383;">
                        <i> Enter valid URL (Ex: Orbitall.co.za)</i>
                      </span>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12" style="margin-bottom:3%;border: 1px solid #cccccc; border-radius: 4px">
              <div class="row" style="margin-top: 2%">
                <div class="col-md-8 custom-width-80">
                  <p class="custom-tab-title"> Company Registered Details &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                          <i class="fa fa-star fontsize18px" aria-hidden="true"></i>
                          <i class="fa fa-star fontsize18px" aria-hidden="true"></i>
                          <label class="msg-text no-margin"> Requirement</label>
                        </span>
                  </p>
                </div>

                <div class="col-md-4 custom-pb-1 custom-width-20 pull-right">
                  <button (click)="orgComp()" class="btn btn-link  pull-right" style="margin-top: -10px;color: #838383">
                    <i class="fa fa-angle-up fa-2x" *ngIf="!orgCompany" aria-hidden="true"></i>
                    <i class="fa fa-angle-down fa-2x" *ngIf="orgCompany" aria-hidden="true"></i>
                  </button>
                </div>

              </div>
              <div class="row" *ngIf="!orgCompany">
                <div class="col-md-12">
                  <!--   <formclass="form-horizontal">-->
                  <div class="form-group margintop2per">
                    <div class="col-md-4">
                      <label>Country*</label>
                      <select disabled class="form-control selectField" formControlName="country"
                              [(ngModel)]="companyRegisteredModal.country" name="country"
                              >
                        <option value="defaultCountry" disabled>Select Country</option>
                        <option *ngFor="let countryCode of countryDetails" [ngValue]="countryCode.code">
                          {{countryCode.name}}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <label>Company Registration No*</label>
                      <input type="text" class="form-control" placeholder="YYYY/NNNN/NN" formControlName="regNum"
                      disabled name="orgRef" [(ngModel)]="companyDetailsModal.registrationNumber"
                             [ngClass]="{'is-invalid': submitTry && f1.regNum.errors}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-4">
                      <label>Organisation name*</label>
                      <input type="text" disabled class="form-control" placeholder="Orbitall All Ltd" formControlName="orgName"
                             name="orgName"
                             [(ngModel)]="organisationName"
                             [ngClass]="{'is-invalid': submitTry && f1.orgName.errors}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-4">
                      <label>Vat Number*</label>
                      <input type="text" disabled (keypress)="numberOnly($event)" class="form-control" placeholder="Vat Number"
                             formControlName="vatNum"
                             name="vatNumber" [(ngModel)]="companyDetailsModal.taxNumber"
                             [ngClass]="{'is-invalid': submitTry && f1.vatNum.errors}">
                    </div>
                    <div class="col-md-4">
                      <label>Registration Date</label>
                      <div class="input-group">
                        <input type="text" disabled [mdDatepicker]="picker2" placeholder="MM/DD/YYYY"
                               aria-describedby="basic-addon3" class="form-control"
                               [max]="maxDate" formControlName="regDate"  name="registrationDate"
                               [(ngModel)]="companyDetailsModal.businessStartDate"
                               [ngClass]="{'is-invalid': submitTry && f1.regDate.errors}" disabled>
                        <!-- <span class="input-group-addon spanStyle" id="basic-addon3">
                          <button mdSuffix [mdDatepickerToggle]="picker2">
                          </button>
                        </span> -->
                        <md-datepicker #picker2></md-datepicker>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-8">
                      <label class="margintop1per"> Line1*</label>
                      <input type="text" class="form-control noResize" placeholder="Line 1" rows="5"
                             formControlName="line1"  name="companyaddressLine1"
                             [(ngModel)]="companyRegisteredModal.line1" disabled
                             [ngClass]="{'is-invalid': submitTry && f1.line1.errors}">
                    </div>
                    <div class="col-md-8">
                      <label class="margintop1per"> Line2*</label>
                      <input type="text" disabled class="form-control noResize" placeholder="Line 2" rows="5"
                             formControlName="line2"  name="companyaddressLine2"
                             [(ngModel)]="companyRegisteredModal.line2"
                             [ngClass]="{'is-invalid': submitTry && f1.line2.errors}">
                    </div>
                    <div class="col-md-8">
                      <label class="margintop1per"> Line3 </label>
                      <input type="text" disabled class="form-control noResize" placeholder="Line 3" rows="5"
                             formControlName="line3"  name="companyaddressLine3"
                             [(ngModel)]="companyRegisteredModal.line3">
                      <!--[ngClass]="{'red-border-class': (companyaddressLine3.touched && companyaddressLine3.invalid)}"-->
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-4">
                      <label> Region*</label>
                      <input type="text" disabled class="form-control " placeholder="Region" formControlName="region"
                             name="region" [(ngModel)]="companyRegisteredModal.region"
                             [ngClass]="{'is-invalid': submitTry && f1.region.errors}">
                    </div>
                    <div class="col-md-4">
                      <label>Post Code*</label>
                      <input type="text" disabled class="form-control " placeholder="Post Code" formControlName="pin"
                             name="postCode" [(ngModel)]="companyRegisteredModal.postCode"
                             [ngClass]="{'is-invalid': submitTry && f1.pin.errors}" minlength="3"
                             maxlength="8">
                    </div>
                  </div>
                  <!--      </form>-->
                </div>
              </div>
            </div>
            <div class="col-md-12" style="margin-bottom:3%;border: 1px solid #cccccc; border-radius: 4px">
              <div class="row" style="margin-top: 2%">


                <div class="col-md-8 custom-width-80">
                  <p class="custom-tab-title"> Admin Details
<!--
                    <span>
                          <i class="fa fa-star fontsize18px" aria-hidden="true"></i>
                          <i class="fa fa-star fontsize18px" aria-hidden="true"></i>
                          <label class="msg-text no-margin"> Requirement</label>
                        </span>
-->
                  </p>
                </div>

                <div class="col-md-4 custom-pb-1 custom-width-20 pull-right">
                  <button (click)="orgContact()" class="btn btn-link  pull-right"
                          style="margin-top: -10px;color: #838383">
                    <i class="fa fa-angle-up fa-2x" *ngIf="!orgContactnew" aria-hidden="true"></i>
                    <i class="fa fa-angle-down fa-2x" *ngIf="orgContactnew" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="row" *ngIf="!orgContactnew">
                <div class="col-md-12">
<!--
                  <div class="form-group margintop2per">
                    <div class="col-md-12">
                      <md-checkbox [checked]="userDetails" onclick="return false"
                                   [(ngModel)]="userDetails" name="userDetails" formControlName="userDetails"
                                   color="primary">
                      </md-checkbox>
                      <span style="padding-left:15px; display: inline;">Same as Logged in User</span>
                    </div>
                  </div>
-->

                  <div class="form-group">
<!--
                    <div class="col-md-2">
                      <label>Title</label>
                      <select readonly class="form-control" disabled formControlName="title"
                              [(ngModel)]="contactModal.title" name="title"
                              [ngClass]="{'is-invalid': (submitTry && f1.title.errors) || (submitTry && contactModal.title == 'defaultTitle')}">
                        <option value="defaultTitle" disabled>Title</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Ms">Ms</option>
                        <option value="Dr">Dr</option>
                        <option value="Prof">Prof</option>
                        <option value="Rev">Rev</option>
                      </select>
                    </div>
-->
                    <div class="col-md-4">
                      <label>First name*</label>
                      <input  type="text" class="form-control " placeholder="First Name" formControlName="firstName"
                      disabled name="firstName" [(ngModel)]="contactModal.firstName"
                             [ngClass]="{'is-invalid': submitTry && f1.firstName.errors}">
                    </div>
                    <div class="col-md-4">
                      <label>Last name*</label>
                      <input  type="text" class="form-control " placeholder="Last Name" formControlName="lastName"
                      disabled name="lastName" [(ngModel)]="contactModal.lastName"
                             [ngClass]="{'is-invalid': submitTry && f1.lastName.errors}">
                    </div>

                  </div>
                  <!-- <div class="form-group margintop2per">
                    <div class="col-md-2">
                      <label>Gender</label>
                    </div>
                    <div class="col-md-8 ">
                      <md-radio-group name="option1" [(ngModel)]="personOrgGender">
                        <md-radio-button color="primary" checked value='Male' name="option1">Male
                        </md-radio-button>
                        <md-radio-button class="paddingleft1per"color="primary" value='Female' name="option1">Female
                        </md-radio-button>
                      </md-radio-group>
                    </div>
                  </div> -->
<!--
                  <div class="form-group">
                    <div class="col-md-6">
                      <label>Role</label>
                      <input type="text" disabled class="form-control" placeholder="Role" formControlName="role"
                             name="role" [(ngModel)]="contactModal.role"
                             [ngClass]="{'is-invalid': submitTry && f1.role.errors}">
                    </div>
                  </div>
-->
                  <!-- <div class="form-group">
                    <div class="col-md-2">
                      <label>Country Code*</label>
                      <select class="form-control" #countryCode="ngModel" required name="countryCode" [(ngModel)]="contactModal.countryCode" [ngClass]="{'red-border-class': (countryCode.touched && countryCode.invalid) || (countryCode.touched && contactModal.countryCode == 'defaultCountryCode')}">
                        <option value="defaultCountryCode">Code</option>
                        <option *ngFor="let countryCode of countryDetails" [ngValue]="countryCode.dial_code">
                          {{countryCode.dial_code}}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <label>Area*</label>
                      <input type="text" class="form-control" placeholder="Area" #area="ngModel" required name="area" [(ngModel)]="contactModal.area"
                        [ngClass]="{'red-border-class': (area.touched && area.invalid)}">
                    </div>
                    <div class="col-md-3">
                      <label>Phone*</label>
                      <input (keypress)="numberOnly($event)" type="text" class="form-control" placeholder="Phone Number" minlength="10" maxlength="12"
                        #phone="ngModel" required name="phone" [(ngModel)]="contactModal.phoneNumber" [ngClass]="{'red-border-class': (phone.touched && phone.invalid)}">
                    </div>
                  </div> -->
                  <div class="form-group">
                    <div class="col-md-6">
                      <label>Phone*</label>
                      <span class="input-group">
                        <select  disabled id="basic-addon2"
                                class=" col-md-4 input-group-addon form-control" formControlName="countryCode"
                                 name="countryCode" [(ngModel)]="contactModal.countryCode" style="height:34px"
                                [ngClass]="{'is-invalid': (submitTry && f1.countryCode.errors) || (submitTry && contactModal.countryCode == 'defaultCountryCode')}">
                          <option value="defaultCountryCode">Code</option>
                          <option *ngFor="let countryCode of countryDetails" [ngValue]="countryCode.dial_code">
                            {{countryCode.dial_code}}
                          </option>
                        </select>
                        <input (keypress)="numberOnly($event)" disabled type="text" class=" col-md-8 form-control"
                               placeholder="Phone Number" minlength="10"
                               maxlength="12" formControlName="phoneNum" aria-describedby="basic-addon2"  name="phone"
                               [(ngModel)]="contactModal.phoneNumber"
                               [disabled]="isReadOnly"  [ngClass]="{'is-invalid': submitTry && f1.phoneNum.errors}">
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-4">
                      <label>Email*</label>
                      <input type="email" disabled [pattern]="emailPattern" class="form-control" placeholder="Email"
                             formControlName="emailId"  name="email" [(ngModel)]="contactModal.emails"  [ngClass]="{'is-invalid': submitTry && f1.emailId.errors}">
                    </div>
                  </div>
                  <!-- </form>-->
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12" >
            <div class="col-md-6 pull-right noPaddingRightBtn">
              <div class="form-group pull-right ">
                <div class="col-md-4 col-lg-6 col-sm-6 col-xs-12 margintop2per"  align="right">
                  <button class="btn btn-secondary-color cancelBtn" type="button" (click)="cancelBtn()">Cancel
                  </button>
                </div>
                <div class="col-md-4 col-lg-6 col-sm-6 col-xs-12 margintop2per" align="left">
                  <button class="btn btn-primary mainBtn" type="button" (click)="updateOrganization()" >
                    Update
                    <img src="assets/images/source.gif" *ngIf="updateOrgLoading" class="loaderPosition">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>


      </ng-container>
    </ng-template>
  </form>
</div>
