.largePara {
  font-size: 17px
}

.smallPara {
  font-size: 14px;
  font-weight: normal !important;
  color: #838383;
}
.btn{
  padding: 0.5rem 2.5rem !important;
}

.nav-pills > li a {
  color: #333;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.nav-pills > li a:hover {
  background: none !important;
  cursor: pointer;
}

.nav-pills > li.active > a:hover {
  background: #ffffff;
  border-bottom: 1px solid #ffffff !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #009bbd;
  cursor: pointer;
  background-color: #fff !important;
  border-bottom: 3px solid #009bbd !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;

}
.fa-2x {
  font-size: 1.5em;
}

.spanStyle {
  padding-top: 4%;
  width: 3rem !important;
  height: 2.45rem !important;
  border-radius: 0px 5px 5px 0px !important;
}
.spanStyle1 {
  padding-top: 2%;
  width: 3rem !important;
  height: 2.45rem !important;
  border-radius: 0px 5px 5px 0px !important;
}
.md-calenar{
  width : 220px !important;
}

.fontsize18px{
  font-size:18px;
  color:grey;
}
.custom-tab-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
}
label{
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
}
.fa-check-square-o:before {
  content: "\F046";
  color: #009bbd;
}
.fa-star:before {
  font-size: 12px;
}
.msg-text{
  font-size: 12px;
  font-style: italic;
}
.custom-pl-1{
  padding-left: 1rem;
}
.custom-pl-2{
  padding-left: 2rem;
}
.custom-pl-3{
  padding-left: 3rem;
}
.mat-datepicker-toggle{
  background-image: url('../../assets/images/icons/calender.svg');
}
.input-group-addon{
  background-color: #e9ecef;
}
.org-loader-Position {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 18% !important;
}
@media only screen and (max-width: 420px) {
  .custom-tab-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
  }
  .custom-pl-1{
    padding-left: 1rem !important;
  }
  .custom-width-80{
    width: 80%;
  }
  .custom-width-60{
    width: 60%;
  }
  .custom-width-40{
    width: 40%;
  }
  .custom-width-20{
    width: 20%;
  }
  .custom-pb-1{
    padding-bottom: 10px;
  }
  .custom-pl-1{
    padding-left: 10px;
  }
  .custom-pl-3{
    padding-left: 10px;
  }
  .custom-plr-3{
    padding: 0px 30px;
  }
  .custom-pl-2 {
    padding: 0 2rem;
  }


}
