
.navbar {
  margin-bottom: 10px;
}
.gold{
  color: gold;
}
.grey{
  color:lightgrey;
}

.crt-button {
  border: 1px solid #009bbd;
  padding: 10px !important;
  border-radius: 3px;
  color: #009bbd;
  margin-right: 10px;

}

.sign-btn {
  background-color: #009bbd;
  color: #ffffff;
  border-radius: 3px;
  padding: 10px !important;
  border: 1px solid #009bbd;
  margin-left: 10px;
}

.navbar-right {
  margin-top: 10px;
}
.m-t-1per{
  margin-top: 1% !important;
}

.profile-bg {
  background-color: #009bbd;
}

.profile-box {
  padding: 15px 0px;
}

.prl-hd h3, .prl-hd p {
  color: #fff;
}

.align-center {
  align-items: center;
  display: flex;
}

.fa-check-circle:before {
  color: #7ed321;
}

.key-box {
  border: 1px solid #009bbd;
  border-radius: 50px;
  font-size: 12px;
  color: #7d7d7d;
  padding: 1px 10px;
  margin: 2px 5px;
}

.key-box1 {
  border: 1px solid #009bbd;
  border-radius: 50px;
  font-size: 15px;
  color: #009bbd;
  padding: 6px 44px;
  margin: 0px 5px;
}

.innerKey {
  position: absolute;
  left: 21px;
  top: -7px;
  padding: 9.5px;
  border-radius: 27px;
  background: #008fc1;
  color: #ffffff;
  font-size: 15px !important;
}

.key-divider {
  padding: 15px 0px;
  display: block;
}

.org-divider {
  padding-top: 30px;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #fff;
  border: 1px solid #009bbd;
  color: #009bbd;
}

.navbar-toggle {
  border: 1px solid #009bbd;
}

.navbar-toggle .icon-bar {
  background-color: #009bbd;
}

.navbar-nav > li > a {
  line-height: 15px;
}

.subHeadings p {
  font-size: 13px;
}
.cv-keyword{
  display: inline-block;
}

@media only screen and (max-width: 600px) {

  .crt-button {
    margin-right: 0px;
  }

  .sign-btn {
    margin-left: 0px;
  }

  .key-box {
    line-height: 40px;
  }
}

