<!--<p align="center"><img [src]="loadingGif"
                                       style="width: 83px"></p>-->
<md-progress-bar color="warn"  [mode]="typeProgress" [value]="keyProgress" style="z-index:12000000"></md-progress-bar>
