.PERSONAL_DEFAULT, .WORK_DEFAULT, .SKILLS_DEFAULT, .COURSE_DEFAULT, .WORKATTESTATION_DEFAULT, .QUALIFICATION_DEFAULT, .PERSONAL_ORG, .WORK_ORG, .SKILLS_ORG, .COURSE_ORG, .WORKATTESTATION_ORG, .QUALIFICATION_ORG {
  background-image: url("../../../assets/images/1511931102295.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.WORK_TEMP {
  background-image: url("../../../assets/images/cert-templates/template-2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.SKILLS_TEMP {
  background-image: url("../../../assets/images/cert-templates/template-3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.COURSE_TEMP {
  background-image: url("../../../assets/images/cert-templates/template-4.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.WORKATTESTATION_TEMP {
  background-image: url("../../../assets/images/cert-templates/template-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.QUALIFICATION_TEMP {
  background-image: url("../../../assets/images/cert-templates/template-2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.PERSONAL_TEMP {
  background-image: url("../../../assets/images/cert-templates/template-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}



.subHead p {
  font-weight: 400;
  font-size: 18px;
}

.titleHead {
  font-family: 'UnifrakturMaguntia', cursive !important;
}
.ch4 h4{
  margin-top: 14px !important;
}
.custom-profile-pic{
  width: 150px; height: 150px; border-radius: 100px
}
.heading{
  font-size : 16px;
}
.value{
  font-size:14px !important;
}
.greenColor{
  color : green;
}
.pr5{
  padding-right: 5.5rem;
}
.inner-line-btn{
  width:9rem !important;
  margin-right: 1rem !important;
  background-color: #ffffff !important;
  border: 1px solid #D8DDE6 !important;
  color: #009bbd !important;
}
.inner-line-btn:hover{
  background-color: #fbffff !important;
  border: 1px solid #D8DDE6 !important;
  color: #009bbd !important;
}
.inner-btn{
  width:9rem !important;
  border: 1px solid transparent !important;
  color: white !important;
  cursor: pointer !important;
  background-image: none !important;
  background-color: #009bbd !important;
  box-shadow: none !important;
}
.custom-profile-pic {
  width: 26%;
  height: 75%;
  margin-top: 6%;
  border-radius: 100px;
}
.girdStyle {
  min-height: 250px;
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}
.newWorkAttestation p {
  font-size: 13px !important;
  margin-top: -2.5%;
}
.footer {
  margin-top: 2%;
  border-top: 1px solid #e0dada;
  padding: 11px;
}

.footer p {
  font-size: 11px !important;
  text-align: left !important;
  line-height: 15px !important;
}
