<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1  col-sm-12 col-xs-12" style="background: #fff">

    <!--//work attestaion  div start Here-->
    <div class="row"
         *ngIf="certificateStatustype === 'WORKATTESTATION'" style="margin-top: 2%">
      <div class="col-md-8 col-xs-12 col-lg-8 col-sm-8 col-md-offset-2 girdStyle">
        <div class="row newWorkAttestation">

          <app-work-template [hero]="certificateDetailsResp"></app-work-template>


        <!--
          <div class="col-md-12" style="margin-top: 5%">
            <img *ngIf="!certificateDetailsResp?.certificate?.orgUrl"
                 src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer">
            <img *ngIf="certificateDetailsResp?.certificate?.orgUrl" [src]="certificateDetailsResp?.certificate?.orgUrl"
                 class="custom-profile-pic cursorPointer">
          </div>
          <div class="col-md-12 pull-right">
            <p class="pull-right"> Date Issued: <br> {{mm.utc(certificateDetailsResp?.certificate?.issuedDate).toDate()
              | date:'short'}}</p>
          </div>
          <div class="col-md-12">
            <p><b> To Whom It May Concern: </b></p>
            <p> This letter is to verify that <b>{{certificateDetailsResp?.person?.firstName}}
              {{certificateDetailsResp?.person?.lastName}}</b> is
              employed at <b>{{certificateDetailsResp?.certificate?.issuerUnvName}}</b> in the position of
              <b>{{certificateDetailsResp?.certificate?.certificateName }}</b>.</p>
            <p><b>{{certificateDetailsResp?.person?.firstName}} {{certificateDetailsResp?.person?.lastName}}</b> started
              working in this capacity
              on <b>{{mm.utc(certificateDetailsResp?.person?.periodFromDate).toDate() | date:'short'}}</b> and ended his
              employment
              in this position on <b>{{mm.utc(certificateDetailsResp?.person?.periodEndDate).toDate() |
                date:'short'}} </b>
              &lt;!&ndash;&ndash;&gt;
            </p>
            <p>If you require any additional information, please contact me at
              <b>{{personResponse?.person?.phones[0]?.countryCode}}
                {{personResponse?.person?.phones[0]?.number}}</b> or
              via
              email <b>{{personResponse?.person?.emails[0]?.email}} </b></p>
            <p> Yours sincerely</p>
            <p><span>  <img src="assets/images/sign.svg" style="width: 30%"></span> <br>
              {{personResponse?.person?.firstName}} {{personResponse?.person?.lastName}}
            </p>
          </div>
          <div class="col-md-12  ">
            <div class="col-md-12 footer" style="margin-top: 2%">
              <div class="row">
                <div class="col-md-6 ">
                  <p> Reg. {{footerInfo?.listOfCompany[0]?.registrationNumber}}<br>{{footerInfo?.organisation?.address[0]?.line1}}<br>{{footerInfo?.organisation?.address[0]?.line2}}<br>{{footerInfo?.organisation?.address[0]?.line3}}<br>{{footerInfo?.organisation?.address[0]?.country}}
                  </p>
                </div>
                <div class="col-md-6">
                  <p> Ph: {{personResponse?.person?.phones[0]?.countryCode}}
                    {{personResponse?.person?.phones[0]?.number}} <br> {{footerInfo?.organisation?.website}}</p>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <!--//work attestaion  div ends Here-->


    <div class="row" style="background: #FFFFFF;padding: 1%" *ngIf="certificateStatustype !== 'WORKATTESTATION' ">

      <app-qualification-directive [borderTop]="borderTop"  [borderBtm]="borderBtm" [qualificationInfo]="certificateDetailsResp"> </app-qualification-directive>
      <!--     <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 noPadding">
        <img *ngIf="borderTop" [src]="borderTop" class="img-responsive">
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <p *ngIf="status" align="right"><i class="fa fa-check-circle greenColor" aria-hidden="true"></i>Verified</p>
      </div>

      <div class="col-md-12 col-xs-12 col-sm-12" align="center">
        <h3 class="titleHead"> Certificate Of <span
          *ngIf="certificateStatustype !== 'WORKATTESTATION' "> Qualification </span>
          <span *ngIf="certificateStatustype === 'WORKATTESTATION' ">  Work  Attestation</span></h3>
      </div>
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center"
             *ngIf="certificateStatustype === 'WORKATTESTATION' ">
          <p class="heading"> Certificate type : <span
            class="value">{{certificateDetailsResp?.certificate?.role}}</span></p>
          <p class="heading"> Name : <span class="value">{{certificateDetailsResp?.certificate?.role}}</span></p>
          <p class="heading"> Description : <span class="value">{{certificateDetailsResp?.certificate?.role}}</span></p>
          <p class="heading"> Start Date : <span
            class="value">{{mm.utc(certificateDetailsResp?.certificate?.periodFromDate).toDate() | date:'short'}}</span>
          </p>
          <p class="heading"> End Date : <span
            class="value"> {{mm.utc(certificateDetailsResp?.certificate?.periodEndDate).toDate() | date:'short'}}</span>
          </p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center"
             *ngIf="certificateStatustype === 'QUALIFICATION' ">
          <p class="heading"> Certificate Type: <span class="value">{{certificateDetailsResp?.certificate?.certificateType}}</span>
          </p>
          <p class="heading"> Course Title : <span
            class="value"> {{certificateDetailsResp?.certificate?.courseName}}</span>
          </p>
          <p class="heading"> Specialization : <span class="value"> {{certificateDetailsResp?.certificate?.specialization}}</span>
          </p>
          <p class="heading"> Start Date : <span
            class="value">{{mm.utc(certificateDetailsResp?.certificate?.periodFromDate).toDate() | date:'short'}} </span>
          </p>
          <p class="heading"> End date : <span
            class="value">{{mm.utc(certificateDetailsResp?.certificate?.periodEndDate).toDate() | date:'short'}} </span>
          </p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-lg-12 colxs-12 subHead" align="center">
        <div class="col-md-12" align="center">
          <h6 class="fontsize13px colorBlack">
            <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
          </h6>
        </div>
        <div class="col-md-10 col-md-offset-1 col-lg-10 col-sm-10 col-sm-offset-1 col-lg-offset-1">
          <div class="col-md-12 col-sm-12 col-lg-12 ch4"
               style="border-top: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee;" align="center">
            <h4 *ngIf="certificateDetailsResp">{{certificateDetailsResp?.certificate?.requesterName}}</h4>
            <h4 *ngIf="calimDetailsResp">{{calimDetailsResp?.claim?.requesterName}}</h4>
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12" style="margin-top: 10px">
            <p *ngIf="certificateDetailsResp"> Issued on : {{certificateDetailsResp?.certificate?.issuedDate|date:'dd
              MMM yyyy'}}
            </p>
            <p *ngIf="certificateDetailsResp"> Issued By : {{certificateDetailsResp?.certificate?.issuerUnvName}}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 noPadding">
        <img *ngIf="borderBtm" [src]="borderBtm" class="img-responsive">
      </div>-->
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margintop2per " align="right" *ngIf="!status" >
      <div class="col-md-12 p-0 pb-4" style="margin-top: 2% !important;">
        <button class="btn btn-default inner-line-btn" type="button" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary inner-btn respMtop1per" (click)="verifyPage()">Verify</button>
      </div>
    </div>
  </div>


</div>
