<div *ngIf="!showInprogress && !emailStatus" class="row" style="border-bottom: 1px solid #ccc">
  <div class="col-12" align="center">
    <p style="color: #008fc1;font-size: 14px">
      <b> Upgrade to a Professional Account now !</b>
    </p>
  </div>
</div>
<form *ngIf="!showInprogress && !emailStatus" class="form-horizontal" [formGroup]="sendEmail" (ngSubmit)="onSubmit()">
  <div class="row" style="margin-top: 5%">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 ">
      <p> By upgrading to a Professional Account your organisation will be able to issue company related documents such as work
        attestation, qualification certificates etc.</p>
      <p>In order to upgrade to a Professional Account you need to appoint an admin user for your organisation. That user needs
        to be able to issue official company related documents.</p>
      <p> In Cert Tin our business model is based on trust. Therefore as part of the upgrade process the admin user need to submit
        identification details and company related information such as registration and basic company details. Your application
        will be vetted by our moderation team before you are granted an upgrade.</p>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">

      <div class="form-group">
        <div class="col-md-12">
          <md-radio-group formControlName="user" layout="row" [(ngModel)]="userStatus">
            <md-radio-button [value]="'loggedUser'">
              I will act as an admin for my organisation
            </md-radio-button>
            <md-radio-button style="font-weight: normal;display:block" [value]="'emailUser'">
              Email address to appointed admin
            </md-radio-button>
          </md-radio-group>
          <p *ngIf=" submitted && f.user.errors" style="padding: 0px;margin: 0px !important;">
            <span style="font-size: 10px;color: #838383;">
              <i> Please select option </i>
            </span>
          </p>
        </div>

      </div>
      <div class="form-group">
        <div class="col-md-6">
          <input type="email" placeholder="Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="border-top: 1px solid #ccc">
    <div class="col-4">
    </div>
    <div class="col-8 text-right " style="margin-top: 2%">
      <button class="btn btn-primary customButton" type="button" (click)="close()">Cancel</button>
      <button class="btn btn-primary " type="submit">Initiate upgrade</button>
    </div>
  </div>
</form>
<section *ngIf="showInprogress && !emailProgress">
  <div class="row" style="border-bottom: 1px solid #ccc">
    <div class="col-12" align="center">
      <p style="color: #008fc1;font-size: 14px">
        <b> Upgrade to a Professional Account Status !</b>
      </p>
    </div>
  </div>
  <div class="row" style="margin-top: 5%">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center">
      <p>Thank you ! </p>
      <p>Your organisation already initiated to Upgrade.</p>
      <p>The process is in progress, kindly wait until we process your request.</p>
    </div>
  </div>
  <div class="row" style="border-top: 1px solid #ccc">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center" style="margin-top: 2%">
      <button class="btn btn-primary customButton" type="button" (click)="cancel()">Okay</button>
    </div>
  </div>
</section>
<section *ngIf="!showInprogress && emailStatus">
  <div class="row" style="border-bottom: 1px solid #ccc">
    <div class="col-12" align="center">
      <p style="color: #008fc1;font-size: 14px">
        <b> Upgrade to a Professional Account Status !</b>
      </p>
    </div>
  </div>
  <div class="row" style="margin-top: 5%">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center">
      <p>Thank you ! Email sent successfully </p>
      <p>Upgrade initiation has been done successfully.</p>
    </div>
  </div>
  <div class="row" style="border-top: 1px solid #ccc">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center" style="margin-top: 2%">
      <button class="btn btn-primary customButton" type="button" (click)="cancel()">Okay</button>
    </div>
  </div>
</section>
<section *ngIf="showInprogress && emailProgress">
  <div class="row" style="border-bottom: 1px solid #ccc">
    <div class="col-12" align="center">
      <p style="color: #008fc1;font-size: 14px">
        <b> Upgrade to a Professional Account Status !</b>
      </p>
    </div>
  </div>
  <div class="row" style="margin-top: 5%">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center">
      <p>Thank you! Email has been already sent for approval.</p>
      <p>Upgrade initiation is in progress.</p>
    </div>
  </div>
  <div class="row" style="border-top: 1px solid #ccc">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center" style="margin-top: 2%">
      <button class="btn btn-primary customButton" type="button" (click)="cancel()">Okay</button>
    </div>
  </div>
</section>
