<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
  <div *ngIf="!revoked" class="row" align="center"
       style="border-radius: 4px; position: absolute;top: 0px;left: 2%;width: 100%; height: 100%;background-color:rgba(0, 0, 0, 0);z-index: 100 ">
    <div class="col-md-12" style="margin-top: 15%">
      <img src="assets/images/revoked-stamp-2.png" class="img-responsive" style="width: 65%">
    </div>
  </div>
  <div class="row" [ngClass]="className">
    <div class="col-md-12">
      <img *ngIf="!backgroundData?.organisation?.logoUrl"
           src="assets/images/default_square.jpg" class="custom-profile-pic cursorPointer">
      <img *ngIf="backgroundData?.organisation?.logoUrl" [src]="backgroundData?.organisation?.logoUrl"
           class="custom-profile-pic cursorPointer">
      <p class="pull-right m-t-6per"> Date Issued: <br> {{mm.utc(hero?.issuedDate).format('MM/DD/YYYY')}}
      </p>
    </div>
    <!--<div class="col-md-12" [innerHTML]="htmlContent">  </div>-->

    <!--{{htmlContent}}-->
    <div class="col-md-12">
      <div  [innerHTML]="htmlContent">  </div>


<!--      <p><b> To Whom It May Concern: </b></p>
      <p> This letter is to verify that <b>{{hero?.person?.firstName}} {{hero?.person?.lastName}}</b> is
        employed at <b>{{hero?.calimRequest?.issuerUnvName}}</b> in the position of
        <b>{{hero?.certificate?.certificateName }}</b>.</p>
      <p><b>{{hero?.person?.firstName}} {{hero?.person?.lastName}}</b> started working in this capacity
        on <b>{{mm.utc(hero?.certificate?.periodFromDate).format('MM/DD/YYYY')}}</b> and ended his employment
        in this position on <b>{{mm.utc(hero?.certificate?.periodEndDate).format('MM/DD/YYYY')}} </b>
      </p>
      <p>If you require any additional information, please contact me at
        <b>{{personResponse?.person?.phones[0]?.countryCode}}
          {{personResponse?.person?.phones[0]?.number}}</b> or
        via
        email <b>{{personResponse?.person?.emails[0]?.email}} </b></p>
      <p> Yours sincerely</p>
      <p><span>  <img src="assets/images/sign.svg" style="width: 30%"></span> <br>
        {{personResponse?.person?.firstName}} {{personResponse?.person?.lastName}}
      </p>-->
      <p> Yours sincerely</p>
      <p><span>  <img src="assets/images/sign.svg" style="width: 30%"></span> <br>
        {{personResponse?.person?.firstName}} {{personResponse?.person?.lastName}}
      </p>
    </div>
    <div class="col-md-12">
      <div class="col-md-12 footer" style="margin-top: 2%">
        <div class="row">
          <div class="col-md-6 ">
            <p> Reg. {{backgroundData?.listOfCompany[0]?.registrationNumber}}<br>{{backgroundData?.organisation?.address[0]?.line1}}<br>{{backgroundData?.organisation?.address[0]?.line2}}<br>{{backgroundData?.organisation?.address[0]?.line3}}<br>{{backgroundData?.organisation?.address[0]?.country}}
            </p>
          </div>
          <div class="col-md-6">
            <p> Ph: {{personResponse?.person?.phones[0]?.countryCode}} {{personResponse?.person?.phones[0]?.number}}
              <br> {{backgroundData?.organisation?.website}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
