<!-- Create Account -->
<!--<div class="load-bar">
  <div class="bar"></div>
  <div class="bar"></div
</div>-->

<div class="page-auth bg-color">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card card-white mt-4">
        <div class="card-content">
          <!-- Linkedin Button Starts-->
          <!--   <div class="row mt-2" *ngIf="!ln_user">
               <div class="col-md-12 text-center">
                 <a href="http://localhost:3000/auth/linkedin">
                   <img src="assets/images/LogIn_linkedin.png" class="cursorPointer"
                        style="width: 250px;margin: 0 auto;" class="img-responsive"> </a>
               </div>
             </div>-->
          <!-- Linkedin Button Ends-->
          <!-- HR Line Starts -->

          <!-- <div class="row mt-4" >
             <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 lineHead"><span class="or-text">OR</span></div>
           </div>-->
          <!-- HR Line Ends *ngIf="!ln_user" -->

          <!-- Personal Details Starts-->
          <div class="row">
            <div class="col-md-12  text-center ">
              <a [routerLink]="['/landingPage/home']">
                <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive" style="width: 150px;margin:auto;"> </a>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-12">
              <h5>Enter the details below</h5>
            </div>
          </div>
          <!-- Personal Details Ends-->
          <!-- Image Upload Section Starts -->
          <!--<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 margintop2per" align="center">
              <img *ngIf="!profileUrl" src="assets/images/profile_pic.jpg" class="upload-profile cursorPointer"
                   (click)="file.click()">
              <img *ngIf="profileUrl" [src]="profileUrl" class="profileImage cursorPointer" (click)="file.click()">
              <p (click)="file.click()" class="fontsize10px cursorPointer"> Click to upload photo</p>
              <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
            </div>
            <input id="upload" class="none_display" #file type="file" name="file-upload" multiple accept="image/*"
                   (change)="uploadPicture($event)">
          </div>-->
          <!-- Image Upload Section Ends -->

          <!-- Form Fields Starts -->

          <form class="form-horizontal mt-3" [formGroup]="RegisterForm" (ngSubmit)="register()">

            <div class="form-group">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <label class="labelStyles">First name*</label>
                <input type="text" formControlName="firstname" class="form-control" placeholder="First name" [(ngModel)]="signupModel.firstName"
                  [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
                <label class="">Last name*</label>
                <input type="text" formControlName="lastname" class="form-control" placeholder="Last name" [(ngModel)]="signupModel.lastName"
                  [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
              </div>
            </div>

            <div class="form-group ">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
                <label class="labelStyles margintop2per"> Email*</label>
                <input type="text" formControlName="email" class="form-control" placeholder="Email" [(ngModel)]="signupModel.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <!--<span class="fontsize10px">  We do not accept private email address </span>-->
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
                <label class="labelStyles margintop2per">Country*</label>
                <select formControlName="countryName" class="form-control selectField" [(ngModel)]="selectedObject" (change)="selectCountry($event)"
                  id="country" name="country" [ngClass]="{ 'is-invalid': (submitted && f.countryName.errors) || (submitted && selectedObject == 'selectYourCountry') }">
                  <option value="selectYourCountry" disabled>Select Country</option>
                  <option *ngFor="let countryName of countryDetails" [title]="countryName.name" [value]="countryName.code"> {{countryName.name}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group ">
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <label class="labelStyles margintop2per">Mobile*</label>
                <br>
                <span class="input-group">
                  <!--(click)="openCodePopup()"-->
                  <select id="basic-addon1" class=" col-md-4 input-group-addon form-control" formControlName="countryCode" required [(ngModel)]="signupModel.countryCode"
                    style="height:44px;font-size:12px; background-color:white;" name="countryCode" [ngClass]="{ 'is-invalid': (submitted && f.countryCode.errors) || (submitted && signupModel.countryCode == 'defaultCode') }">
                    <option disabled value="defaultCode">Country Code</option>
                    <option *ngFor="let countryCode of countryDetails" [ngValue]="countryCode.dial_code">

                      <!--<div class="MocG8c aCjZuc LMgvRb" jsname="wQNmvb" jsaction="" data-value="ag" aria-selected="true" tabindex="0" role="option"><div class="kRoyt MbhUzd" jsname="ksKsZd" style="top: 19px; left: 42.5px; width: 64px; height: 64px;"></div><div class="MWQFLe uLX2p" aria-hidden="true"><div class="qclxzb"><div class="Fy0Xbe SrKVbf" style="background-position: -1px -1140px;" aria-hidden="true"></div></div></div><content class="vRMGwf oJeWuf">Antigua &amp; Barbuda <span class="CO1lLb" dir="ltr">+1</span></content></div>-->
                      <div class="Fy0Xbe"> </div> &nbsp; {{countryCode.name}} &nbsp; {{countryCode.dial_code}}
                    </option>
                  </select>
                  <input formControlName="mobileNumber" required [(ngModel)]="signupModel.mobileNumber" type="text" placeholder="Mobile" aria-describedby="basic-addon1"
                    class=" col-md-8 inputField form-control" id="mobileNumber" name="mobileNumber" minlength="10" maxlength="12"
                    (keypress)="numberOnly($event)" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }">
                </span>
              </div>
            </div>


            <!--  Organisation details Starts-->
            <div class="row text-center">
              <div class="col-md-12">
                <h5>Organisation details</h5>
              </div>
            </div>
            <!--  Organisation details Ends-->
            <div class="form-group ">
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <label class="labelStyles">Organisation*</label>
                <input formControlName="organisation" required [(ngModel)]="signupModel.organisation" type="text" placeholder="Organisation"
                  class="inputField form-control" id="org" name="organisation" (keyup)="gerOrgKey(signupModel.organisation)"
                  [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }">
                  <span class="lookup-search" *ngIf="showOrgList && orgresult?.length != 0">  
                <ng-container   *ngFor="let orgname of orgresult">
                  <p class="lookup-options" (click)="selectedOrg(orgname)">
                    {{orgname?.name}}
                  </p>
                </ng-container>
              </span>
                <!-- <div class="lookup-search" *ngIf="showOrgList && orgresult">
                  <ng-container *ngFor="let orgname of orgresult">
                    <p class="lookup-options" (click)="selectedOrg(orgname)">
                      {{orgname?.name}}
                    </p>
                  </ng-container>
                </div> -->
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 x">
                <label class=" ">Organisation website*</label>
                <input formControlName="organisationWeb" required [(ngModel)]="signupModel.organisationWebsite" type="text" placeholder="Organisation Website"
                  class="inputField form-control " id="orgSite" name="organisationWeb" [ngClass]="{ 'is-invalid': (submitted && f.organisationWeb.errors) ||  validityStatus == 'fail'  }"
                  (blur)="checkValidSite()" (focus)="listHide()">
                <!--  <div *ngIf="organisationWeb.errors?.pattern">
                  <span style="font-size: 10px;color: #838383;">
                    <i> Enter valid URL (Ex: www.cert-tin.com)</i>
                  </span>
                </div>-->
                <div *ngIf="!f.organisationWeb.errors && validityStatus == 'fail' ">
                  <span style="font-size: 10px;color: #838383;">
                    <i> Please enter working URL</i>
                  </span>

                </div>
              </div>
            </div>


            <div class="form-group pt-2">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 ">
                <label class="labelStyles ">Industry*</label>
                <select class="form-control selectField" formControlName="industry" required [(ngModel)]="signupModel.industry" name="industry"
                  [ngClass]="{ 'is-invalid': (submitted && f.industry.errors)  ||(submitted && signupModel.industry == 'defaultInd')}">
                  <option value="defaultInd" disabled>Select Industry</option>
                  <option *ngFor="let industry of industryNames" [ngValue]="industry.industryName">
                    {{industry.industryName}}
                  </option>
                </select>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <label class="labelStyles">Location*</label>
                <input ngx-google-places-autocomplete [options]="googlePlacesOptions" #placesRef="ngx-places" required [(ngModel)]="signupModel.location"
                  type="text" placeholder="Location" class="inputField form-control" formControlName="location" id="location"
                  name="location" (onAddressChange)="handleAddressChange($event)" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 margintop2per" align="right">
                <button class="btn btn-secondary-color" type="button" [disabled]="signupLoader" (click)="cancelSignUp()">Cancel
                </button>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 margintop2per" align="left">
                <button *ngIf="!ln_user" class="btn btn-primary btn-block" type="submit">
                  Register
                  <img *ngIf="signupLoader" src="assets/images/source.gif" style="width:20px; height: 20px;">
                </button>
                <button *ngIf="ln_user" class="btn btn-primary btn-block" type="submit">
                  Continue
                  <img *ngIf="signupLoader" src="assets/images/source.gif" style="width:20px; height: 20px;">
                </button>
              </div>
            </div>

          </form>
          <!-- Form Fields Ends -->

        </div>
      </div>
    </div>
  </div>
</div>