.bg-color {
  background-color: #fbffff;
  padding: 0 30px;
}
.card {
  box-shadow: none;
  border-radius: 5px;
  padding: 20px 0px;
}
.card .card-content {
  padding: 0 20px 0 20px;
}

.or-text{
  color: #a2a2a2;
}
.detail-title {
  color: #009bbd;
  margin-top: 0;
}
label {
  font-weight: 500;
  margin-bottom: 0.2rem;
  font-size: 13px;
  color: #909090;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.form-control {
  padding: 1.5rem 1rem;
  box-shadow: none;
}

.btn {
  padding: 0.9rem 1rem;
  border-radius: 4px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  width: 100%;
  background-image: none !important;
  background-color: #009bbd;
}

.btn-primary {
  text-shadow: none;
  box-shadow: none;
}

.btn-secondary-color {
  background-color: #ffffff;
  border: 1px solid #D8DDE6;
  color: #009bbd !important;
}

.btn-secondary-color:hover {
  background-color: #fbffff;
  border: 1px solid #D8DDE6;
  color: #009bbd !important;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(3rem + 2px);
  padding: .4rem 1rem;
}


.hideList{
  visibility: hidden !important;
}
.lookup-search{
  border: 1px solid #d9d9d9;
  border-top: none;
  max-height: 350px;
  overflow-y: auto;
  position: absolute;
  z-index: 999;
  background-color: #fff;
  width: 92.6%;
}
.lookup-options{
  border-bottom: 1px solid #d9d9d9;
  padding:8px;
}
.lookup-options:hover{
  background-color: #d9d9d9;

}
.lookup-options:last-child{
  border-bottom: 0px solid #d9d9d9;
  padding:8px;
}
/*.Fy0Xbe{
  background-image: url('https://ecellstreet.com/wp-content/uploads/2018/08/Logo-600-ppi-1.png') no-repeat 0 0;
  -webkit-background-size: 24px 3876px;
  background-size: 24px 3876px;
  width: 24px;
  height: 16px;
  overflow: hidden;
}*/
/*option { background-image:url(https://ecellstreet.com/wp-content/uploads/2018/08/Logo-600-ppi-1.png); padding-left:15px; }

select#gender option[value="male"]   { background-image:url(https://ecellstreet.com/wp-content/uploads/2018/08/Logo-600-ppi-1.png);   }
select#gender option[value="female"] { background-image:url(https://ecellstreet.com/wp-content/uploads/2018/08/Logo-600-ppi-1.png); }
select#gender option[value="others"] { background-image:url(https://ecellstreet.com/wp-content/uploads/2018/08/Logo-600-ppi-1.png); }


select.pics option {
  background-repeat:no-repeat;
  background-position:bottom left;
  padding-left:30px;
}*/
