<div class="container-fluid" style="background: #ffffff; margin-top: -1.6%">
  <div class="container">
    <div class="row">
      <div class="col-md-12" align="center">
        <h4> Curriculum Vitae</h4>
      </div>
      <div class="col-md-12" align="center">
        <div class=" col-md-2">
          <img src="../../assets/images/profile_pic.jpg" class="img-responsive" style="border-radius: 200px">
          <h5>Bobby Wang </h5>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 2%">
        <div class="col-md-2">
          <img src="assets/images/universityLogo.png" class="img-responsive">
        </div>
        <div class="col-md-10">
          <p style="font-size: 17px;font-weight: bold">Cape Town University</p>
          <p style="font-size: 16px;font-weight: bold">Computer Science</p>
          <p> Certificate awarded to Courage Kpotosu for successfully completing the Masters in Information Technology
            program.</p>
          <div class="col-md-7" *ngIf="verified" style="position: absolute;right: 10%;top: 0px;z-index: 1000;margin-top: -5%;border: 1px solid #3c3c3c;border-top-left-radius: 25px;">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <h6><span> Verification Level: <i class="fa fa-star" aria-hidden="true"></i>  <i class="fa fa-star"
                                                                                                   aria-hidden="true"></i> <i
                    class="fa fa-star" aria-hidden="true"></i></span></h6>
                  <h6> What is this <i class="fa fa-info-circle" aria-hidden="true"></i></h6>
                </div>
                <div class="col-md-6 pull-right" align="center" >
                  <img src="../../assets/images/verifiedNew.jpg"  style="width: 80px;height: 80px" class="img-responsive">
                  <span style="font-size: 10px;margin-top: -20px"> blockchain authenticity verified</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 2%">
        <div class="col-md-2 ">
          <p style="font-size: 16px;font-weight: bold"> Keywords: </p>
        </div>
        <div class="col-md-10">
          <span class="label label-default">Computer Vision</span>
          <span class="label label-primary">Database Management</span>
          <span class="label label-success">Information Security</span>
          <span class="label label-info">Design Patterns</span>
          <!--<span class="label label-warning">CSS</span>-->
          <!--<span class="label label-danger">Danger</span>-->
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 2%">
        <div class="col-md-2 ">
          <p style="font-size: 16px;font-weight: bold"> Period: </p>
        </div>
        <div class="col-md-8">
          <p style="font-size: 16px;font-weight: bold"> Nov 2017 - May 2018 </p>
        </div>
        <div class="col-md-2">
          <p style="font-size: 16px;"> Attachments <i class="material-icons">attach_file</i></p>
        </div>
      </div>
      <!--Qualification ends here  View-->


      <!--work view-->
      <div class="col-md-12" style="margin-top: 10%">

        <div class="col-md-2">
          <img src="assets/images/orbit-all.png" class="img-responsive">
        </div>
        <div class="col-md-10">
          <div class="col-md-7" *ngIf="verified" style="position: absolute;right: 10%;top: -35px;z-index: 1000;margin-top: -5%;border: 1px solid #3c3c3c;border-top-left-radius: 25px;">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <h6><span> Verification Level: <i class="fa fa-star" aria-hidden="true"></i>  <i class="fa fa-star"
                                                                                                   aria-hidden="true"></i> <i
                    class="fa fa-star" aria-hidden="true"></i></span></h6>
                  <h6> What is this <i class="fa fa-info-circle" aria-hidden="true"></i></h6>
                </div>
                <div class="col-md-6 pull-right" align="center" >
                  <img src="../../assets/images/verifiedNew.jpg"  style="width: 80px;height: 80px" class="img-responsive">
                  <span style="font-size: 10px;margin-top: -20px"> blockchain authenticity verified</span>
                </div>
              </div>
            </div>
          </div>
          <p style="font-size: 16px;font-weight: bold">Frontend Developer</p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua.</p>

        </div>
      </div>

      <div class="col-md-12" style="margin-top: 2%">
        <div class="col-md-2 ">
          <p style="font-size: 16px;font-weight: bold"> Keywords: </p>
        </div>
        <div class="col-md-10">
          <span class="label label-default">HTML5</span>
          <span class="label label-primary">Javascript</span>
          <span class="label label-success">Angular 5</span>
          <span class="label label-info">Node.js</span>
          <span class="label label-warning">CSS</span>
          <!--<span class="label label-danger">Danger</span>-->
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 2%">
        <div class="col-md-2 ">
          <p style="font-size: 16px;font-weight: bold"> Period: </p>
        </div>
        <div class="col-md-8">
          <p style="font-size: 16px;font-weight: bold"> Nov 2017 - May 2018 </p>
        </div>
        <div class="col-md-2">
          <p style="font-size: 16px;"> Attachments <i class="material-icons">attach_file</i></p>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 2%">
        <div class="col-md-12">
          <p>
            Congratulation Dream Oval!
            You have completed the registration and you're now a basic account holder. You can now view the CV of Bobby
            Wang above. If you would like to get a verification of the authenticity of the CV above, you need to make a
            minor payment of $5. Alternatively, why don't you upgrade to our Free Trial Account for FREE to get three
            free
            verifications!</p>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 2%;margin-bottom: 5%">
        <div class="form-group">
          <div class="col-md-12" align="center">
            <button class="btn btn-primary" type="button" (click)="verifiy()"> Verify the CV $5</button> &nbsp;
            &nbsp;
            <button class="btn btn-primary" type="button" (click)="upgrade()"> Upgrade to a Free Trial Account
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
