<div class="page-auth canvas-size bg-color">
  <div class="main-body inner-canvas" style="padding: 0;padding-top: 8%;">
    <div class="card card-white">
      <div class="card-content" style="padding-top: 0%">
        <div class="row" *ngIf="!showDeclined && !declinedSuccess">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div align="center" class="col">
              <a [routerLink]="['/landingPage/home']"> <img
                src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive"
                style="width: 150px;"></a>
            </div>
            <h6 align="center" style="font-weight:bold;color:#009bbd">Professional Account Upgrade Confirmation</h6>
            <p style="margin-top: 7%;">Thank you! </p>
            <p>You have now upgraded the organisation <span class="fontBold">{{orgDetails?.organisation?.name}}</span> to a Professional account. </p>
            <p style="margin-top:2%">A confirmation email has been sent to <span class="fontBold">{{personDetails?.person?.emails[0].email}}</span></p>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingTop7per" align="center">

              <button class="btn respMtop1per cancelBtn" type="button" (click)="redirectToHome()"
                      style=" width:9rem;border:1px solid cornflowerblue">Ok
              </button>

          </div>
        </div>
        <div class="row" *ngIf="showDeclined && !declinedSuccess">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div align="center" class="col">
              <a [routerLink]="['/landingPage/home']"> <img
                src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive"
                style="width: 150px;"></a>
            </div>
            <h6 align="center" style="font-weight:bold;color:#009bbd">Professional Account Upgrade Rejection</h6>
            <p>Please state the reason why the organisation <span class="fontBold">{{orgDetails?.organisation?.name}}</span> got declined.</p>
            <textarea [ngStyle]="{ 'border' : submitted && !declineReason ? '1px solid red' : ''}" rows="5" cols="50" [(ngModel)]="declineReason" class="noResize margintop2per"></textarea>
            </div>
           <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingTop7per" align="center">
             <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
               <button class="btn respMtop1per cancelBtn" type="button" (click)="redirectToHome()"
                       style=" width:9rem;border:1px solid cornflowerblue">Cancel
               </button>
             </div>
             <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
               <button class="btn respMtop1per mainBtn" type="button" (click)="confirmStatus('rejected')"
                       style=" width:9rem;border:1px solid cornflowerblue">Decline
               </button>
             </div>
          </div>
        </div>
        <div class="row" *ngIf="declinedSuccess && !showDeclined">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div align="center" class="col">
              <a [routerLink]="['/landingPage/home']"> <img
                src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive"
                style="width: 150px;"></a>
            </div>
            <h6 align="center" style="font-weight:bold;color:#009bbd">Professional Account Upgrade Rejection</h6>
            <p class="margintop2per">You have now rejected the Professional account request from the organisation <span class="fontBold">{{orgDetails?.organisation?.name}}</span></p>
            <p style="margin-top:2%">An email has been sent to <span class="fontBold">{{personDetails?.person?.emails[0].email}}</span></p>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingTop7per" align="center">
            <button class="btn respMtop1per cancelBtn" type="button" (click)="redirectToHome()"
                    style=" width:9rem;border:1px solid cornflowerblue">Ok
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
