<div class="container-fluid" style="background: #ffffff;margin-top: -1.6%">
  <div class="row">
    <div class="col-md-12">
      <h5> My Subscriptions</h5>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th> Subscription</th>
            <th> Status</th>
            <th> Next Payment</th>
            <th> Total</th>
            <th> Actions</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>


