<div class="navbar navbar-default custmNav navbar-fixed-top hidden-xs">
  <div class="col-md-12 col-lg-12 col-sm-12 hidden-xs ">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" [routerLink]="['/landingPage/home']" class="img-responsive" width="100">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
      <!-- <div class="col-md-6"></div> -->
      <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 pull-right respMtop1per">
        <button (click)="gotoRegister()" class="btn btn-primary inner-btn" type="button">GET STARTED</button>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 pull-right respMtop1per">
        <button (click)="gotoSignIn()" class="btn btn-default inner-line-btn" type="button">SIGN IN</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid ">

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 hidden-xs m-t-1per">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
          <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" [routerLink]="['/landingPage/home']" class="img-responsive" width="100">
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
          <!-- <div class="col-md-6"></div> -->
          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 pull-right respMtop1per">
            <button (click)="gotoRegister()" class="btn btn-primary inner-btn" type="button">GET STARTED</button>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 pull-right respMtop1per">
            <button (click)="gotoSignIn()" class="btn btn-default inner-line-btn" type="button">SIGN IN</button>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 m-t-1per">
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
            <!-- Breadcumbs -->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/landingPage/home']">
                  <i class="fa fa-home" aria-hidden="true" style="color:#009bbd; font-size:20px;"></i>
                </a>
              </li>
              <li class="breadcrumb-item active">FAQ</li>
            </ol>
            <!-- Breadcumbs -->
          </div>
        </div>
      </div>
      <div align="right" class=" hidden-md hidden-lg hidden-sm col-xs-12  m-t-1per">
        <div class="col-xs-9">
          <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive" width="100">
        </div>
        <div class="col-xs-3">
          <button class="pull-right m-t-1per" md-icon-button [mdMenuTriggerFor]="actionMenu">
            <i class="fa fa-bars" style="font-size:18px;" aria-hidden="true"></i>
          </button>
          <md-menu #actionMenu="mdMenu" class="table-dropdown-area">
            <button (click)="gotoSignIn()" class="btn-style-menu" md-menu-item>
              <span class="icon-txt">SIGN IN</span>
            </button>
            <button (click)="gotoRegister()" class="btn-style-menu" md-menu-item>
              <span class="icon-txt">Get Started</span>
            </button>
          </md-menu>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid marginTop3per">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <ol>
          <li class="m-t-1per">
            <p>I would like to become a user and start on-boarding and endorsing. How do I do this?</p>
            You can on-board by either logging in via your LinkedIn account or filling in the basic information form. Once the registration
            process is done, you can log in and start endorsing personal claims.
          </li>
          <li class="m-t-1per">
            <p>I lost/forgot my password. What can I do?</p>
            Click on the reset password link on the login page and check your email for a link to create a new password.
          </li>
          <li class="m-t-1per">
            <p>I am having trouble accessing my account, what should I do?</p>
            Contact support at
            <a class="blueLine" href="mailto:support@soulstice.co.za">support@soulstice.co.za</a>
          </li>
          <li class="m-t-1per">
            <p>I want to access more benefits, how do I upgrade my account?</p>
            Log in and then update your personal details as well as your organisation details in order to upgrade your account.
          </li>
          <li class="m-t-1per">
            <p>I did not receive the OTP, how can I get it again?</p>
            Remain on the OTP screen and click the “resend OTP” tab on the OTP Screen
          </li>
          <li class="m-t-1per">
            <p>I would like to endorse work claims. How soon will I be able to do this?</p>
            You can start endorsing claims as soon as you on-board on a trial account
          </li>
          <li class="m-t-1per">
            <p>How long does the verification take?</p>
            The verification takes a couple of minutes, the information is validated through block chain.
          </li>
          <li class="m-t-1per">
            <p>When I am fully validated?</p>
            You are fully validated once you update your personal and organisation details.
          </li>
          <li class="m-t-1per">
            <p>I am a basic user, when will I start paying and what will I be paying for?</p>
            You will not be charged for the standard features, and can use them for as long as you need them. If you want to access more
            features, you can upgrade to the Premium/Enterprise package. Please click
            <a class="blueLine" style="color:blue" [routerLink]="['/landingPage/plans']"> here </a> to see the plans
          </li>
          <li class="m-t-1per">
            <p>How do I issue a certificate?</p>
            To start issuing, you firstly need to upgrade your account and be fully validated
            <ol>
              <li>Click on your inbox tab</li>
              <li>View the request</li>
              <li>Issue certificate</li>
            </ol>
          </li>
          <li class="m-t-1per">
            <p>How do I send a request to an unregistered organisation?</p>
            Firstly search for the organisation on the search screen, if the organisation is not found a form will appear for you to
            enter the organisation’s email address, and then send the request from there onwards.
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid connect margintop2per" id="connectFooter" style="padding-bottom: 2%;color:#fff">
  <div class="row" style="margin-top: 2%;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <p style="font-size: 17px">Let's build products, solve problems and enable growth. Cobuild and Coideate with Fliptin</p>
        <p style="font-size: 17px">We leverage our market proximity and multicultural resources through existing operations in Africa, Asia and the
          Middle East.</p>

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-11  col-xs-12 col-sm-12 col-xs-12" style="margin-top: 5%;margin-bottom: 4%" align="center">
            <div class="col-md-2  col-sm-2  col-xs-3">
              <a href="mailto:connect@fliptin.com" id="connect">
                <img class="img-responsive" src="assets/images/landingPage/icon/message.png">
              </a>
            </div>
            <div class="col-md-2  col-sm-2  col-xs-3">
              <a href="https://www.linkedin.com/company/fliptin" id="linkedin" style="color: #000000;" target="_blank" title="FlipTin Linkedin">
                <img class="img-responsive" src="assets/images/landingPage/icon/linked_in.png">
              </a>
            </div>
            <div class="col-md-2  col-sm-2  col-xs-3">
              <a href="https://www.facebook.com/fliptin" id="fb" style="color: #000000;" target="_blank" title="FlipTin Facebook">
                <img class="img-responsive fbImg" src="assets/images/landingPage/icon/fb.png">
              </a>
            </div>
            <div class="col-md-2  col-sm-2  col-xs-3">
              <a href="https://twitter.com/FliptinTech" id="twitter" style="color: #000000;" target="_blank" title="FlipTin Twitter">
                <img class="img-responsive" src="assets/images/landingPage/icon/twitter.png">
              </a>
            </div>
            <div class="col-md-2 col-sm-2  col-xs-3">
              <!--<a href="" style="color: #000000;" target="_blank"
                                                          title="FlipTin Signup"><img
                ng-click="getMypopup($event)" class="img-responsive" src="assets/images/landingPage/icon/edit_iocn_2.png"></a>-->
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="margin-left: 6%;">
        <a class="twitter-timeline" style="color:#fff" data-height="193" data href="https://twitter.com/FliptinTech">Tweets by FliptinTech
        </a>
        <a href="https://twitter.com/FliptinTech" target="_blank">
          <img src="assets/images/landingPage/tweetPic.PNG" class="img-responsive"> </a>
        <!-- <script async src="../../../vendors/twitterwidgets.js" charset="utf-8"></script>-->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="connectNew" style="background-color: #000;color: #ffffff;padding-top: 10px;padding-bottom: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="">
            <h4>
              <b>Fliptin Technologies LLC</b>
            </h4>
            <p>9th Floor, Conrad Hotel,
              <br> Sheikh Zayed Road,
              <br> Dubai, UAE</p>
            <p>
              <strong>Tel:</strong> +971(0) 4 501 3554</p>
            <div class="fusion-clearfix"></div>
          </div>
          <div class="row hidden-sm hidden-md hidden-lg">
            <hr>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="">
            <h4>
              <b>Fliptin India</b>
            </h4>
            <p>The Platina, A-703, 136/3,
              <br> Gachibowli, Near Radisson hotel,
              <br>Hyderabad 500032, INDIA</p>
            <p>
              <strong>Tel:</strong> +91 (0)40 67451308</p>
            <div class="fusion-clearfix">

            </div>
          </div>
          <div class="row hidden-sm hidden-md hidden-lg">
            <hr>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="">
            <h4>
              <b>Fliptin South Africa </b>
            </h4>
            <p>4th floor Rosebank Corner,
              <br> 191 Jan Smuts Avenue Rosebank
              <br> 2193, Johannesburg, South Africa</p>
            <p>
              <strong>Tel:</strong> +27 (0)10 590 3040</p>
            <div class="fusion-clearfix"></div>

          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="">
            <h4>
              <b>Fliptin USA </b>
            </h4>
            <p>c/o DigiTrack, Suite 210-A
              <br> 300 Delaware Avenue
              <br> Wilmington, DE 19801</p>
            <p>
              <strong>Tel:</strong> +1 650 275 3280 </p>
            <div class="fusion-clearfix"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bgFtr">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-5">
        <nav class="">
          <h6 class="noMarginTop noMarginBottom colorWhite">
            <i class="fa fa-comments" aria-hidden="true"></i>
            <b>
              Need help?</b> Contact us now </h6>
        </nav>
      </div>
      <div class="col-lg-5 col-md-5 footerNav col-xs-12 col-sm-7 pull-right">
        <a class="customHyper colorWhite">Terms and conditions </a> |
        <a class="customHyper colorWhite">&#169; 2017 </a> |
        <a class="customHyper colorWhite">All rights are reserved by Fliptin</a>
      </div>
    </div>
  </div>
</div>
