.profile-custom-bg {
  background-color: #fff;
  height: auto;

}

.profile-img {
  width: 100px;
  height: 100px;
  display: inline-block;
  line-height: 100px;
  border-radius: 50%;
}

.profile-username-margin {
  margin: 2vh 0 1vh 0;
}

.profile-username {
  font-size: 14px;
  text-transform: capitalize;
}

.pLeft15px {
  padding-left: 10px !important;
}

.custom-my-account {
  color: #009bbd;
  padding: 2vh 0;
  font-size: 14px;
}

.custom-my-account:hover {
  color: #000;
  background-color: #fcfcfc;
  cursor: pointer;
}

.custom-signout {
  padding-left: 0vh;
  padding-right: 0vh;
  color: #d40000;
  padding-bottom: 2vh;
  font-size: 12px;
  text-align: right;
}

.custom-organization-text {
  font-size: 11px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.manage-icon {
  font-size: 11px;
  color: #3461d4;
}

.custom-manage-text {
  font-size: 11px;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #3461d4
}

.sideIconFont {
  font-size: 15px;
}

.profile-pd {
  padding-top: 20px;
}

.closeSize {
  color: #008fc1;
}

.custom-organization-detail-bg {
  background-color: #3461d4;
}

.customCard {
  background: #ffffff;
  border-radius: 4px;
  margin-top: 5%;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 1px solid #dee2e6
}

.custom-organization-detail {
  color: #ffffff;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.check-icon {
  font-size: 11px;
  color: #389944;
}

.custom-header-icon {
  background-color: transparent;
  border: 0px;
  outline: none;
  vertical-align: middle;
  margin-top: 8px;
  font-size: 20px;
  min-width: 45px;
}

.notification-title {
  font-size: 14px;
  padding: 15px 20px;
  background-color: #f8f9fa;
  color: #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.rotate {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden;
}

.rotate:hover {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.swing:hover {
  animation: swing ease-in-out .5s infinite alternate;
  transform-origin: center -20px;

}

.loading:hover {
  -webkit-animation: rotation 2s linear;

}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(160deg);
  }
}

.boxShadow {
  box-shadow: -2px 5px 10px 1px rgba(0, 0, 0, .176);
}

.indicator {
  transform: rotate(225deg);
  top: 52px;
  right: 142px;
  height: 11px !important;
  width: 10px !important;
  position: absolute;
  color: #F3F8FE
}

.mat-menu-panel {
  margin-top: 50px !important;
  min-width: 350px !important;
  max-width: 350px !important;
}

.md-button .noBgHover:hover {
  background-color: #fff !important;
}

.custom-header-btn {
  background-color: transparent;
  border: 0px;
  padding-top: 0%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 0%;
  width: 80px;
}

.mTop1per {
  margin-top: 1% !important;
}

.mTop5per {
  margin-top: 5% !important;
}

.btnClass {
  border-radius: 30px;
  border: 1px solid #aaa;
  min-width: 50px;
  background-color: transparent;
}

.btnClass:active {
  color: white;
  border-radius: 30px;
  border: 1px solid #aaa;
  min-width: 50px;
  background-color: grey;
}

.btnClass:hover {
  color: white;
  border-radius: 30px;
  border: 1px solid #aaa;
  min-width: 50px;
  background-color: grey;
}

.alignbutton {
  padding: 2%;
  text-align: center
}

.notify {
  padding: 3%;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.close-br {
  border-bottom: 1px solid #dee2e6;
  padding: 10px;
}

.profile-bdr {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.bdr-right {
  border-right: 1px solid #e4e4e4;
}

.acc-hr {
  border-top: 1px solid #e4e4e4;
  padding-top: 1vh;
}
.org-name{
  font-size: 12px;
  color:#8c8c8c;
  text-transform: uppercase;
}
.orgName-title{
  font-size: 12px;
  color: #a7a7a7;
}
/* Loading Css */
.load-bar {
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #009bbd;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #f37120;
  animation: loading 3s linear 1s infinite;
}
@keyframes loading {
  from {left: 0; width: 0;z-index:100;}
  33.3333% {left: 0; width: 100%;z-index: 10;}
  to {left: 0; width: 100%;}
}
.welcome-user{
  margin-left: 12%;
  padding-top: 0;
  margin-top: -10px;
  font-size: 15px !important;
  text-transform: capitalize;
}
@media screen and (max-width: 1024px) {
  .welcome-user{
    margin-left: 17%;
  }

}
