<section class="app-header">

<!--  <div class="container-fluid" style="position: fixed;top: 0px;left: 0px;width: 100%">
      <div class="row" align="center">
        <h6 style="color: #FFFFFF"> Professional Account <span> <i class="fa fa-star" aria-hidden="true"></i> <i
          class="fa fa-star" aria-hidden="true"></i> </span></h6>
        <button  class="btn btn-secondary-color cancelBtnNEw" type="button">Cancel</button>
      </div>
    </div>-->

  <!-- Loader Starts-->
  <!--<div class="load-bar">
    <div class="bar"></div>
    <div class="bar"></div>
    </div>-->
  <!-- Loader Ends -->
  <div class="app-header-inner" [ngClass]="{'bg-color-light': ['11','12','13','14','15','16','21'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-dark': AppConfig.colorOption === '31',
                 'bg-color-primary': ['22','32'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-success': ['23','33'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-info': ['24','34'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-warning': ['25','35'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-danger': ['26','36'].indexOf(AppConfig.colorOption) >= 0}">
    <div class="hidden-lg-up float-left">
      <button md-button myToggleOffcanvasNav class="md-button header-icon toggle-sidebar-btn">
        <i class="material-icons">menu</i>
      </button>
    </div>
    <div class="brand hidden-md-down">
      <!--<h2><a [routerLink]="['/']">{{AppConfig.brand}}</a></h2>-->
    </div>
    <div class="top-nav-left welcome-user">

      <h5 style="color: #FFFFFF"> Welcome to {{organisationResponse?.organisation?.organisationName | titlecase}} !</h5>

    </div>
    <!--    <ul class="list-unstyled" >
          <li class="list-inline-item" style="margin-top: -10px;margin-left: -20%">
            <h6 style="color: #FFFFFF"> Professional Account <span> <i class="fa fa-star" aria-hidden="true"></i> <i
              class="fa fa-star" aria-hidden="true"></i> </span></h6>

          </li>
          <li class="list-inline-item">
            <button  class="btn btn-secondary-color cancelBtnNEw" type="button">Cancel</button>
          </li>
        </ul>-->

    <div class="top-nav-right">
      <ul class="list-unstyled float-right">

        <!--  <li class="list-inline-item">
          {{profilepic}}
        </li>-->
        <!--     <li class="list-inline-item">
               <button class="custom-header-icon swing pt-2" [mdMenuTriggerFor]="notification"
                       (click)="selecttab('notification')" style="cursor: pointer">
                 <i class="icon-bell-1"></i>
               </button>
               <md-menu #notification="mdMenu" x-position="after" y-position="below" overlapTrigger="false"
                        class="custom-menu-content user-profile">
                 <div style="height: calc(85vh - 64px);width: 350px;background-color: white;">
                   <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background-color: #f8f9fa;">
                     <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 notification-title">
                       <span> Notifications</span>
                     </div>
                     <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 notification-title" style="text-align:center;">
                       <span style="color:cornflowerblue"> Settings</span>
                     </div>
                     <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 notification-title">
                       <i class="material-icons" style="font-size:15px !important">close</i>
                     </div>
                   </div>
                   <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 alignbutton"
                        style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;">
                     <button class="btn btnClass">All</button>
                     <button class="btn btnClass">Approvals</button>
                   </div>
                   <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 notify">
                     <span>No new notifications</span>

                   </div>

                 </div>
               </md-menu>
             </li>-->
        <li>
          <button class="md-button header-btn custom-header-btn noBgHover pt-1" [mdMenuTriggerFor]="profileSection">
            <img *ngIf='loginResponse?.person?.pictureUri' [src]="loginResponse?.person?.pictureUri" alt=""
                 class="rounded img30_30">
            <img *ngIf='!loginResponse?.person?.pictureUri' src="assets/images/g1.jpg" alt="" class="rounded img30_30">
            <i class="material-icons" style="color:#ffffff;font-size:16px;">keyboard_arrow_down</i>
          </button>
          <md-menu #profileSection="mdMenu" x-position="after" y-position="below" overlapTrigger="false"
                   class="custom-menu-content user-profile">
            <div style="height: calc(100vh - 64px);width: 350px;background-color: #fff;">
              <div class="text-right profile-custom-bg pointer close-br">
                <i class="fa fa-times closeSize"></i>
              </div>
              <div class="text-center profile-custom-bg profile-pd">
                <img *ngIf='loginResponse?.person?.pictureUri' [src]="loginResponse?.person?.pictureUri"
                     class="profile-img">
                <img *ngIf='!loginResponse?.person?.pictureUri' src="assets/images/g1.jpg" alt="" class="profile-img">
              </div>
              <div class="row no-padding no-margin profile-custom-bg">
                <div class="col-md-12 text-center profile-username-margin">
                  <strong class="profile-username">{{loginResponse?.person?.firstName}} {{' '}}
                    {{loginResponse?.person?.lastName}}</strong>
                </div>
              </div>
              <div class="row no-padding no-margin profile-custom-bg ">
                <div class="col-md-12 text-center">
                  <span class="small">Username:&nbsp;&nbsp;{{loginResponse?.person?.emails[0]?.email}}</span>
                </div>
              </div>
              <div class="row no-padding no-margin profile-custom-bg ">
                <div class="col-md-12 text-center">
                  <span class="orgName-title">Organisation :</span> <span class="org-name"> {{organisationResponse?.organisation?.organisationName}}</span>
                </div>
              </div>
              <div class=" col-md-12 no-padding no-margin profile-custom-bg mTop1per text-center profile-bdr">
                <div class="col-md-6  custom-my-account pLeft15px hoverStyle bdr-right" (click)="myAcc()">
                  <span class="cursorPointer">
                    <i class="fa fa-user sideIconFont" aria-hidden="true"></i>&nbsp; My Account </span>
                </div>
                <div class="col-md-6 custom-my-account pLeft15px hoverStyle" (click)="logout()">
                  <span class="cursorPointer">
                    <i class="fa fa-sign-out sideIconFont" aria-hidden="true"></i>&nbsp; Logout</span>
                </div>
              </div>

              <div class=" no-padding no-margin profile-custom-bg" align="center">
                <div class="col-md-10 col-md-offset-1 customCard">
                  <p style="font-size: 16px;padding-top: 5%"> Your profile completeness</p>
                  <p>
                    <span *ngIf="organisationResponse?.organisation?.accountLevel==1">
                      <i style="font-size: 21px" class="fa fa-star selectStar" aria-hidden="true"></i>
                      <i style="font-size: 21px;padding-left: 10px;" class="fa fa-star-o oStar" aria-hidden="true"></i>
                      <i style="font-size: 21px;padding-left: 10px;" class="fa fa-star-o oStar" aria-hidden="true"></i>
                    </span>
                    <span *ngIf="organisationResponse?.organisation?.accountLevel==2">
                      <i style="font-size: 21px" class="fa fa-star selectStar" aria-hidden="true"></i>
                      <i style="font-size: 21px;padding-left: 10px;" class="fa fa-star selectStar"
                         aria-hidden="true"></i>
                      <i style="font-size: 21px;padding-left: 10px;" class="fa fa-star-o oStar" aria-hidden="true"></i>
                    </span>
                    <span *ngIf="organisationResponse?.organisation?.accountLevel==3">
                      <i style="font-size: 21px" class="fa fa-star selectStar" aria-hidden="true"></i>
                      <i style="font-size: 21px;padding-left: 10px;" class="fa fa-star selectStar"
                         aria-hidden="true"></i>
                      <i style="font-size: 21px;padding-left: 10px;" class="fa fa-star selectStar"
                         aria-hidden="true"></i>
                    </span>
                  </p>
                </div>
              </div>
              <div class=" no-padding no-margin profile-custom-bg" align="center">
                <div class="col-md-10 col-md-offset-1 customCard">
                  <p style="font-size: 15px;padding-top: 2% "> You are in
                    <br>
                    <span style="font-size: 13px;color: #838383"> {{organisationResponse?.organisation?.stripePlanName}} Account </span>
                  </p>

                  <div class="row acc-hr">
                    <div class="col-md-12 ">
                      <!-- <div class="col-md-5">
                        <p style=" border: 1px solid #cccccc;background: #e1efff;border-radius: 200px;padding: 15%"> 20
                          <br>

                          <span style="font-size: 12px"> Credits </span>
                        </p>
                      </div> -->
                      <button class="btn btn-primary " type="button" (click)="mySubs()"> Upgrade now</button>

                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row no-padding no-margin profile-custom-bg" align="center">
                <div class="col-md-6 col-md-offset-3">
                  <div class="row">
                    <button class="btn btn-danger btn-block" type="button" (click)="logout()"> Sign Out</button>
                  </div>
                </div>
              </div> -->
            </div>
          </md-menu>
        </li>
      </ul>
    </div>

  </div>

  <!--header navigations-->
  <!-- <div *ngIf="selectedTab=='notification'" class="col-md-4 boxShadow" style="position: absolute;width: 400px; height: 100vh;right: 0px; background: #fff">
     <div class="row" style="background: #F3F8FE">
     <div class="col-md-12">
       <div class="row">
     <div class="col-md-10"> <h5>Notifications </h5> </div>
       <div (click)="close()" class="col-md-2" style="padding-top: 5%;cursor: pointer" align="center"><i class="material-icons">clear</i></div>
       </div>
     </div>
     </div>
     <div class="row" style="padding: 2%;border-bottom: 1px solid #cccccc" align="left" >
     <div class="col-md-2" align="left ">
       <img  style="width: 30px;" src="https://d1d6j1bcrb6yke.cloudfront.net/zinventory/assets/images/notification-empty-87854534711783cacae32d5c4b462f39.png">
     </div>
       <div class="col-md-10" align="left ">
         <p> Uhh.. There are no notifications at this moment </p>
       </div>
     </div>
   </div>-->


</section>
