h1, h2, h3, h4, h5, h6 {
    color:#008fc1;
    font-family: 'Open Sans', sans-serif !important;
  }
  .iconstyle{
    font-size:18px;
    color:#008fc1;
    cursor:pointer;

  }
  .smallPadding{
      padding-top: 1%
    }
    .zeroPadding{
      padding: 0px
    }
    .marginTop{
      margin-top: 2%;
    }

    .customHW{
      width: 20px;height: 20px
    }
    .mdl-data-table tbody tr:focus {
      background-color: #fffced;
    }
    .table tr.active td {
      background-color:#123456 !important;
      color: white;
    }
    .custom-button {
      background-color: transparent;
      border: 1px solid #c7c7c7;
      border-radius: 0rem;
      margin-right: .7rem;
    }
    .custom-table-icon{
      background-color: transparent;
      border: 0px;
      outline: none;
      vertical-align: middle;
      margin-top: 8px;
      font-size: 20px;
      min-width: 45px;
    }
    .customize-material-icons {
      font-size: 20px;
      color:#757575;
    }
    .custom-table-heading {
      background-color:  #f7f7f7;
      font-size: 12px !important;
      text-transform: uppercase;
      border-top: 1px solid #e0e0e0;
    }
    .mdl-data-table {
      font-size: 12px !important;
    }
    .mdl-data-table th {
      font-size: 12px !important;
      font-weight: 600 !important;
    }
    .mdl-data-table td {

      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      box-sizing: border-box;
    }
    .btn-default {
      border: 1px solid transparent;
      border-radius: 3px;
      color: #333;
      background-color: #fff;
      border-color: #ddd;
      box-shadow: none;
    }
    .btn-defaultnew{
      border: 1px solid transparent;
      border-radius: 3px;
      color: #333;
      background-color: #fff;
      border-color: #ddd;
      box-shadow: none;

    }
    .borderBottom{
      border-bottom: 1px solid #dbdbdb;
    }
    .paddingbottom1per{
      padding-bottom: 1% !important;
    }
    .paddingLeft30{
      padding-left: 30px !important;
    }

    .margintop2per{
      margin-top: 2% !important;
    }
    .margintop1per{
      margin-top: 1%;
    }
    .alignCenter{
      text-align:center;
    }
    .labelBlock {
      display: block;
    }
    .mTop2Rem{
      margin-top:2rem;
    }
    .pHeadStyle{
      background-color:#eee;
      padding-bottom: 1%;
      border-bottom: 1px solid #eee;
      margin-top: 0%;
      padding-top: 1%;
    }


    .headClass{
      background-color:#fcfcfc;
      border-top:0px;
      padding:1%;
    }
    .headClass1{
      background-color:#fefefe;
      border-top:0px;
      padding:1%;

    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      padding: 5px !important;
      border-bottom: 1px solid #dcdcdc !important;
      font-size: 13px !important;
  }

  .dropdown:hover .dropdown-content {
      padding: 5px !important;
      border-bottom: 1px solid #dcdcdc !important;
      font-size: 13px !important;
      display: block;
  }

    .headClass:hover, .headClass1:hover {
      background-color:#f9f9f9;
    }
    .dropdown-menu{
      padding: 0;
    }
    .custom-dropdown-area{
      //width: 3rem;
      border-bottom: 1px solid #dcdcdc !important;
      font-size: 13px !important;
    }
    .mat-menu-panel.custom-dropdown-area{
      margin-top: 45%;
      margin-left: 40%;
      min-width: 105px !important;
      width:105px !important;
    }
    .custom-dropdown-area ul {
      padding: 0;
      margin-bottom: 0;
    }
    .custom-dropdown-area ul li {

      border-bottom: 1px solid #dcdcdc !important;
      font-size: 13px !important;
    }
    .custom-dropdown-area ul li:last-child {
      padding: 5px !important;
      border-bottom: 0px solid #dcdcdc !important;
      font-size: 13px !important;
    }
    .custom-dropdown-area ul li:hover {
      padding: 5px;
      background-color: #f9f9f9;
      font-size: 13px;
    }
    /*.custom-input-width{
      width: 100%;
    }*/
    .custom-tab-view{
      border-bottom: 1px solid #dcdcdc;
      padding: 1% 0 1% 0;
      margin: 0;
    }
    .content-tab-view{
      padding: 0;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .5rem .75rem;
        width: 4rem;
        font-size: 1rem;
        line-height: 1.25;
        border-radius: .2rem;
        transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .height28px {
      height: 28px !important;
  }

  .btnStylee {
    border: 1px solid #dbdbdb !important;
    border-radius: 0rem !important;
    margin-right: .7rem !important;
    color: #212121 !important;
    cursor: pointer !important;
    background-color: #ececec66 !important;
    padding: 0.1rem 0rem 0.2rem !important;
    font-size: 13px !important;
}

.tableHeading, .tableData{
  padding: 1% !important;
  width: 0px !important;
}

.noMarginBottom{
  margin-bottom: 0% !important;
}

.text-styling{
  color: #009bbd;
}
.icon-txt{
  padding-left: 10px;
  font-size: 15px;
  color: #9e9e9e;
}
.icon-color{
  color: #9e9e9e;
  font-size: 15px !important;
  vertical-align: middle;
}
.mat-icon-button{
  height: 25px;
  width:25px;
  line-height: 25px;
}
.middle-align{
  display: flex;
  align-items: center;
}
