<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">

  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item active">All Claims</li>
  </ol>
  <!-- Breadcumbs -->

  <article class="article">
    <div class="box box-default">
      <div class="box-body" style="padding:0px;">
        <div class="row borderBottom" style="margin-right: 0px;margin-left: 0px; ">
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
            <h5 class="lHeightStyle">All Claims</h5>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4 padding6px">
            <div class="input-group input-sm pull-center" data-toggle="dropdown" data-hover="dropdown"
                 style="height: 38px;">
              <span class="input-group-addon" data-toggle="dropdown" [mdMenuTriggerFor]="menu" data-hover="dropdown"
                    style="cursor: pointer;  width:3.2rem "
                    id="basic-addon1">
                <i class=" dropdown material-icons" style="font-size:20px">search</i>
                <i class=" dropdown material-icons m-l-minus5px" style="transform: rotate(270deg); font-size:15px;">chevron_left</i>
              </span>
              <input type="text" class="form-control input-sm fontsize13px" [(ngModel)]="searchValue"
                     placeholder="{{placeholdervalue }}"
                     aria-describedby="basic-addon1"
                     style=" border-radius: 3px;border-top-left-radius: 0;border-bottom-left-radius: 0;height: 2rem;"
                     (keyup)="getSearchResult()">
              <md-menu #menu="mdMenu" class="custom-width">
                <button md-menu-item class="searchItem" disabled>Search By</button>
                <button md-menu-item class="searchItem" (click)="selectedSearch('Name')" *ngIf="status != 'DECLINED'">Requestor</button>
                <button md-menu-item class="searchItem" (click)="selectedSearch('Name')" *ngIf="status == 'DECLINED'">Requestor</button>
                <button md-menu-item class="searchItem" (click)="selectedSearch('Type of claim')"
                        *ngIf="selectedClaimType=='All'">Type of claim
                </button>
                <button md-menu-item class="searchItem" (click)="selectedSearch('Name of claim')" *ngIf="status != 'DECLINED'">Claim type
                </button>
                <!-- <button md-menu-item class="searchItem" (click)="selectedSearch('Status')" *ngIf="selectedClaimType=='All'">Status
                 </button>-->
<!--
                <button md-menu-item class="searchItem" (click)="selectedSearch('Claim status')"
                        *ngIf="inoutboxType=='OUTBOX'">Claim Status
                </button>
-->
              </md-menu>
            </div>
          </div>

        </div>
        <div class="row marginZero">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 padding1Per">
              <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize"
                      (change)="recordsPerPage()">
                <option value="10" selected> 10 Records per page</option>
                <option value="20"> 20 Records per page</option>
                <option value="40"> 40 Records per page</option>
                <option value="60"> 60 Records per page</option>
                <option value="80"> 80 Records per page</option>
                <option value="100"> 100 Records per page</option>
              </select>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-4 padding1Per" >
              <select *ngIf="status != 'DECLINED'" class="selectBoxStyles fontsize13px height28px" placeholder="Select" disableRipple
                      [(ngModel)]="filterData" (change)="getFilter(filterData)">
                <option value="ALL">All</option>
                <option value="ENDORSEMENT">Endorsement</option>
                <option value="WORK_ATTESTATION">Work Attestation</option>
                <option value="QUALIFICATION_CERTIFICATE">Qualification Certificate</option>
                <option value="ATTENDANCE_LETTER">Attendance Letter</option>
                <option value="PROOF_OF_INTERNSHIP">Proof of Internship</option>
                <option value="LICENSE_CERTIFICATE">License Certificate</option>
                <option value="REFERENCE_LETTER">Reference Letter</option>
              </select>
              <label *ngIf="status == 'DECLINED'">Claim Type &nbsp;&nbsp;:&nbsp;&nbsp;</label>
              <select *ngIf="status == 'DECLINED'" (change)="getFilter(claimType)" class="selectBoxStyles fontsize13px height28px" placeholder="Claim Type" disableRipple
                      [(ngModel)]="claimType">
                <!-- <option value="CLAIM_TYPE">Claim Type</option> -->
                <option value="ALL">All</option>
                <option value="CHARACTER">Character Claim</option>
                <option value="COURSE">Course  Claim</option>
                <option value="SKILLS">Skill  Claim</option>
                <option value="WORK">Work  Claim</option>
              </select>
            </div>
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2 padding1Per">
              <div class="row">
                <span (click)="prevPage()" style="cursor: pointer">
                  <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                </span>
                <span> {{firstItem}}
                  <span style="color: #cccccc"> to</span> {{lastItem}}</span>
                <span (click)="nextPage()" style="cursor: pointer;">
                  <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="box box-default table-box table-responsive table-sm mdl-shadow--2dp noMarginBottom">
          <table class="mdl-data-table borderZero">
            <thead>
            <tr class="custom-table-heading borderZero">
              <!--<th class="mdl-data-table__cell&#45;&#45;non-numeric ">
                <i class="fa fa-square-o unckeck-box" aria-hidden="true"></i>
              </th>-->
              <th class="mdl-data-table__cell--non-numeric cursorPointer" (click)="sortingNameClaim('requester_name')">
                Requestor
                <i *ngIf="!nameSort" class="fa fa-sort" aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'requester_name' && sortingOrder == '')" class="fa fa-sort"
                   aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'requester_name' && sortingOrder == 'ASC')" class="fa fa-sort-asc"
                   aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'requester_name' && sortingOrder == 'DESC')" class="fa fa-sort-desc"
                   aria-hidden="true"></i>
              </th>
              <th class="mdl-data-table__cell--non-numeric cursorPointer" *ngIf="status != 'DECLINED'">Claim Type</th>
              <th class="mdl-data-table__cell--non-numeric cursorPointer" *ngIf="status == 'DECLINED'">Claim Type</th>
              <th class="mdl-data-table__cell--non-numeric cursorPointer" *ngIf="status != 'DECLINED'"> Certificate Type</th>
<!--
              <th class="mdl-data-table__cell&#45;&#45;non-numeric cursorPointer" (click)="sortingNameClaim('claim_type')"
                  *ngIf="selectedClaimType=='All'"> Type
                <i *ngIf="!claimTypeSort" class="fa fa-sort" aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'claim_type' && sortingOrder == '')" class="fa fa-sort"
                   aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'claim_type' && sortingOrder == 'ASC')" class="fa fa-sort-asc"
                   aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'claim_type' && sortingOrder == 'DESC')" class="fa fa-sort-desc"
                   aria-hidden="true"></i>
              </th>
-->
<!--
              <th class="mdl-data-table__cell&#45;&#45;non-numeric cursorPointer" (click)="sortingNameClaim('heading')" *ngIf="status != 'DECLINED'"> Subject
                <i *ngIf="!claimNameSort" class="fa fa-sort" aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'heading' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'heading' && sortingOrder == 'ASC')" class="fa fa-sort-asc"
                   aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'heading' && sortingOrder == 'DESC')" class="fa fa-sort-desc"
                   aria-hidden="true"></i>
              </th>
-->
              <!-- <th class="mdl-data-table__cell&#45;&#45;non-numeric cursorPointer"> Status</th>
               <th class="mdl-data-table__cell&#45;&#45;non-numeric cursorPointer" *ngIf="inoutboxType=='INBOX'"> Claim Status
               </th>-->
              <!-- <th class="mdl-data-table__cell&#45;&#45;non-numeric cursorPointer" (click)="sortingNameClaim('status')"> Status
                 <i *ngIf="!statusSort" class="fa fa-sort" aria-hidden="true"></i>
                 <i *ngIf="(sortingField== 'status' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                 <i *ngIf="(sortingField== 'status' && sortingOrder == 'ASC')" class="fa fa-sort-asc" aria-hidden="true"></i>
                 <i *ngIf="(sortingField== 'status' && sortingOrder == 'DESC')" class="fa fa-sort-desc" aria-hidden="true"></i>
               </th>-->
              <!--    <th class="mdl-data-table__cell&#45;&#45;non-numeric cursorPointer"
                      (click)="sortingNameClaim('claim_status')" *ngIf="inoutboxType=='OUTBOX'"> Claim Status
                    <i *ngIf="!claimStatusSort" class="fa fa-sort" aria-hidden="true"></i>
                    <i *ngIf="(sortingField== 'claim_status' && sortingOrder == '')" class="fa fa-sort"
                       aria-hidden="true"></i>
                    <i *ngIf="(sortingField== 'claim_status' && sortingOrder == 'ASC')" class="fa fa-sort-asc"
                       aria-hidden="true"></i>
                    <i *ngIf="(sortingField== 'claim_status' && sortingOrder == 'DESC')" class="fa fa-sort-desc"
                       aria-hidden="true"></i>
                  </th>-->
              <th class="mdl-data-table__cell--non-numeric ">Claim Date</th>
              <!--<th class="mdl-data-table__cell&#45;&#45;non-numeric " style="text-align:center;">Actions</th>-->
              <th class="mdl-data-table__cell--non-numeric " *ngIf="status === 'DECLINED'">Declined Date</th>
              <th class="mdl-data-table__cell--non-numeric " *ngIf="status === 'DECLINED'">Status</th>
            </tr>
            </thead>
            <tbody *ngFor="let personalCalims of personalClaimsList; let i=index">
            <tr style="cursor: pointer" (click)="selectRow(personalCalims,i,$event); goToView(personalCalims)">
              <!--   <td class="mdl-data-table__cell&#45;&#45;non-numeric ">
                   <i class="fa fa-square-o unckeck-box" aria-hidden="true" *ngIf="checkedIdx!=i"></i>
                   <i class="fa fa-check-square checked-box" aria-hidden="true" *ngIf="checkedIdx==i"></i>
                 </td>-->
              <td class="mdl-data-table__cell--non-numeric ">{{personalCalims?.requesterName}}</td>
              <td class="mdl-data-table__cell--non-numeric " *ngIf="status != 'DECLINED'">{{personalCalims?.claimType}}</td>
              <td class="mdl-data-table__cell--non-numeric " *ngIf="status == 'DECLINED'">{{personalCalims?.claim?.claimType}}</td>
              <td class="mdl-data-table__cell--non-numeric " *ngIf="status != 'DECLINED'">{{personalCalims?.requestType}}</td>
<!--
              <td class="mdl-data-table__cell&#45;&#45;non-numeric" *ngIf="status != 'DECLINED'">
                {{personalCalims?.claim?.heading}}
              </td>
-->
              <!-- <td class="mdl-data-table__cell&#45;&#45;non-numeric " *ngIf="inoutboxType ==='OUTBOX'">
                {{personalCalims.heading}}
              </td>-->
              <!--<td class="mdl-data-table__cell&#45;&#45;non-numeric ">{{personalCalims.status}}</td>
              <td class="mdl-data-table__cell&#45;&#45;non-numeric ">{{personalCalims.claimStatus}}</td>-->
              <td class="mdl-data-table__cell--non-numeric ">{{mm.utc(personalCalims?.claim?.claimDate).toDate() |
                date:'short'}}
              </td>
              <td class="mdl-data-table__cell--non-numeric "  *ngIf="status === 'DECLINED'">{{mm.utc(personalCalims?.respondedDate).toDate() |
                date:'short'}}</td>
              <td class="mdl-data-table__cell--non-numeric "  *ngIf="status === 'DECLINED'">{{personalCalims?.claimStatus}}</td>

              <!--   <td class="mdl-data-table__cell&#45;&#45;non-numeric " style="text-align:center;">
                     <button md-icon-button [mdMenuTriggerFor]="actionMenu">
                       <i class="material-icons">more_vert</i>
                     </button>
                     <md-menu #actionMenu="mdMenu" class="table-dropdown-area">
                       <button md-menu-item (click)="goToView(personalCalims)">
                         <i class="material-icons icon-color">
                           visibility
                         </i>
                         <span class="icon-txt">View</span>
                       </button>
                     </md-menu>
                   </td>-->
            </tr>
            </tbody>
            <tbody *ngIf="showLoader">
            <tr>
              <td colspan="8" class="noPaddingTop">
                <h6 align="center" class="fontsize13px colorBlack">
                  <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
                </h6>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="personalClaimsList?.length == 0 && !showLoader">
            <tr>
              <td colspan="8" class="noPaddingTop">
                <h6 align="center" class="fontsize13px colorBlack">
                  <img *ngIf="!showLoader" src="assets/images/empty-table.png" class="noDataImageStyles">
                  <br>Uhh.. There is no data at this moment</h6>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row marginZero">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
            <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7 " style="padding: 1%">
              <span style="font-size: 15px;">Total Count: {{totalpages}}</span>
            </div>
            <div align="right" class="col-md-3 col-lg-3 col-xs-3 col-sm-3" style="padding: 1%">
              <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize"
                      (change)="recordsPerPage()">
                <option value="10" selected> 10 Records per page</option>
                <option value="20"> 20 Records per page</option>
                <option value="40"> 40 Records per page</option>
                <option value="60"> 60 Records per page</option>
                <option value="80"> 80 Records per page</option>
                <option value="100"> 100 Records per page</option>
              </select>
            </div>
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <div class="row">
                <span (click)="prevPage()" style="cursor: pointer">
                  <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                </span>
                <span>{{firstItem}}
                  <span style="color: #cccccc"> to</span> {{lastItem}}</span>
                <span (click)="nextPage()" style="cursor: pointer;">
                  <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
