<div class="page-auth bg-color">
  <div class="main-body">
    <div align="center" class="col">
      <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive" style="width: 215px;">
    </div>
    <div class="card card-white cardStyles">
      <h5 style="color: #5ab7d7;text-align: center;">Create Password</h5>
      <div class="card-content">
        <form [formGroup]="setpassword" (ngSubmit)="goToDashboard()">
          <div class="form-group">
            <label> Password* </label>
            <input required class="form-control" formControlName="passwrd" type="password" name="password" placeholder="Password"
                   [(ngModel)]="passwordObj.password" minlength="5" [ngClass]="{ 'is-invalid': submitted && f.passwrd.errors }">
          </div>
          <!--
                    <password-strength-bar (passwordStatus)="passwordStatuss($event)" [passwordToCheck]="passwordObj.password" ></password-strength-bar>
          -->
          <div class="form-group">
            <label> Confirm password* </label>
            <input required class="form-control" formControlName="cnfrmPasswrd" type="password" name="cpassword"
                   placeholder="Confirm password " [(ngModel)]="confpassword" minlength="5" [ngClass]="{ 'is-invalid': submitted && f.cnfrmPasswrd.errors }">

            <div *ngIf="passwordObj.password !== confpassword && confpassword">
              <span style="font-size: 10px;color: #838383;"><i> Password must be same </i></span>
            </div>
          </div>
          <div class="row" *ngIf="changePasswordError">
            <div class="col-md-12" align="center">
              <p id="password-strength-text" class="errMsg">{{changePasswordError}}</p>
            </div>
          </div>
          <div class="form-group margintop2per">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <button class="btn btn-primary btn-block" type="submit">
                  Continue <img *ngIf="showLoader" src="assets/images/source.gif" class="loaderPosition">
                </button>
              </div>
            </div>
            <div>
            </div>
          </div>
          <!--    <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                  <span style="color: #f37120;cursor: pointer;font-size: 13px" [routerLink]="['/extra/forgot-password']"> Forgot password</span>
                </div>
              </div>-->
          <!--  <button (click)="dologin()" md-raised-button type="submit" color="primary" class="float-right">Login</button>-->
        </form>        <!--  <div class="additional-info">
            <a [routerLink]="['/extra/sign-up']">Create account </a>
          </div>-->
      </div>
    </div>
  </div>
</div>

