
<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">

    <!-- Breadcumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/app/dashboard']">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/app/adminSettings']">Admin</a>
      </li>
      <li class="breadcrumb-item">
        <a>Job Advertisement</a>
      </li>
      <li class="breadcrumb-item active">Job List</li>
    </ol>
    <!-- Breadcumbs -->
  
     <article class="article"> 
      <div class="box box-default">
        <div class="box-body" style="padding:0px;">
          <div class="row borderBottom marginZero">
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
              <h5 class="lHeightStyle">Job Advertised</h5>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 padding6px">
              <div class="input-group input-sm pull-center" data-toggle="dropdown" data-hover="dropdown" style="height: 38px;">
                <span class="input-group-addon" data-toggle="dropdown" [mdMenuTriggerFor]="menu" data-hover="dropdown" style="cursor: pointer;  width:3.2rem "
                  id="basic-addon1">
                  <i class=" dropdown material-icons" style="font-size:20px">search</i>
                  <i class=" dropdown material-icons m-l-minus5px" style="transform: rotate(270deg); font-size:15px;">chevron_left</i>
                </span>
                <input type="text" class="form-control input-sm fontsize13px" (keyup)="getSearchResult()" [(ngModel)]="searchValue" placeholder="{{placeholdervalue}}"
                  aria-describedby="basic-addon1" style=" border-radius: 3px;border-top-left-radius: 0;border-bottom-left-radius: 0;height: 2rem;">
                <md-menu #menu="mdMenu" class="custom-width">
                  <button md-menu-item class="searchItem" disabled>Search By</button>
                  <button md-menu-item class="searchItem" (click)="selectedSearch('jobTitle')">
                    <i *ngIf="this.placeholdervalue ==='Job Title'" class="material-icons">done</i>
                    <span *ngIf="this.placeholdervalue !='Job Title'">&nbsp;&nbsp;&nbsp;</span>
                    Job Title
                  </button>
                  <button md-menu-item class="searchItem" (click)="selectedSearch('jobType')">
                    <i *ngIf="this.placeholdervalue ==='Job Type'" class="material-icons">done</i>
                    <span *ngIf="this.placeholdervalue !='Job Type'">&nbsp;&nbsp;&nbsp;</span>
                    Job Type
                  </button>
                  <button md-menu-item class="searchItem" (click)="selectedSearch('experience')">
                    <i *ngIf="this.placeholdervalue ==='Experience'" class="material-icons">done</i>
                    <span *ngIf="this.placeholdervalue !='Experience'">&nbsp;&nbsp;&nbsp;&nbsp;</span>Experience
                  </button>
                </md-menu>
              </div>
            </div>
  
  
          </div>
  
          <div class="row marginZero">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
              <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6 padding1Per">
                <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize" (change)="recordsPerPage()">
                  <option value="10" selected> 10 Records per page</option>
                  <option value="20"> 20 Records per page</option>
                  <option value="40"> 40 Records per page</option>
                  <option value="60"> 60 Records per page</option>
                  <option value="80"> 80 Records per page</option>
                  <option value="100"> 100 Records per page</option>
                </select>
                <button type="button" class="btn btn-primary add-new-bt" (click)="postJob()"><i class="fa fa-plus" aria-hidden="true"></i> | Advertise new Job</button>
              </div>
              <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
                <div class="row">
                  <span (click)="prevPage()" style="cursor: pointer">
                    <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                  </span>
                  <span>{{firstItem}}
                    <span style="color: #cccccc"> to</span> {{lastItem}}</span>
                  <span (click)="nextPage()" style="cursor: pointer;">
                    <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="box box-default table-box table-responsive table-sm mdl-shadow--2dp noMarginBottom">
            <table class="mdl-data-table borderZero">
              <thead>
                <tr class=" borderZero">
                <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover" (click)="sortingName('job_title')">Job Title
                    <i *ngIf="!jobTitleSort" class="fa fa-sort" aria-hidden="true"></i>
                    <i *ngIf="(sortingField== 'job_title' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                    <i *ngIf="(sortingField== 'job_title' && sortingOrder == 'ASC')" class="fa fa-sort-asc" aria-hidden="true"></i>
                    <i *ngIf="(sortingField== 'job_title' && sortingOrder == 'DESC')" class="fa fa-sort-desc" aria-hidden="true"></i>
                  </th>
                  <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover" (click)="sortingName('job_type')"> Job Type
                    <i *ngIf="!jobTypeSort" class="fa fa-sort" aria-hidden="true"></i>
                    <i *ngIf="(sortingField== 'job_type' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                    <i *ngIf="(sortingField== 'job_type' && sortingOrder == 'ASC')" class="fa fa-sort-asc" aria-hidden="true"></i>
                    <i *ngIf="(sortingField== 'job_type' && sortingOrder == 'DESC')" class="fa fa-sort-desc" aria-hidden="true"></i>
                  </th>
                  <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover" (click)="sortingName('experience')">Experience
                    <i *ngIf="!experienceSort" class="fa fa-sort" aria-hidden="true"></i>
                    <i *ngIf="(sortingField== 'experience' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                    <i *ngIf="(sortingField== 'experience' && sortingOrder == 'ASC')" class="fa fa-sort-asc" aria-hidden="true"></i>
                    <i *ngIf="(sortingField== 'experience' && sortingOrder == 'DESC')" class="fa fa-sort-desc" aria-hidden="true"></i>
                  </th>
                  <th class="mdl-data-table__cell--non-numeric titleHover">Expiry Date</th>
                  <th class="mdl-data-table__cell--non-numeric titleHover">Status</th>
                  
  
                </tr>
              </thead>
              <tbody>
                <tr style="cursor: pointer" (click)="viewJob( job, i, $event);" *ngFor="let job of jobList; let i = index" >
               <td class="mdl-data-table__cell--non-numeric "> {{job?.jobTitle}}</td>
                  <td class="mdl-data-table__cell--non-numeric ">{{job?.jobType}}</td>
                  <td class="mdl-data-table__cell--non-numeric ">{{job?.experience}}</td>
                  <td class="mdl-data-table__cell--non-numeric ">{{job?.jobExpiryDate | date : 'd-MM-y'}}</td>
                  <td class="mdl-data-table__cell--non-numeric ">{{job?.status | titlecase}}</td>
                </tr>
              </tbody>
              <tbody *ngIf="showLoader">
                <tr>
                  <td colspan="6" class="noPaddingTop">
                    <h6 align="center" class="fontsize13px colorBlack">
                      <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
                    </h6>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="jobList?.length == 0 && !showLoader">
                <tr>
                  <td colspan="6" class="noPaddingTop">
                    <h6 align="center" class="fontsize13px colorBlack">
                      <img *ngIf="!showLoader" src="assets/images/empty-table.png" class="noDataImageStyles">
                      <br>Uhh.. There is no data at this moment</h6>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  
          <div class="row marginZero">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
              <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7 " style="padding: 1%">
                <span style="font-size: 15px;">Total Count: {{totalCount}}</span>
              </div>
              <div align="right" class="col-md-3 col-lg-3 col-xs-3 col-sm-3" style="padding: 1%">
                <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize" (change)="recordsPerPage()">
                  <option value="10" selected> 10 Records per page</option>
                  <option value="20"> 20 Records per page</option>
                  <option value="40"> 40 Records per page</option>
                  <option value="60"> 60 Records per page</option>
                  <option value="80"> 80 Records per page</option>
                  <option value="100"> 100 Records per page</option>
                </select>
              </div>
              <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
                <div class="row">
                  <span (click)="prevPage()" style="cursor: pointer">
                    <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                  </span>
                  <span>{{firstItem}}
                    <span style="color: #cccccc"> to</span> {{lastItem}}</span>
                  <span (click)="nextPage()" style="cursor: pointer;">
                    <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article> 
  </section>