
.add-new-bt{
    padding: 5px 15px 5px 15px;
    border: 1px solid #008fc1;
    background-color: #ffffff;
    color: #008fc1;
    font-size: 13px;
    float: right;
    }
    .add-new-bt:hover{
    background-color: #008fc1;
    color: #fff;
    }





    .titleStyle{
        color: #008fc1;
    }

    .m-t-o{
        margin-top:0px;
    }
    .m-t-2rem{
        margin-top:2rem; 
    }
    .container-fluid{
       background-color: #fff
    }
    .box {
        position: relative;
        margin-bottom: 1.5rem;
        border: 1px solid lightgrey;
        border-radius: 0.2rem;
        box-shadow:0;
    }
    .btn-top-height{
       margin-top: 7rem;    
    }

    .btn-inline{
    width: 8rem !important;
    margin-right: 1rem !important;
    background-color: #ffffff !important;
    border: 1px solid #009bbd !important;
    color: #009bbd !important;
    cursor: pointer !important;
    }


    .btn-bgColor{
    width: 8rem !important;
    border: 1px solid transparent !important;
    color: white !important;
    cursor: pointer !important;
    background-image: none !important;
    background-color: #009bbd !important;
    box-shadow: none !important;
    }
       


































