<div class="row" style="border-bottom: 1px solid #ccc">
  <div class="col-12" align="center">
    <p style="color: #008fc1;font-size: 14px">
      <b> Upgrate to a Professional Account Status !</b>
    </p>
  </div>
</div>
<div class="row" style="margin-top: 5%">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <p>Thank you! </p>
    <p>Your application from upgrade to a Professional account has been submitted. </p>
    <p>Our vetting team needs to process your details before we can grant you an upgrade. We will contact you within the next
      couple of days. </p>
    <p>An admin account has been creates for your organisation. Please follow the instructions sent to your email to activate
      your account. </p>
  </div>
</div>
<div class="row" style="border-top: 1px solid #ccc">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center" style="margin-top: 2%">
    <button class="btn btn-primary customButton" type="button" (click)="cancel()">Cancel</button>
  </div>
</div>
