<nav class="app-sidebar" myAutoCloseMobileNav
     [ngClass]="{'bg-color-light': ['31','32','33','34','35','36'].indexOf(AppConfig.colorOption) >= 0,
               'bg-color-dark': ['31','32','33','34','35','36'].indexOf(AppConfig.colorOption) < 0 }"
     (mouseenter)="hoverIn()" (mouseleave)="hoverOut()">

  <section class="sidebar-header pt-2"
           [ngClass]="{'bg-color-dark': ['11','31'].indexOf(AppConfig.colorOption) >= 0,
                   'bg-color-light': AppConfig.colorOption === '21',
                   'bg-color-primary': ['12','22','32'].indexOf(AppConfig.colorOption) >= 0,
                   'bg-color-success': ['13','23','33'].indexOf(AppConfig.colorOption) >= 0,
                   'bg-color-info': ['14','24','34'].indexOf(AppConfig.colorOption) >= 0,
                   'bg-color-warning': ['15','25','35'].indexOf(AppConfig.colorOption) >= 0,
                   'bg-color-danger': ['16','26','36'].indexOf(AppConfig.colorOption) >= 0}">
    <!-- <span class="logo-icon material-icons">view_compact</span> -->
    <a [routerLink]="['/app/dashboard']">
      <img *ngIf="!toggleCollapse" src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive" width="100">
      <img *ngIf="toggleCollapse" src="assets/images/logo/tin.png" class="tin-responsive">
    </a>
    <!--<a [routerLink]="['/']" class="brand">>{{AppConfig.brand}}</a>-->
    <a href="javascript:;" class="collapsednav-toggler" (click)="toggleCollapsedNav()">
      <i class="material-icons" *ngIf="this.AppConfig.navCollapsed">menu</i>
      <i class="material-icons" *ngIf="!this.AppConfig.navCollapsed">menu</i>
    </a>
  </section>

  <section class="sidebar-content">
    <my-app-sidenav-menu [menuCollapse]="this.AppConfig.navCollapsed" [tCollapse]="toggleCollapse"></my-app-sidenav-menu>
  </section>

  <section class="sidebar-footer">
    <ul class="nav">
      <li><a md-button aria-label="menu" target="_blank" [href]="AppConfig.productLink"><i
        class="nav-icon material-icons">help</i><span
        class="nav-text"><span>Help</span> & <span>Support</span></span></a></li>
    </ul>
  </section>
</nav>
