<div class="page-auth bg-color">
  <div class="main-body">
    <div align="center" class="col">
      <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive" style="width: 190px;">
    </div>
    <div class="card card-white" style="margin-top:7% ">
      <h5 class="no-margin"style="color: #5ab7d7;text-align: center;margin: 0%">Login with OTP </h5>
      <div class="card-content">
        <form [formGroup]="loginForm" class="form-horizontal" (ngSubmit)="login()">
          <div class="form-group">
            <label> Email* </label>
            <input type="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="loginModal.email">
            <!--<input required class="form-control" type="text" name="email" placeholder="Email" #email="ngModel" [(ngModel)]="loginModal.email"
              [ngClass]="{'red-border-class': email.touched && email.invalid}" [pattern]="aotherPattern">
            <div *ngIf="email.errors?.pattern">
              <span style="font-size: 10px;color: #838383;">
                <i> Please enter email</i>
              </span>
            </div>-->
          </div>
          <div class="form-group">
            <label> OTP Code* </label>
            <input type="password" formControlName="pwd" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }" [(ngModel)]="loginModal.password">
          </div>
          <div class="form-group margintop2per">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button class="btn btn-primary btn-block" type="button" (click)="resendOTP()">
                  Resend OTP
                  <img *ngIf="resendLoader" src="assets/images/loader2.gif" class="loaderPosition">
                </button>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button class="btn btn-primary btn-block" type="submit ">
                  Submit OTP &nbsp;
                  <img *ngIf="showLoader" src="assets/images/loader2.gif" class="loaderPosition">
                </button>
              </div>
            </div>
            <div>
            </div>
          </div>
        </form>
        <div class="additional-info">
          <a [routerLink]="['/extra/sign-up']">Create an account </a>
        </div>
      </div>
    </div>
  </div>
</div>
