<div class="container-fluid">
  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a>Outbox</a>
    </li>
    <li class="breadcrumb-item">
      <a>Certificates</a>
    </li>
    <li class="breadcrumb-item">
      <a> {{certificateType | titlecase}} Certificates</a>
    </li>
    <li class="breadcrumb-item active">View Certificates</li>
  </ol>
  <!-- Breadcumbs -->
  <div class="box box-default">
    <div class="box-body">
      <div class="col-md-12">

      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 col-md-offset-3" *ngIf="getCertificateDetailsResponse">
        <!--//work attestaion  div start Here-->
        <div class="row" *ngIf="!getCertificateDetail?.customTemplateUrl">
          <div class="row"
               *ngIf="(getCertificateDetail?.certificateType  !== 'QUALIFICATION_CERTIFICATE' &&  getCertificateDetail?.certificateType !== 'LICENSE_CERTIFICATE') && ( getCertificateDetail?.template !== 'ATTENDANCELETTER_TEMP') ">
            <app-work-template [revoked]="getCertificateDetail?.isValid" [hero]="getCertificateDetailsResponse"
                               [htmlContent]="getCertificateDetail?.certificateHtml"
                               [className]="''"></app-work-template>
          </div>
          <!--//work attestaion  div ends Here-->
          <div class="row" style="margin-top: 2%; margin-bottom:2%;"
               *ngIf="getCertificateDetail?.certificateType === 'QUALIFICATION_CERTIFICATE' ||  getCertificateDetail?.certificateType === 'LICENSE_CERTIFICATE'  ">
            <app-qualification-directive [revoked]="getCertificateDetail?.isValid" [borderTop]="borderTop"
                                         [borderBtm]="borderBtm" [htmlContent]="getCertificateDetail?.certificateHtml"
                                         [qualificationInfo]="getCertificateDetailsResponse">
            </app-qualification-directive>
          </div>
          <div class="row"
               *ngIf="getCertificateDetail?.certificateType === 'ATTENDANCE_LETTER' &&  getCertificateDetail?.template === 'ATTENDANCELETTER_TEMP' ">
            <app-event-certificate [participentName]="getPersonDetail?.firstName + ''+ getPersonDetail?.lastName "
                                   [revoked]="getCertificateDetail?.isValid" [className]="'inboxView'"></app-event-certificate>
          </div>

        </div>
        <div class="row" *ngIf="getCertificateDetail?.customTemplateUrl" align="center">
          <div *ngIf="!getCertificateDetail?.isValid" class="row" align="center"
               style="border-radius: 4px; position: absolute;top: 0px;left: 2%;width: 100%; height: 100%;background-color:rgba(0, 0, 0, 0);z-index: 100 ">
            <div class="col-md-12" style="margin-top: 15%">
              <img src="assets/images/revoked-stamp-2.png" class="img-responsive" style="width: 65%">
            </div>
          </div>
          <div class="col-md-12" *ngIf="!checkPdf(getCertificateDetail?.customTemplateUrl)">
            <img [src]="getCertificateDetail?.customTemplateUrl" class="img-responsive">
          </div>
          <div class="col-md-12" *ngIf="checkPdf(getCertificateDetail?.customTemplateUrl)">
            <div *ngIf="isLoaded" style="text-align: center;">
              <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
              <span>{{ page }} / {{ totalPages }}</span>
              <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
            </div>
            <pdf-viewer (after-load-complete)="afterLoadComplete($event)" [fit-to-page]="false" [show-all]="false"
                        [page]="page" [src]="getCertificateDetail?.customTemplateUrl"
                        [render-text]="true"
            ></pdf-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row margintop2per marginbottom2per"
       *ngIf="getCertificateDetailsResponse?.certificate?.typeOfCopy !== 'CERTIFIED'">
    <ng-container *ngIf="getCertificateDetailsResponse?.certificate?.isValid">
      <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" align="center">
          <button class="btn btn-secondary-color mainBtn" type="button" (click)="transfer()" [disabled]="!transactionDetail?.length">Transfer
            <img *ngIf="transferLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;"></button>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" align="center">
          <button class="btn btn-secondary-color cancelBtn" type="button" (click)="revokeCert()">Revoke
            <img *ngIf="revokeLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
          </button>
        </div>
      </div>
    </ng-container>
    <!-- <ng-container *ngIf="!getCertificateDetailsResponse?.certificate?.isValid">
      <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
        <p align="center">Certificate is Revoked</p>
      </div>
    </ng-container>-->
  </div>
  <div class="box box-default">
    <div class="box body">
      <div class="row">
        <div class="col-md-12 mt-3 mb-3" style="display: flex;align-items: center;padding-left: 2.5%;">
          <p class="m-0">
            <label class="m-0">Certificate public URL:</label>
            <span>
              <a href="{{rootPath}}/#/badges/certificate/{{getCertificateDetail?.uid}}" target="_blank"
                 style="cursor: pointer;word-break: break-all;">
                {{rootPath}}/#/badges/certificate/{{getCertificateDetail?.uid}}</a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="box box-default" *ngIf="transactionDetail?.length">
    <div class="box-body">
      <p class="custom-tab-title" style="padding-left:0%"> Blockchain Transaction details :</p>
      <!-- <div class="col-md-12">
         <div class="row" *ngIf="transactionDetail?.length">
          <div class="col-md-12 hidden-xs" style="margin-top: 2%">
            <div class="row">
              <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                <p> Transaction&nbsp;Date
                  <br>
                  <span>
                    <b> {{mm.utc(transactionDetail?.txDate).toDate() | date:'short'}} </b>
                  </span>
                </p>
              </div>
              <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                <p style="padding-left: 37%;"> Network&nbsp;Name
                  <br>
                  <span>
                    <b> {{transactionDetail[0]?.networkName}} </b>
                  </span>
                </p>
              </div>
              <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                <p style="padding-left:65%"> Action
                  <br>
                  <span>
                    <b> {{transactionDetail[0]?.action}} </b>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div> -->
      <!-- <div class="col-md-12" style="background-color:#fcfcfc;padding:2%;">
          <div class="row" *ngIf="transactionDetail?.length">
            <div class="col-md-12 hidden-xs">
              <div class='qr-section'>
                <div class="first-circle text-center">
                  <div class='red-circle'>
                    <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.smartContractAddress" qrc-class="aclass"></ngx-qrcode>
                  </div>
                  <p> Action to Contract</p>
                </div>
                <div class='bdr-section'>
                  <hr class="between" />
                </div>
                <div class="second-circle text-center">
                  <div class='semi-red-circle'>
                    <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionFrom" qrc-class="aclass"></ngx-qrcode>
                  </div>
                  <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
                </div>
                <div class='bdr-section'>
                  <hr class="between" />
                </div>
                <div class="third-circle text-center">
                  <div class='red-circle'>
                    <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionTo" qrc-class="aclass"></ngx-qrcode>
                  </div>
                  <p>Action&nbsp;to&nbsp;(person)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <!-- Mobile Device QR Code Starts -->
      <div class="row" *ngIf="transactionDetail?.length">
        <div class="col-md-12 xs-qr-code" style="background: #fcfcfc;padding: 2%">
          <div class="col-md-4 text-center">
            <p> Transaction
              <br>
              <span>
                <b> {{mm.utc(transactionDetail[0]?.txDate).toDate() | date:'short'}} </b>
              </span>
            </p>
            <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.smartContractAddress"
                        qrc-class="xsclass"></ngx-qrcode>
            <p> Action to Contract</p>

          </div>
          <div class="col-md-4 text-center">
            <p> Network&nbsp;Name
              <br>
              <span>
                <b> {{transactionDetail[0]?.networkName}} </b>
              </span>
            </p>
            <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionFrom"
                        qrc-class="xsclass"></ngx-qrcode>
            <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
          </div>
          <div class="col-md-4 text-center">
            <p> Action
              <br>
              <span>
                <b> {{transactionDetail[0]?.action}} </b>
              </span>
            </p>
            <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionTo"
                        qrc-class="xsclass"></ngx-qrcode>
            <p>Action&nbsp;to&nbsp;(person)</p>
          </div>
        </div>
      </div>

      <!-- Mobile Device QR Code Ends -->
      <!--soului code-->
      <div class="col-lg-12 hidden-xs" *ngIf="transactionDetail?.length">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
            <div class="col-md-12 qrCode">
              <div class="col-lg-4">
                <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionFrom"
                            qrc-class="xsclass"></ngx-qrcode>
              </div>
              <div class="col-lg-8">
                <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
                <p> Network Name
                  <br>
                  <span>
                    <b> {{transactionDetail[0]?.networkName}} </b>
                  </span>
                </p>
              </div>
              <div class="col-lg-12">
                <p style="margin-bottom:5px;">
                  <b>Public key</b>
                </p>
                <span class="publicKey">{{transactionDetail[0]?.actionFrom}}</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 heightStyle">
            <div class="col-md-12 qrCodeCon">
              <div class="col-lg-4">
                <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.smartContractAddress"
                            qrc-class="xsclass"></ngx-qrcode>
              </div>
              <div class="col-lg-8">
                <p> Action&nbsp;to&nbsp;Contract</p>
                <p> Transaction&nbsp;Date
                  <br>
                  <span>
                    <b> {{mm.utc(transactionDetail[0]?.txDate).toDate() | date:'short'}} </b>
                  </span>
                </p>
              </div>
              <div class="col-lg-12">
                <p style="margin-bottom:5px;">
                  <b>Public key</b>
                </p>
                <span class="publicKey">{{transactionDetail[0]?.smartContractAddress}}</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="col-md-12 qrCode">
              <div class="col-lg-4">
                <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionFrom"
                            qrc-class="xsclass"></ngx-qrcode>
              </div>
              <div class="col-lg-8">
                <p> Action&nbsp;to&nbsp;Person</p>
                <p> Action
                  <br>
                  <span>
                    <b> {{transactionDetail[0]?.action}} </b>
                  </span>
                </p>
              </div>
              <div class="col-lg-12">
                <p style="margin-bottom:5px;">
                  <b>Public key</b>
                </p>
                <span class="publicKey">{{transactionDetail[0]?.actionTo}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end soului code-->

      <div class="col-md-12 col-xs-12" style="margin-top: 2%" *ngIf="transactionDetail?.length">
        <div class="row" *ngIf="transactionDetail[0]?.dataHash">
          <div class="col-md-12">
            <p> Data Hash
              <br>
              <span style="word-break: break-all;font-style:italic"> {{transactionDetail[0]?.dataHash}} </span>
            </p>
          </div>
        </div>
        <div class="row" *ngIf="transactionDetail[0]?.txHash">
          <div class="col-md-12">
            <p> Transaction Hash
              <br>
              <span style="word-break: break-all;font-style:italic"> {{transactionDetail[0]?.txHash}} </span>
            </p>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12">
            <p> Link to Blockchain
              <br>
              <span style="word-break: break-all;">
                <a target="_blank" href="https://kovan.etherscan.io/tx/{{transactionDetail[0]?.txHash}}">https://kovan.etherscan.io/tx/{{transactionDetail[0]?.txHash}}</a>
              </span>
            </p>
          </div>
        </div> -->
        <div class="row blockDiv">
          <div class="col-md-12">
            <p> Link to Blockchain
              <br>
              <span style="word-break: break-all;font-style:italic">
                <a target="_blank" href="https://kovan.etherscan.io/tx/{{transactionDetail[0]?.txHash}}">https://kovan.etherscan.io/tx/{{transactionDetail[0]?.txHash}}</a>
              </span>
            </p>
          </div>
        </div>


      </div>

    </div>
  </div>

  <div class="box box-default" *ngIf="blockChaindetails">
    <div class="box-body">
      <div class="col-md-12">
        <p class="custom-tab-title">From Blockchain :</p>
      </div>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{blockNonce}} {{'| {'+blockPosition+'}'}}
        <span class="spanBlock"> Nonce&nbsp;&&nbsp;(Position)</span>
      </label>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{blockHeight}}
        <span class="spanBlock"> Block Height</span>
      </label>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{blockValue}}
        <span class="spanBlock">Value</span>
      </label>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{blockGasLimit}}
        <span class="spanBlock">Gas Limit</span>
      </label>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{gasUsedByTransaction}}
        <span class="spanBlock">Gas used/Transaction</span>
      </label>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{blockGasPriceFix}} Ether
        {{'('+blockGasPriceGw+')'}}
        <span class="spanBlock">Gas Price</span>
      </label>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{totalTransactionCost}}
        <span class="spanBlock">Actual Tx Cost/Fee</span>
      </label>
      <!-- <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{blockNonce}} ({{blockPosition }})
        <span class="spanBlock">Nonce &(Position)</span>
      </label> -->


    </div>
  </div>

</div>
