.PERSONAL_DEFAULT, .WORK_DEFAULT, .SKILLS_DEFAULT, .COURSE_DEFAULT, .WORKATTESTATION_DEFAULT, .QUALIFICATION_DEFAULT, .PERSONAL_ORG, .WORK_ORG, .SKILLS_ORG, .COURSE_ORG, .WORKATTESTATION_ORG, .QUALIFICATION_ORG {
  background-image: url("../../../../assets/images/1511931102295.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.WORK_TEMP {
  background-image: url("../../../../assets/images/cert-templates/template-2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.SKILLS_TEMP {
  background-image: url("../../../../assets/images/cert-templates/template-3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.COURSE_TEMP {
  background-image: url("../../../../assets/images/cert-templates/template-4.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.WORKATTESTATION_TEMP {
  background-image: url("../../../../assets/images/cert-templates/template-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.QUALIFICATION_TEMP {
  background-image: url("../../../../assets/images/cert-templates/template-2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.PERSONAL_TEMP {
  background-image: url("../../../../assets/images/cert-templates/template-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}



.subHead p {
  font-weight: 400;
  font-size: 14px;
}

.titleHead {
  font-family: 'UnifrakturMaguntia', cursive !important;
}
.ch4 h4{
  margin-top: 14px !important;
}
.custom-profile-pic{
  width: 43%;
  height: 40%;
  margin-top: 6%;
  border-radius: 100px
}
.custom-tab-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
}
.red-circle {
  width: 150px;
  height: 150px;
  border: 2px solid #f4711f;
  border-radius: 100%;
  line-height: 150px;
  text-align: center;
  background-color: #fff;
}

.semi-red-circle {
  width: 150px;
  height: 150px;
  border: 2px solid #f4711f;
  border-radius: 100%;
  line-height: 150px;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.between {
  border: 1px solid #f4711f;
  margin-left: 0;
  margin-right: 0;
  margin-top: 75px;
}

.qr-section {
  display: -moz-box; /* Firefox */
  display: -webkit-box; /* Safari and Chrome */
  display: -ms-flexbox; /* Internet Explorer 10 */
  /*display: box;*/
  width: 100%;
}

.bdr-section {
  -moz-box-flex: 5.0; /* Firefox */
  -webkit-box-flex: 5.0; /* Safari and Chrome */
  -ms-flex: 9.0; /* Internet Explorer 10 */
  box-flex: 9.0;
}
.xs-qr-code{
  display: none;
}
.custom-profile-pic {
  width: 26%;
  height: 75%;
  margin-top: 6%;
  border-radius: 100px;
}
.girdStyle {
  min-height: 250px;
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}
.newWorkAttestation p {
  font-size: 13px !important;
  margin-top: -2.5%;
}
.footer {
  margin-top: 2%;
  border-top: 1px solid #e0dada;
  padding: 11px;
}

.footer p {
  font-size: 11px !important;
  text-align: left !important;
  line-height: 15px !important;
}
.qrCode{
  padding: 18px;
  border-top: 4px solid #009bbd;
  box-shadow: 0 0 10px #ffffff;
  -moz-box-shadow: 0 0 10px #a1a1a199;
  -webkit-box-shadow: 0 0 10px #a1a1a199;
  -o-box-shadow: 0 0 10px #a1a1a199;
}
.qrCodeCon{
  padding: 18px;
  border-top: 4px solid #f27123;
  box-shadow: 0 0 10px #ffffff;
  -moz-box-shadow: 0 0 10px #a1a1a199;
  -webkit-box-shadow: 0 0 10px #a1a1a199;
  -o-box-shadow: 0 0 10px #a1a1a199;
}
.publicKey{
  color: #9d9d9d;
  font-style: italic;
  font-size:12px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.f-w-normal{
  margin-top:1%;
  font-weight:normal;
}

.spanBlock{
  padding-top: 1% !important;
  font-size: 12px !important;
  color: #afabab !important;
  font-weight: normal !important;
  display: block !important;
}
.blockDiv{
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
@media screen and (max-width: 500px) {
  .xs-width-10 {
    width: 10%;
  }

  .xs-width-20 {
    width: 20%;
  }

  .xs-width-32 {
    width: 32%;
  }

  .xs-width-40 {
    width: 40%;
  }

  .xs-width-50 {
    width: 50%;
  }

  .xs-width-60 {
    width: 60%;
  }
  .xs-qr-code{
    display: block;
  }
}
