<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">

  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a>Certs</a>
    </li>
    <li class="breadcrumb-item cursorPointer" [routerLink]="['/app/certs-issued']">Issued Certificates</li>
    <li class="breadcrumb-item active">View Certificate</li>
  </ol>
  <!-- Breadcumbs -->
  <div class="col-md-12 col-lg-12 col-sm-12 hidden-xs">
    <div class="row" *ngIf="!issuedDetails?.certificate?.customTemplateUrl">
      <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12" *ngIf="issuedDetails?.certificate?.certificateType !== 'QUALIFICATION_CERTIFICATE' ||  issuedDetails?.certificate?.certificateType !== 'LICENSE_CERTIFICATE' ">
        <app-work-template [hero]="issuedDetails" [htmlContent]="issuedDetails?.certificate?.certificateHtml"
                           [className]="''" [revoked]="certStatus"></app-work-template>
      </div>
      <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12" *ngIf="issuedDetails?.certificate?.certificateType === 'QUALIFICATION_CERTIFICATE' ||  issuedDetails?.certificate?.certificateType === 'LICENSE_CERTIFICATE' ">
        <app-qualification-directive [htmlContent]="issuedDetails?.certificate?.certificateHtml" [borderTop]="borderTop"
                                     [borderBtm]="borderBtm"
                                     [qualificationInfo]="issuedDetails">
        </app-qualification-directive>
      </div>
    </div>
    <div class="row" *ngIf="issuedDetails?.certificate?.customTemplateUrl">
      <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
       <img [src]="issuedDetails?.certificate?.customTemplateUrl">
      </div>
    </div>
    <div class="row margintop2per">
      <ng-container *ngIf="issuedDetails?.certificate?.isValid">
    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
     <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" align="center">
       <button class="btn btn-secondary-color mainBtn" type="button" (click)="transfer()">Transfer
        <img *ngIf="transferLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;"></button>
     </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" align="center">
        <button class="btn btn-secondary-color cancelBtn" style="width:100%" type="button" (click)="revokeCert()">Revoke 
            <img *ngIf="revokeLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;"> </button>
      </div>
    </div>
      </ng-container>
      <ng-container *ngIf="!issuedDetails?.certificate?.isValid">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
          <p align="center">Certificate is Revoked</p>
        </div>
      </ng-container>
    </div>
    <div class="row margintop4per">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <p>Certificate Public URL: <span> </span></p>
      </div>
    </div>
   <!-- <div class="row margintop2per">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
        <div class="col-md-12 qrCode">
          <div class="col-lg-4">
            <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="qrValue" qrc-class="xsclass"></ngx-qrcode>
          </div>
          <div class="col-lg-8">
            <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
            <p> Network Name
              <br>
              <span>
                    <b> networkName </b>
                  </span>
            </p>
          </div>
          <div class="col-lg-12">
            <p style="margin-bottom:5px;">
              <b>Public key</b>
            </p>
            <span class="publicKey">actionFrom</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
        <div class="col-md-12 qrCodeCon">
          <div class="col-lg-4">
            <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="qrValue" qrc-class="xsclass"></ngx-qrcode>
          </div>
          <div class="col-lg-8">
            <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
            <p> Network Name
              <br>
              <span>
                    <b> networkName </b>
                  </span>
            </p>
          </div>
          <div class="col-lg-12">
            <p style="margin-bottom:5px;">
              <b>Public key</b>
            </p>
            <span class="publicKey">actionFrom</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
        <div class="col-md-12 qrCode">
          <div class="col-lg-4">
            <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="qrValue" qrc-class="xsclass"></ngx-qrcode>
          </div>
          <div class="col-lg-8">
            <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
            <p> Network Name
              <br>
              <span>
                    <b> networkName </b>
                  </span>
            </p>
          </div>
          <div class="col-lg-12">
            <p style="margin-bottom:5px;">
              <b>Public key</b>
            </p>
            <span class="publicKey">actionFrom</span>
          </div>
        </div>
      </div>
    </div>-->
   <!-- <div class="box box-default">
      <div class="box-body">
        <p class="custom-tab-title" style="padding-left:0%"> Blockchain Transaction details :</p>
         <div class="col-md-12">
           <div class="row">
            <div class="col-md-12 hidden-xs" style="margin-top: 2%">
              <div class="row">
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                  <p> Transaction&nbsp;Date <br>
                    <span><b> {{'date'}} </b> </span></p>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                  <p style="padding-left: 37%;"> Network&nbsp;Name <br>
                    <span><b> {{'networkName'}} </b></span>
                  </p>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                  <p style="padding-left:65%"> Action <br>
                    <span> <b> {{'action'}} </b></span>
                  </p>
                </div>
              </div>
            </div>
          </div>

        &lt;!&ndash; <div class="col-md-12" style="background-color:#fcfcfc;padding:2%;">
            <div class="row" *ngIf="transactionDetail?.length">
              <div class="col-md-12 hidden-xs">
                <div class='qr-section'>
                  <div class="first-circle text-center">
                    <div class='red-circle'>
                      <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.smartContractAddress"
                                  qrc-class="aclass"></ngx-qrcode>
                    </div>
                    <p> Action to Contract</p>
                  </div>
                  <div class='bdr-section'>
                    <hr class="between"/>
                  </div>
                  <div class="second-circle text-center">
                    <div class='semi-red-circle'>
                      <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionFrom"
                                  qrc-class="aclass"></ngx-qrcode>
                    </div>
                    <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
                  </div>
                  <div class='bdr-section'>
                    <hr class="between"/>
                  </div>
                  <div class="third-circle text-center">
                    <div class='red-circle'>
                      <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionTo"
                                  qrc-class="aclass"></ngx-qrcode>
                    </div>
                    <p>Action&nbsp;to&nbsp;(person)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>&ndash;&gt;

        &lt;!&ndash; Mobile Device QR Code Starts &ndash;&gt;
        <div class="row" >
          <div class="col-md-12 xs-qr-code" style="background: #fcfcfc;padding: 2%">
            <div class="col-md-4 text-center">
              <p> Transaction
                <br>
                <span>
                <b> date </b>
              </span>
              </p>
              <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="qrValue" qrc-class="xsclass"></ngx-qrcode>
              <p> Action to Contract</p>

            </div>
            <div class="col-md-4 text-center">
              <p> Network&nbsp;Name
                <br>
                <span>
                <b> {{'networkName'}} </b>
              </span>
              </p>
              <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="qrValue" qrc-class="xsclass"></ngx-qrcode>
              <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
            </div>
            <div class="col-md-4 text-center">
              <p> Action
                <br>
                <span>
                <b> {{'action'}} </b>
              </span>
              </p>
              <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="qrValue" qrc-class="xsclass"></ngx-qrcode>
              <p>Action&nbsp;to&nbsp;(person)</p>
            </div>
          </div>
        </div>

        &lt;!&ndash; Mobile Device QR Code Ends &ndash;&gt;
        &lt;!&ndash;soului code&ndash;&gt;
        <div class="col-lg-12 hidden-xs" *ngIf="transactionDetail?.length">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
              <div class="col-md-12 qrCode">
                <div class="col-lg-4">
                  <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="qrValue" qrc-class="xsclass"></ngx-qrcode>
                </div>
                <div class="col-lg-8">
                  <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
                  <p> Network Name
                    <br>
                    <span>
                    <b> {{'networkName'}} </b>
                  </span>
                  </p>
                </div>
                <div class="col-lg-12">
                  <p style="margin-bottom:5px;">
                    <b>Public key</b>
                  </p>
                  <span class="publicKey">{{'actionFrom'}}</span>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="col-md-12 qrCodeCon">
                <div class="col-lg-4">
                  <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="qrValue" qrc-class="xsclass"></ngx-qrcode>
                </div>
                <div class="col-lg-8">
                  <p> Action&nbsp;to&nbsp;Contract</p>
                  <p> Transaction&nbsp;Date
                    <br>
                    <span>
                    <b> {{'date'}} </b>
                  </span>
                  </p>
                </div>
                <div class="col-lg-12">
                  <p style="margin-bottom:5px;">
                    <b>Public key</b>
                  </p>
                  <span class="publicKey">0x0e2d654ccfd53f3c6a6ccae0bc94fa5a17db3fc0</span>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="col-md-12 qrCode">
                <div class="col-lg-4">
                  <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="qrValue" qrc-class="xsclass"></ngx-qrcode>
                </div>
                <div class="col-lg-8">
                  <p> Action&nbsp;to&nbsp;Person</p>
                  <p> Action
                    <br>
                    <span>
                    <b> {{'action'}} </b>
                  </span>
                  </p>
                </div>
                <div class="col-lg-12">
                  <p style="margin-bottom:5px;">
                    <b>Public key</b>
                  </p>
                  <span class="publicKey">{{'action2'}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        &lt;!&ndash; end soului code&ndash;&gt;

        <div class="col-md-12 col-xs-12" style="margin-top: 2%" *ngIf="transactionDetail?.length">
          <div class="row" >
            <div class="col-md-12">
              <p> Data Hash
                <br>
                <span style="word-break: break-all;font-style:italic"> {{'dataHash'}} </span>
              </p>
            </div>
          </div>
          <div class="row" >
            <div class="col-md-12">
              <p> Transaction Hash
                <br>
                <span style="word-break: break-all;font-style:italic"> {{'txHash'}} </span>
              </p>
            </div>
          </div>
          &lt;!&ndash; <div class="row">
            <div class="col-md-12">
              <p> Link to Blockchain <br>
                <span style="word-break: break-all;">
                <a target="_blank" href="https://ropsten.etherscan.io/tx/{{transactionDetail[0]?.txHash}}">https://ropsten.etherscan.io/tx/{{transactionDetail[0]?.txHash}}</a>
                </span>
              </p>
            </div>
          </div> &ndash;&gt;
          <div class="row blockDiv">
            <div class="col-md-12">
              <p> Link to Blockchain
                <br>
                <span style="word-break: break-all;font-style:italic">
                <a target="_blank" href="https://ropsten.etherscan.io/tx/{{'txHash'}}">https://ropsten.etherscan.io/tx/{{txHash}}</a>
              </span>
              </p>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>-->
  </div>
</section>
