<div class="navbar navbar-default custmNav navbar-fixed-top">
  <div class="col-md-12 col-lg-12 hidden-sm hidden-xs">
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
      <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" [routerLink]="['/landingPage/home']" class="img-responsive"
           width="100">
    </div>
  </div>
</div>
<div class="container-fluid marginTop5per" *ngIf="showForms">
  <app-proffAcc-directive [orgData]="orgDetails" [personData]="personDetails" [mailId]="emailIdInUrl"> </app-proffAcc-directive>
</div>
