.nav-pills > li a {
  color: #333;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.nav-pills > li a:hover {
  background: none !important;
  cursor: pointer;
}

.nav-pills > li.active > a:hover {
  background: #ffffff;
  border-bottom: 1px solid #ffffff !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #009bbd;
  cursor: pointer;
  background-color: #fff !important;
  border-bottom: 3px solid #009bbd !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;

}

.girdStyle {
  min-height: 250px;
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.certificates {
  background-image: url("../../assets/images/1511931102295.png");
  background-size: 100%;
  margin-top: 12%;
  background-repeat: no-repeat;
}

.certFont {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 16px;
  padding-top: 12%;
}

.personalTemp1 {
  background-image: url("../../assets/images/cert-templates/template-1.png");
  background-size: 100%;
  margin-top: 12%;
  background-repeat: no-repeat;
}

.work .personalTemp1 {
  background-image: url("../../assets/images/cert-templates/template-2.png");
  background-size: 100%;
  margin-top: 12%;
  background-repeat: no-repeat;
}

.skill .personalTemp1 {
  background-image: url("../../assets/images/cert-templates/template-3.png");
  background-size: 100%;
  margin-top: 12%;
  background-repeat: no-repeat;
}

.course .personalTemp1 {
  background-image: url("../../assets/images/cert-templates/template-4.png");
  background-size: 100%;
  margin-top: 12%;
  background-repeat: no-repeat;
}

.qualification .personalTemp1 {
  background-image: url("../../assets/images/cert-templates/template-2.png");
  background-size: 100%;
  margin-top: 12%;
  background-repeat: no-repeat;
}

.workAtten .personalTemp1 {
  background-image: url("../../assets/images/cert-templates/template-1.png");
  background-size: 100%;
  margin-top: 12%;
  background-repeat: no-repeat;
}

.custom-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 40px
}

.certificate-title {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 16px;
  margin: 0 0 2px 0;
}

.issued-text {
  margin-bottom: 0px;
  font-size: 10px;
}

.issued-to {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 0;
}

.cert-comment {
  font-size: 10px;
  margin-bottom: 0px;
  line-height: 16px;
  margin-top: 8px;
  font-weight: 600;
}

.nav > li > a {
  padding: 6px 15px;
}

.selected-tab {
  top: 2px;
  left: 0px;
  border: 1px solid #009bbd;
  transition: .4s all ease;
  border-radius: 3px;
  overflow: visible !important;
  height: 35px;
}

.selected-tab:before {
  content: "";
  background: #ffffff url('../../assets/images/cert-templates/blank.png');
  height: 9px;
  position: absolute;
  width: 8px;
  box-shadow: 1px 1px 0px #009bbd;
  -webkit-transform: rotate(44deg);
  transform: rotate(44deg);
  top: 28px;
  margin: 0px auto;
  left: 0px;
  right: 0px;
}

.pl2 {
  padding-left: 2rem;
}

.skill-bg {
  background-image: url("../../assets/images/cert-templates/skill-bg.png");
  background-size: 100% 100%;
  margin-top: 9%;
  background-repeat: no-repeat;
}

.course-bg {
  background-image: url("../../assets/images/cert-templates/course-bg.png");
  background-size: 100% 100%;
  margin-top: 9%;
  background-repeat: no-repeat;
}

.mb2 {
  margin-bottom: 2rem;
}

.newWorkAttestation p {
  font-size: 11px !important;
  line-height: 13px;
  margin-top: -3.5%;
}

.footer {
  margin-top: 2%;
  border-top: 1px solid #e0dada;
  padding: 11px;
}

.footer p {
  font-size: 8px !important;
  text-align: left !important;
}
