<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">
  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/adminSettings']">Admin</a>
    </li>
    <li class="breadcrumb-item active">Templates</li>
  </ol>
  <!-- Breadcumbs -->
  <div class="container" style="background: #ffffff;">
    <div class="row">
      <div class="col-md-12">
        <h4> Templates </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12" style="margin-top: 2%">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-md-2 col-sm-2 col-lg-2">Certificate Type</label>
            <div class="col-md-3 col-sm-3 col-xs-3 col-3 col-lg-3">
              <select [(ngModel)]="selectedTab" name="certType" class="form-control" (change)="gototab(selectedTab)">
                <option value="1">Attendence Letter</option>
                <option value="2">Proof of Internship</option>
                <option value="3">License Certificate</option>
                <option value="4">Reference Letter</option>
                <option  value="5">Qualification</option>
                <option  value="6">Work Attestation</option>
                <option  value="7">Proof of enrollment</option>
                <option  value="8">Transcript</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!--    <div class="row">
      <div class="col-md-12 pl2">
        <ul class="nav nav-pills">
           <li [ngClass]="{'selected-tab':tabSelected === 1}">
          <a (click)="gototab(1)">Attendence Letter</a>
        </li>
        <li [ngClass]="{'selected-tab':tabSelected === 2}">
          <a (click)="gototab(2)">Proof of Internship</a>
        </li>
        <li [ngClass]="{'selected-tab':tabSelected === 3}">
          <a (click)="gototab(3)">License Certificate</a>
        </li>
        <li [ngClass]="{'selected-tab':tabSelected === 4}">
          <a (click)="gototab(4)">Reference Letter</a>
        </li>
          <li [ngClass]="{'selected-tab':tabSelected === 5}">
            <a (click)="gototab(5)">Qualification</a>
          </li>
          <li [ngClass]="{'selected-tab':tabSelected === 6}">
            <a (click)="gototab(6)">Work Attestation </a>
          </li>
          <li [ngClass]="{'selected-tab':tabSelected === 7}">
            <a (click)="gototab(7)">Proof of enrollment </a>
          </li>
        </ul>
      </div>
    </div>-->

    <div class="slider">
      <div class="indicator">
        <div class="row">
          <div class="col-md-12">
            <ng-container *ngIf="tabSelected === 1; else second">
              <div class="row" style="margin-top: 2%;margin-bottom: 2%">
                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                  <div class="col-md-3 col-sm-3 col-lg-3 colxs-12">
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
                      <div class="row newWorkAttestation">
                        <app-attendence-certificate [hero]="getCertificateDetailsResponse"
                                                    [className]="'newWorkAttestation'"></app-attendence-certificate>
                      </div>
                      <div class="row mt-3">
                        <div class=" col-md-6 col-sm-6 col-lg-6">
                          <p class="pull-left" style="cursor: pointer"
                             (click)="vewCertificate('SKILLS_DEFAULT', 'Skills', 'Claim')">
                            <i class="fa fa-eye" aria-hidden="true"></i> View
                          </p>
                        </div>
                        <div class=" col-md-6 col-sm-6 col-lg-6 ">
                          <p class="pull-right" style="font-size: 18px" *ngIf="attendanceTemplate =='ATTENDANCELETTER_DEFAULT'">
                            <i class="fa fa-check-circle" style="color: green" aria-hidden="true"></i>
                          </p>
                          <p class="pull-right" *ngIf="attendanceTemplate !=='ATTENDANCELETTER_DEFAULT'"
                             (click)="tempSelected('ATTENDANCELETTER_DEFAULT', 'ATTENDANCE_LETTER')" style="cursor: pointer">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
                      <div class="row newWorkAttestation">

                        <app-event-certificate  [revoked]="true"  [participentName]="'XYXY CCRCR'" [htmlContent]="certificateHtml" [className]="'inTemplates'"> </app-event-certificate>
                     <!--   <app-attendence-certificate [hero]="getCertificateDetailsResponse"
                                                    [className]="'newWorkAttestation'"></app-attendence-certificate>-->
                      </div>
                      <div class="row mt-2">
                        <div class=" col-md-6 col-sm-6 col-lg-6">
                          <p class="pull-left" style="cursor: pointer">
                            <i class="fa fa-eye" aria-hidden="true"></i> View
                          </p>
                          <!--(click)="vewCertificate('SKILLS_TEMP', 'Skills', 'Claim')"-->
                        </div>
                        <div class=" col-md-6 col-sm-6 col-lg-6 ">
                          <p class="pull-right" style="font-size: 18px" *ngIf="attendanceTemplate =='ATTENDANCELETTER_TEMP'">
                            <i class="fa fa-check-circle" style="color: green" aria-hidden="true"></i>
                          </p>
                          <p class="pull-right" *ngIf="attendanceTemplate !=='ATTENDANCELETTER_TEMP'"
                             (click)="tempSelected('ATTENDANCELETTER_TEMP', 'ATTENDANCE_LETTER')" style="cursor: pointer">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #second>
              <ng-container *ngIf="tabSelected === 2">
                <div class="row" style="margin-top: 2%;margin-bottom: 2%">
                  <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                    <div class="col-md-3 col-sm-3 col-lg-3 colxs-12">
                      <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
                        <div class="row newWorkAttestation">
                          <app-proofofIntern-dirctive [hero]="getCertificateDetailsResponse"
                                                      [className]="'newWorkAttestation'"></app-proofofIntern-dirctive>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="tabSelected === 3">
                <div class="row" style="margin-top: 2%;margin-bottom: 2%">
                  <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12" align="center">
                    <div class="col-md-3 col-sm-3 col-lg-3 colxs-12">
                      <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
                        <div class="row">
                          <div class="col-md-12  mt-4">
                            <img src="assets/images/cert-templates/cert-top.png" class="img-responsive">
                          </div>
                          <div class="col-md-12">
                            <p class="certificate-title">Certificate of License</p>
                            <p class="issued-text"> This certificate issued to </p>
                            <p class="issued-to">
                              <i> {{loginResponse?.personName}}</i>
                            </p>
                            <p class="cert-comment">lorem ipsum lorem ipsum
                              <br/> lorem ipsum lorem ipsum
                            </p>
                          </div>
                          <div class="col-md-12 mt-3">
                            <img src="assets/images/cert-templates/cert-bottom.png" class="img-responsive">
                          </div>
                        </div>

                        <div class="row mt-3">
                          <div class=" col-md-6 col-sm-6 col-lg-6">
                            <p class="pull-left" style="cursor: pointer"
                               (click)="vewCertificate('SKILLS_DEFAULT', 'Skills', 'Claim')">
                              <i class="fa fa-eye" aria-hidden="true"></i> View
                            </p>
                          </div>
                          <div class=" col-md-6 col-sm-6 col-lg-6 ">
                            <p class="pull-right" style="font-size: 18px" *ngIf="licenseTemplate =='LICENSE_DEFAULT'">
                              <i class="fa fa-check-circle" style="color: green" aria-hidden="true"></i>
                            </p>
                            <p class="pull-right" *ngIf="licenseTemplate !=='LICENSE_DEFAULT'"
                               (click)="tempSelected('LICENSE_DEFAULT', 'LICENSE_CERTIFICATE')" style="cursor: pointer">
                              <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-lg-3 colxs-12 skill">
                      <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12  girdStyle">

                        <div class="row skill-bg">
                          <div class="col-md-12  mt-4">

                          </div>
                          <div class="col-md-12">
                            <p class="certificate-title">Certificate of License </p>
                            <p class="issued-text"> This certificate issued to </p>
                            <p class="issued-to">
                              <i> {{loginResponse?.personName}}</i>
                            </p>
                            <p class="cert-comment mb2">lorem ipsum lorem ipsum
                              <br/> lorem ipsum lorem ipsum
                            </p>
                          </div>
                          <div class="col-md-12 mt-3">

                          </div>
                        </div>


                        <div class="row mt-2">
                          <div class=" col-md-6 col-sm-6 col-lg-6">
                            <p class="pull-left" style="cursor: pointer"
                               (click)="vewCertificate('SKILLS_TEMP', 'Skills', 'Claim')">
                              <i class="fa fa-eye" aria-hidden="true"></i> View
                            </p>
                          </div>
                          <div class=" col-md-6 col-sm-6 col-lg-6 ">
                            <p class="pull-right" style="font-size: 18px" *ngIf="licenseTemplate =='LICENSE_TEMP'">
                              <i class="fa fa-check-circle" style="color: green" aria-hidden="true"></i>
                            </p>
                            <p class="pull-right" *ngIf="licenseTemplate !=='LICENSE_TEMP'"
                               (click)="tempSelected('LICENSE_TEMP', 'LICENSE_CERTIFICATE')" style="cursor: pointer">
                              <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-lg-3 colxs-12">
                      <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
                        <div class="row">
                          <div class="col-md-12  mt-4">
                            <img src="assets/images/cert-templates/cert-top.png" class="img-responsive">
                          </div>
                          <div class="col-md-12">
                            <div class="logo" style="position: absolute;top: 35%;left:8%;z-index: 1000">
                              <img *ngIf="!organizationDetails?.organisation?.organisationLogoUrl"
                                   src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer">
                              <img *ngIf="organizationDetails?.organisation?.organisationLogoUrl"
                                   [src]="organizationDetails?.organisation?.organisationLogoUrl"
                                   class="img-responsive custom-profile-pic">
                            </div>
                            <p class="certificate-title">Certificate of License </p>
                            <p class="issued-text"> This certificate issued to </p>
                            <p class="issued-to">
                              <i> {{loginResponse?.personName}}</i>
                            </p>
                            <p class="cert-comment">lorem ipsum lorem ipsum
                              <br/> lorem ipsum lorem ipsum
                            </p>
                          </div>
                          <div class="col-md-12 mt-3">
                            <img src="assets/images/cert-templates/cert-bottom.png" class="img-responsive">
                          </div>
                        </div>

                        <!--   <div class="col-md-12">
                       <p> Default</p>
                     </div>-->
                        <div class="row mt-3">
                          <div class=" col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <p class="pull-left" style="cursor: pointer"
                               (click)="vewCertificate('SKILLS_ORG', 'Skills', 'Claim')">
                              <i class="fa fa-eye" aria-hidden="true"></i> View </p>
                          </div>
                          <div class=" col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <p class="pull-right" style="font-size: 18px" *ngIf="licenseTemplate =='LICENSE_ORG'">
                              <i class="fa fa-check-circle" style="color: green" aria-hidden="true"></i>
                            </p>
                            <p class="pull-right" *ngIf="licenseTemplate !=='LICENSE_ORG'"
                               (click)="tempSelected('LICENSE_ORG', 'LICENSE_CERTIFICATE')" style="cursor: pointer">
                              <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="tabSelected === 4">
                <div class="row" style="margin-top: 2%;margin-bottom: 2%">
                  <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                    <div class="col-md-3 col-sm-3 col-lg-3 colxs-12">
                      <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
                        <div class="row newWorkAttestation">
                          <app-reference-directive [hero]="getCertificateDetailsResponse"
                                                   [className]="'newWorkAttestation'"></app-reference-directive>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="tabSelected === 5">
                <div class="row" style="margin-top: 2%;margin-bottom: 2%" align="center">
                  <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                    <div class="col-md-3 col-sm-3 col-lg-3 colxs-12">
                      <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
                        <div class="certificates">
                          <p class="certFont">Certificate of Qualification </p>
                          <p style="margin-top: -5%;font-size: 10px"> This certificate issued to </p>
                          <p style="margin-top: -10%;font-size: 13px">
                            <i> {{loginResponse?.personName}}</i>
                          </p>
                          <p style="margin-top: -10%; font-size: 8px;font-weight: bold">lorem ipsum lorem ipsum </p>
                          <p style="margin-top: -15%;font-size: 8px;font-weight: bold;padding-bottom: 20%">lorem ipsum
                            lorem ipsum
                          </p>
                        </div>
                        <div class="row">
                          <div class=" col-md-6 col-sm-6 col-lg-6">
                            <p class="pull-left" style="cursor: pointer"
                               (click)="vewCertificate('QUALIFICATION_DEFAULT', 'Qualification', 'Certificate')">
                              <i class="fa fa-eye" aria-hidden="true"></i> View
                            </p>
                          </div>
                          <div class=" col-md-6 col-sm-6 col-lg-6 ">
                            <p class="pull-right" style="font-size: 18px"
                               *ngIf="qualiTemplates =='QUALIFICATION_DEFAULT'">
                              <i class="fa fa-check-circle" style="color: green" aria-hidden="true"></i>
                            </p>
                            <p class="pull-right" *ngIf="qualiTemplates !=='QUALIFICATION_DEFAULT'"
                               (click)="tempSelected('QUALIFICATION_DEFAULT', 'QUALIFICATION_CERTIFICATE')"
                               style="cursor: pointer">
                              <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-lg-3 colxs-12 qualification">
                      <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12  girdStyle">
                        <div class="personalTemp1">
                          <p class="certFont">Certificate of Qualification </p>
                          <p style="margin-top: -5%;font-size: 10px"> This certificate issued to </p>
                          <p style="margin-top: -10%;font-size: 13px">
                            <i> {{loginResponse?.personName}}</i>
                          </p>
                          <p style="margin-top: -10%; font-size: 8px;font-weight: bold">lorem ipsum lorem ipsum </p>
                          <p style="margin-top: -15%;font-size: 8px;font-weight: bold;padding-bottom: 20%">lorem ipsum
                            lorem ipsum
                          </p>
                        </div>
                        <div class="row">
                          <div class=" col-md-6 col-sm-6 col-lg-6">
                            <p class="pull-left" style="cursor: pointer"
                               (click)="vewCertificate('QUALIFICATION_TEMP', 'Qualification', 'Certificate')">
                              <i class="fa fa-eye" aria-hidden="true"></i> View
                            </p>
                          </div>
                          <div class=" col-md-6 col-sm-6 col-lg-6 ">
                            <p class="pull-right" style="font-size: 18px" *ngIf="qualiTemplates =='QUALIFICATION_TEMP'">
                              <i class="fa fa-check-circle" style="color: green" aria-hidden="true"></i>
                            </p>
                            <p class="pull-right" *ngIf="qualiTemplates !=='QUALIFICATION_TEMP'"
                               (click)="tempSelected('QUALIFICATION_TEMP', 'QUALIFICATION_CERTIFICATE')"
                               style="cursor: pointer">
                              <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-lg-3 colxs-12">
                      <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
                        <div class="certificates">
                          <div class="logo" style="position: absolute;top: 35%;left:8%;z-index: 1000">
                            <img *ngIf="!organizationDetails?.organisation?.organisationLogoUrl"
                                 src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer">
                            <img *ngIf="organizationDetails?.organisation?.organisationLogoUrl"
                                 [src]="organizationDetails?.organisation?.organisationLogoUrl"
                                 class="img-responsive custom-profile-pic">
                          </div>
                          <p class="certFont">Certificate of Qualification</p>
                          <p style="margin-top: -5%;font-size: 10px"> This certificate issued to </p>
                          <p style="margin-top: -10%;font-size: 13px">
                            <i> {{loginResponse?.personName}}</i>
                          </p>
                          <p style="margin-top: -10%; font-size: 8px;font-weight: bold">lorem ipsum lorem ipsum </p>
                          <p style="margin-top: -15%;font-size: 8px;font-weight: bold;padding-bottom: 20%">lorem ipsum
                            lorem ipsum
                          </p>
                        </div>
                        <!--   <div class="col-md-12">
                       <p> Default</p>
                     </div>-->
                        <div class="row">
                          <div class=" col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <p class="pull-left" style="cursor: pointer"
                               (click)="vewCertificate('QUALIFICATION_ORG', 'Qualification', 'Certificate')">
                              <i class="fa fa-eye" aria-hidden="true"></i> View </p>
                          </div>
                          <div class=" col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <p class="pull-right" style="font-size: 18px" *ngIf="qualiTemplates =='QUALIFICATION_ORG'">
                              <i class="fa fa-check-circle" style="color: green" aria-hidden="true"></i>
                            </p>
                            <p class="pull-right" *ngIf="qualiTemplates !=='QUALIFICATION_ORG'"
                               (click)="tempSelected('QUALIFICATION_ORG', 'QUALIFICATION_CERTIFICATE')"
                               style="cursor: pointer">
                              <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="tabSelected === 6">
                <div class="row" style="margin-top: 2%;margin-bottom: 2%">
                  <div class="col-md-3 col-sm-3 col-lg-3 colxs-12">
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
                      <div class="row newWorkAttestation">
                        <app-work-template [revoked]="true" [hero]="getCertificateDetailsResponse"
                                           [htmlContent]="getCertificateDetailsResponse?.certificate?.certificateHtml"
                                           [className]="'newWorkAttestation'"></app-work-template>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="tabSelected === 7">
                <div class="row" style="margin-top: 2%;margin-bottom: 2%">
                  <div class="col-md-3 col-sm-3 col-lg-3 colxs-12">
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
                      <div class="row newWorkAttestation">
                        <app-work-template [revoked]="true" [hero]="getCertificateDetailsResponse"
                                           [htmlContent]="getCertificateDetailsResponse?.certificate?.certificateHtml"
                                           [className]="'newWorkAttestation'"></app-work-template>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="tabSelected === 8">
                <div class="row" style="margin-top: 2%;margin-bottom: 2%">
                  <div class="col-md-3 col-sm-3 col-lg-3 colxs-12">
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
                      <div class="row newWorkAttestation">
                        <app-work-template [revoked]="true" [hero]="getCertificateDetailsResponse"
                                           [htmlContent]="getCertificateDetailsResponse?.certificate?.certificateHtml"
                                           [className]="'newWorkAttestation'"></app-work-template>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
