<section>
    <div class="row" style="border-bottom: 1px solid #ccc">
      <div class="col-12" align="center">
        <p> {{data.key}} </p>
      </div>
    </div>
    <div class="row" style="margin-top: 5%">
      <div class="col-12" align="center">
        <img *ngIf="data.success" src="assets/images/correct.png" class="img-responsive" style="width: 100px;height: 100px">
        <img *ngIf="!data.success" src="assets/images/wrong.png" class="img-responsive" style="width: 100px;height: 100px">
      </div>
      <div class="col-12" align="center" style="padding-top: 2%">
       <span> {{data.message}}</span>
      </div>
    </div>
  <div class="row" style="border-top: 1px solid #ccc;margin-top: 10%">
    <div class="col-6"> </div>
    <div class="col-6 text-right " style="margin-top: 2%">
      <button (click)="onNoClick()"  md-raised-button type="button" style="background-color:#009bbd;color:#fff;box-shadow:none;">
        Ok
      </button>
    </div>
  </div>
</section>

