// overrides mdl
html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

address {
  line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6 {
  line-height: $headings-line-height;
  font-family: 'Poppins', sans-serif;
}

.bg-color-info {
  background-color: #ffffff;
  color: #000000;
}

.bg-color-info:hover {
  background-color: #ffffff;
  color: #000000;
}

.sidebar-header a.collapsednav-toggler {
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  right: 18px;
  top: 16px;
  color: rgba(0, 0, 0, 0.55);
}

.sidebar-header a.collapsednav-toggler .material-icons {
  font-size: 24px;
}

.top-nav-right li .header-btn.md-button .badge {
  background-color: #c73f29;
  position: absolute;
  top: 14px;
  right: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 50px;
  font-weight: 300;

}

.bell-icon {
  color: #a9a9a9;
}

/* Sorting buttion for list */
.mat-menu-panel.custom-dropdown-area {
  margin-top: 45%;
  margin-left: 40%;
  min-width: 105px !important;
  width: 105px !important;
}

img.img30_30 {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50px !important;
}

.mat-button, .mat-raised-button, .mat-icon-button {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  font-weight: 100;
}

/* Sidebar Width */
.app-sidebar {
  // width: 220px;
}

/* Sidebar Width */
/* Header */
.app-main .app-header > .app-header-inner {
  background-color: #009bbd;
}

.icon-bell-1 {
  color: #fff;
}

.noBgHover:hover {
  background-color: #14b6da !important;
}

/* Header */
.app-sidebar.bg-color-light .nav li.active > a, .app-sidebar.bg-color-light .nav li.active > a:hover, .app-sidebar.bg-color-light .nav li.active > a:focus {
  background-color: transparent;
  color: #c73f29;
}

.app-sidebar.bg-color-light .nav li > a:hover {
  /*background-color: transparent;
  color: #c73f29;*/
  /*   background-color: #009bbd2e; */
  color: #009bbd;
  font-weight: 600;
}

.app-sidebar .sidebar-content .nav > li > a {
  padding: 8px 20px;
  text-align: left;
}

.app-sidebar.bg-color-light .nav li.open > a, .app-sidebar.bg-color-light .nav li.open > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #c73f29;
}

/* Profile Pic */
.custom-profile-pic {
  width: 180px;
  height: 180px;
}

.article-title, .article-title-style {
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 32px !important;
  margin: .6em 0 !important;
  color: #000000 !important;
}

.article {
  padding-bottom: 0px !important;
}

.sub-title {
  font-size: 16px;
  margin: 0px;
  padding-bottom: 18px;
  font-weight: 500;
  color: #000;
}

.fileUpload {
  border: 1px solid #c73f29 !important;
  background: transparent !important;
  border-radius: 5px !important;
  color: #c73f29 !important;
  padding-left: 25px;
  margin-left: 15px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.custom-upload-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.custom-upload-btn input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.heading-section {
  border: 1px solid #e6e6e6;
  padding-top: 12px;
  padding-left: 18px;
  background-color: #f5f5f5;
  color: #000;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0px rgba(0, 143, 193, 0.25);
}

.app-header .app-header-inner {
  height: 50px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}

.app-header {
  height: 50px;
}

.top-nav-left li .header-btn.md-button {
  margin: 0;
  line-height: 50px;
  border-radius: 0;
  min-width: 52px;
}

.app-sidebar .sidebar-header {
  line-height: 50px;
  padding: 0 18px;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
}

.app-sidebar .sidebar-header {
  display: block;
  position: relative;
  height: 50px;
}

.top-nav-left li .header-btn.md-button, .top-nav-right li .header-btn.md-button {
  margin: 0;
  line-height: 46px;
  border-radius: 0;
  min-width: 52px;
}

.mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mat-menu-panel {
  min-width: 350px !important;
  max-width: 350px !important;
}

.mat-menu-panel {
  margin-top: 50px;
}

.chapter .article-title {
  padding-top: 50px !important;
}

.top-nav-right li {
  height: 50px;
  float: left;
}

.app-header .header-icon {
  display: inline-block;
  height: 50px;
  padding: 0 14px;
}

.app-page-container .app-footer {
  padding: .7rem 0;
}

.custom-width {
  max-width: none !important;
  min-width: 150px !important;
  width: 150px !important;

}

.mat-checkbox-inner-container {
  display: inline-block;
  height: 16px !important;
  line-height: 0;
  margin: auto;
  margin-right: 8px;
  order: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 16px !important;
  flex-shrink: 0;
  margin-top: 5px !important;
}

.pen {
  display: none;
}

.mdl-data-table td:hover:after .pen {
  display: inline !important;
}

.md-input-container.md-input-focused label {
  color: #000 !important;
}

@media only screen and (min-width: 992px) {
  .nav-collapsed .app-sidebar:hover {
    width: 220px;
  }
  .nav-collapsed .app-sidebar:hover > * {
    width: 220px;
  }
}

/* Breadcumbs */
.breadcrumb {
  font-size: 12px;
  text-transform: capitalize !important;
}

/* Breadcumbs */
/* Table Sorting */
.mat-menu-panel.table-dropdown-area {
  margin-top: 33px;
  min-width: 130px !important;
  width: 130px !important;
  box-shadow: 0 2px 1px -2px rgba(0, 0, 0, .2), 0 0px 2px 0px rgba(0, 0, 0, .14), 0 2px 1px 0px rgba(0, 0, 0, .12);
  left: auto;
  right: 0;
  margin-left: -100px;
}
.table-dropdown-area {
  width: 130px;
}


.aclass > img{
  width: 65% !important;
  background: none  !important;
}
.xsclass > img {
  width: 100% !important;
  background: none !important;
}
.qrclass > img {
  width: 50% !important;
  background: none !important;
}
.pubClass > img{
  width: 100% !important;
}
/* Table Sorting */
