 <div *ngIf="!revoked" class="row" align="center"
       style="border-radius: 4px; position: absolute;top: 0px;left: 2%;width: 100%; height: 100%;background-color:rgba(0, 0, 0, 0);z-index: 100 ">
    <div class="col-md-12" style="margin-top: 15%">
      <img src="assets/images/revoked-stamp-2.png" class="img-responsive" style="width: 65%">
    </div>
  </div>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 noPadding">
  <img *ngIf="borderTop" [src]="borderTop" class="img-responsive">
</div>
<div class="col-md-12 col-xs-12 col-sm-12" align="center">
  <h3 class="titleHead"> Certificate Of<span> Qualification </span></h3>
</div>
<div class="col-md-10 col-md-offset-1 col-lg-10 col-sm-10 col-sm-offset-1 col-lg-offset-1">
  <div class="logo" style="position: absolute;top: 10%;left:4%;">
    <img
      *ngIf="qualificationInfo?.template === 'QUALIFICATION_ORG'"
      [src]="backgroundData?.organisation?.logoUrl" class="img-responsive custom-profile-pic">
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12 ch4"
       style="border-top: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee;" align="center">
    <h4 *ngIf="qualificationInfo">{{qualificationInfo?.person?.firstName}} {{qualificationInfo?.person?.lastName}}</h4>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center" style="margin-top: 2%">

  <div  [innerHTML]="htmlContent">  </div>
<!--  <p class="heading"> Course Title :
    <span class="value"> {{qualificationInfo?.certificate?.courseName}}</span>
  </p>
  <p class="heading"> Specialization :
    <span class="value"> {{qualificationInfo?.certificate?.specialization}}</span>
  </p>
  <p class="heading"> Start Date :
    <span class="value">{{mm.utc(qualificationInfo?.certificate?.periodFromDate).format('MM/DD/YYYY')}}</span>
  </p>
  <p class="heading"> End date :
    <span class="value">{{mm.utc(qualificationInfo?.certificate?.periodEndDate).format('MM/DD/YYYY')}}</span>
  </p>-->
</div>

<!--     <div class="col-md-12 col-sm-12 col-lg-12 colxs-12 subHead" align="center">
       <div class="col-md-12" align="center">
         <h6 class="fontsize13px colorBlack">
           <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
         </h6>
       </div>
     </div>-->
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 noPadding">
  <img *ngIf="borderBtm" [src]="borderBtm" class="img-responsive">
</div>
