h1, h2, h3, h4, h5, h6 {
  color: #008fc1;
  font-family: 'Open Sans', sans-serif !important;
}
.custom-profile-pic{
  width: 43%;
  height: 40%;
  margin-top: 6%;
  border-radius: 100px
}
.titleHead {
  font-family: 'UnifrakturMaguntia', cursive !important;

}
