<!-- <div class="container-fluid" style="background: #ffffff;margin-top: -1.6%">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4> Claim of {{claimType | titlecase }} </h4>
      </div>
      <div class="col-md-12">
        <span>Please, verify the claim of {{claimType | titlecase }} provided by {{getClaimDetail.requesterName | titlecase }} below </span>
      </div>
    </div>

    <div class="row" style="margin-top:1rem; margin-bottom: 1rem; border: 1px solid #ddd">
      <div class="col-md-12" style="margin-top: 1%">
        <div class="col-md-2" *ngIf="getClaimDetail?.pictureUrl">
          <img src="{{getClaimDetail?.pictureUrl}}" class="img-responsive imgStyles">
        </div>
        <div class="col-md-2" *ngIf="!getClaimDetail?.pictureUrl">
          <img src="assets/images/default_avatar.jpg" class="img-responsive imgStyles">
        </div>
        <div class="col-md-10">
          <p class="labelHeading">{{getClaimDetail?.heading}}</p>
          <p>{{getClaimDetail?.description}}</p>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 2%">
        <div class="col-md-2 ">
          <p class="labelHeading"> Employee Id: </p>
        </div>
        <div class="col-md-4">
          <span>{{getClaimDetail?.claimIdentity}}</span> &nbsp;
        </div>
        <div class="col-md-6">
          <h6 class="fontsize13px colorBlack">
            <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
          </h6>
        </div>
      </div>

      <div class="col-md-12" style="margin-top: 1%">
        <div class="col-md-2 ">
          <p class="labelHeading"> Keywords: </p>
        </div>
        <div class="col-md-10">
          <ng-container *ngFor="let keyword of getClaimDetail?.keywords">
            <p class="label label label-primary bgColorLabel">{{keyword}}</p> &nbsp;
          </ng-container>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 1%" *ngIf="claimType!='Skill'">
        <div class="col-md-2 ">
          <p class="labelHeading"> Period: </p>
        </div>
        <div class="col-md-8">
          <p>{{mm.utc(getClaimDetail?.startDate).toDate()|date:'mediumDate'}} -
            {{mm.utc(getClaimDetail?.endDate).toDate()|date:'mediumDate'}} </p>
        </div>
        <div class="col-md-2" style="display: none">
          <p style="font-size: 16px;"> Attachments
            <i class="material-icons">attach_file</i>
          </p>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 1%">
        <div class="col-md-2 ">
          <p class="labelHeading"> Endorsing Level* : </p>
        </div>
        <div class="col-md-6" *ngIf="getClaimDetail?.accountlevel==1">
          <md-radio-group name="option1" [(ngModel)]="endorseLevel">
            <md-radio-button style=" font-weight: normal" color="primary" value='Personal'
                             name="option1">Personal
            </md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-md-6" *ngIf="getClaimDetail?.accountlevel!=1">
          <md-radio-group name="option1" [(ngModel)]="endorseLevel">
            <md-radio-button style="font-weight: normal;" color="primary" checked value='Organization' name="option1">
              Organization
            </md-radio-button>
            <md-radio-button style="padding-left:1rem ; font-weight: normal" color="primary" value='Personal'
                             name="option1">Personal
            </md-radio-button>
          </md-radio-group>
        </div>

      </div>
      <input type="file" #file multiple name="url" [(ngModel)]="url" style="display:none">
      <div class="col-md-12" style="margin-top: 1%; margin-bottom: 3%">
        <div class="form-group">
          <div class="col-md-12">
            <label>Comments*</label>
            <textarea class="form-control noResize" rows="5" [(ngModel)]="commnets">
              </textarea>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="margin-bottom: 4%"
           *ngIf="getClaimDetail?.status!=='CLOSED'&&getClaimDetail?.status!=='AWAITING_APPROVAL'">
        <div class="form-group">
          <div class="col-md-12" align="center">
            <button class="btn btn-primary" type="button" (click)="getEndroseDeclined('ENDORSED')"
                    [disabled]="!endorseLevel || !commnets"> Endorse
              <img *ngIf="showLoader" src="assets/images/loader2.gif" class="loaderPosition">
            </button> &nbsp; &nbsp;
            <button class="btn btn-primary" type="button" (click)="getEndroseDeclined('DECLINED')"
                    [disabled]="!endorseLevel || !commnets"> Decline
              <img *ngIf="showLoader" src="assets/images/loader2.gif" class="loaderPosition">
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->


<!--<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">

  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 custom-pl-1">
          &lt;!&ndash;<p class="custom-tab-title" style="margin-bottom: 0px;"> {{claimType | titlecase}} Claims </p>&ndash;&gt;
          &lt;!&ndash; Breadcumbs &ndash;&gt;
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/app/dashboard']">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a>Inbox</a>
            </li>
            <li class="breadcrumb-item">
              <a>Claims</a>
            </li>
            <li class="breadcrumb-item">
              <a> {{claimType | titlecase}} Claims</a>
            </li>
            <li class="breadcrumb-item active">View Claims</li>
          </ol>
          &lt;!&ndash; Breadcumbs &ndash;&gt;
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 custom-pl-1 pt-3">
          <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;z-index:999;">
        </div>
      </div>
      &lt;!&ndash; Message &ndash;&gt;
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-0">
        <div class="box box-default">
          <div class="box-body" style="background-color: #61c0d530;">
            <span class="welcome-message">Hi {{getPersonDetail?.firstName}}.</span>
            <span>Please confirm that {{getClaimDetail?.requesterName}} worked in {{getClaimDetail?.issuerName}} between {{mm.utc(getClaimDetail?.startDate).toDate() | date:'mediumDate'}} - {{mm.utc(getClaimDetail?.endDate).toDate() | date:'mediumDate'}} in accordance to the details shown below.</span>
          </div>
        </div>

      </div>
      &lt;!&ndash; Message &ndash;&gt;
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
           style="background-color: #fff ;margin-bottom:3%;border: 1px solid #cccccc; border-radius: 4px">
        <div class="row" style="margin-top: 2%">
          <div class="col-md-12">
            <p class="custom-tab-title" style="padding-left:8px;"> Personal details</p>
          </div>
        </div>
        <div class="row" style="padding:1%;">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" *ngIf="getClaimDetail?.pictureUrl">
            <img src="{{getClaimDetail?.pictureUrl}}" class="img-responsive imgStyles">
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" *ngIf="!getClaimDetail?.pictureUrl">
            <img src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer" (click)="file.click()">
            <input id="upload1" class="none_display" #file type="file" name="file-upload" multiple accept="image/*"
                   (change)="uploadPicturegeneral($event)">
          </div>
          <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
            <div class="col-md-12">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Name</label>
                <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
                <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7"> {{getPersonDetail?.firstName}} {{getPersonDetail?.lastName}}</span>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Email</label>
                <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
                <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7"> {{getPersonDetail?.email}}</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <label class="col-md-4">Mobile no</label>
                <span class="col-md-1"> :</span>
                <span class="col-md-7"> </span>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">

              </div>
            </div>
            &lt;!&ndash;<div class="col-md-12">
              <div class="col-md-6">
                <label class="col-md-4">DOB</label>
                <span class="col-md-1"> :</span>
                <span class="col-md-7"> 12/12/12</span>
              </div>
            </div>&ndash;&gt;
          </div>
        </div>
        &lt;!&ndash;<div class="row keyStyle">
          <div class="col-md-12 pl-0">
            <span class="col-md-2" style="font-weight:bold">Public Key : </span>
            <span class="col-md-9 col-lg-9 col-sm-9 col-xs-9 text-left"> {{getClaimDetail?.individualPublicKey}}</span>
          </div>
        </div>&ndash;&gt;
      </div>
      <div class="col-md-12 custom-plr-3"
           style="background-color: #fff ; border: 1px solid #cccccc; border-radius: 4px">
        <div class="row" style="margin-top: 2%">
          <p class="custom-tab-title"> Claim details</p>
        </div>
        <div class="row" style="margin-bottom:2%;">
          <div class="col-md-12">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3">Name</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
              <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8"> {{getClaimDetail?.claimType | titlecase }}</span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3">Description</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
              <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8"> {{getClaimDetail?.description}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3">Period</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
              <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8"> {{mm.utc(getClaimDetail?.startDate).toDate() | date:'mediumDate'}} - {{mm.utc(getClaimDetail?.endDate).toDate() | date:'mediumDate'}}</span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3">Request Date</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
              <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8"> {{mm.utc(getClaimDetail?.claimDate).toDate() | date:'mediumDate'}}, {{mm.utc(getClaimDetail?.claimDate).toDate() | date:'mediumTime'}}</span>
            </div>
          </div>
          <div class="col-md-12">

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3">Keywords</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
              <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                <ng-container *ngFor="let keyword of getClaimDetail?.keywords">
                  <p class="label label-primary bgColorLabel" style="font-weight: lighter">{{keyword}}</p> &nbsp;
                </ng-container>
              </span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            </div>
          </div>

          &lt;!&ndash;
                    <div class="col-md-12">
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3">Description</label>
                        <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
                        <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8"> {{getClaimDetail?.claimIdentity}}</span>
                      </div>
                    </div>
          &ndash;&gt;
          <div class="col-md-12 m-t-1rem">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 " align="right">
              &lt;!&ndash; <button class="btn btn-default" type="button" (click)="getEndroseDeclined('DECLINED')" style="border:1px solid cornflowerblue">Decline</button> &ndash;&gt;
              <button class="btn btn-default" type="button" (click)="getEndroseDeclined('DECLINED')"
                      style="width:9rem;border:1px solid cornflowerblue">Decline
              </button>
              <button class="btn btn-primary respMtop1per" type="button" (click)="getEndroseDeclined('ENDORSED')"
                      style="width:9rem;">
                Endorse
              </button>
            </div>
          </div>


          &lt;!&ndash; <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <p class="custom-tab-title"> Comments*</p>
            <textarea rows="7" cols="50" [(ngModel)]="commnets"> </textarea>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 p-l-0">
              <button class="btn btn-default" type="button" (click)="getEndroseDeclined('DECLINED')" style="border:1px solid cornflowerblue">Decline</button>
              <button class="btn btn-primary" type="button" (click)="getEndroseDeclined('ENDORSED')" [disabled]="!commnets">
                Endorse
              </button>
            </div>
          </div> &ndash;&gt;
        </div>
      </div>
    </div>
  </div>
</section>-->


<!-- Third Design -->
<section class="container-fluid with-maxwidth" style="padding: 0 2% 2% 2%">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 custom-pl-1">

      <!-- Breadcumbs -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/app/dashboard']">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a>Inbox</a>
        </li>
        <li class="breadcrumb-item">
          <a>Claims</a>
        </li>
        <li class="breadcrumb-item">
          <a> {{claimType | titlecase}} Claims</a>
        </li>
        <li class="breadcrumb-item active">View Claims</li>
      </ol>
      <!-- Breadcumbs -->
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 custom-pl-1 pt-3">
      <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;z-index:999;">
    </div>
  </div>

  <!-- Message Section Starts-->
  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-body" style="background-color: #c8eaf1; color: #009bbd;">
          <span class="welcome-message">Hi {{loginResponse?.personName}}.</span>
          <span *ngIf="claimType == 'Work' ">Please confirm that {{getClaimDetail?.requesterName}} worked in {{getClaimDetail?.issuerName}} between {{mm.utc(getClaimDetail?.startDate).toDate()
            | date:'mediumDate'}} - {{mm.utc(getClaimDetail?.endDate).toDate() | date:'mediumDate'}} in accordance to the
            details shown below.</span>
          <span *ngIf="claimType == 'Course' ">Please confirm that {{getClaimDetail?.requesterName}} took a course from {{getClaimDetail?.issuerName}} between
            {{mm.utc(getClaimDetail?.startDate).toDate() | date:'mediumDate'}} - {{mm.utc(getClaimDetail?.endDate).toDate()
            | date:'mediumDate'}} in accordance to the details shown below.</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Message Section Ends-->


  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="row">
          <div class="col-md-12">
            <p class="custom-tab-title"> Claim details</p>
          </div>
        </div>
        <!-- Personal Details Setion Starts -->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="padding:2%;">
          <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 pl-0">
            <img *ngIf="getPersonDetail?.pictureUrl" [src]="getPersonDetail?.pictureUrl" class="custom-profile-pic imgStyles">
            <img *ngIf="!getPersonDetail?.pictureUrl" src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer">
            <!--
              <input id="upload1" class="none_display" #file type="file" name="file-upload" multiple accept="image/*"
                     (change)="uploadPicturegeneral($event)">
  -->
          </div>
          <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 col-xl-9">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mt1">
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6">Name</label>
              <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">:&nbsp;&nbsp;&nbsp;&nbsp;{{getPersonDetail?.firstName}} {{getPersonDetail?.lastName}}</label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6">Email</label>
              <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">:&nbsp;&nbsp;&nbsp;&nbsp;{{getPersonDetail?.email}}</label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6">Phone</label>
              <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">:&nbsp;&nbsp;&nbsp;&nbsp;{{getPersonDetail?.phone?.countryCode}} {{" "}} {{getPersonDetail?.phone?.number}}</label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6">Gender</label>
              <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">:&nbsp;&nbsp;&nbsp;&nbsp;{{getPersonDetail?.gender}}</label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6">Date Of Birth</label>
              <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">:&nbsp;&nbsp;&nbsp;&nbsp;{{getPersonDetail?.dateOfBirth}}</label>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <hr class="separate-bdr">
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" >
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4">Claim Title</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8">:&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{getClaimDetail?.claim?.claimType | titlecase }}</strong></label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getClaimDetail?.claim?.claimType == 'WORK'">Job Position</label>
              <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8" *ngIf="getClaimDetail?.claim?.claimType == 'WORK'">:&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{getClaimDetail?.claim?.heading | titlecase }}</strong></label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getClaimDetail?.claim?.claimType == 'SKILLS'">Skill</label>
              <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8" *ngIf="getClaimDetail?.claim?.claimType == 'SKILLS'">:&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{getClaimDetail?.claim?.skill | titlecase }}</strong></label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getClaimDetail?.claim?.claimType == 'GENERAL_CLAIM'">Certificate</label>
              <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8" *ngIf="getClaimDetail?.claim?.claimType == 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{getClaimDetail?.requestType | titlecase }}</strong></label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getClaimDetail?.claim?.claimType == 'GENERAL_CLAIM'">Request</label>
              <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8" *ngIf="getClaimDetail?.claim?.claimType == 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{getClaimDetail?.description | titlecase }}</strong></label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getClaimDetail?.claim?.claimType == 'SKILLS'">Level</label>
              <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8" *ngIf="getClaimDetail?.claim?.claimType == 'SKILLS'">:&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{getClaimDetail?.claim?.level | titlecase }}</strong></label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getClaimDetail?.claim?.claimType == 'SKILLS'">Experience</label>
              <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8" *ngIf="getClaimDetail?.claim?.claimType == 'SKILLS'">:&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{getClaimDetail?.claim?.yearsOfExp | titlecase }} Years</strong></label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getClaimDetail?.claim?.claimType != 'CHARACTER' && getClaimDetail?.claim?.claimType != 'WORK' && getClaimDetail?.claim?.claimType != 'SKILLS' && getClaimDetail?.claim?.claimType != 'GENERAL_CLAIM'">Course name</label>
              <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8" *ngIf="getClaimDetail?.claim?.claimType != 'CHARACTER' && getClaimDetail?.claim?.claimType != 'WORK' && getClaimDetail?.claim?.claimType != 'SKILLS' && getClaimDetail?.claim?.claimType != 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{getClaimDetail?.claim?.heading | titlecase }}</strong></label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getClaimDetail?.claim?.claimType != 'SKILLS' && getClaimDetail?.claim?.claimType != 'GENERAL_CLAIM'">Description</label>
              <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8 claim-detail-text" *ngIf="getClaimDetail?.claim?.claimType != 'SKILLS' && getClaimDetail?.claim?.claimType != 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp;{{getClaimDetail?.claim?.description}}</label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getClaimDetail?.claim?.claimType != 'CHARACTER' && getClaimDetail?.claim?.claimType != 'SKILLS' && getClaimDetail?.claim?.claimType != 'GENERAL_CLAIM'">Period</label>
              <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8 claim-detail-text" *ngIf="getClaimDetail?.claim?.claimType != 'CHARACTER' && getClaimDetail?.claim?.claimType != 'SKILLS' && getClaimDetail?.claim?.claimType != 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp;{{mm.utc(claimDates?.startDate).toDate() | date:'mediumDate'}} - {{mm.utc(claimDates?.endDate).toDate()
                  | date:'mediumDate'}}</label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6">Request&nbsp;Date</label>
              <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text">:&nbsp;&nbsp;&nbsp;&nbsp;{{mm.utc(claimDates?.claimDate).toDate() | date:'mediumDate'}}, {{mm.utc(claimDates?.claimDate).toDate()
                  | date:'mediumTime'}}
              </label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4"  *ngIf="getClaimDetail?.claim?.claimType != 'GENERAL_CLAIM'">Keywords</label>
              <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8 claim-detail-text"  *ngIf="getClaimDetail?.claim?.claimType != 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp;
                  <ng-container *ngFor="let keyword of getClaimDetail?.claim?.keywords">
                      <p class="label label-primary bgColorLabel" style="font-weight: lighter">{{keyword}}</p> &nbsp;
                    </ng-container>
              </label>
              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf="getClaimDetail?.claim?.claimType != 'CHARACTER' && getClaimDetail?.claim?.claimType != 'SKILLS' && getClaimDetail?.claim?.claimType != 'GENERAL_CLAIM'">Location</label>
              <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8 claim-detail-text" *ngIf="getClaimDetail?.claim?.claimType != 'CHARACTER' && getClaimDetail?.claim?.claimType != 'SKILLS' && getClaimDetail?.claim?.claimType != 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp;{{getClaimDetail?.claim?.location}}</label>

              <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4">
                Evidence
              </label>
              <label class="col-md-10 col-lg-10 col-sm-10 col-xs-8">
              <span>:&nbsp;&nbsp;&nbsp;&nbsp;
                <ng-container *ngFor="let evidences of getClaimDetail?.claim?.evidences">
                    <i class="fa fa-file-pdf-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'pdf' " (click)="openEvidence(evidences.fileUrl)"></i>
                    <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'png' " (click)="openEvidence(evidences.fileUrl)"></i>
                    <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'jpg' " (click)="openEvidence(evidences.fileUrl)"></i>
                    <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'tif' " (click)="openEvidence(evidences.fileUrl)"></i>
                    <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'gif' " (click)="openEvidence(evidences.fileUrl)"></i>
                    <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'jpeg' " (click)="openEvidence(evidences.fileUrl)"></i>
                    <i class="fa fa-certificate iconColor" aria-hidden="true" *ngIf="evidences?.certUid" (click)="openCertificate(evidences.certUid)"></i>
                  <!-- <img *ngIf="evidences.fileUrl.split('.').pop() === 'pdf' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'png' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'jpg' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'tif' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'gif' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'jpeg' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences?.certUid" src="../../../assets/images/pen.png" (click)="openCertificate(evidences.certUid)"> -->
             </ng-container>
              </span>

                <!--  <span> &nbsp;&nbsp;  <img src="../../../assets/images/pen.png"></span>
                  <span> &nbsp;&nbsp;<img src="../../../assets/images/pen.png"></span>-->

              </label>

            </div>
          </div>
        </div>
        <div class="row mt1" style="padding-bottom:2% !important; padding-right:2% !important;">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-right">
            <button class="btn btn-default inner-line-btn" type="button" (click)="getEndroseDeclined('DECLINED')">
              Decline 
            </button>
            <button class="btn btn-primary inner-btn respMtop1per" type="button" (click)="getEndroseDeclined('ENDORSED')" >
              Endorse <img src="assets/images/source.gif" *ngIf="endorseLoader" class="loaderPosition" style="width:20px; height:20px">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
