h1, h2, h3, h4, h5, h6 {
  color: #008fc1;
  font-family: 'Open Sans', sans-serif !important;
}

.iconstyle {
  font-size: 18px;
  color: #008fc1;
  cursor: pointer;

}

.smallPadding {
  padding-top: 1%
}

.zeroPadding {
  padding: 0px
}

.marginTop {
  margin-top: 2%;
}

.customHW {
  width: 20px;
  height: 20px
}

.mdl-data-table tbody tr:focus {
  background-color: #fffced;
}

.table tr.active td {
  background-color: #123456 !important;
  color: white;
}

.custom-button {
  background-color: transparent;
  border: 1px solid #c7c7c7;
  border-radius: 0rem;
  margin-right: .7rem;
}

.custom-table-icon {
  background-color: transparent;
  border: 0px;
  outline: none;
  vertical-align: middle;
  margin-top: 8px;
  font-size: 20px;
  min-width: 45px;
}

.customize-material-icons {
  font-size: 20px;
  color: #757575;
}

.custom-table-heading {
  background-color: #f7f7f7;
  font-size: 12px !important;
  text-transform: uppercase;
  border-top: 1px solid #e0e0e0;
}

.mdl-data-table {
  font-size: 12px !important;
}

.mdl-data-table th {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.mdl-data-table td {

  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.btn-default {
  border: 1px solid transparent;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  box-shadow: none;
}

.btn-defaultnew {
  border: 1px solid transparent;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  box-shadow: none;

}

.borderBottom {
  border-bottom: 1px solid #dbdbdb;
}

.paddingbottom1per {
  padding-bottom: 1% !important;
}

.paddingLeft30 {
  padding-left: 30px !important;
}

.margintop2per {
  margin-top: 2% !important;
}

.margintop1per {
  margin-top: 1%;
}

.alignCenter {
  text-align: center;
}

.labelBlock {
  display: block;
}

.mTop2Rem {
  margin-top: 2rem;
}

.pHeadStyle {
  background-color: #eee;
  padding-bottom: 1%;
  border-bottom: 1px solid #eee;
  margin-top: 0%;
  padding-top: 1%;
}

.headClass {
  background-color: #fcfcfc;
  border-top: 0px;
  padding: 1%;
}

.headClass1 {
  background-color: #fefefe;
  border-top: 0px;
  padding: 1%;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.headClass:hover, .headClass1:hover {
  background-color: #f9f9f9;
}

.dropdown-menu {
  padding: 0;
}

.custom-dropdown-area ul {
  padding: 0;
  margin-bottom: 0;
}

.custom-dropdown-area ul li {
  padding: 5px;
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
}

.custom-dropdown-area ul li:last-child {
  padding: 5px;
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
}

.custom-dropdown-area ul li:hover {
  padding: 5px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
}

/*.custom-input-width{
  width: 100%;
}*/
.custom-tab-view {
  border-bottom: 1px solid #dcdcdc;
  padding: 1% 0 1% 0;
  margin: 0;
}

.content-tab-view {
  padding: 0;
}

.mtoplabel {
  margin-top: 1.7rem;
}

.dotBorder {
  border: 1px dashed grey;
}

.bgColorLabel {
  background-color: #009bbd;
}

.imgStyles {
  width: 80px;
  height: 80px;
  // border-radius: 50px;
}

.noResize {
  resize: none;
}

.labelHeading {
  font-size: 14px;
  font-weight: bold
}

.custom-pl-1 {
  padding-left: 1rem;
}

.custom-pl-2 {
  padding-left: 2rem;
}

.custom-pl-3 {
  padding-left: 3rem;
}

.custom-plr-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.custom-plr-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.custom-plr-3 {
  padding-left: 2.5rem;
  padding-right: 2rem;
}
.divStyles {
  margin-top: 1% !important;
  padding-left: 0px;
}
.custom-tab-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  padding-top: 14px;
  padding-left: 20px;
  margin-bottom: 0;
}

.custom-profile-pic {
  width: 150px;
  height: 150px;
}
.mt1{
  margin-top: .5rem;
}
.p-l-0 {
  padding-left: 0;
}
label{
  font-size:13px;
}
.claim-detail-text {
  color: #868585;
  font-size: 13px;
}
.iconColor{
  color: #009bbd !important;
  font-size:20px;
  padding-left:1%; 
}
.separate-bdr {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
}
.inner-line-btn{
  width:9rem !important;
  margin-right: 1rem !important;
  background-color: #ffffff !important;
  border: 1px solid #D8DDE6 !important;
  color: #009bbd !important;
}
.inner-line-btn:hover{
  background-color: #fbffff !important;
  border: 1px solid #D8DDE6 !important;
  color: #009bbd !important;
}
.inner-btn{
  width:9rem !important;
  border: 1px solid transparent !important;
  color: white !important;
  cursor: pointer !important;
  background-image: none !important;
  background-color: #009bbd !important;
  box-shadow: none !important;
}
