body, h1, h2, h3, h4, h5, h6, .textFont {
  font-family: 'Open Sans', sans-serif !important;
}

.tin-responsive {
  position: absolute;
  width: 25px;
  left: 10px;
}

i, img, a, button {
  cursor: pointer;
}

.paddingTop7per{
  padding-top: 7%;
}

.material-icons {
  font-size: 18px !important;
}

.noPaddingLR {
  padding-left: 0px;
  padding-right: 0px;
}

.pTop1rem {
  padding-top: 1rem;
}

.paddingTop4per{
  padding-top:4%;
}
.custmNav {
  top: 0;
  z-index: 100000000000;
  background: #fff;
  width: 100%;
  position:fixed !important;
}
.borderStyle {
  border: 1px solid #aba2a2;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}
.marginTop5per{
  margin-top: 5%;
}
.searchClass {
  width: 90% !important;
}

.txtNotify {
  float: right;
  font-size: 12px;
  color: #f37120 !important;
 /* display: none;*/
   /*  border: none;
    background-color: #f37120 !important;*/
  margin-left: 10%;
}

.txtNotifyOne {
  float: right;
  font-size: 12px;
  color: #f37120 !important;
  /*  border: none;
   background-color: #f37120 !important;*/
  margin-left: 10%;
}

.borderStyle:hover {
  border: 1px solid #000;
}

.borderStyle:hover .firstBlock {
  color: #cb4f3a;
}

.borderStyle:hover .secondBlock {
  color: green;
}

.borderStyle:hover .thirdBlock {
  color: red;
}

.borderBottom {
  border-bottom: 1px solid #dbdbdb;
}

.bgWhite {
  background-color: white !important;
}

.lHeightStyle {
  line-height: 0px !important;
  color: #008fc1 !important
}

.padding6px {
  padding: 6px !important;
}

.borderZero {
  border: 0px !important;
}

.pLeft25px {
  padding-left: 25px !important;
}

.selectBoxStyles {
  font-size: 13px;
  height: 28px;
  padding-bottom: 0.256% !important;
  padding-top: 0.02% !important;
}

/*table styles*/

h1, h2, h3, h4, h5, h6 {
  color: #008fc1;
  font-family: 'Open Sans', sans-serif !important;
}

.mleft-10px {
  margin-left: -10px !important;
}

.dCheck-icon {
  margin-top: 4px;
  color: #aba2a2;
  font-size: 18px !important;

}

.unckeck-box {
  margin-top: 4px;
  color: #aba2a2;
  font-size: 18px !important;
}

.checked-box {
  margin-top: 4px;
  color: #009bbd;
  font-size: 18px !important;
}

.l-h-24px {
  line-height: 24px !important;
}

.cIcon {
  padding: 0px 6px !important;
  font-size: 16px !important;
  color: #707070 !important;
}

.valignMiddle {
  display: flex !important;
  align-items: center !important;
}

.titleHover:hover {
  background-color: #f0f0f0 !important;
}

.mTopMinus2px {
  margin-top: -2px !important;
}

.mTopMinus3px {
  margin-top: -3px !important;
}

.noMarginBottom {
  margin-bottom: 0% !important;
}

.mdl-data-table {
  font-size: 12px !important;
}

.mdl-data-table th {
  background-color: #f7f7f7;
  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 30px !important;
  color: #000 !important;
}

.mdl-data-table td {
  border-bottom: 1px solid #e0e0e0;
  font-size: 12px !important;
}

.mdl-data-table tbody tr:focus {
  background-color: #fffced;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.table tr.active td {
  background-color: #123456 !important;
  color: white;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.25;
}

.tButton {
  padding: 0.5% !important;
  border: 1px solid #dbdbdb !important;
  border-radius: 0rem !important;
  margin-right: .7rem !important;
  color: #212121 !important;
  cursor: pointer !important;
  background-color: #ececec66 !important;
  font-size: 13px !important;
  height: 28px !important;
}

.alignCenter {
  text-align: center;
}

.borderBottom {
  border-bottom: 1px solid #dbdbdb;
}

.paddingbottom1per {
  padding-bottom: 1% !important;
}

.paddingLeft30 {
  padding-left: 30px !important;
}

.margintop2per {
  margin-top: 2% !important;
}

.margintop1per {
  margin-top: 1%;
}

.custom-dropdown-area ul {
  padding: 0;
  margin-bottom: 0;
}

.pl-0{
padding-left:0px !important;
}
.pl-2-3 {
  padding-left: 2.3rem !important;
}

.keyStyle{
  padding:10px;
  border-top:1px solid lightgrey;
  background-color: #f7f7f799;
}
.custom-dropdown-area ul li {
  padding: 5px;
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
}

.custom-dropdown-area ul li:last-child {
  padding: 5px;
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
}

.custom-dropdown-area ul li:hover {
  padding: 5px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
}

/*  table mat Menu*/
.icon-txt {
  padding-left: 10px;
  font-size: 15px;
  color: #9e9e9e;
}

.icon-color {
  color: #9e9e9e;
  font-size: 15px !important;
  vertical-align: middle;
}

.mat-icon-button.mat-btn-click {
  height: 25px !important;
  width: 25px !important;
  line-height: 25px !important;
}

/* end table styles*/

.labelBlock {
  display: block;
}

.nomarginTop {
  margin-top: 0%;
}

.mTopMinus3px {
  margin-top: -3px !important;
}

.mTop3per {
  margin-top: 3% !important;
}

.mTopArrow {
  margin-top: 1.4% !important;
}

.marginZero {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.padding1Per {
  padding: 1% !important;
}

.fontsize10px {
  font-size: 10px !important;
}

.fontsize35px {
  font-size: 35px !important;
}

.fontsize25px {
  font-size: 25px !important;
  color: lightgrey
}

.imgBack {
  border-left-width: 30px;
  border-image-source: url("../images/star.png");
}

.imgBackround1 {
  background-image: url("../images/empty(7).png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 10%;
  margin-top: 1rem;
  font-size: 27px;
}

.imgBackground {
  background-image: url("../images/empty(7).png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 7%;
  margin-top: 1rem;
  font-size: 27px;
}
.m-t-1rem{
  margin-top: 1rem;
}

.margintop2per {
  margin-top: 2%;
}

.margintop16per {
  margin-top: 16%;
}

.maroon {
  color: #cb4f3a !important;
}

.blue {
  color: #009bbd !important;
}

.custBtn:disabled {
  opacity: 0.5;
}

.secondTitle {

}

.bgWhite {
  background-color: #fff;
}

.borderRadius {
  border-radius: 5px;
}

.padding2per {
  padding: 2%;
}
.fontWt100{
  font-weight: 100;
}
.marginbottom2per {
  margin-bottom: 2%;
}

.margintop10per {
  margin-top: 10%;
}

.customSelectBtn {
  border: none !important;
  border-bottom: 1px solid #000 !important;
}

.imgStyle {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50px;
}

.scrollDiv {
  overflow-x: hidden;
}

.stickyPosition {
  position: sticky !important;
  top: 0px !important;
  z-index: 1;
  background: #fff;
}

.margintop4per {
  margin-top: 4%;
}

.noleftradius {
  border-radius: 3px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.paddingleft1point7rem {
  padding-left: 1.7rem;
}

.paddingleft1per {
  padding-left: 1%;
}

.m-l-minus5px {
  margin-left: -5px;
}

.pbottom6Per {
  padding-bottom: 6%;
}

.selectedd {
  background-color: #dbdbdb;
}
/*soului css*/
.profAcc{
  background-color: #fff;
  z-index: 100;
  box-shadow: 1px 0 20px rgba(0,0,0,.08);
  padding: 15px 0px;
}
.layCenterAlign{
  display: flex;
  align-items: center;
}
.upgradeButton:hover{
background-color: #f27123;
color: #fff;
}
/*soului css*/

.mat-checkbox-inner-container {
  display: inline-block;
  height: 16px !important;
  line-height: 0;
  margin: auto;
  margin-right: 8px;
  order: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 16px !important;
  flex-shrink: 0;
  margin-top: 5px;
}

.tableTitle {
  font-size: 15px !important;
  margin-top: 19px !important;
}

.selectBox {
  font-size: 12px;
  height: 64%;
  border: 1px solid #d9d9d9;
  padding: 3px;
}

.selectBox2 {
  border-radius: 2px;
  font-size: 13px !important;
  height: 64%;
  border: 1px solid #d9d9d9;
}

.searchBlock {
  margin-top: 1% !important;
  margin-left: -1% !important;
  margin-right: -1% !important;
  padding: 1px 5px 0px 9px !important;
}

.menuBtnHeight {
  width: 91%;
  height: 64%;
}

.fontSize13px {
  font-size: 13px;
}

.fontSize100px {
  font-size: 100px !important;
}
.cursor{
  cursor:pointer !important;
}

.linkedinBlock {
  border-right: 1px solid;
  padding-bottom: 35%;
  margin-top: 5%;
  padding-top: 10%;
  color: black;
}

.signupHeading {
  font-size: 32px;
  padding-top: 1%;
}

.profileImage1 {
  width: 65px;
  height: 65px;
  border-radius: 50px;
}

.profileImage {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  border: 1px solid #dbdbdb;
}

.marginTop5per {
  margin-top: 5%;
}

.marginTop20per {
  margin-top: 20%;
}

.inputField {
  /*border-radius: 5px !important;
  border: 1px solid #000 !important;
  padding: 2%;*/
}

.none_display {
  display: none !important;
}

.borderTop {
  border-top: 1px solid #000;
}

.selectField {
  padding-bottom: 1% !important;
  height: 34px;
}

.red-border-class {
  border: 1px solid #e69090 !important;
}

.noResize {
  resize: none;
}

.marginTop1per {
  margin-top: 1%;
}

.fontSize11px {
  font-size: 11px;
}
.counter-badge{
	float: right;
  margin: 5px 14px 0 0;
  background-color: #ffffff;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: normal;
  line-height: 1;
  color: #009bbd;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  border: 1px solid;
  }

  .counter-badge1{
    float: right;
    margin: 5px 14px 0 0;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: normal;
    line-height: 1;
    color: #009bbd;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;;
    }

/*.lineHead {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.lineHead span {
  background:#fff;
  padding:0 10px;
}*/
.lineHead {
  overflow: hidden;
  text-align: center;
}
.bg-color {
 background-image: url('../../assets/images/certtin-bg.jpg');
}
.lineHead:before,
.lineHead:after {
  background-color: #f9f9f9;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.lineHead:before {
  right: 0.5em;
  margin-left: -50%;
}

.lineHead:after {
  left: 0.5em;
  margin-right: -50%;
}

.boldFont {
  font-weight: bold;
}
.fontSize11px{
  font-size: 11px;
}
.noPadding {
  padding: 0px !important;
}
.modulepic{
  width: 360px;
  height: 360px;
}
.logoSize {
  width: 120px;
  height: 57px
}
.noPaddingRightLeft {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.marginBottom2per{
  margin-bottom: 2%;
}
.shadowcard {
  box-shadow: 1px 4px 17px 0 rgba(190, 189, 189, 0.51), -1px 4px 20px 0 rgba(190, 189, 189, 0.51);
}

.cursorPointer {
  cursor: pointer;
}

.marginBottom12px {
  margin-bottom: 12% !important;
}

.minHeight300px {
  min-height: 300px !important;
}

.minHeight320px {
  /*min-height: 320px !important;*/
}

.paddingbottom2per {
  padding-bottom: 2%;
}

.noDataImageStyles {
  width: 100px;
  height: 88px;
}

.fontsize13px {
  font-size: 13px !important;
}

.noPaddingTop {
  padding-top: 0% !important;
}

.errMsg {
  color: red !important;
  font-size: 11px;
}

.errMsg {
  color: red !important;
  font-size: 11px;
}

.app-sidebar.bg-color-light .nav a {
  color: #777777 !important;
}

.app-sidebar.bg-color-light .nav a:active, .app-sidebar.bg-color-light .nav a:focus {
  color: #f37120 !important;
  background-color: #000000;
}

.dropdown-menu {
  padding: 0;
}

.custom-dropdown-area {
  padding: 5px 0 0 0 !important;
  border-bottom: 1px solid #dcdcdc !important;
  font-size: 13px !important;
}

.custom-dropdown-area ul {
  padding: 0;
  margin-bottom: 0;
}

.custom-dropdown-area ul li {
  padding: 5px 0 0 5px !important;
  border-bottom: 1px solid #dcdcdc !important;
  font-size: 13px !important;
}

.custom-dropdown-area ul li:last-child {
  padding: 5px 0 0 5px !important;
  border-bottom: 0px solid #dcdcdc !important;
  font-size: 13px !important;
}

.custom-dropdown-area ul li:hover {
  background-color: #f9f9f9;
  padding: 5px 0 0 5px !important;
  font-size: 13px !important;
}

.displayNone {
  display: none;
}

.fontBold {
  font-weight: bold;
}

.chapter .article-title {
  padding-top: 0px;
  border-top: 0px solid rgba(0, 0, 0, 0.117647);
}

.help-color {
  color: #a6a6a6;
  vertical-align: middle;
}

.custom-padding-label {
  padding: 0px;
}

.lightTopMargin {
  margin-top: 2%;
}

.custom-button-color {
  background-color: #163151;
  color: #fff;
  outline: 0;
}

.custom-eye-btn {
  background-color: #e9ecef;
}

.private-key-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.currency-color {
  color: #bbbbbb;
  font-size: 1.2rem;
}

.transaction-history-color {
  color: #5e8ec7;
}

.profile-img {
  width: 80px;
  height: 80px;
  display: block;
  line-height: 80px;
  border-radius: 50%;
}

.noMarginLeft {
  margin-left: 0%;
}

.eyeIcon {
  position: absolute;
  right: 12px;
  top: 12px;
}

.noPaddingRight {
  padding-right: 0%;
}

.wrapText {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.oStar {
  content: "\F006";
  color: #a4a4a4;
}

.selectStar {
  content: "\F005";
  color: #f37120;
}
.marginBottom2per{
  margin-bottom: 2%;
}
/* .hoverStyle:hover{
  background-color: greenyellow;
} */
.redClr{
  color:red
}
.redBorder{
  border : 1px solid red;
}
.borderRadius5px{
  border-radius: 5px;
}
.noPaddingLeft{
  padding-left: 0px !important;
}
.noPaddingRightBtn{
  padding-right: 0px;
}
.cancelBtn{
  border: 1px solid #d8dde6 !important;
  color: #009bbd!important;
  background-color: #fff;
}
.cancelBtnNEw{
  border: 1px solid #FFB217 !important;
  color: #FFB217!important;
  cursor: pointer;
  background-color: transparent !important;
}
.mainBtn{
  border: 1px solid transparent;
  color: #fff!important;
  background-color: #009bbd;
}
/* Loading Css */
/*.load-bar {
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  z-index: 10000000;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #f37120;
  animation: loading 3s linear infinite;
}

@keyframes loading {
  from {left: 0; width: 0;z-index:100;}
  33.3333% {left: 0; width: 100%;z-index: 10;}
  to {left: 0; width: 100%;}
}*/

/*Media Queries*/

@media screen and (min-width: 320px)  and (max-width: 575px) {
  .respMtop1per {
    margin-top: 1% !important;
  }
}

.searchClass {
  width: 100% !important;
}

.btngBgOpacity {
  opacity: 0.5;
}

.widthMd {
  width: 40%;
}

.loaderPosition {
  width: 25px;
  height: 25px;
  position: absolute;
  /* right: 15%; */
  top: 25%;
}

.subHeadingColor {
  color: #009bbd !important;
  font-weight: 500;
}

.passwordStrengthStyle {
  font-size: 12px;
  text-align: right;
}

.weakColor {
  color: #F00 !important;
}

.strongColor {
  color: #008000 !important;
}

.mediumColor {
  color: #ffa500 !important;
}

.minHeight660 {
  min-height: 660px !important;
}

.nav-icon1 {
  margin-right: 20px !important;
}

.nav-icon2 {
  margin-right: 14px !important;
}

.nav-icon3 {
  margin-right: 16px !important;
}

/*Media Queries*/

@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (min-width: 320px) and (max-width: 480px) {
  .widthXs {
    width: 100% !important;
  }

  .resMarginTop2per {
    margin-top: 2%;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .widthXs {
    width: 100% !important;
  }

  .resMarginTop2per {
    margin-top: 2%;
  }
}

@media (max-width: 360px) and (min-width: 300px) {
  .widthXs {
    width: 100% !important;
  }

  .resMarginTop2per {
    margin-top: 2%;
  }

}

@media (max-width: 770px) and (min-width: 730px) {
}

@media (max-width: 641px) and (min-width: 600px) {
}

@media (max-width: 1030px) and (min-width: 1020px) {

}


