<div *ngIf="!revoked" class="row" align="center"
     style="border-radius: 4px; position: absolute;top: 0px;left: 2%;width: 100%; height: 100%;background-color:rgba(0, 0, 0, 0);z-index: 100 ">
  <div class="col-md-12" style="margin-top: 10%">
    <img src="assets/images/revoked-stamp-2.png" class="img-responsive" style="width: 65%">
  </div>
</div>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 noPadding">
  <img *ngIf="borderTop" [src]="borderTop" class="img-responsive">
</div>
<div class="col-md-12 col-xs-12 col-sm-12" [ngClass]="className">
  <div class="col-md-8 col-lg-8 col-sm-8" align="center">
    <p class="ttileHead">CERTIFICATE </p>
    <p class="textCenter"><span>OF ATTENDANCE</span></p>

    <p> This Certificate of Attendance is Proudly presented to </p>
    <h2 class="titleName"> {{participentName}}</h2>
    <p> <b >  AI in Soweto Boot Camp &amp; Hackathon</b>
      <br> 7 - 9 Dec 2018 in Johannesburg, South Africa
      <br> Design thinking, Introduction to Sway and Power App, Introduction to AI</p>
    <!-- <p><span>Location</span> : Johannesburg South Africa </p>
     <p><span>Date</span> : 7 December 2018 - 9 December 2018</p>-->
  </div>
  <div class="col-md-3 col-lg-3 col-sm-3" style="margin-top: 5%">
    <img src="assets/eventImages/logo.png" class="imgStatic">
  </div>
</div>
<div class="col-md-12" [ngClass]="className" style="margin-top: 2%">
  <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12" style="border-top: 1px solid #eae4e4">
    <p class="footer">Fliptin South Africa, 4th floor Rosebank Corner, 191 Jan Smuts Avenue Rosebank 2193, Johannesburg, South
      Africa <br> Tel: +27 (0)10 590 3040, email: support@fliptin.com </p>
    <p> </p>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 " align="center">
    <h2 class="hop "> Lee Chana</h2>
    <p > Head of Programme</p>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center" style="margin-top: 2%">
  <img src="assets/eventImages/footer.png" class="img-responsive">
</div>

<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 noPadding">
  <img *ngIf="borderBtm" [src]="borderBtm" class="img-responsive">
</div>
