h1, h2, h3, h4, h5, h6 {
  color: #008fc1;
  font-family: 'Open Sans', sans-serif !important;
}

.custom-profile-pic {
  width: 43%;
  height: 40%;
  margin-top: 6%;
  border-radius: 100px
}

.inTemplates p {
  font-size: 6px;
  line-height: 2;
  margin-bottom: 0px;
}

.inTemplates .titleName {
  font-size: 18px;
  font-family: 'Alex Brush', cursive !important;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #ff586f !important;
}

.inTemplates .ttileHead {
  font-family: 'IBM Plex Sans', sans-serif !important;
  letter-spacing: 4px;
  font-size: 20px !important;
}

.inTemplates .imgStatic {
  width: 100px;
  margin-left: -85%
}
.inTemplates .hop {
  font-size: 6px;
  font-family: 'Alex Brush', cursive !important;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #101010;
}
.inTemplates .footer {
  font-size: 5px;
  color: #838383;
  padding-top: 2px;

}

.inboxView .imgStatic {
  width: 145px;
  margin-left: -13%
}

.inboxView p {
  font-size: 12px;
  line-height: 2;
  margin-bottom: 0px;
}

.inboxView .titleName {
  font-size: 40px;
  font-family: 'Alex Brush', cursive !important;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #ff586f !important;
}

.inboxView .ttileHead {
  font-family: 'IBM Plex Sans', sans-serif !important;
  letter-spacing: 12px;
  font-size: 26px !important;
}

.inboxView .hop {
  font-size: 19px;
  font-family: 'Alex Brush', cursive !important;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #101010;
}
.inboxView .footer {
  font-size: 9px;
  color: #838383;
  padding-top: 2px;

}


.inTemplates .textCenter {
  width: 80%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 0px 0 20px;
}

.inTemplates .textCenter span {
  background: #fff;
  padding: 0 10px;
  color: #000;
  font-weight: bold;
}

.inboxView .textCenter {
  width: 77%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 0px 0 20px;
}

.inboxView .textCenter span {
  background: #fff;
  padding: 0 10px;
  color: #000;
  font-weight: bold;
}

.publicUrl .imgStatic {
  width: 226px;
  margin-left: -23%;
}

.publicUrl p {
  font-size: 13px;
  line-height: 2;
  margin-bottom: 0px;
}

.publicUrl .titleName {
  font-size: 49px;
  font-family: 'Alex Brush', cursive !important;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #ff586f !important;
}

.publicUrl .hop {
  font-size: 22px;
  font-family: 'Alex Brush', cursive !important;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #101010;
}
.publicUrl .footer {
  font-size: 11px;
  color: #838383;
  padding-top: 2px;

}

.publicUrl .ttileHead {
  font-family: 'IBM Plex Sans', sans-serif !important;
  letter-spacing: 19px;
  font-size: 27px !important;
}

.publicUrl .textCenter {
  width: 73%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 0px 0 20px;
  font-size: 12px;
}

.publicUrl .textCenter span {
  background: #fff;
  padding: 0 10px;
  color: #000;
  font-weight: bold;
  font-size: 12px;
}
