<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">

  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a>Certificates</a>
    </li>
    <li class="breadcrumb-item active">Qualification Requests</li>
  </ol>
  <!-- Breadcumbs -->
  <article class="article">
    <div class="box box-default">
      <div class="box-body" style="padding:0px;">
        <div class="row borderBottom marginZero">
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
            <h5 class="lHeightStyle">Qualification Requests</h5>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 padding6px">
            <div class="input-group input-sm pull-center" data-toggle="dropdown" data-hover="dropdown" style="height: 38px;">
              <span class="input-group-addon" data-toggle="dropdown" [mdMenuTriggerFor]="menu" data-hover="dropdown" style="cursor: pointer;  width:3.2rem "
                id="basic-addon1">
                <i class=" dropdown material-icons" style="font-size:20px">search</i>
                <i class=" dropdown material-icons m-l-minus5px" style="transform: rotate(270deg); font-size:15px;">chevron_left</i>
              </span>
              <input type="text" class="form-control input-sm fontsize13px" (keyup)="getSearchResult()" [(ngModel)]="searchValue" placeholder="{{placeholdervalue}}"
                aria-describedby="basic-addon1" style=" border-radius: 3px;border-top-left-radius: 0;border-bottom-left-radius: 0;height: 2rem;">
              <md-menu #menu="mdMenu" class="custom-width">
                <button md-menu-item class="searchItem" disabled>Search By</button>
                <button md-menu-item class="searchItem" (click)="selectedSearch('Name')">Name
                </button>
                <button md-menu-item class="searchItem" (click)="selectedSearch('Degree')">Degree
                </button>
                <button md-menu-item class="searchItem" (click)="selectedSearch('Specialization')">Specialization
                </button>
                <!--   <button md-menu-item class="searchItem" (click)="selectedSearch('Status')">Certificate Status
                  </button>-->
              </md-menu>
            </div>
          </div>


        </div>

        <div class="row marginZero">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
            <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6 padding1Per">
              <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize" (change)="recordsPerPage()">
                <option value="10" selected> 10 Records per page</option>
                <option value="20"> 20 Records per page</option>
                <option value="40"> 40 Records per page</option>
                <option value="60"> 60 Records per page</option>
                <option value="80"> 80 Records per page</option>
                <option value="100"> 100 Records per page</option>
              </select>
            </div>
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2 padding1Per">
              <div class="row">
                <span (click)="prevPage()" style="cursor: pointer">
                  <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                </span>
                <span> {{firstItem}}
                  <span style="color: #cccccc"> to</span> {{lastItem}}</span>
                <span (click)="nextPage()" style="cursor: pointer;">
                  <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="box box-default table-box table-responsive table-sm mdl-shadow--2dp noMarginBottom">
          <table class="mdl-data-table borderZero">
            <thead>
              <tr class="custom-table-heading borderZero">
                <th class="mdl-data-table__cell--non-numeric ">
                  <!--<i class="fa fa-square-o unckeck-box" aria-hidden="true"></i>-->
                </th>
                <th class="mdl-data-table__cell--non-numeric cursorPointer" (click)="sortingName('personName')"> Name
                  <i *ngIf="!personNameSort" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'personName' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'personName' && sortingOrder == 'ASC')" class="fa fa-sort-asc" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'personName' && sortingOrder == 'DESC')" class="fa fa-sort-desc" aria-hidden="true"></i>
                </th>
                <th class="mdl-data-table__cell--non-numeric cursorPointer" (click)="sortingName('courseName')"> Degree
                  <i *ngIf="!courseNameSort" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'courseName' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'courseName' && sortingOrder == 'ASC')" class="fa fa-sort-asc" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'courseName' && sortingOrder == 'DESC')" class="fa fa-sort-desc" aria-hidden="true"></i>
                </th>
                <th class="mdl-data-table__cell--non-numeric cursorPointer" (click)="sortingName('specialization')">Specialization

                  <i *ngIf="!specializationSort" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'specialization' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'specialization' && sortingOrder == 'ASC')" class="fa fa-sort-asc" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'specialization' && sortingOrder == 'DESC')" class="fa fa-sort-desc" aria-hidden="true"></i>
                </th>
                <th class="mdl-data-table__cell--non-numeric ">Status</th>
                <th class="mdl-data-table__cell--non-numeric ">Certificate status</th>
                <th class="mdl-data-table__cell--non-numeric ">Requested Date</th>
                <th class="mdl-data-table__cell--non-numeric " style="text-align:center;">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let qualification of qualificationListResponse; let i=index">
              <tr style="cursor: pointer" (click)="selectRow(qualification,i,$event)">
                <td class="mdl-data-table__cell--non-numeric ">
                  <i class="fa fa-square-o unckeck-box" aria-hidden="true" *ngIf="checkedIdx!=i"></i>
                  <i class="fa fa-check-square checked-box" aria-hidden="true" *ngIf="checkedIdx==i"></i>
                </td>
                <td class="mdl-data-table__cell--non-numeric ">{{qualification.requesterName}}</td>
                <td class="mdl-data-table__cell--non-numeric ">{{qualification.courseName}}</td>
                <td class="mdl-data-table__cell--non-numeric ">{{qualification.specialization}}</td>
                <td class="mdl-data-table__cell--non-numeric ">{{qualification.status}}</td>
                <td class="mdl-data-table__cell--non-numeric ">{{qualification.certificateStatus}}</td>
                <td class="mdl-data-table__cell--non-numeric ">{{mm.utc(qualification.requestedDate).toDate() | date:'short'}}</td>
                <td class="mdl-data-table__cell--non-numeric " style="text-align:center;">
                  <button md-icon-button [mdMenuTriggerFor]="actionMenu">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <md-menu #actionMenu="mdMenu" class="table-dropdown-area">
                    <button md-menu-item (click)="goToView(qualification)">
                      <i class="material-icons icon-color">
                        visibility
                      </i>
                      <span class="icon-txt">View</span>
                    </button>
                  </md-menu>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="showLoader">
              <tr>
                <td colspan="8" class="noPaddingTop">
                  <h6 align="center" class="fontsize13px colorBlack">
                    <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
                  </h6>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="qualificationListResponse?.length == 0 && !showLoader">
              <tr>
                <td colspan="8" class="noPaddingTop">
                  <h6 align="center" class="fontsize13px colorBlack">
                    <img *ngIf="!showLoader" src="assets/images/empty-table.png" class="noDataImageStyles">
                    <br>Uhh.. There is no data at this moment</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row marginZero">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
            <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7 " style="padding: 1%">
              <span style="font-size: 15px;">Total Count: {{totalCount}}</span>
            </div>
            <div align="right" class="col-md-3 col-lg-3 col-xs-3 col-sm-3" style="padding: 1%">
              <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize" (change)="recordsPerPage()">
                <option value="10" selected> 10 Records per page</option>
                <option value="20"> 20 Records per page</option>
                <option value="40"> 40 Records per page</option>
                <option value="60"> 60 Records per page</option>
                <option value="80"> 80 Records per page</option>
                <option value="100"> 100 Records per page</option>
              </select>
            </div>
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <div class="row">
                <span (click)="prevPage()" style="cursor: pointer">
                  <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                </span>
                <span>{{firstItem}}
                  <span style="color: #cccccc"> to</span> {{lastItem}}</span>
                <span (click)="nextPage()" style="cursor: pointer;">
                  <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
