<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">

  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/adminSettings']">Admin</a>
    </li>
    <li class="breadcrumb-item active">Audit Logs</li>
  </ol>
  <!-- Breadcumbs -->

  <article class="article">
    <div class="box box-default">
      <div class="box-body" style="padding:0px;">
        <div class="row borderBottom marginZero">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
              <h5 class="lHeightStyle">Audit Logs</h5>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4 padding6px">
              <div class="input-group input-sm pull-center" data-toggle="dropdown" data-hover="dropdown" style="height: 38px;">
                <span class="input-group-addon" data-toggle="dropdown" [mdMenuTriggerFor]="menu" data-hover="dropdown" style="cursor: pointer;  width:3.2rem "
                  id="basic-addon1">
                  <i class=" dropdown material-icons" style="font-size:20px">search</i>
                  <i class=" dropdown material-icons m-l-minus5px" style="transform: rotate(270deg); font-size:15px;">chevron_left</i>
                </span>
                <input type="text" class="form-control input-sm fontsize13px" (keyup)="getSearchResult()" [(ngModel)]="searchValue" placeholder="{{placeholdervalue}}"
                  aria-describedby="basic-addon1" style=" border-radius: 3px;border-top-left-radius: 0;border-bottom-left-radius: 0;height: 2rem;">
                <md-menu #menu="mdMenu" class="custom-width">
                  <button md-menu-item class="searchItem" disabled>Search By</button>
                  <button md-menu-item class="searchItem" (click)="selectedSearch('User Name')">Username
                  </button>
                  <button md-menu-item class="searchItem" (click)="selectedSearch('Client Ip')">Client IP
                  </button>
                  <button md-menu-item class="searchItem" (click)="selectedSearch('Browser Type')">Browser Type
                  </button>
                  <!-- <button md-menu-item class="searchItem" (click)="selectedSearch('Request Time')">Requested Time
                </button> -->
                  <button md-menu-item class="searchItem" (click)="selectedSearch('Action')">Action
                  </button>
                </md-menu>
              </div>
            </div>
          </div>
        </div>

        <div class="row marginZero">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
            <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6 padding1Per">
              <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize" (change)="recordsPerPage()">
                <option value="10" selected> 10 Records per page</option>
                <option value="20"> 20 Records per page</option>
                <option value="40"> 40 Records per page</option>
                <option value="60"> 60 Records per page</option>
                <option value="80"> 80 Records per page</option>
                <option value="100"> 100 Records per page</option>
              </select>
            </div>
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <div class="row">
                <span (click)="prevPage()" style="cursor: pointer">
                  <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                </span>
                <span>{{firstItem}}
                  <span style="color: #cccccc"> to</span> {{lastItem}}</span>
                <span (click)="nextPage()" style="cursor: pointer;">
                  <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="box box-default table-box table-responsive table-sm mdl-shadow--2dp noMarginBottom">
          <table class="mdl-data-table borderZero">
            <thead>
              <tr class="custom-table-heading borderZero">
                <!-- <th class="mdl-data-table__cell--non-numeric cursorPointer">Audit ID</th> -->
                <th class="mdl-data-table__cell--non-numeric cursorPointer" (click)="sortingName('audit_fields.userName', '')">User name
                  <!-- <i [className]="(sortingField== 'orgname' && sortingOrder == 'ASC') ? 'fa fa-chevron-up' : (sortingField== 'orgname' && sortingOrder == 'DESC') ? 'fa fa-chevron-down' : 'displayNone'"></i>
                   <md-menu #orgSort="mdMenu" class="custom-dropdown-area ">
                    <ul style="list-style-type: none; text-align:left;">
                      <li style="cursor: pointer;" (click)="sortingName('userName','ASC')">Asc</li>
                      <li style="cursor: pointer;" (click)="sortingName('userName','DESC')">Desc</li>
                    </ul>
                  </md-menu> -->
                  <i *ngIf="!userNameSort" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'audit_fields.userName' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'audit_fields.userName' && sortingOrder == 'ASC')" class="fa fa-sort-asc" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'audit_fields.userName' && sortingOrder == 'DESC')" class="fa fa-sort-desc" aria-hidden="true"></i>
                </th>
                <th class="mdl-data-table__cell--non-numeric cursorPointer" (click)="sortingName('audit_fields.clientIp','')"> Client IP
                  <i *ngIf="!clientIpSort" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'audit_fields.clientIp' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'audit_fields.clientIp' && sortingOrder == 'ASC')" class="fa fa-sort-asc" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'audit_fields.clientIp' && sortingOrder == 'DESC')" class="fa fa-sort-desc" aria-hidden="true"></i>
                </th>
                <!-- <th class="mdl-data-table__cell--non-numeric alignCenter"> Source</th>
                  <th class="mdl-data-table__cell--non-numeric alignCenter">User Id</th> -->
                <th class="mdl-data-table__cell--non-numeric cursorPointer" (click)="sortingName('audit_fields.web.browser', '')">Browser Type
                  <i *ngIf="!browserTypeSort" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'audit_fields.web.browser' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'audit_fields.web.browser' && sortingOrder == 'ASC')" class="fa fa-sort-asc" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'audit_fields.web.browser' && sortingOrder == 'DESC')" class="fa fa-sort-desc" aria-hidden="true"></i>
                </th>
                <!-- <th class="mdl-data-table__cell--non-numeric alignCenter">Location</th>
                  <th class="mdl-data-table__cell--non-numeric alignCenter">Browser</th> -->
                <th class="mdl-data-table__cell--non-numeric cursorPointer" (click)="sortingName('requestTime','')">Requested
                  <!-- <i *ngIf="!requestTimeSort" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'requestTime' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'requestTime' && sortingOrder == 'ASC')" class="fa fa-sort-asc" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'requestTime' && sortingOrder == 'DESC')" class="fa fa-sort-desc" aria-hidden="true"></i> -->
                </th>
                <th class="mdl-data-table__cell--non-numeric cursorPointer" (click)="sortingName('service_name', '')">Action
                  <i *ngIf="!verbSort" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'service_name' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'service_name' && sortingOrder == 'ASC')" class="fa fa-sort-asc" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'service_name' && sortingOrder == 'DESC')" class="fa fa-sort-desc" aria-hidden="true"></i>
                </th>
                <!-- <th class="mdl-data-table__cell--non-numeric alignCenter">Timezone ID</th>
                  <th class="mdl-data-table__cell--non-numeric alignCenter">Actions</th> -->
              </tr>
            </thead>
            <tbody>
              <tr style="cursor: pointer" *ngFor="let auditLog of auditList">
                <!-- <td class="mdl-data-table__cell--non-numeric cursorPointer">{{auditLog.id}}</td>-->
                <td class="mdl-data-table__cell--non-numeric ">{{auditLog?.innerAudit?.userName}}</td>
                <td class="mdl-data-table__cell--non-numeric ">{{auditLog?.innerAudit?.clientIp}}</td>
                <td class="mdl-data-table__cell--non-numeric ">{{auditLog?.innerAudit?.web?.browser}}</td>
                <!-- <td  class="mdl-data-table__cell--non-numeric alignCenter">{{auditLog.sourceIp}}</td>
                  <td class="mdl-data-table__cell--non-numeric alignCenter">{{auditLog.userId}}</td> -->
                <td class="mdl-data-table__cell--non-numeric ">{{mm.utc(auditLog?.userRequestTime).toDate() | date:'short'}}</td>
                <td class="mdl-data-table__cell--non-numeric ">{{auditLog?.serviceName}}</td>
                <!-- <td class="mdl-data-table__cell--non-numeric alignCenter">{{auditLog.timeZoneId}}</td>
                  <td class="mdl-data-table__cell--non-numeric alignCenter">
                    <i class="fa fa-eye iconstyle" aria-hidden="true"></i>
                  </td> -->
              </tr>
            </tbody>
            <tbody *ngIf="showLoader">
              <tr>
                <td colspan="6" class="noPaddingTop">
                  <h6 align="center" class="fontsize13px colorBlack">
                    <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
                  </h6>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="auditList?.length == 0 && !showLoader">
              <tr>
                <td colspan="6" class="noPaddingTop">
                  <h6 align="center" class="fontsize13px colorBlack">
                    <img *ngIf="!showLoader" src="assets/images/empty-table.png" class="noDataImageStyles">
                    <br>Uhh.. There is no data at this moment</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row marginZero">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
            <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7 " style="padding: 1%">
              <span style="font-size: 15px;">Total Count: {{totalCount}}</span>
            </div>
            <div align="right" class="col-md-3 col-lg-3 col-xs-3 col-sm-3" style="padding: 1%">
              <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize" (change)="recordsPerPage()">
                <option value="10" selected> 10 Records per page</option>
                <option value="20"> 20 Records per page</option>
                <option value="40"> 40 Records per page</option>
                <option value="60"> 60 Records per page</option>
                <option value="80"> 80 Records per page</option>
                <option value="100"> 100 Records per page</option>
              </select>
            </div>
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <div class="row">
                <span (click)="prevPage()" style="cursor: pointer">
                  <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                </span>
                <span>{{firstItem}}
                  <span style="color: #cccccc"> to</span> {{lastItem}}</span>
                <span (click)="nextPage()" style="cursor: pointer;">
                  <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>