<div class="page-auth bg-color">
  <div class="main-body">
    <div class="card card-white">
      <div class="card-content">
        <form class="md-form-auth form-validation" [formGroup]="forgotForm" name="material_login_form" (ngSubmit)="resendOTP()">
            <div align="center" class="col">
                <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive" style="width: 150px;">
              </div>
          <div class="row text-center no-margin">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <h5 class="forgot-title" style="margin-top:20px;">Forgot Your Password</h5>
            </div>
          </div>

          <fieldset>
            <p class="mb-3">Enter your email address that you used to register. We'll send you an email with your
              username and a link to reset your password.</p>

            <div class="form-group row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label> Email * </label>
                <input formControlName="email" required class="form-control" type="text" name="email" placeholder="Email"
                       [(ngModel)]="forgot.email"
                       [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              </div>
            </div>

            <div class="form-group mb-6">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 custom-width-50 pl-0">
                <button class="btn btn-secondary-color" (click)="login()" type="button">
                  Cancel
                </button>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 custom-width-50 pr-0">
                <button class="btn btn-primary " type="submit">
                  Send
                  <img *ngIf="showLoader" class="loaderPosition" src="assets/images/source.gif" style="width: 27px;height: 27px;">
                </button>
              </div>

            </div>


          </fieldset>
        </form>



        <div class="forgot-info" >
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-left pl-2 small-font12">
            <a [routerLink]="['/extra/accountLogin']"> Log In</a>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 custom-width-50 pr-2 small-font12">
            <a [routerLink]="['/extra/sign-up']">Create an account </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
