.bg-color {
  background-color: #fbffff;
}

.card {
  box-shadow: none;
  padding: 30px 30px;
  border-radius: 5px;
}

.card .card-content {
  padding: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.pt-1{
  padding-top: 1rem !important;
}
.mb-6{
  margin-bottom: 6rem !important;
}
.pl-2{
   padding-left: 2rem !important;
 }
.pr-2{
  padding-right: 2rem !important;
}
.pl-0{
  padding-left: 0px !important;
}
.pr-0{
  padding-right: 0px !important;
}


.forgot-title {
  color: #009bbd;
  margin: 0 .75rem .75rem 0;
  text-align: center;
  font-size: 1.3rem;
  display: block;
}

label {
  font-weight: 500;
  margin-bottom: 0.2rem;
  font-size: 13px;
  color: #909090;
}

.btn-primary {
  text-shadow: none;
  box-shadow: none;
}

.form-control {
  padding: 1.5rem 1rem;
  box-shadow: none;
}

.btn {
  padding: 0.9rem 1rem;
  border-radius: 4px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  width: 100%;
  background-image: none !important;
  background-color:#009bbd;
}

.btn-secondary-color {
  background-color: #ffffff;
  border: 1px solid #D8DDE6;
  color: #009bbd !important;
}
.btn-secondary-color:hover {
  background-color: #fbffff;
  border: 1px solid #D8DDE6;
  color: #009bbd !important;
}
.forgot-info{
  background-color: rgba(197, 197, 197, 0.04);
  padding: 10px 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  font-size: 0.875rem;
  border-top: 1px solid #ececec;
  color: #009bbd;
}
.forgot-info a {
  text-decoration: none;
}
@media only screen and (max-width: 420px) {
  .custom-width-50{
    width:50%;
  }
  .small-font12{
    font-size: 12px;
  }
}
