<section>
  <div class="row" style="border-bottom: 1px solid #ccc">
    <div class="col-12" align="center">
      <p><b> Change Password </b></p>
    </div>
  </div>
  <div class="row" style="margin-top: 5%">
    <div class="col-12" style="padding-top: 2%">
      <form #changepasswordForm="ngForm" name="myForm">
        <div class="form-group">
          <label> New password* </label>
          <input required class="form-control" [(ngModel)]="changePasswordObj.password" #password="ngModel"
                 [ngClass]="{'red-border-class': password.touched && password.invalid}" minlength="5"
                 type="password" name="password" placeholder="New password">
        </div>
        <!--
                <password-strength-bar (passwordStatus)="passwordStatuss($event)" [passwordToCheck]="changePasswordObj.password" ></password-strength-bar>
        -->

        <div class="form-group">
          <label> Confirm password* </label>
          <input required class="form-control" #confpass="ngModel" [(ngModel)]="cpassword" type="password"
                 name="cpassword" minlength="5"

                 [ngClass]="{'red-border-class': confpass.touched && confpass.invalid}" placeholder="Confirm password">
          <div *ngIf="changePasswordObj.password !== cpassword  && cpassword">
            <span style="font-size: 10px;color: #838383;"><i> password must be same </i></span>
          </div>
        </div>
        <div class="row" *ngIf="changePasswordError">
          <div class="col-md-12" align="center">
            <p id="password-strength-text" class="errMsg">{{changePasswordError}}</p>
          </div>
        </div>
        <div class="row" style="border-top: 1px solid #ccc">
          <div class="col-4">
          </div>
          <div class="col-8 text-right " style="margin-top: 2%">
            <button (click)="changePassword()" class="btn btn-primary" type="submit"
                    [disabled]="changepasswordForm.form.invalid || (cpassword !== changePasswordObj.password) || passwordStrength == 'Weak'">
              Change Password
            </button>
            <!-- <img *ngIf="showLoader" src="assets/images/source.gif" style="width:20px; height: 20px;">-->
            <button (click)="close()" class="btn btn-primary" type="button">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</section>
