<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">
  <!-- Breadcumbs -->
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/app/dashboard']">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a>Subscriptions</a>
      </li>
      <li class="breadcrumb-item active">Invoice</li>
    </ol>
    <!-- Breadcumbs -->
  <article class="article">
    <div class="box box-default">
      <div class="box-body" style="padding:0px;">
        <div class="row borderBottom" style="margin-right: 0px;margin-left: 0px; ">
          <div class="col-md-8 col-lg-8 col-sm-4 col-xs-6">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <h5>Invoice List</h5>
              </div>
            </div>
          </div>
          <!--
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4 " style="padding:1%; margin-left:2.2rem ">
                      <div class="input-group input-sm" style="height: 38px;">
                        <span class="input-group-addon" style="cursor: pointer;  width:3.2rem " [mdMenuTriggerFor]="menu" id="basic-addon1">
                          <i class="material-icons" style="font-size:20px">search</i>
                          <i style="transform: rotate(270deg); font-size:15px;" class="material-icons ">chevron_left</i>
                        </span>
                        <input type="text" class="form-control input-sm fontsize13px" (keyup)="getSearchResult()" [(ngModel)]="searchValue" placeholder="{{placeholdervalue }}"
                          aria-describedby="basic-addon1" style=" border-radius: 3px;border-top-left-radius: 0;border-bottom-left-radius: 0;height: 2rem;">
                        <md-menu #menu="mdMenu" class="custom-width">
                          <button md-menu-item class="searchItem" disabled>Search By</button>
                          <button md-menu-item class="searchItem" (click)="selectedSearch('applicationName')">Application
                          </button>
                        </md-menu>
                      </div>
                    </div>
          -->
        </div>
        <!--
                <div class="row" style="padding:1%;">
                  <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6 paddingLeft">
                    <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize" (change)="getCahnaged()" *ngIf="!selectedCheckbox">
                      <option value="10" selected> 10 Records per page</option>
                      <option value="20"> 20 Records per page</option>
                    </select>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    <div class="row" style="margin-left:0px;">
                      <span (click)="prevPage()" style="cursor: pointer">
                        <img src="assets/images/left_arrow.png" class="img-responsive customHW"> </span>
                      <span> 01
                        <span style="color: #cccccc"> to</span> 10</span>
                      <span (click)="nextPage()" style="cursor: pointer;">
                        <img src="assets/images/arrow.png" class="img-responsive customHW"> </span>
                    </div>
                  </div>
                </div>
        -->
        <div class="box box-default table-box table-responsive table-sm mdl-shadow--2dp noMarginBottom">
          <table class="mdl-data-table ">
            <thead >
              <tr class="custom-table-heading">
                <th class="mdl-data-table__cell--non-numeric cursorPointer">Invoice Number</th>
                <th class="mdl-data-table__cell--non-numeric ">Amount</th>
                <th class="mdl-data-table__cell--non-numeric alignCenter">Created Date</th>
                <th class="mdl-data-table__cell--non-numeric alignCenter"> Due Date</th>
                <th class="mdl-data-table__cell--non-numeric alignCenter"> Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr style="cursor: pointer" *ngFor="let invoice of invoicesList; let i = index">
                <td class="mdl-data-table__cell--non-numeric">{{invoice.number}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{invoice.amountPaid/100}}$</td>
                <td class="mdl-data-table__cell--non-numeric alignCenter">{{mm.utc(invoice.created).format('MM/DD/YYYY')}}</td>
                <td class="mdl-data-table__cell--non-numeric alignCenter" *ngIf="invoice.dueDate">
                  {{invoice.dueDate|date}}
                </td>
                <td class="mdl-data-table__cell--non-numeric alignCenter" *ngIf="!invoice.dueDate">--</td>
                <td class="mdl-data-table__cell--non-numeric alignCenter">
                  <i (click)="goToDetails(invoice)" class="fa fa-eye iconstyle" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="showLoader">
              <tr>
                <td colspan="5" class="noPaddingTop">
                  <h6 align="center" class="fontsize13px colorBlack">
                    <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
                  </h6>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!showLoader && !invoicesList?.length">
              <tr>
                <td colspan="5" class="noPaddingTop">
                  <h6 align="center" class="fontsize13px colorBlack">
                    <img *ngIf="!showLoader" src="assets/images/empty-table.png" class="noDataImageStyles"><br>Uhh.. There is no data at this moment</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </article>
</section>
<section *ngIf="viewDetails" class="container-fluid with-maxwidth chapter customFluid" style="padding: 2%">
  <article class="article">
    <div class="box box-default">
      <div class="box-body" style="padding:1%;">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <img (click)="goBack()" src="assets/images/close.png" style="float:right;">
          <h5>Invoice Details</h5>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass">
            <div class="col-md-4">Id :</div>
            <div class="col-md-8">{{invoiceDetails.id}}</div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass1">
            <div class="col-md-4">Created :</div>
            <div class="col-md-8">{{mm.utc(invoiceDetails.created).toDate()|date: 'mediumDate'}}</div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass">
            <div class="col-md-4">Invoice No :</div>
            <div class="col-md-8">{{invoiceDetails.number}}</div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass1">
            <div class="col-md-4">Due date :</div>
            <div class="col-md-8" *ngIf="invoiceDetails.dueDate">{{mm.utc(invoiceDetails.dueDate).toDate()|date: 'mediumDate'}}</div>
            <div class="col-md-8" *ngIf="!invoiceDetails.dueDate">--</div>

          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass">
            <div class="col-md-4">Billing Method :</div>
            <div class="col-md-8">{{invoiceDetails.billing}}</div>
          </div>
          <!--<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass1">
            <div class="col-md-4">Bill No :</div>
            <div class="col-md-8">123456</div>
          </div>-->
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass">
            <div class="col-md-4">Subscription Name :</div>
            <div class="col-md-8">{{invoiceDetails.planName}}</div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass1">
            <div class="col-md-4">Billing Address :</div>
            <div class="col-md-8">
              <em>{{address}}</em>
            </div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass">
            <div class="col-md-4"> Payments Page :</div>
            <div class="col-md-8">
              <a href="{{invoiceDetails.hostedInvoiceURL}}">{{invoiceDetails.hostedInvoiceURL}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
