h1, h2, h3, h4, h5, h6 {
  color:#008fc1;
  font-family: 'Open Sans', sans-serif !important;
}
.iconstyle{
  font-size:18px;
  color:#008fc1;
  cursor:pointer;

}
.smallPadding{
    padding-top: 1%
  }
  .zeroPadding{
    padding: 0px
  }
  .marginTop{
    margin-top: 2%;
  }

  .customHW{
    width: 20px;height: 20px
  }
  .mdl-data-table tbody tr:focus {
    background-color: #fffced;
  }
  .table tr.active td {
    background-color:#123456 !important;
    color: white;
  }
  .custom-button {
    background-color: transparent;
    border: 1px solid #c7c7c7;
    border-radius: 0rem;
    margin-right: .7rem;
  }
  .custom-table-icon{
    background-color: transparent;
    border: 0px;
    outline: none;
    vertical-align: middle;
    margin-top: 8px;
    font-size: 20px;
    min-width: 45px;
  }
  .customize-material-icons {
    font-size: 20px;
    color:#757575;
  }
  .custom-table-heading {
    background-color:  #f7f7f7;
    font-size: 12px !important;
    text-transform: uppercase;
    border:0px !important;
  
  }
  .mdl-data-table {
    font-size: 12px !important;
  }
  .mdl-data-table th {
    font-size: 12px !important;
    font-weight: 600 !important;
  }
  .mdl-data-table td {

    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
  }
  .btn-default {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    box-shadow: none;
  }
  .btn-defaultnew{
    border: 1px solid transparent;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    box-shadow: none;

  }
  .borderBottom{
    border-bottom: 1px solid #dbdbdb;
  }
  .paddingbottom1per{
    padding-bottom: 1% !important;
  }
  .paddingLeft30{
    padding-left: 30px !important;
  }

  .margintop2per{
    margin-top: 2% !important;
  }
  .margintop1per{
    margin-top: 1%;
  }
  .alignCenter{
    text-align:center;
  }
  .labelBlock {
    display: block;
  }
  .mTop2Rem{
    margin-top:2rem;
  }
  .pHeadStyle{
    background-color:#eee;
    padding-bottom: 1%; 
    border-bottom: 1px solid #eee;
    margin-top: 0%;
    padding-top: 1%;
  }


  .headClass{
    background-color:#fcfcfc; 
    border-top:0px;
    padding:1%;
  }
  .headClass1{
    background-color:#fefefe; 
    border-top:0px;
    padding:1%;

  }

  .headClass:hover, .headClass1:hover {
    background-color:#f9f9f9;  
  }
