
.navbar {
  margin-bottom: 10px;
}

.crt-button {
  border: 1px solid #009bbd;
  padding: 10px !important;
  border-radius: 3px;
  color: #009bbd;
  margin-right: 10px;

}
.btn-style-menu{
  background-color:grey;
  border: 1px solid #9e9e9e;
}
.m-t-1per{
  margin-top:1% !important;
}
.icon-txt{
  padding-left: 10px;
  font-size: 15px;
  color: #fefefe;
}

.sign-btn {
  background-color: #009bbd;
  color: #ffffff;
  border-radius: 3px;
  padding: 10px !important;
  border: 1px solid #009bbd;
  margin-left: 10px;
}

.navbar-right {
  margin-top: 10px;
}

.profile-bg {
  background-color: #009bbd;
}

.profile-box {
  padding: 15px 0px;
}

.prl-hd h3, .prl-hd p {
  color: #fff;
}

.align-center {
  align-items: center;
  display: flex;
}

.fa-check-circle:before {
  color: #7ed321;
}

.key-box {
  border: 1px solid #009bbd;
  border-radius: 50px;
  font-size: 12px;
  color: #7d7d7d;
  padding: 4px 10px;
  margin: 0px 5px;
}

.key-divider {
  padding: 20px 0px;
  display: block;
}

.org-divider {
  padding-top: 30px;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #fff;
  border: 1px solid #009bbd;
  color: #009bbd;
}

.navbar-toggle {
  border: 1px solid #009bbd;
}

.navbar-toggle .icon-bar {
  background-color: #009bbd;
}

.navbar-nav > li > a {
  line-height: 15px;
}

@media only screen and (max-width: 600px) {

  .crt-button {
    margin-right: 0px;
  }

  .sign-btn {
    margin-left: 0px;
  }

  .key-box {
    line-height: 40px;
  }
}

/* New Design Starts*/
.cv-builder-bg {
  padding: 5px 30px;
  background-color: #fff;
}

.logo-align {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.btn-with-outline {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  background-image: none !important;
  background-color: #ffffff;
  border: 1px solid #D8DDE6;
  color: #009bbd !important;
  margin-right: 1rem;
}

.btn-with-outline:hover {
  background-color: #fbffff;
  border: 1px solid #D8DDE6;
  color: #009bbd !important;
}

.btn-with-color {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  width: auto;
  background-image: none !important;
  background-color: #009bbd;
  text-shadow: none;
  box-shadow: none;
}

.profile-header-bg {
  background-color: #009bbd;
  min-height: 110px !important;
  color: #ffffff !important;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile-header-content {
  margin: 0 30px;
}

.cv-image {
  display: inline-block;
  margin: 0 20px 0 0;
  vertical-align: middle;
}

.profile-header-content .cv-image figure {
  border-radius: 100%;
  display: inline-block;
  height: 100px;
  width: 100px;
}

.profile-header-content .cv-image figure img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.profile-header-content .cv-info {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}

.profile-header-content .cv-info .title {
  margin: 0 0 12px;
}

.profile-header-content .cv-info .title h3 {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 0;
}

.profile-header-content .cv-info .extra-info {
  display: block;
  margin: 0 0 10px;
}

.profile-header-content .cv-info .cv-profile-contact-info {
  float: left;
  width: 100%;
}

.profile-header-content .cv-info .cv-profile-contact-info ul {
  margin: 0;
  padding-left: 0;
}

.profile-header-content .cv-info .cv-profile-contact-info li {
  display: inline-block;
  vertical-align: middle;
}

.profile-header-content .cv-info .cv-profile-contact-info li a {
  background-color: #ffffff;
  border-radius: 100%;
  color: #009bbd;
  display: inline-block;
  font-size: 12px;
  height: 23px;
  line-height: 23px;
  margin: 0 5px 0 0;
  text-align: center;
  width: 23px;
}

.cv-title {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

.cv-title i {
  border: 2px solid;
  border-radius: 100%;
  display: inline-block;
  font-size: 17px;
  height: 33px;
  line-height: 28px;
  margin: 0 15px 0 0;
  text-align: center;
  width: 33px;
  border-color: #009bbd;
  color: #009bbd;
}

.cv-title h4 {
  letter-spacing: 1px !important;
  text-transform: none !important;
  color: #009bbd !important;
  display: inline-block;
  margin: 0;
}

.university-logo {
  position: absolute;
  left: -180px;
  top: 0px;
}

.university-logo-size {
  width: 150px;
  height: 150px;
}

.linkedin-text {
  position: absolute;
  left: -160px;
  top: 200px;
  text-align: center;
  color: #999;
  font-size: 13px;
}

.cv-snap {
  margin: 0 0 30px 0;
}

.cv-snap > ul {
  /*padding: 0 0 0 55px;*/
  padding: 0 0 0 200px;
}

.cv-snap li {
  list-style: outside none none;
  margin: 0 0 10px;
  padding: 0 0 20px 25px;
  position: relative;
}

.cv-snap li:before {
  background-color: #eeeeee;
  border-radius: 100%;
  content: "";
  height: 9px;
  left: -4px;
  position: absolute;
  top: 8px;
  width: 9px;
}

/*
.cv-snap li:after {
  border-left: 1px solid #eeeeee;
  content: "";
  height: 92%;
  left: 0;
  position: absolute;
  top: 22px;
  width: 1px;
}
*/

.cv-snap-title {
  float: left;
  margin: 0 25px 0 0;
}

.cv-snap-title h6 {
  letter-spacing: 1px !important;
  text-transform: none !important;
  color: #424242 !important;
  display: inline-block;
  margin: 0;
  font-weight: 600;
}

.cv-snap .cv-snap-title span {
  font-size: 14px;
  margin: 0 0 0 10px;
  color: #565656;
  font-weight: 600;
}

.cv-org {
  display: block;
  font-size: 14px;
  margin: 0 !important;
  color: #999999;
}

.cv-snap-detail {
  display: inline-block;
}

.cv-keyword-title {
  font-weight: 600;
  margin-right: 1rem;
}

.keyword-box {
  background-color: #009bbd;
  padding: 4px;
  border-radius: 5px;
  color: #fff;
  margin-right: .5rem;
  min-width: 100px;
}

.issued-text {
  color: #999999;
  font-size: 14px;
  margin-left: 1rem;
}

@media screen and (max-width: 500px) {
  .mobile-logo {
    margin: 5px auto
  }

  .mobile-nav {
    text-align: center !important;
  }

  .cv-snap > ul {
    padding: 0 0 0 20px;
  }

  .cv-snap .cv-snap-title span {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    display: block;
    color: #565656;
  }

  .cv-title h4 {
    font-size: 18px;
    font-weight: 600;
  }

  .university-logo {
    position: static;
    left: 0;
  }

  .linkedin-text {
    position: static;
    left: 0;
    top: 202px;
    text-align: left;
    color: #999;
    font-size: 13px;
  }

  .keyword-box {
    margin: .5rem;
    display: block;
  }
}

/* New Design Ends*/
