<!--
<section>
  <div class="col-md-12" style="margin-top: 1%">
    <div class="container">
      <div class="col-md-2 navbar-brand">
        <img src="assets/images/logo/certtin-logo.png" class="img-responsive"
             width="100">
      </div>
      <div class="col-md-3 pull-right">
        <button class="btn btn-default crt-button " (click)="register()"> Create Account</button>
        <button class="btn btn-default sign-btn " (click)="login()">Sign in</button>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12  col-xs-12 certs">
    <div class="row profile-bg">
      <div class="container profile-box">
        <div class="col-md-12 align-center">
          <div class="col-md-2">
            <img *ngIf="!claimDetails?.claim?.pictureUrl" src="assets/images/profile_pic.jpg" width="100"
                 style="border-radius: 100px"
                 class="custom-profile-pic ">
            <img *ngIf="claimDetails?.claim?.pictureUrl" [src]="claimDetails?.claim?.pictureUrl" width="100"
                 class="img-responsive"></div>
          <div class="col-md-8 prl-hd">
            <h3>{{claimDetails?.claim?.requesterName}}</h3>
            <p>Certin</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container org-divider">
        <div class="col-md-2">
          &lt;!&ndash;<img src="assets/images/universityLogo.png">&ndash;&gt;
          <img *ngIf="!claimDetails?.claim?.orgUrl" src="assets/images/profile_pic.jpg" width="100"
               style="border-radius: 100px"
               class="custom-profile-pic ">
          <img *ngIf="claimDetails?.claim?.orgUrl" [src]="claimDetails?.claim?.orgUrl" width="100"
               style="border-radius: 100px">
        </div>
        <div class="col-md-10">
          <div class="col-md-12">
            <h4>{{claimDetails?.claim?.issuerName}}</h4>
            &lt;!&ndash;   <span><i class="fa fa-check-circle" aria-hidden="true"></i> Verified</span>&ndash;&gt;
            <div class="key-divider">Keywords: <span class="key-box"
                                                     *ngFor="let keyword of claimDetails?.claim?.keywords">{{ keyword }} </span>
            </div>
            <div class="key-divider">ENORSED DATE<br><span> {{claimDetails?.claim?.issuedDate}}</span></div>
            <div class="key-divider">COMMENTES<br><span><p> {{claimDetails?.claim?.comment}}</p></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->


<!-- New Design Starts-->
<section>
  <!-- Logo & Nav Section Starts -->
  <div class="container-fluid cv-builder-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-xs logo-align mobile-logo">
          <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive mobile-logo" width="100">
        </div>
        <div class="col-md-6 hidden-xs text-right mobile-nav">
          <button class="btn-with-outline" (click)="register()"> Create Account</button>
          <button class="btn-with-color" (click)="login()">Sign in</button>
        </div>
        <div align="right" class=" hidden-md hidden-lg hidden-sm col-xs-12  m-t-1per">
          <div class="col-xs-9">
            <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive" width="100">
          </div>
          <div class="col-xs-3">
            <button class="pull-right m-t-1per" md-icon-button [mdMenuTriggerFor]="actionMenu">
              <i class="fa fa-bars" style="font-size:18px;" aria-hidden="true"></i>
            </button>
            <md-menu #actionMenu="mdMenu" class="table-dropdown-area">
              <button (click)="login()" class="btn-style-menu" md-menu-item>
                <span class="icon-txt">SIGN IN</span>
              </button>
              <button (click)="register()" class="btn-style-menu" md-menu-item>
                <span class="icon-txt">Create Account</span>
              </button>
            </md-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Logo & Nav Section Ends -->

  <!-- Header Section Starts -->
  <div class="page-section">
    <div class="profile-header-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="profile-header-content">
              <div class="cv-image">
                <figure>
                  <img *ngIf="!claimDetails?.claim?.pictureUrl" src="assets/images/profile_pic.jpg">
                  <img *ngIf="claimDetails?.claim?.pictureUrl" [src]="claimDetails?.claim?.pictureUrl">
                </figure>
              </div>
              <div class="cv-info">
                <div class="title">
                  <h3>{{claimDetails?.claim?.requesterName | titlecase}} </h3>
                </div>
                <div class="extra-info">
                  <div class="email-info"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                    {{claimDetails?.person?.email}}
                  </div>
                  <div class="phone-info mt-1"><i class="fa fa-phone fa-fw" aria-hidden="true"></i>
                    {{claimDetails?.person?.phone?.countryCode}} {{claimDetails?.person?.phone?.number}}
                  </div>
                </div>
                <!--<div class="cv-profile-contact-info">
                  <ul>
                    <li><a href="#" data-original-title="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" data-original-title="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Section Ends -->

  <!-- Career Snap Section Starts-->
  <div class="page-section">
    <div class="container mt-5">
      <div class="row" *ngIf="claimDetails">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="career-snap" class="career-inner">
            <div class="inner">
              <div class="cv-title">
                <i class="fa fa-graduation-cap fa-2x"
                   *ngIf="claimDetails?.claim?.claimType !== 'WORK' "></i>
                <i class="fa fa-suitcase  fa-2x"
                   *ngIf="claimDetails?.claim?.claimType === 'WORK' "></i>
                <h4 *ngIf="claimDetails?.claim?.claimType === 'WORK' ">
                  Work Claim</h4>
                <h4 *ngIf="claimDetails?.claim?.claimType !== 'WORK'">Course Claim
                </h4>
              </div>
              <div class="cv-snap">
                <ul>
                  <li>
                    <div class="cv-university-logo">
                      <img *ngIf="!claimDetails?.claim?.orgUrl" src="assets/images/profile_pic.jpg"
                           class="img-responsive university-logo university-logo-size">
                      <img *ngIf="claimDetails?.claim?.orgUrl" [src]="claimDetails?.claim?.orgUrl"
                           class="img-responsive university-logo university-logo-size">
                    </div>
                    <!-- <div class="linkedin-text">
                       Share with LinkedIn
                     </div>-->
                    <div class="cv-snap-title" style="width:100%;">
                      <h6>{{claimDetails?.claim?.issuerName | titlecase}}</h6>
                      <span class="cv-org">{{claimDetails?.claim?.heading | titlecase}} </span>
                    </div>
                    <div class="cv-snap-detail">
                      <p>
                        {{claimDetails?.claim?.description}}
                      </p>
                    </div>
                    <div class="cv-keyword">
                      <span class="cv-keyword-title">Keyword:</span>
                      <span class="keyword-box"
                            *ngFor="let keyword of claimDetails?.claim?.keywords">{{ keyword }} </span>
                    </div>

                    <div class="period mt-2">
                      <div><strong>Period:</strong><span class="issued-text">{{mm.utc(claimDetails?.claim?.startDate).toDate() | date:'mediumDate'}} - {{mm.utc(claimDetails?.claim?.endDate).toDate() | date:'mediumDate'}}</span></div>
                    </div>

                    <div class="issued mt-2">
                      <div class="row">
                        <div class="col-md-6">
                          <strong>Requested By:</strong>
                          <span class="issued-text">
                          {{claimDetails?.claim?.requesterName}}</span>
                        </div>
                        <div class="col-md-6">
                          <strong>Requested On:</strong><span
                          class="issued-text">
                          {{mm.utc(claimDetails?.claim?.claimDate).toDate() | date:'mediumDate'}}
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <strong>Endorsed By:</strong><span class="issued-text">{{claimDetails?.claim?.issuerName | titlecase}}</span>
                        </div>
                        <div class="col-md-6">
                          <strong>Endorsed On:</strong><span
                          class="issued-text">
                          {{mm.utc(claimDetails?.claim?.issuedDate).toDate() | date:'mediumDate'}}
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <strong>Location:</strong><span class="issued-text">{{claimDetails?.claim?.location}}</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Career Snap Section Ends-->
</section>
<!-- New Design Ends-->




