h1, h2, h3, h4, h5, h6 {
  color: #008fc1;
  font-family: 'Open Sans', sans-serif !important;
}

.iconstyle {
  font-size: 18px;
  color: #008fc1;
  cursor: pointer;

}

.claim-detail-text {
  color: #868585;
  font-size: 13px;
}

.smallPadding {
  padding-top: 1%
}

.keyStyle {
  padding: 1% 0 1% 0 !important;
  border-top: 1px solid lightgrey !important;
  background-color: #fff;
}

.keyStyle1 {
  padding: 1% 0 1% 0 !important;
  margin-top: 1rem;
}

.spanStyleN {
  font-weight: normal;
}

.m-t-3per {
  margin-top: 3% !important;
}

.m-top-1rem {
  margin-top: 1rem;
}

.zeroPadding {
  padding: 0px
}

.marginTop {
  margin-top: 2%;
}

.customHW {
  width: 20px;
  height: 20px
}

.mdl-data-table tbody tr:focus {
  background-color: #fffced;
}

.table tr.active td {
  background-color: #123456 !important;
  color: white;
}

.custom-button {
  background-color: transparent;
  border: 1px solid #c7c7c7;
  border-radius: 0rem;
  margin-right: .7rem;
}

.custom-table-icon {
  background-color: transparent;
  border: 0px;
  outline: none;
  vertical-align: middle;
  margin-top: 8px;
  font-size: 20px;
  min-width: 45px;
}

.customize-material-icons {
  font-size: 20px;
  color: #757575;
}

.custom-table-heading {
  background-color: #f7f7f7;
  font-size: 12px !important;
  text-transform: uppercase;
  border-top: 1px solid #e0e0e0;
}

.mdl-data-table {
  font-size: 12px !important;
}

.mdl-data-table th {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.mdl-data-table td {

  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.btn-default {
  border: 1px solid transparent;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  box-shadow: none;
}

.btn-defaultnew {
  border: 1px solid transparent;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  box-shadow: none;

}

.borderBottom {
  border-bottom: 1px solid #dbdbdb;
}

.paddingbottom1per {
  padding-bottom: 1% !important;
}

.paddingLeft30 {
  padding-left: 30px !important;
}

.margintop2per {
  margin-top: 2% !important;
}

.margintop1per {
  margin-top: 1%;
}

.alignCenter {
  text-align: center;
}

.labelBlock {
  display: block;
}

.mTop2Rem {
  margin-top: 2rem;
}

.pHeadStyle {
  background-color: #eee;
  padding-bottom: 1%;
  border-bottom: 1px solid #eee;
  margin-top: 0%;
  padding-top: 1%;
}

.headClass {
  background-color: #fcfcfc;
  border-top: 0px;
  padding: 1%;
}

.headClass1 {
  background-color: #fefefe;
  border-top: 0px;
  padding: 1%;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.headClass:hover, .headClass1:hover {
  background-color: #f9f9f9;
}

.dropdown-menu {
  padding: 0;
}

.custom-dropdown-area ul {
  padding: 0;
  margin-bottom: 0;
}

.custom-dropdown-area ul li {
  padding: 5px;
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
}

.custom-dropdown-area ul li:last-child {
  padding: 5px;
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
}

.custom-dropdown-area ul li:hover {
  padding: 5px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
}

/*.custom-input-width{
  width: 100%;
}*/
.custom-tab-view {
  border-bottom: 1px solid #dcdcdc;
  padding: 1% 0 1% 0;
  margin: 0;
}

.content-tab-view {
  padding: 0;
}

.mtoplabel {
  margin-top: 1.7rem;
}

.titleHead {
  font-family: 'UnifrakturMaguntia', cursive !important;
}

.dotBorder {
  border: 1px dashed grey;
}

.bgColorLabel {
  background-color: #009bbd;
}

.imgStyles {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.noResize {
  resize: none;
}

.labelHeading {
  font-size: 14px;
  font-weight: bold
}

.custom-pl-1 {
  padding-left: 1rem;
}

.custom-pl-2 {
  padding-left: 2rem;
}

.custom-pl-3 {
  padding-left: 3rem;
}

.custom-plr-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.custom-plr-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.custom-plr-3 {
  padding-left: 3rem;
  padding-right: 2rem;
}

.custom-tab-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
}

.custom-profile-pic {
  width: 100px;
  height: 100px;
}

.divStyles {
  margin-top: 1% !important;
  padding-left: 0px;
}

.p-l-0 {
  padding-left: 0px;
}

.spanStyle2 {
  padding-top: 2%;
  width: 3rem !important;
  height: 2.45rem !important;
  border-radius: 0px 5px 5px 0px !important;
}

.md-calenar {
  width: 220px !important;
}

.resize {
  resize: none;
}

.girdStyle {
  min-height: 250px;
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.newWorkAttestation p {
  font-size: 13px !important;
  margin-top: -2.5%;
}

.divStyles {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-top: 2%;
  padding-bottom: 2%;
}

.footer {
  margin-top: 2%;
  border-top: 1px solid #e0dada;
  padding: 11px;
}

.footer p {
  font-size: 11px !important;
  text-align: left !important;
  line-height: 15px !important;
}

/* Button Arrow */
.btn-arrow {
  position: relative;
}

.btn-apply {
  display: inline-block;
  padding: 7px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 0;
  border-radius: 0;
  color: #fff;
  background-color: #009bbd;
  margin-right: 25px;
}

.btn-apply.btn-arrow-right:before {
  border-left: 25px solid #009bbd;
  right: -25px;
}

.btn-arrow-right:before {
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  top: 17%;
  margin-top: -6px;
}

.btn-arrow:before {
  z-index: 10;
}

.btn-arrow:after, .btn-arrow:before {
  position: absolute;
  line-height: 0;
  content: '';
}

/* Text View */

.txt-view {
  color: #009bbd;
  border-bottom: 3px solid #009bbd;
  text-align: center;
  cursor: pointer;
  background: transparent;
  box-shadow: none

}

.txt-plain {
  color: #000;
  text-align: center;
  cursor: pointer;
  background: transparent;

  box-shadow: none
}

.headingGroup{
  font-weight: bold;
  font-size: 16px;
}


.fileUpload {
  position: relative;
  overflow: hidden;
  margin-left:0px;
  border: 1px dashed #009bbd !important;
  background-color: #fff !important;
  color :#000 !important;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.errorMsg{
  margin-top: 1%;
  color: red;
}

.uploadDiv {
  background-color: #fff;
  margin-bottom: 2%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding-left: 5% !important;
  padding: 2%;
}
.upldIcon{
  width: 40px;
}
