<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 2%">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 custom-pl-1">
          <p class="custom-tab-title" style="margin-bottom:0px;"> Issue Certificate </p>
          <!-- Breadcumbs -->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/app/dashboard']">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a>Certs</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/app/certs-issued']">Issued Certificates</a>
            </li>
            <li class="breadcrumb-item active">Issue Certificate</li>
          </ol>
          <!-- Breadcumbs -->
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 custom-pl-1">
          <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
        </div>
      </div>
      <!--<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="padding-left: 0px;margin-bottom: 1%">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12" style="padding-left: 0px;">
          <button class="btn btn-default" type="button" (click)="findRecipient()"
                  style=" width:9rem;border:1px solid cornflowerblue">Find recipient
          </button>
        </div>
      </div>-->
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="groupDetails == 'false'"
           style="background-color: #fff ;margin-bottom:2%;border: 1px solid #cccccc; border-radius: 4px">
        <div class="row" style="padding:1%;">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" *ngIf="getPersonDetail?.pictureUrl">
            <img src="{{getPersonDetail?.pictureUrl}}" class="img-responsive imgStyles">
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" *ngIf="!getPersonDetail?.pictureUrl">
            <img src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer" (click)="file.click()">
            <input id="upload1" class="none_display" #file type="file" name="file-upload" multiple accept="image/*" (change)="uploadPicturegeneral($event)">
          </div>
          <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10 m-top-1rem">
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4">Name </label>
            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">&nbsp;:&nbsp;&nbsp;{{getPersonDetail?.firstName}}&nbsp;{{getPersonDetail?.lastName}}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4">Email </label>
            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">&nbsp;:&nbsp;&nbsp;{{getPersonDetail?.email}}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6">Phone</label>
            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">&nbsp;:&nbsp;&nbsp;{{getPersonDetail?.phone?.countryCode}} {{" "}} {{getPersonDetail?.phone?.number}}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf='getPersonDetail?.gender'>Gender </label>
            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text" *ngIf='getPersonDetail?.gender'>&nbsp;:&nbsp;&nbsp;{{getPersonDetail?.gender}}</label>
            <label class="col-md-2 col-lg-2 col-sm-2 col-xs-4" *ngIf='getPersonDetail?.dateOfBirth'>Date Of Birth </label>
            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text" *ngIf='getPersonDetail?.dateOfBirth'>&nbsp;:&nbsp;&nbsp;{{getPersonDetail?.dateOfBirth}}</label>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="padding-left: 0px;margin-bottom: 1%" *ngIf="!getPersonDetail">
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 pull-right" style="padding-left: 0px;" align="right">
              <button class="btn btn-primary respMtop1per" type="button" (click)="findRecipient()" style=" width:9rem;border:1px solid cornflowerblue">Find recipient
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 uploadDiv" *ngIf="groupDetails == 'true'">
       <!-- <div class="row" style="padding:1%;">-->
          <p class="headingGroup">Upload a spreadsheet of your recipients' information from your computer.</p>
          <p>We accept most spreadsheet formats, ie: CSV, XLS, XLSX...</p>
 <!--       </div>-->

        <button  class="fileUpload btn" type="button" [disabled]="showLoader">
        <img src="assets/images/upload-icon.png" class="upldIcon">  <span>Upload Spreadsheet</span>
          <input *ngIf="!showLoader" type="file" class="upload" accept="application/csv,application/xls" name="file" id="fileToUpload" (change)="uploadExcel($event)"/>
        </button>
        <p class="errorMsg" *ngIf="errorFileFormat">File Validation Failed. Only CSV, XLS, XLSX are supported formats.</p>
        <p class="margintop1per" *ngIf="showFileName"><span class="fontBold"> Uploaded File : </span> {{file?.name}}</p>
        <p class="margintop1per">Please click here <a href="https://flipaccess.s3.amazonaws.com/sampleFormat.xlsx" target="_blank">sample file</a> for the format of the cells and order.</p>
      </div>

      <ng-container *ngIf="getPersonDetail || (!errorFileFormat && uploadSuccess)">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 custom-plr-3"
             style="background-color: #fff ; border: 1px solid #cccccc; border-radius: 4px">
          <div class="row">
            <p style="padding-top: 2%;font-size: 14px; padding-left:25px;">Please ensure that the detail provided below are correct. Note that the certificate is an official document provided
              the organisation. The issuer is responsible for the information.
            </p>
          </div>
          <div class="row">
            <!--<p> Hi this is sprnt7 code</p>-->
            <div class="col-md-6 col-xs-6 col-sm-6">
              <form class="form-horizontal" style="margin-top: 4%" [formGroup]="issueForm" (ngSubmit)="getEndroseDeclined('ISSUED')">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Certificate Type* </label>
                  <div class="col-sm-8">
                    <select *ngIf="groupDetails=='false'" class="form-control" [(ngModel)]="certificateapply.certType" required formControlName="certificateTypeform" (change)="selectedCertType($event.target.value)">
                      <option value="defCertType" disabled>
                        Select Certificate Type
                      </option>
                      <option [value]="CertType?.type" *ngFor="let CertType of certTypeList?.certTypes">
                        {{CertType?.value}}
                      </option>
                    </select>

                    <select *ngIf="groupDetails=='true'" class="form-control" [(ngModel)]="certificateapply.certType" required formControlName="certificateTypeform" (change)="selectedCertType($event.target.value)">
                      <option value="defCertType" disabled>
                        Select Certificate Type
                      </option>
                      <option value="ATTENDANCE_LETTER" > Attendance Letter </option>
                      <option value="QUALIFICATION_CERTIFICATE" > Qualification Certificate </option>
                    </select>
                  </div>
                </div>
                <div class="form-group" *ngIf="selected !=='TRANSCRIPT'">
                  <label class="col-sm-4 control-label">Content Template*</label>
                  <div class="col-sm-8">
                    <select class="form-control" [(ngModel)]="certificateapply.contentTemplateId" required formControlName="templateForm">
                      <option value="defConTemp" disabled>
                        Select Content Template
                      </option>
                      <option *ngFor="let certType of certTypeTemplate" [value]="certType?.id">{{certType.version}}
                      </option>
                      <option value="custom_template"> Custom Template</option>
                    </select>
                  </div>
                </div>
                <div class="form-group" *ngIf="certificateapply.contentTemplateId === 'custom_template' || selected ==='TRANSCRIPT'">
                  <label class="col-sm-4 control-label">
                    <span *ngIf="selected !=='TRANSCRIPT'"> Custom Template </span>
                    <span *ngIf="selected ==='TRANSCRIPT'"> Transcript</span>
                  </label>
                  <div class="col-sm-8">
                    <button type="button" (click)="file.click()" class="btn btn-default btn-block">
                      {{btnText}}
                      <img *ngIf="showloader" src="assets/images/newLoader.gif" style="width:20px; height: 20px;">
                    </button>
                    <input id="upload" class="none_display" #file type="file" name="file-upload" multiple accept="image/*" (change)="uploadPicture($event)">
                  </div>
                </div>
                <!--<p>certificate fileds</p>-->
                <div class="form-group" [hidden]="selected !=='ATTENDANCE_LETTER'">
                  <label class="col-sm-4 control-label">Event Name*</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="attendLetterModal.event" formControlName="eventName" [required]="certificateapply.certType == 'ATTENDANCE_LETTER'"
                      placeholder="Event Name" [ngClass]="{ 'is-invalid': submitted && f.eventName.errors }">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='PROOF_OF_INTERNSHIP' && selected !=='ATTENDANCE_LETTER' ">
                  <label class="col-sm-4 control-label">Location</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="attendLetterModal.location" placeholder="Location" formControlName="locationForm">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='PROOF_OF_INTERNSHIP' &&  selected !=='WORK_ATTESTATION'">
                  <label class="col-sm-4 control-label">Role*</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="proofinternModal.role" formControlName="roleName" [required]="certificateapply.certType == 'PROOF_OF_INTERNSHIP' || certificateapply.certType == 'WORK_ATTESTATION'"
                      [ngClass]="{ 'is-invalid': submitted && f.roleName.errors }" placeholder="Role">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='PROOF_OF_INTERNSHIP' &&  selected !=='WORK_ATTESTATION'">
                  <label class="col-sm-4 control-label">Currently working</label>
                  <div class="col-sm-8">

                    <input type="checkbox" [(ngModel)]="proofinternModal.currentlyEmployed" (change)="currentlyWorkChange(proofinternModal.currentlyEmployed)"
                      formControlName="currentlyWorkingForm">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='PROOF_OF_INTERNSHIP' && selected !=='REFERENCE_LETTER'">
                  <label class="col-sm-4 control-label">Recommendation Level*</label>
                  <div class="col-sm-8">
                    <select class="form-control" formControlName="recomondForm" [ngClass]="{ 'is-invalid': submitted && f.recomondForm.errors }"
                      [required]="certificateapply.certType == 'PROOF_OF_INTERNSHIP' || certificateapply.certType == 'REFERENCE_LETTER'"
                      [(ngModel)]="proofinternModal.recommendationLevel">
                      <option value='0'>Normal</option>
                      <option value='1'>High</option>
                      <option value='2'>Excellent</option>
                    </select>

                    <!--  <input type="number" class="form-control" formControlName="recomondForm"
                             [(ngModel)]="proofinternModal.recommendationLevel"
                             [required]="certificateapply.certType == 'PROOF_OF_INTERNSHIP' || certificateapply.certType == 'REFERENCE_LETTER'"
                             [ngClass]="{ 'is-invalid': submitted && f.recomondForm.errors }"
                             placeholder="Recommendation Level">-->
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='QUALIFICATION_CERTIFICATE' && selected !=='PROOF_OF_ENROLLMENT' ">
                  <label class="col-sm-4 control-label">Course name*</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="qualificationModal.courseName" formControlName="courseNameForm" [required]="certificateapply.certType == 'QUALIFICATION_CERTIFICATE' || certificateapply.certType == 'PROOF_OF_ENROLLMENT'"
                      placeholder="Course name" [ngClass]="{ 'is-invalid': submitted && f.courseNameForm.errors }">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='TRANSCRIPT'">
                  <label class="col-sm-4 control-label">Course of study
                    <span>*</span>
                  </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="courseOfstudyForm" [required]="certificateapply.certType == 'TRANSCRIPT'"
                      placeholder="Course name" [ngClass]="{ 'is-invalid': submitted && f.courseOfstudyForm.errors }">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='QUALIFICATION_CERTIFICATE' && selected !=='PROOF_OF_ENROLLMENT' && selected !=='TRANSCRIPT' ">
                  <label class="col-sm-4 control-label">Specialization</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="qualificationModal.specialisation" formControlName="specializationForm"
                      placeholder="Specialization">
                  </div>
                </div>
                <div class="form-group" [hidden]=" selected !=='PROOF_OF_ENROLLMENT'  ">
                  <label class="col-sm-4 control-label">Student Id</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="proofOfEndros.studentID" formControlName="studentIdform" placeholder="Student Id">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='PROOF_OF_ENROLLMENT' && selected !=='TRANSCRIPT'">
                  <label class="col-sm-4 control-label">
                    Is Completed
                  </label>
                  <div class="col-sm-8">
                    <input type="checkbox" formControlName="fullTimeForm" [(ngModel)]="workAttestationModal.fulltime" style="margin-top: 3.5%;">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='WORK_ATTESTATION'">
                  <label class="col-sm-4 control-label">Salary</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="salaryeForm" [(ngModel)]="workAttestationModal.salary" placeholder="Salary">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='WORK_ATTESTATION'">
                  <label class="col-sm-4 control-label">Employee number</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="empNumberForm" [(ngModel)]="workAttestationModal.employeeNumber"
                      placeholder="Employee number">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='LICENSE_CERTIFICATE'">
                  <label class="col-sm-4 control-label">Certification*</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="licenseCertificateModal.certification" formControlName="certificationForm"
                      [ngClass]="{ 'is-invalid': submitted && f.certificationForm.errors }" [required]="certificateapply.certType == 'LICENSE_CERTIFICATE'"
                      placeholder="Certification">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='LICENSE_CERTIFICATE'">
                  <label class="col-sm-4 control-label">Certificate number</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="licenseCertificateModal.certificationNumber" formControlName="certificateNumberForm"
                      placeholder="Certification">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='LICENSE_CERTIFICATE'">
                  <label class="col-sm-4 control-label">Level</label>
                  <div class="col-sm-8">
                    <input type="text" [(ngModel)]="licenseCertificateModal.level" formControlName="levelForm" class="form-control" placeholder="Level">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='REFERENCE_LETTER'">
                  <label class="col-sm-4 control-label">Known years*</label>
                  <div class="col-sm-8">
                    <input type="text" [(ngModel)]="referencelettermodalData.yearsKnown" [required]="certificateapply.certType == 'REFERENCE_LETTER'"
                      formControlName="knownYearsForm" [ngClass]="{ 'is-invalid': submitted && f.knownYearsForm.errors }" class="form-control"
                      placeholder="Known years">
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='REFERENCE_LETTER'">
                  <label class="col-sm-4 control-label">Position</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="referencelettermodalData.position" formControlName="positionForm">
                  </div>
                </div>
                <!--<span *ngIf="selected !=='LICENSE_CERTIFICATE'"> Start Date </span>
                <span *ngIf="selected ==='LICENSE_CERTIFICATE'"> Expiry  Date </span>-->
                <div class="form-group" [hidden]="selected ==='REFERENCE_LETTER'">
                  <label class="col-sm-4 control-label">
                    <span> {{fromDateName}}* </span>
                  </label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input type="text" [mdDatepicker]="picker1" placeholder="DD/MM/YYYY" aria-describedby="basic-addon3" class="form-control"
                        name="startDate" formControlName="strtDate" [(ngModel)]="certificateIssueModel.startDate" [ngClass]="{ 'is-invalid': submitted && f.strtDate.errors }"
                        [required]="certificateapply.certType == 'ATTENDANCE_LETTER' || certificateapply.certType == 'PROOF_OF_INTERNSHIP' ||  certificateapply.certType == 'WORK_ATTESTATION' || certificateapply.certType == 'QUALIFICATION_CERTIFICATE'">
                      <span class="input-group-addon spanStyle2" style="display:inline" id="basic-addon3">
                        <button mdSuffix [mdDatepickerToggle]="picker1">
                        </button>
                      </span>
                      <md-datepicker #picker1></md-datepicker>
                    </div>
                  </div>
                </div>
                <div class="form-group" [hidden]="selected ==='REFERENCE_LETTER' || endDateCheck == true">
                  <label class="col-sm-4 control-label">
                    <span> {{endDateName}} </span>
                    <span *ngIf="certificateapply.certType == 'QUALIFICATION_CERTIFICATE'">*</span>
                  </label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input type="text" [mdDatepicker]="picker2" placeholder="DD/MM/YYYY" aria-describedby="basic-addon1" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.endate.errors }" [required]="certificateapply.certType == 'QUALIFICATION_CERTIFICATE'"
                        name="endDate" formControlName="endate" [min]="certificateIssueModel.startDate" [(ngModel)]="certificateIssueModel.endDate">
                      <span class="input-group-addon spanStyle2" style="display:inline" id="basic-addon1">
                        <button mdSuffix [mdDatepickerToggle]="picker2" [disabled]="endDateCheck">
                        </button>
                      </span>
                      <md-datepicker #picker2></md-datepicker>
                    </div>
                  </div>
                </div>
                <div class="form-group" [hidden]="selected !=='WORK_ATTESTATION'">
                  <label class="col-sm-4 control-label">
                    Full Time
                  </label>
                  <div class="col-sm-8">
                    <input type="checkbox" formControlName="fullTimeForm" [(ngModel)]="workAttestationModal.fulltime" style="margin-top: 3.5%;">
                  </div>
                </div>
                <div class="form-group" style="margin-top:6%">
                  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" align="right">
                    <!--  <button class="btn btn-default" type="button" (click)="getEndroseDeclined('CANCELLED')"
                              style=" width:9rem;border:1px solid cornflowerblue">Cancel
                      </button>
                      <button class="btn btn-primary respMtop1per" type="submit" style="width:9rem;">
                        <i>
                          <img *ngIf="showLoader" src="assets/images/source.gif" style="width:20px; height: 20px;">
                        </i> Issue
                      </button>-->
                    <button type="button" class="btn-arrow btn-arrow-right btn-apply" (click)="applyChanges()"> Apply Changes
                    </button>
                    <!-- <p *ngIf="!getPersonDetail && submitted"> Please, choose the recipient</p>-->
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-12 col-xs-12" style="margin-top: -2%">
              <div class="col-md-12" *ngIf="certificateIssueModel.customTemplateUrl" style="margin-top: 5%">
                <div class="col-md-12">
                  <img [src]="certImg" class="img-responsive">
                </div>
              </div>
              <div class="col-md-12 col-xs-12 col-12 col-lg-12" *ngIf="!certificateIssueModel.customTemplateUrl">
                <div class="col-md-3 col-sm-3">
                  <button class="btn btn-link" (click)="setView('text')" type="button" style="cursor: pointer;text-decoration: none" [ngClass]="{'txt-view': viewType === 'text', 'txt-plain': viewType != 'text'}">Text View
                  </button>
                </div>

                <div class="col-md-5 pull-right">
                  <button [disabled]="!textViewInfo" type="button" class="pull-right btn btn-link" style="text-decoration: none" (click)="setView('graphic')"
                    [ngClass]="{'txt-view': viewType === 'graphic', 'txt-plain': viewType != 'graphic'}">
                    Graphical View
                  </button>
                </div>
              </div>
              <div *ngIf="!certificateIssueModel.customTemplateUrl" class="col-md-12 col-12 col-xs-12 col-lg-12 col-sm-12 girdStyle" style="margin-top: 2%; margin-bottom: 3%">
                <div class="col-md-12 col-12 col-sm-12 col-lg-12" style="margin-top: 2%" *ngIf="viewType==='text'">
                  <textarea rows="10" readonly [(ngModel)]="textViewInfo" class="form-control" style="resize: none"> </textarea>
                </div>
                <div class="col-md-12 col-12 col-sm-12 col-lg-12" style="margin-top: 2%;margin-bottom: 3%" *ngIf="viewType==='graphic'">
                  <div class="row" *ngIf="(selected !== 'QUALIFICATION_CERTIFICATE' &&  selected !== 'LICENSE_CERTIFICATE') && ( selected != 'ATTENDANCE_LETTER' || (selected === 'ATTENDANCE_LETTER' && templatesSelected.ATTENDANCE_LETTER !== 'ATTENDANCELETTER_TEMP')) " >
                    <app-work-template [revoked]="true" [hero]="getCertDetailsResponse" [htmlContent]="applyCertificateResp.htmlContent" [className]="''"></app-work-template>
                  </div>
                  <div class="row" *ngIf="selected === 'QUALIFICATION_CERTIFICATE' ||  selected === 'LICENSE_CERTIFICATE' ">
                    <app-qualification-directive [revoked]="true" [htmlContent]="applyCertificateResp.htmlContent" [borderTop]="borderTop" [borderBtm]="borderBtm"
                      [qualificationInfo]="getCertDetailsResponse">
                    </app-qualification-directive>
                  </div>
                  <div class="row" *ngIf="selected === 'ATTENDANCE_LETTER' && templatesSelected.ATTENDANCE_LETTER === 'ATTENDANCELETTER_TEMP'">
                    <app-event-certificate [participentName]="getPersonDetail?.firstName + ''+ getPersonDetail?.lastName " [revoked]="true" [className]="'inboxView'"></app-event-certificate>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-12 col-xs-12 col-lg-12 col-sm-12 mt-3 text-center">
                <button class="btn btn-default" type="button" (click)="cancelCertificate()" style=" width:9rem;border:1px solid cornflowerblue;margin-right: 2rem;">Cancel
                </button>
                <button class="btn btn-primary respMtop1per" type="submit" style="width:9rem;" [disabled]="(!applyCertificateResp && this.certificateapply.contentTemplateId !== 'custom_template') || (!this.certificateIssueModel.customTemplateUrl && this.certificateapply.contentTemplateId === 'custom_template')"
                  (click)="issueCertificate()">
                  <i>
                    <img *ngIf="showLoaderIssue" src="assets/images/source.gif" style="width:20px; height: 20px;">
                  </i> Issue
                </button>
              </div>

            </div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-l-0" align="center" style="margin-bottom: 2%">

          </div>
        </div>
      </ng-container>
    </div>
  </div>

</section>
