<section>
    
  <form class="form-horizontal">
    <div class="row" style="border-bottom: 1px solid #ccc">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="padding-bottom: 2%;" align="center">
          <button style="float:left;" class="btn btnhide" type="button">
            </button>
        <span class="fontBold"> View Advertised Job </span>
        <i class="fa fa-times" style="float:right;" aria-hidden="true" (click)="cancel()"></i>
      </div>
    </div>
    <div class="row marginTop2per">
      <label class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <img [src]="jobData.organisationLogoUrl" style="width:15%" >
      </label>
      <label class="col-md-5 col-lg-5 col-sm-5 col-xs-6 labelHead">Organisation Name
        <span style="float:right">:</span>
      </label>
      <label class="col-md-7 col-lg-7 col-sm-7 col-xs-6 labelData">{{jobData.organisationName}}</label>
      <label class="col-md-5 col-lg-5 col-sm-5 col-xs-6 labelHead">Job Title
        <span style="float:right">:</span>
      </label>
      <label class="col-md-7 col-lg-7 col-sm-7 col-xs-6 labelData">{{jobData.jobTitle}}</label>
      <label class="col-md-5 col-lg-5 col-sm-5 col-xs-6 labelHead">Location
        <span style="float:right">:</span>
      </label>
      <label class="col-md-7 col-lg-7 col-sm-7 col-xs-6 labelData">{{jobData.organisationLocation}}</label>
      <label class="col-md-5 col-lg-5 col-sm-5 col-xs-6 labelHead">Job Type
        <span style="float:right">:</span>
      </label>
      <label class="col-md-7 col-lg-7 col-sm-7 col-xs-6 labelData">{{jobData?.jobType}}</label>
      <label class="col-md-5 col-lg-5 col-sm-5 col-xs-6 labelHead">Experience
        <span style="float:right">:</span>
      </label>
      <label class="col-md-7 col-lg-7 col-sm-7 col-xs-6 labelData">{{jobData.experience}}</label>
      <label class="col-md-5 col-lg-5 col-sm-5 col-xs-6 labelHead">Job Expiry Date
        <span style="float:right">:</span>
      </label>
      <label class="col-md-7 col-lg-7 col-sm-7 col-xs-6 labelData">
          {{jobData.jobExpiryDate  | date : 'd-MM-y'}}
      </label>
      <label class="col-md-5 col-lg-5 col-sm-5 col-xs-6 labelHead">Job Update Url
        <span style="float:right">:</span>
      </label>
      <label class="col-md-7 col-lg-7 col-sm-7 col-xs-6 labelData" *ngIf="jobData.jobUrl">{{jobData.jobUrl}}</label>
      <label class="col-md-7 col-lg-7 col-sm-7 col-xs-6 labelData" *ngIf="!jobData.jobUrl"> - </label>
      <label class="col-md-5 col-lg-5 col-sm-5 col-xs-6 labelHead m-t-1rem">About the Job
        <span style="float:right">:</span>
      </label>
      <label class="col-md-12 col-lg-12 col-sm-12 col-xs-12 labelData">{{jobData?.aboutJob}}</label>
      <label class="col-md-5 col-lg-5 col-sm-5 col-xs-6 labelHead m-t-1rem">Skills
        <span style="float:right">:</span>
      </label>
      <label class="col-md-12 col-lg-12 col-sm-12 col-xs-12 labelData">{{jobData?.skills}}</label>
    </div>
    <div class="row marginTop2per" style="border-top: 1px solid #ccc;">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12  marginTop2per">
        <div class="col-md-12" align="right">
          <button class="btn btn-default btnCancel" type="button" (click)="cancel()">
            Close
          </button>
        </div>
      </div>
    </div>
  </form>
</section>