.spanStyle {
    padding-top: 4%;
    width: 3rem !important;
    height: 2.45rem !important;
    border-radius: 0px 5px 5px 0px !important;
  }
  .mat-datepicker-toggle{
    background-image: url('../../../assets/images/icons/calender.svg');
  }
  .spanStyle{
    padding-top: 3%;
  }
.custom-profile-pic1 {
  width: 100px;
  height: 100px;
}
.btnStyle{
  width: 65%;
}
.marginTop2per{
  margin-top: 2%;
}
.noPadding{
  padding: 0% !important;
}
.btnCancel{
  border:1px solid cornflowerblue
}

.labelHead{
  font-size: 14px;
  color:cornflowerblue;
}

.labelData{
  color:grey;
  font-size: 13px;
  }
  
  .fontBold{
    text-align:center !important;
    font-size: 16px;   
  }
  .m-t-1rem{
    margin-top:1rem; 
  }
  .btnhide{
    color:transparent;
    background-color: transparent;
    cursor:none;
  }