.root-progress-bar .ng-bar-placeholder {
  background-color: lightgray;
}
.root-progress-bar .ng-bar {
  background: #00F260;
  background: linear-gradient(to right, #0575E6, #00F260);
  /*background: linear-gradient(to right, #F11712, #0099F7);*/
}
