<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 2%">
<!--  <article class="article">
    <div class="box box-default">
      <div class="box-body" style="padding:0px;">
        <div class="row borderBottom" style="margin-right: 0px;margin-left: 0px; ">
          <div class="col-md-8 col-lg-8 col-sm-4 col-xs-6">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <h5> Personal Claims</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4 " style="padding:1%; margin-left:2.2rem ">
            <div class="input-group input-sm pull-right" data-toggle="dropdown" data-hover="dropdown" style="height: 38px;">
              <span class="input-group-addon" data-toggle="dropdown" [mdMenuTriggerFor]="menu" data-hover="dropdown" style="cursor: pointer;  width:3.2rem "
                id="basic-addon1">
                <i class=" dropdown material-icons" style="font-size:20px">search</i>
                <i class=" dropdown material-icons m-l-minus5px" style="transform: rotate(270deg); font-size:15px;">chevron_left</i>
              </span>
              <input type="text" class="form-control input-sm fontsize13px" [(ngModel)]="searchValue" placeholder="{{placeholdervalue }}"
                aria-describedby="basic-addon1" style=" border-radius: 3px;border-top-left-radius: 0;border-bottom-left-radius: 0;height: 2rem;">
              <md-menu #menu="mdMenu" class="custom-width">
                <button md-menu-item class="searchItem" disabled>Search By</button>
                <button md-menu-item class="searchItem">Name
                </button>
                <button md-menu-item class="searchItem">Type of claim
                </button>
                <button md-menu-item class="searchItem">Status
                </button>
              </md-menu>
            </div>
          </div>

        </div>

        <div class="row" style="padding:1%;">
          <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6 paddingLeft">
            <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize">
              <option value="10" selected> 10 Records per page</option>
              <option value="20"> 20 Records per page</option>
            </select>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
            <div class="row" style="margin-left:0px;">
              <span (click)="prevPage()" style="cursor: pointer">
                <img src="assets/images/left_arrow.png" class="img-responsive customHW"> </span>
              <span> 01
                <span style="color: #cccccc"> to</span> 10</span>
              <span (click)="nextPage()" style="cursor: pointer;">
                <img src="assets/images/arrow.png" class="img-responsive customHW"> </span>
            </div>
          </div>
        </div>

        <div class="box box-default table-box table-responsive table-sm mdl-shadow&#45;&#45;2dp noMarginBottom">
          <table class="mdl-data-table ">
            <thead>
              <tr class="custom-table-heading">
                <th class="mdl-data-table__cell&#45;&#45;non-numeric ">Page</th>
                <th class="mdl-data-table__cell&#45;&#45;non-numeric alignCenter">Name </th>
                <th class="mdl-data-table__cell&#45;&#45;non-numeric alignCenter"> Type of claim</th>
                <th class="mdl-data-table__cell&#45;&#45;non-numeric alignCenter"> Status</th>
                <th class="mdl-data-table__cell&#45;&#45;non-numeric alignCenter">Date</th>
                <th class="mdl-data-table__cell&#45;&#45;non-numeric alignCenter">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr style="cursor: pointer">
                <td class="mdl-data-table__cell&#45;&#45;non-numeric ">Soulstice </td>
                <td class="mdl-data-table__cell&#45;&#45;non-numeric alignCenter">Soulstice india</td>
                <td class="mdl-data-table__cell&#45;&#45;non-numeric alignCenter">claim</td>
                <td class="mdl-data-table__cell&#45;&#45;non-numeric alignCenter">pending</td>
                <td class="mdl-data-table__cell&#45;&#45;non-numeric alignCenter">28/12/12</td>
                <td class="mdl-data-table__cell&#45;&#45;non-numeric alignCenter">
                  <i class="fa fa-eye iconstyle" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </article>-->
</section>
