.custom-pl-1{
  padding-left: 1rem;
}
.custom-pl-2{
  padding-left: 2rem;
}
.custom-pl-3{
  padding-left: 3rem;
}
.custom-plr-1{
  padding-left: 1rem;
  padding-right: 1rem;
}
.custom-plr-2{
  padding-left: 2rem;
  padding-right: 2rem;
}
.custom-plr-3{
  padding-left: 3rem;
  padding-right: 2rem;
}
.custom-tab-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
}
.custom-profile-pic{
  width: 100px; height: 100px;
}
.divStyles{
  margin-top:1% !important;
  padding-left:0px;
}
.p-l-0{
  padding-left:0px;
}


.text-styling{
  color: #009bbd;
}
.icon-txt{
  padding-left: 10px;
  font-size: 15px;
  color: #9e9e9e;
}
.icon-color{
  color: #9e9e9e;
  font-size: 15px !important;
  vertical-align: middle;
}
.mat-icon-button{
  height: 25px;
  width:25px;
  line-height: 25px;
}

