.custom-profile-pic {
  width: 26%;
  height: 75%;
  /* margin-top: 3%; */
  border-radius: 100px;
}
/*.custom-profile-pic{
  width: 43%;
  height: 40%;
  margin-top: 6%;
  border-radius: 100px
}*/
.girdStyle {
  min-height: 250px;
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}
.m-t-6per{
  margin-top:6% !important;
}
.newWorkAttestation p {
  font-size: 13px !important;
  margin-top: -2.5%;
}
.footer {
  margin-top: 2%;
  border-top: 1px solid #e0dada;
  padding: 11px;
}

.footer p {
  font-size: 11px !important;
  text-align: left !important;
  line-height: 15px !important;
}
.newWorkAttestation p {
  font-size: 11px !important;
  line-height: 13px;
  margin-top: -3.5%;
}
