<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
  <div class="row" [ngClass]="className">
    <div class="col-md-12">
      <img *ngIf="!hero?.certificate?.orgUrl"
           src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer">
      <img *ngIf="hero?.certificate?.orgUrl" [src]="hero?.certificate?.orgUrl"
           class="custom-profile-pic cursorPointer">
      <p class="pull-right m-t-6per"> Date Issued: <br> {{mm.utc(hero?.certificate?.issuedDate).format('MM/DD/YYYY')}}
      </p>
    </div>
    <div class="col-md-12">
      <p><b> Dear Sir / Madam </b></p>

      <p> We state on record that <b> {{hero?.person?.firstName}} {{hero?.person?.lastName}} </b> has
        completed an intership
        project at <b> {{hero?.certificate?.issuerUnvName}}</b> fulfilling the role of {{hero?.certificate?.role}}. The
        internship was held
        at {{hero?.certificate?.location}} between
        <b>{{mm.utc(hero?.certificate?.periodFromDate).format('MM/DD/YYYY')}}</b> and <b>{{mm.utc(hero?.certificate?.periodEndDate).format('MM/DD/YYYY')}} </b>.
      </p>

      <p> We are very happy with the contributions of {{hero?.person?.firstName}} {{hero?.person?.lastName}}
        where
        he showed great professionalism and entusiasm. We wish him all the best in his
        future endeavours.
      </p>

      <!--    <p> This letter is to verify that <b>{{hero?.certificate?.firstName}} {{hero?.certificate?.lastName}}</b> is
            employed at <b>{{hero?.certificate?.issuerUnvName}}</b> in the position of
            <b>{{hero?.certificate?.certificateName }}</b>.</p>
          <p><b>{{hero?.person?.firstName}} {{hero?.person?.lastName}}</b> started working in this capacity
            on <b>{{mm.utc(hero?.certificate?.periodFromDate).format('MM/DD/YYYY')}}</b> and ended his employment
            in this position on <b>{{mm.utc(hero?.certificate?.periodEndDate).format('MM/DD/YYYY')}} </b>
          </p>
          <p>If you require any additional information, please contact me at
            <b>{{personResponse?.person?.phones[0]?.countryCode}}
              {{personResponse?.person?.phones[0]?.number}}</b> or
            via
            email <b>{{personResponse?.person?.emails[0]?.email}} </b></p>-->
      <p> Best Regards</p>
      <p><span>  <img src="assets/images/sign.svg" style="width: 30%"></span> <br>
        {{personResponse?.person?.firstName}} {{personResponse?.person?.lastName}}
      </p>
    </div>
    <div class="col-md-12  ">
      <div class="col-md-12 footer" style="margin-top: 2%">
        <div class="row">
          <div class="col-md-6 ">
            <p> Reg. {{hero?.organisation?.listOfCompany[0]?.registrationNumber}}<br>{{hero?.organisation?.organisation?.address[0]?.line1}}<br>{{hero?.organisation?.organisation?.address[0]?.line2}}<br>{{hero?.organisation?.organisation?.address[0]?.line3}}<br>{{hero?.organisation?.organisation?.address[0]?.country}}
            </p>
          </div>
          <div class="col-md-6">
            <p> Ph: {{personResponse?.person?.phones[0]?.countryCode}} {{personResponse?.person?.phones[0]?.number}}
              <br> {{footerInfo?.organisation?.website}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
