.chapter .article-title {
  padding-top: 0px;
  border-top: 0px solid rgba(0, 0, 0, 0.117647);
}
.help-color {
  color: #a6a6a6;
  vertical-align: middle;
}
.custom-padding-label {
  padding: 0px;
}
.lightTopMargin{
  margin-top: 2%;
}
.custom-button-color {
  background-color: #163151;
  color: #fff;
  outline: 0;
}
.custom-eye-btn {
  background-color: #e9ecef;
}
.private-key-wrap{
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.currency-color {
  color: #bbbbbb;
  font-size: 1.2rem;
}
.transaction-history-color {
  color: #5e8ec7;
}
.profile-img {
  width: 80px;
  height: 80px;
  display: block;
  line-height: 80px;
  border-radius: 50%;
}
.noMarginLeft{
  margin-left: 0%;
}
.btnStyless{
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding-left: 5%;
  font-size: 11px;
  background: #fff;
  color: #000;
  padding-right: 5%;
}
.preStyles{
   border-radius: 0 !important;
  border-top: 1px solid #dbdbdb !important;
  background-color: #fff;
  max-height: 379px;
  min-height: 379px;
}
.minMaxht300px{
  max-height: 300px;
  min-height: 300px;
}
.noMBottm{
  margin-bottom: 0;
}
.fSize11px{
  font-size: 11px;
}



h1, h2, h3, h4, h5, h6 {
  color:#008fc1;
  font-family: 'Open Sans', sans-serif !important;
}
.iconstyle{
  font-size:18px;
  color:#008fc1;
  cursor:pointer;

}
.smallPadding{
  padding-top: 1%
}
.zeroPadding{
  padding: 0px
}
.marginTop{
  margin-top: 2%;
}

.customHW{
  width: 20px;height: 20px
}
.mdl-data-table tbody tr:focus {
  background-color: #fffced;
}
.table tr.active td {
  background-color:#123456 !important;
  color: white;
}
.custom-button {
  background-color: transparent;
  border: 1px solid #c7c7c7;
  border-radius: 0rem;
  margin-right: .7rem;
}
.custom-table-icon{
  background-color: transparent;
  border: 0px;
  outline: none;
  vertical-align: middle;
  margin-top: 8px;
  font-size: 20px;
  min-width: 45px;
}
.customize-material-icons {
  font-size: 20px;
  color:#757575;
}
.custom-table-heading {
  background-color:  #f7f7f7;
  font-size: 12px !important;
  text-transform: uppercase;
  border-top: 1px solid #e0e0e0;
}
.mdl-data-table {
  font-size: 12px !important;
}
.mdl-data-table th {
  font-size: 12px !important;
  font-weight: 600 !important;
}
.mdl-data-table td {

  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.btn-default {
  border: 1px solid transparent;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  box-shadow: none;
}
.btn-defaultnew{
  border: 1px solid transparent;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  box-shadow: none;

}
.borderBottom{
  border-bottom: 1px solid #dbdbdb;
}
.paddingbottom1per{
  padding-bottom: 1% !important;
}
.paddingLeft30{
  padding-left: 30px !important;
}

.margintop2per{
  margin-top: 2% !important;
}
.margintop1per{
  margin-top: 1%;
}
.alignCenter{
  text-align:center;
}
.labelBlock {
  display: block;
}
.mTop2Rem{
  margin-top:2rem;
}
.pHeadStyle{
  background-color:#eee;
  padding-bottom: 1%;
  border-bottom: 1px solid #eee;
  margin-top: 0%;
  padding-top: 1%;
}


.headClass{
  background-color:#fcfcfc;
  border-top:0px;
  padding:1%;
}
.headClass1{
  background-color:#fefefe;
  border-top:0px;
  padding:1%;

}
.dropdown {
  position: relative;
  display: inline-block;
}

.headClass:hover, .headClass1:hover {
  background-color:#f9f9f9;
}
.dropdown-menu{
  padding: 0;
}
.custom-dropdown-area ul {
  padding: 0;
  margin-bottom: 0;
}
.custom-dropdown-area ul li {
  padding: 5px;
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
}
.custom-dropdown-area ul li:last-child {
  padding: 5px;
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
}
.custom-dropdown-area ul li:hover {
  padding: 5px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
}
/*.custom-input-width{
  width: 100%;
}*/
.custom-tab-view{
  border-bottom: 1px solid #dcdcdc;
  padding: 1% 0 1% 0;
  margin: 0;
}
.content-tab-view{
  padding: 0;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  width: 4rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .2rem;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.height28px {
  height: 28px !important;
}

.btnStylee {
  border: 1px solid #dbdbdb !important;
  border-radius: 0rem !important;
  margin-right: .7rem !important;
  color: #212121 !important;
  cursor: pointer !important;
  background-color: #ececec66 !important;
  padding: 0.1rem 0rem 0.2rem !important;
  font-size: 13px !important;
}

.noMarginBottom{
  margin-bottom: 0% !important;
}
.myaddInput{
  background-color:#ececec;
  color: #909090;
}
