<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">
  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item active">
      <a>My Address</a>
    </li>
  </ol>
  <!-- Breadcumbs -->
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

        <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7 pl-0">
          <div class="box box-default">
            <div class="box-body">
              <form role="form">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <label>
                        <!--<i class="material-icons help-color">help</i>  &nbsp; -->Your Address ( Public Key)</label>
                      <input type="text" class="form-control" id="yourAddress1" [value]="orgPublicKey" disabled>
                      <!--  <input type="text" class="form-control" id="yourAddress" *ngIf="loggedAs=='ORGANISATION'" [value]="orgPublickey" disabled >-->
                    </div>
                  </div>
                </div>
                <!-- <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <label class="col-md-12 custom-padding-label lightTopMargin"> Private
                    Key &nbsp; <i class="material-icons help-color">help</i></label>
                  <div class="col-md-12 noPaddingRightLeft">
                  <input [type]="enCripted? 'text': 'password'" class="form-control myaddInput"  id="privateKey1"  [value]="privateKey12"  disabled>
                  <i (click)="encripted()" *ngIf="enCripted"  class="fa fa-eye eyeIcon" aria-hidden="true"></i>
                    <i (click)="unEncripted()" *ngIf="!enCripted"  class="fa fa-eye-slash eyeIcon"  aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>-->
              </form>
            </div>
          </div>
          <div class="box box-default">
            <div class="box-body" style="background-color: whitesmoke;padding: 1%;">
              <div class="row">
                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12" style="padding: 1%;">
                  <div class="col-md-11 col-xs-11 col-lg-11 col-sm-11">
                    <p class="noMBottm fontSize13px">Please copy the below code to keep public key on
                      your website. </p>

                  </div>
                  <div class="col-md-1 col-xs-1 col-lg-1 col-sm-1">
                      <i class="fa fa-clone"  aria-hidden="true"></i>
                  </div>

                  <!--will work with ngx-clipboard module-->
                  <!--  <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5" align="right">
                <button class="btnStyless" ngxClipboard [cbContent]="copyItem" (cbOnSuccess) = "copied($event)">{{copyEvent?.isSuccess? 'Copied Successfully !!!':'Copy'}} <i *ngIf="!copyEvent?.isSuccess" class="fa fa-clipboard" aria-hidden="true"></i></button>
              </div>-->
                </div>
              </div>
            </div>
            <pre id="preStyles" #preStyles class="preStyles">{{copyItem}}</pre>
          </div>

 <!--   <div class="box box-default">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" align="center">
              <p>Your Address</p>
              <ngx-qrcode [qrc-value]="orgPublicKey"></ngx-qrcode>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" align="center">
              <p>Private Key (Unencrypted)</p>
              <img src="assets/images/blurQr.png" *ngIf="!enCripted">
              <ngx-qrcode [qrc-value]="orgPublicKey" *ngIf="enCripted"></ngx-qrcode>
            </div>
            </div>
          </div>
        </div>
      </div>-->


        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5 pr-0">
          <div class="box box-default">
            <div class="box-body">
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <label class="col-md-12 col-lg-12 col-sm-12 col-xs-12 custom-padding-label"
                         style="margin-bottom:1rem;">
                    <strong>Account Address</strong>
                  </label>
                  <p class="wrapText">{{orgPublicKey}}</p>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <label class="col-md-12 col-lg-12 col-sm-12 col-xs-12 custom-padding-label"
                         style="margin-bottom:1rem;">
                    <strong>Account Balance</strong>
                  </label>
                  <p class="wrapText">{{balance}}
                    <span class="currency-color">ETH</span>
                  </p>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <label class="col-md-12 col-lg-12 col-sm-12 col-xs-12 custom-padding-label"
                         style="margin-bottom:1rem;">
                    <strong>Transaction History</strong>
                  </label>
                  <a [href]="redirectRopsten" target="_blank" class="transaction-history-color">ETH
                    (https://kovan.etherscan.io)</a>
                </div>
              </div>
            </div>
          </div>

          <div class="box box-default">
            <div class="box-body minMaxht300px">
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" align="center">
                  <p>Your Address</p>
                  <ngx-qrcode [qrc-value]="orgPublicKey"></ngx-qrcode>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
  <div class="row" style="margin-top: 2%">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="box box-default">
        <div class="box-body" style="padding:0px;">
          <div class="row borderBottom marginZero">
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
              <h5 class="lHeightStyle">Transactions</h5>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4 padding6px">
              <div class="input-group input-sm pull-center" data-toggle="dropdown" data-hover="dropdown"
                   style="height: 38px;">
                <span class="input-group-addon" data-toggle="dropdown" [mdMenuTriggerFor]="menu" data-hover="dropdown"
                      style="cursor: pointer;  width:3.2rem "
                      id="basic-addon1">
                  <i class=" dropdown material-icons" style="font-size:20px">search</i>
                  <i class=" dropdown material-icons m-l-minus5px" style="transform: rotate(270deg); font-size:15px;">chevron_left</i>
                </span>
                <input type="text" class="form-control input-sm fontsize13px" [(ngModel)]="searchValue"
                       placeholder="{{placeholdervalue }}"
                       aria-describedby="basic-addon1"
                       style=" border-radius: 3px;border-top-left-radius: 0;border-bottom-left-radius: 0;height: 2rem;"
                       (keyup)="getSearchResult(searchValue)">
                <md-menu #menu="mdMenu" class="custom-width">
                  <button md-menu-item class="searchItem" disabled>Search By</button>
                  <button md-menu-item class="searchItem" (click)="selectedSearch('type')">Type
                  </button>
                  <button md-menu-item class="searchItem" (click)="selectedSearch('action')">Action
                  </button>
                </md-menu>
              </div>
            </div>
          </div>


          <div class="row marginZero">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
              <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6 padding1Per">
                <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize" (change)="getChanged()">
                  <option value="10" selected> 10 Records per page</option>
                  <option value="20"> 20 Records per page</option>
                  <option value="40"> 40 Records per page</option>
                  <option value="60"> 60 Records per page</option>
                  <option value="80"> 80 Records per page</option>
                  <option value="100"> 100 Records per page</option>
                </select>
              </div>
              <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
                <div class="row">
                  <span (click)="prevPage()" style="cursor: pointer">
                    <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                  </span>
                  <span>{{firstItem}}
                    <span style="color: #cccccc"> to</span> {{lastItem}}</span>
                  <span (click)="nextPage()" style="cursor: pointer;">
                    <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="box box-default table-box table-responsive table-sm mdl-shadow--2dp noMarginBottom">
            <table class="mdl-data-table borderZero">
              <thead>
              <tr class="custom-table-heading borderZero">
            <!--    <th class="mdl-data-table__cell&#45;&#45;non-numeric l-h-24px">
                 &lt;!&ndash; <i class="fa fa-square-o dCheck-icon" aria-hidden="true"></i>&ndash;&gt;
                </th>-->
                <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover">Transaction Hash

                </th>
                <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover" (click)="sortingList('type')">
                  Transaction Type
                  <i *ngIf="!typeSort" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'type' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'type' && sortingOrder == 'ASC')" class="fa fa-sort-asc"
                     aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'type' && sortingOrder == 'DESC')" class="fa fa-sort-desc"
                     aria-hidden="true"></i>
                </th>
                <th class="mdl-data-table__cell--non-numeric cursorPointer"> Transaction Date
                </th>
                <th class="mdl-data-table__cell--non-numeric cursorPointer"> Action To

                </th>
                <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover" (click)="sortingList('action')">
                  Action
                  <i *ngIf="!actionSort" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'action' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'action' && sortingOrder == 'ASC')" class="fa fa-sort-asc"
                     aria-hidden="true"></i>
                  <i *ngIf="(sortingField== 'action' && sortingOrder == 'DESC')" class="fa fa-sort-desc"
                     aria-hidden="true"></i>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr style="cursor: pointer" (click)="selectRow(transaction,i,$event)"
                  *ngFor="let transaction of transactionList; let i=index">
               <!-- <td class="mdl-data-table__cell&#45;&#45;non-numeric ">
                  <i class="fa fa-square-o unckeck-box" aria-hidden="true" *ngIf="checkedIdx!=i"></i>
                  <i class="fa fa-check-square checked-box" aria-hidden="true" *ngIf="checkedIdx==i"></i>
                </td>-->
                <td class="mdl-data-table__cell--non-numeric ">{{transaction.txHash}}</td>
                <td class="mdl-data-table__cell--non-numeric "> {{transaction.type}}</td>
                <td class="mdl-data-table__cell--non-numeric "> {{mm.utc(transaction.txDate).toDate() | date:'short'}}
                </td>
                <td class="mdl-data-table__cell--non-numeric "> {{transaction.actionTo}}</td>
                <td class="mdl-data-table__cell--non-numeric ">{{transaction.action}}</td>
              </tr>
              </tbody>
              <tbody *ngIf="showLoader">
              <tr>
                <td colspan="6" class="noPaddingTop">
                  <h6 align="center" class="fontsize13px colorBlack">
                    <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
                  </h6>
                </td>
              </tr>
              </tbody>
              <tbody *ngIf="transactionList?.length == 0 && !showLoader">
              <tr>
                <td colspan="6" class="noPaddingTop">
                  <h6 align="center" class="fontsize13px colorBlack">
                    <img *ngIf="!showLoader" src="assets/images/empty-table.png" class="noDataImageStyles">Uhh.. There
                    is no data at this moment</h6>
                </td>
              </tr>
              </tbody>
            </table>
          </div>


          <div class="row marginZero">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
              <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7 " style="padding: 1%">
                <span style="font-size: 15px;">Total Count: {{totalpages}}</span>
              </div>
              <div align="right" class="col-md-3 col-lg-3 col-xs-3 col-sm-3" style="padding: 1%">
                <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize" (change)="getChanged()">
                  <option value="10" selected> 10 Records per page</option>
                  <option value="20"> 20 Records per page</option>
                  <option value="40"> 40 Records per page</option>
                  <option value="60"> 60 Records per page</option>
                  <option value="80"> 80 Records per page</option>
                  <option value="100"> 100 Records per page</option>
                </select>
              </div>
              <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
                <div class="row">
                  <span (click)="prevPage()" style="cursor: pointer">
                    <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                  </span>
                  <span>{{firstItem}}
                    <span style="color: #cccccc"> to</span> {{lastItem}}</span>
                  <span (click)="nextPage()" style="cursor: pointer;">
                    <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
<!--<html #copy>
<head>
  <style>
    #qrcode {
      width:160px;
      height:160px;
      margin-top:15px;
    }
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
  <script>
    var qrcode = new QRCode("qrcode");
    var key = 'dasdas';
    document.getElementById('text12').value = "dasdas";
    function makeCode () {
      var elText = document.getElementById("text");

      if (!elText.value) {
        alert("Input a text");
        elText.focus();
        return;
      }

      qrcode.makeCode(elText.value);
    }

    makeCode();

    $("#text").
    on("blur", function () {
      makeCode();
    }).
    on("keydown", function (e) {
      if (e.keyCode == 13) {
        makeCode();
      }
    });
  </script>
</head>
<body>
<input id="text12" type="text" [value]="orgPublicKey" style="width:80%" /><br />
<div id="qrcode"></div>
</body>
</html>-->
