<ul class="nav" myAccordionNav myAppendSubmenuIcon mySlimScroll myHighlightActiveItems>
  <!-- <li class="nav-header"><span>Navigation</span></li> -->
  <!-- <li><a class="textFont" md-button [routerLink]="['/app/account']"><i class="nav-icon material-icons">settings</i><span
     class="nav-text">Acc"ount </span></a></li>-->
  <ng-container *ngIf="roleType !== 'SOULSTICEADMIN'">
    <li>
      <a class="textFont" md-button [routerLink]="['/app/dashboard']">
        <i class="fa fa-tachometer nav-icon" aria-hidden="true"></i>
        <span class="nav-text">Dashboard</span>
      </a>
    </li>
    <!--   <li><a class="textFont" md-button ><i class="fa fa-users nav-icon" aria-hidden="true"></i><span
        class="nav-text">User Management</span></a>
        <ul>
            <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/userList']"><span> Users's List</span></a></li>
            <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/addUser']"><span> Add User </span></a></li>
          </ul></li>-->
    <li>
      <a class="textFont" md-button [routerLink]="['/app/all-claims']" (click)="getInboxCount('INBOX')">
        <i class="fa fa-inbox nav-icon nav-icon1" aria-hidden="true"></i>
        <span class="nav-text">Inbox &nbsp;</span>
        <span *ngIf="!menuCollapse || !tCollapse" class="counter-badge">{{inboxCountData?.inboxCount}}</span>
      </a>
      <!-- <span class="txtNotify" style="float:none">{{claimCountObject?.work + claimCountObject?.course + certificateCountObject?.qualification + certificateCountObject?.workAttestation}}</span> -->
      <!--<ul></ul>-->
      <!-- <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/cvdocs']"><span> CVs And docs</span></a></li> -->
      <!--<li><a md-button class="md-button prepend-icon" [routerLink]="['/app/all-claims']"><span> Claims </span> <span class="counter-badge1">{{claimCount?.work + claimCount?.course}}</span></a>
        <<ul>
          &lt;!&ndash;<li (click)="selectCliamBox('INBOX')"><a [routerLink]="['/app/personal-claims']" md-button class="md-button prepend-icon"><span> Personal </span> <span class="txtNotify">{{claimCountObject?.personal}}</span></a></li>&ndash;&gt;
          <li (click)="selectCliamBox('INBOX')"><a [routerLink]="['/app/work-claims']" md-button
                                                   class="md-button prepend-icon"><span> Work </span><span
            class="txtNotify">{{claimCountObject?.work}}</span></a></li>
          &lt;!&ndash;<li (click)="selectCliamBox('INBOX')"><a [routerLink]="['/app/skill-claims']"md-button class="md-button prepend-icon"><span> Skill</span><span class="txtNotify">{{claimCountObject?.skills}}</span></a></li>&ndash;&gt;
          <li (click)="selectCliamBox('INBOX')"><a [routerLink]="['/app/course-claims']" md-button
                                                   class="md-button prepend-icon"><span> Course </span><span
            class="txtNotify">{{claimCountObject?.course}} </span></a></li>
        </ul>
      </li>-->
      <!-- <li (click)="certificateMenuClicking('INBOX')"><a md-button class="md-button prepend-icon"><span> Certificates</span>
         <span class="counter-badge1" >{{certCount?.qualification + certCount?.workAttestation}}</span></a>
         <ul *ngIf="organisationResponse?.organisation?.accountLevel!=1">
           <li (click)="selectCliamBox('INBOX')"><a [routerLink]="['/app/qualification']" md-button
                                                    class="md-button prepend-icon"><span> Qualification </span><span
             class="txtNotify">{{certificateCountObject?.qualification}}</span></a></li>
           <li (click)="selectCliamBox('INBOX')"><a [routerLink]="['/app/work-attestations']" md-button
                                                    class="md-button prepend-icon"><span> Work  Attestations</span><span
             style="display: none" class="txtNotify">{{certificateCountObject?.workAttestation}}</span></a></li>
         </ul>
       </li>-->
      <!--<li><a md-button class="md-button prepend-icon" [routerLink]="['/app/verifications']"><span> Verifications </span></a> </li>-->

    </li>
    <li>
      <a class="textFont" md-button [routerLink]="['/app/all-outbox-claims']" (click)="getOutboxCount('OUTBOX')">
        <i class="fa fa-share-square-o nav-icon" aria-hidden="true"></i>
        <span class="nav-text">Sent</span>
        <span *ngIf="!menuCollapse || !tCollapse" class="counter-badge">{{sentBoxCountData?.sentCount}}</span>
      </a>
      <!--
    <ul>
      &lt;!&ndash; <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/cvdocs']"><span> CVs And docs</span></a></li> &ndash;&gt;
      <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/all-outbox-claims']"><span> Claims </span> <span class="counter-badge1" >{{outclaimCount?.work + outclaimCount?.course}}</span></a>
        &lt;!&ndash;<ul>
          &lt;!&ndash;<li (click)="selectCliamBox('OUTBOX')"><a [routerLink]="['/app/personal-outbox-claims']" md-button class="md-button prepend-icon"><span> Personal </span><span  class="txtNotify">{{claimCountObject?.personal}}</span></a></li>&ndash;&gt;
          <li (click)="selectCliamBox('OUTBOX')"><a [routerLink]="['/app/work-outbox-claims']" md-button
                                                    class="md-button prepend-icon"><span> Work </span> <span
            class="txtNotify">{{claimCountObject?.work}}</span></a></li>
          &lt;!&ndash;<li (click)="selectCliamBox('OUTBOX')"><a [routerLink]="['/app/skill-outbox-claims']"md-button class="md-button prepend-icon"><span> Skill </span><span class="txtNotify">{{claimCountObject?.skills}}</span></a></li>&ndash;&gt;
          <li (click)="selectCliamBox('OUTBOX')"><a [routerLink]="['/app/course-outbox-claims']" md-button
                                                    class="md-button prepend-icon"><span> Course </span><span
            class="txtNotify">{{claimCountObject?.course}}</span></a></li>
        </ul>&ndash;&gt;
      </li>
      <li (click)="certificateMenuClicking('OUTBOX')"><a md-button class="md-button prepend-icon" ><span> Certificates </span>
        <span class="counter-badge1" >{{outcertCount?.qualification + outcertCount?.workAttestation}}</span></a>
       &lt;!&ndash; <ul *ngIf="organisationResponse?.organisation?.accountLevel!=1">
          <li (click)="selectCliamBox('OUTBOX')"><a [routerLink]="['/app/outbox-qualification']" md-button
                                                    class="md-button prepend-icon"><span> Qualification </span><span
            class="txtNotify">{{certificateCountObject?.qualification}}</span></a></li>
          <li (click)="selectCliamBox('OUTBOX')"><a [routerLink]="['/app/outbox-work-attestations']" md-button
                                                    class="md-button prepend-icon"><span> Work  Attestations</span><span
            style="display: none" class="txtNotify">{{certificateCountObject?.workAttestation}}</span></a></li>
        </ul>&ndash;&gt;
      </li>
      &lt;!&ndash;<li><a md-button class="md-button prepend-icon" [routerLink]="['/app/verifications']"><span> Verified </span></a> </li>&ndash;&gt;
    </ul>
-->
    </li>
    <li>
      <a class="textFont" md-button (click)="getCertsCount()">
        <i class="fa fa-graduation-cap" style="margin-right:14px" aria-hidden="true"></i>
        <span class="nav-text">Certs</span>
        <span *ngIf="!menuCollapse || !tCollapse" class="counter-badge">{{certBoxCountData?.certificateCount + certBoxCountData?.certificateSharedCount}}</span>
      </a>
      <ul>
        <li (click)="certificateMenuClicking()">
          <a md-button class="md-button prepend-icon" (click)="getCertsCount()">
            <span> Issued </span>
            <span *ngIf="!menuCollapse || !tCollapse" class="counter-badge">{{certBoxCountData?.certificateCount}}</span>
          </a>
        </li>
        <li>
          <a md-button class="md-button prepend-icon" [routerLink]="['/app/certs-transfer']">
            <span (click)="getCertsCount()"> Transferred </span>
            <span *ngIf="!menuCollapse || !tCollapse" class="counter-badge">{{certBoxCountData?.certificateSharedCount}}</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- <li><a class="textFont" md-button [routerLink]="['/app/wallet/walletdetails']"><i class="nav-icon material-icons">account_balance_wallet</i><span
     class="nav-text">Individuals</span></a></li>
   <li><a class="textFont" md-button [routerLink]="['/app/wallet/walletdetails']"><i class="nav-icon material-icons">account_balance_wallet</i><span class="nav-text">My Address</span></a></li>-->
    <!--Removing All Tab 06/10/18-->
    <!--  <li>
    <a class="textFont" md-button (click)="selectCliamBox('ALL')"><i class="fa fa-files-o nav-icon" aria-hidden="true"></i><span class="nav-text">All</span></a>
    <ul>
      &lt;!&ndash; <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/cvdocs']"><span> CVs And docs</span></a></li> &ndash;&gt;
      <li (click)="selectCliamBox('ALL')"><a md-button class="md-button prepend-icon" [routerLink]="['/app/all-claims']"><span> Claims </span></a>
      </li>
      <li *ngIf="organisationResponse?.organisation?.accountLevel==1" (click)="certificateMenuClicking()"><a md-button class="md-button prepend-icon"><span> Certificates </span></a>
      </li>
      <li *ngIf="organisationResponse?.organisation?.accountLevel!=1" (click)="selectCliamBox('ALL')"><a md-button class="md-button prepend-icon" [routerLink]="['/app/all-certificates']"><span> Certificates </span></a>
      </li>
    </ul>
  </li>-->
    <li>
      <a class="textFont" md-button [routerLink]="['/app/address']">
        <i class="fa fa-qrcode nav-icon" aria-hidden="true"></i>
        <span class="nav-text">My Address</span>
      </a>
    </li>
    <li>
      <a class="textFont" md-button>
        <i class="fa fa-bookmark nav-icon nav-icon1" aria-hidden="true"></i>
        <span class="nav-text">Subscriptions</span>
      </a>
      <ul>
        <li>
          <a md-button [routerLink]="['/app/subscription']" class="md-button prepend-icon">
            <span> Subscribe</span>
          </a>
        </li>
        <li>
          <a md-button [routerLink]="['/app/mySubscriptions']" class="md-button prepend-icon">
            <span> My Subscriptions</span>
          </a>
        </li>
        <li>
          <a md-button [routerLink]="['/app/invoice']" class="md-button prepend-icon">
            <span> Invoices </span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a class="textFont" md-button [routerLink]="['/app/individual']">
        <i class="fa fa-user nav-icon" aria-hidden="true"></i>
        <span class="nav-text">Individuals</span>
      </a>
    </li>


    <!-- <li><a class="textFont" md-button><i class="fa fa-file-text nav-icon" aria-hidden="true"></i><span
    class="nav-text">Request Certificate</span></a></li> -->

    <!-- <li><a class="textFont" md-button><i class="fa fa-handshake-o nav-icon nav-icon2" aria-hidden="true"></i><span
    class="nav-text">Issue Certificate</span></a></li> -->

    <!-- <li><a class="textFont" md-button [routerLink]="['/app/adminSettings']"><i class="fa fa-line-chart nav-icon" aria-hidden="true"></i><span
    class="nav-text">Report &amp; Analytics</span></a></li>
  <li> -->
  </ng-container>
  <li>
    <a class="textFont" md-button [routerLink]="['/app/adminSettings']">
      <i class="fa fa-line-chart nav-icon" aria-hidden="true"></i>
      <span class="nav-text">Admin</span>
    </a>
  </li>

  <!--<li><a class="textFont" md-button><i class="nav-icon material-icons">youtube_searched_for</i><span
    class="nav-text">Advanced Skill search</span></a></li>-->

</ul>