<my-app-sidenav></my-app-sidenav>
<section id="page-container" class="app-page-container">
  <my-app-header [profileImg]="imgUrl"></my-app-header>
  <div class="app-content-wrapper">
    <!--  -->
    <div class="app-content" style="padding-top:50px;">
      <div class="full-height">
        <div class="container-fluid profAcc" *ngIf="orgDetails?.organisation?.accountLevel===1" >
          <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 layCenterAlign">
            <div class="col-md-10 col-lg-10 col-sm-4 col-xs-12" style="padding-left: 0px;">
              <h6 style="margin-top:0px; margin-bottom:0px;"> {{orgDetails?.organisation?.stripePlanName}} Account <span style="color: #FFB217">
                <i class="fa fa-star" aria-hidden="true"></i> <i
                class="fa fa-star" aria-hidden="true" *ngIf="orgDetails.organisation?.stripePlanName != 'Trial'"></i> </span></h6>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 pull-right" style="padding-right: 0px;">
              <button class="btn btn-secondary-color cancelBtnNEw btn-sm pull-right upgradeButton" (click)="getUpgrade()" type="button">Upgrade</button>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
    <my-app-footer></my-app-footer>
  </div>
</section>
<!--<my-app-customizer></my-app-customizer>-->

<my-app-search-overlay></my-app-search-overlay>
