<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <p>Countries List</p>
  </div>
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 border " *ngIf="countryDetails">
    <input type="text" [(ngModel)]="codeOrCountry">
    <p *ngFor="let countryCode of countryDetails">{{countryCode.name}}</p> <span>{{countryCode.dial_code}}</span>
  </div>
  <div class="MocG8c aCjZuc LMgvRb" jsname="wQNmvb" jsaction="" data-value="ag" aria-selected="true" tabindex="0" role="option"><div class="kRoyt MbhUzd" jsname="ksKsZd" style="top: 19px; left: 42.5px; width: 64px; height: 64px;"></div><div class="MWQFLe uLX2p" aria-hidden="true"><div class="qclxzb"><div class="Fy0Xbe SrKVbf" style="background-position: -1px -1140px;" aria-hidden="true"></div></div></div><content class="vRMGwf oJeWuf">Antigua &amp; Barbuda <span class="CO1lLb" dir="ltr">+1</span></content></div>
</div>
