.border{
  border:1px solid #dbdbdb
}
.Fy0Xbe{
  background: url('https://ecellstreet.com/wp-content/uploads/2018/08/Logo-600-ppi-1.png') no-repeat 0 0;
  -webkit-background-size: 24px 3876px;
  background-size: 24px 3876px;
  width: 24px;
  height: 16px;
  overflow: hidden;
}
