/* CSS Document */
/*@import url('https://fonts.googleapis.com/css?family=Nunito');*/

.bgMainImage{
  background-image: url("http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/slider-bg.jpg");
  background-repeat: no-repeat !important;
  padding-bottom: 5%;
  background-size: cover;
 /* background-size: 1349px 550px;*/
}
.navbar-toggle {
  margin-top: 15px;
  margin-bottom: 15px;
}
.colorBlack{
  color:#000;
}
.subhdng{
  font-size: 20px;
  font-weight: bold;
}
.paddingTop4per{
  padding-top:4%;
}
.custmNav {
  top: 0;
  z-index: 100000000000;
  background: #fff;
  width: 100%;
  position:fixed !important;
}
.inner-line-btn{
  width: 100% !important;
  margin-right: 1rem !important;
  background-color: #ffffff !important;
  border: 1px solid #009bbd !important;
  color: #009bbd !important;
}
.inner-line-btn:hover{
  background-color: #fbffff !important;
  border: 1px solid #D8DDE6 !important;
  color: #009bbd !important;
}
.inner-btn{
  width: 8rem !important;
  border: 1px solid transparent !important;
  color: white !important;
  cursor: pointer !important;
  background-image: none !important;
  background-color: #009bbd !important;
  box-shadow: none !important;
}
.icon-txt{
  padding-left: 10px;
  font-size: 15px;
  color: #fefefe;
}

.btn-style-menu{
  background-color:grey;
  border: 1px solid #9e9e9e;
}

.min-h-61px{
  min-height:61px !important;
  text-align:center;

}

.min-h-140px{
  min-height:140px !important;
  text-align:center;
}

.icon-color{
  color: #9e9e9e;
  font-size: 15px !important;
}
.mat-icon-button{
  height: 25px;
width:25px;
line-height: 25px;
}
.cursorPointer{
  cursor: pointer !important;
}
.m-t-1per{
  margin-top: 1%;
}
.borderDivs{
  border: 1px solid #cccccc;
  height: 238px;
  max-height: 238px;
}
.whoImgStyles{
  padding: 2%;
}
.whoStyles{
  min-height: 130px;
}
.bgLytBlue{
  background: #eef6f954;
}
.noMarginTop{
  margin-top: 1%;
}
.noMarginBtm{
  margin-bottom: 0%;
}
.bgWhite{
  background-color: #fff;
}
.fontSize25px{
  font-size: 25px;
}
.video {
  width: 100%;
  height: auto;
}
.borderDv{
  border:1px solid #dbdbdb;
}
.fontBold{
  font-weight: bold;
}
.colorWhite{
  color:#fff;
}
.borderLight{
  border-bottom: 1px solid #dbdbdb;
}
.bgLytGrey{
  background-color: #f9f9f9;
}
.bgFtr{
  background-color: #000;
  color:#fff;
  border-top: 1px solid #dbdbdb;
  padding-top: 1%;
  padding-bottom: 1%;
}
.marginTopBtm1per{
  margin-top: 2%;
  margin-bottom: 2%;
}
.bgBtnClrBlue{
  background-color: #009bbd;
  color: #fff;
}
.bgBtnClrOrange{
  background-color: #f8701d;
  color:#fff;
}
.width25per{
  width:25%;
}
.width75per{
  width:75%;
}
.marginBtm1per{
  margin-bottom: 1%;
}
.marginTop2per{
  margin-top: 2%;
}
.marginTop5per{
  margin-top: 5%;
}
.marginTop20per{
  margin-top: 20%;
}
.marginTop12per{
  margin-top: 12%;
}
.marginTop9per{
  margin-top: 9%;
}
.mainCTA{
  background: #009bbd;
  color:#fff;
  font-size: 11px;
  border: 1px solid #009bbd;
  border-radius: 5px;
  padding: 2%;
  width: 45%;
}
.custmNav {
  background: #ffffff;
  border-radius: 0px;
  min-height: 70px;
}
.custmPrmary {
  background: #009bbd;
  border: 1px solid #009bbd;
  color: #fff;
  font-size: 15px;
}

.custmPrmary:focus {
  background: #009bbd;
  border: 1px solid #009bbd;
  color: #fff;
  font-size: 15px;
}
.custmPrmary:hover, .custmPrmary:focus, .custmPrmary:active:hover {
  background-color: #009bbd !important;
  border: 1px solid #009bbd;
  color: #ffffff !important;
}

#connectFooter{
  background: #009bbd;
}
body, html {
  font-family: 'Nunito', sans-serif;
  font-size:14px;
}
.bg-white {
  background-color: #fff!important;
  box-shadow: 0 0 2px #adadad;
}
.nav-link {
  font-family: 'Nunito', sans-serif;
  font-size:14px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.4rem;
  padding-left: 1rem;
}
.flip-header {
  margin-top:3rem;
  margin-bottom:1rem;
}
.heading-title {
  font-family: 'Nunito', sans-serif;
  font-size:30px;
  font-weight:700;
  color: #009bbd ;
  text-align:center;
  margin-top:7rem;
  margin-bottom:2rem;
}
.intro-text {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  text-align: justify;
}
.sub-heading-title {
  font-family: 'Nunito', sans-serif;
  color: #009bbd;
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.desc-text {
  font-size:14px;

}
.description {
  margin-bottom:10rem;
}

.des-text {
  font-family: 'Ubuntu', sans-serif;
  font-size:16px;
  color:#3d3d3d;
}
.use-cases {
  font-size: 16px;
  font-weight: 600;
}
.use-cases-small-dev {
  font-weight: bold;
  font-size: 13px;

}
.features-bg {
  background-color:#f1f1f1;
}
.features-banner {

  width:533px;
  height:521px;
  margin:auto;
}
.faqs {
  margin-bottom:10rem;
  margin-top:0rem;
}
.custom-textarea{
  min-height: 130px;
}
.btn-color {
  background-color: #f37120;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}
.outline-btn-color {
  background-color: transparent;
  border: 1px solid #f37120;
  color: #f37120;
  border-radius: 4px;
  font-size: 14px;
}
.outline-btn-color:hover {
  background-color: transparent;
  border: 1px solid #f37120;
  color: #f37120;
  border-radius: 4px;
  font-size: 14px;
}
.outline-btn-color:focus {
  background-color: transparent;
  border: 1px solid #f37120;
  color: #f37120;
  border-radius: 4px;
  font-size: 14px;
}
.ftr-text {
  font-family: 'Ubuntu', sans-serif;
  font-size:14px;
  color: #333!important;
  font-weight: 500;
  margin-top: 1rem;
}
.ftr-dnld {
  font-family: 'Ubuntu', sans-serif;
  font-size:14px;
  font-weight: 500;

}
.dnld-bdr {
  border-right:1px solid #333;
  font-size:18px;
  font-weight:500;
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.ftr-bg {
  background-color: #fed100;

}
.ftr-align{
  text-align: right!important;
}
h4 {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #fff;
}
.ftr-link {
  color:#000;
  text-decoration: none;
  font-size: 14px;
}
a {
  color:#000;
  text-decoration: none;
}
a:hover {
  color:#000;
  text-decoration: none;
}
a:visited {
  color:#000;
  text-decoration: none;
}
.customHyper, .customHyper:visited{
  text-decoration: none;
  color:#fff;
}
.active {
  font-size: 14px;
  text-decoration: none;
  color: #3c9ade !important;
}
.process-heading {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.modal-dialog {
  max-width: 750px !important;
  margin: 30px auto;
}
.custom-modal-title {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #009bbd;
}
small {
  font-size: 80%;
  color: #d40000 !important;
}
.customHyper:hover,.customHyper:focus{
  color:#fff;
  text-decoration: none;
}
.required-color {
  color: #d40000;
  font-size: 16px !important;
  font-weight: bold;
}
.custom-label {
  font-size: 14px !important;
  font-weight: bold;
  color: #000000 !important;
}
.custom-modal-left {
  padding-left: 0.5rem !important;
}
.custom-modal-right {
  padding-right: 0.5rem !important;
}
.btn.focus {
  color: #fff !important;
  text-decoration: none;
}
.removeShadow {
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media only screen and (max-width: 320px) {
  img.gallery__itemThumb {
    width:250px !important;
  }
  .gallery {
    padding: 0em 0;
    color: #333;
    margin: auto;
  }
  .heading-title {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #009bbd ;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 0rem;
    text-transform: capitalize;
  }
  .socail-media{
    width:40px;
  }
  .ftr-align{
    text-align: center!important;
  }
  .res-margin2per{
    margin-top: 2%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 1024px) {
  img.gallery__itemThumb {
    width:300px !important;
  }
  img.img-responsive.socail-media {
    width: 40px !important;
  }
}

@media only screen and (min-width: 414px) and (max-width: 768px) {
  img.gallery__itemThumb {
    width:330px !important;
  }
}


@media only screen and (min-width: 768px) and (max-width: 800px){
  .imgCenter{
    margin-top: 19% !important;
  }
}
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  .small-dev {
    float:left;
  }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  .small-dev {
    float:left;
  }
  img.gallery__itemThumb {
    width:300px;
  }
  .heading-title {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #009bbd ;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 0rem;
    text-transform: capitalize;
  }
  .res-margin2per{
    margin-top: 2%;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
  .small-dev {
    float:left;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
  .small-dev {
    float:left;
  }
  .res-margin2per{
    margin-top: 2%;
  }
}

/* Modal Contact Form */
.modal-header {
  display: block;
}

.contact-form {
  margin-top: 15px;
}

.contact-form .textarea {
  min-height: 130px;
  resize: none;
}

.form-control {
  box-shadow: none;
  border-color: #dadada;
}

.form-control:focus {
  box-shadow: none;
  border-color: #009bbd;
}

.form-control-feedback {
  line-height: 20px;
}

.main-btn {
  background: #009bbd;
  border-color: #009bbd;
  color: #fff;
}

.main-btn:hover {
  background: #009bbd;
  color: #fff;
}

.form-control-feedback {
  line-height: 20px;
  top: 0px;
}


/*lightbox */
/*Scroll to top */
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(241, 100, 33, .8) url(../../../assets/images/back-to-top/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #c63b1b;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
