<div class="navbar navbar-default custmNav navbar-fixed-top">
  <div class="col-md-12 col-lg-12 hidden-sm hidden-xs">
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
      <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" [routerLink]="['/landingPage/home']" class="img-responsive"
        width="100">
    </div>
    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8 ">
      <a (click)="gotoFeatures()">
        <label class="col-md-4 m-t-1per cursor" align="right"> Use&nbsp;Cases</label>
      </a>
      <a [routerLink]="['/landingPage/plans']">
        <label class="col-md-1 m-t-1per cursor"> Plans</label>
      </a>
      <a [routerLink]="['/landingPage/faqs']">
        <label class="col-md-1 m-t-1per cursor"> FAQ</label>
      </a>
      <a [routerLink]="['/landingPage/contact']">
        <label class="col-md-2 m-t-1per cursor"> Contact&nbsp;us</label>
      </a>
      <div class="col-md-2">
        <button (click)="gotoSignIn()" class="btn btn-default inner-line-btn cursor" type="button">SIGN IN</button>
      </div>
      <div class="col-md-2">
        <button (click)="gotoRegister()" class="btn btn-primary inner-btn cursor" type="button">GET STARTED</button>
      </div>
    </div>
  </div>

  <div class=" hidden-md hidden-lg col-sm-12 col-xs-12  m-t-1per">
    <div class="row">
      <div  class="col-xs-12 col-sm-12">
        <img align="left" src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive" width="100">
        <button align="right" class="pull-right m-t-1per" md-icon-button [mdMenuTriggerFor]="actionMenu">
            <i class="fa fa-bars" style="font-size:18px;" aria-hidden="true"></i>
          </button>
          <md-menu align="right" #actionMenu="mdMenu" class="table-dropdown-area">
            <button (click)="gotoFeatures()" class="btn-style-menu" md-menu-item>
              <span class="icon-txt">Feature</span>
            </button>
            <button [routerLink]="['/landingPage/plans']" class="btn-style-menu" md-menu-item>
              <span class="icon-txt">Plan</span>
            </button>
            <button [routerLink]="['/landingPage/faqs']" class="btn-style-menu" md-menu-item>
              <span class="icon-txt">FAQ</span>
            </button>
            <button [routerLink]="['/landingPage/contact']" class="btn-style-menu" md-menu-item>
              <span class="icon-txt">FAQ</span>
            </button>
            <button (click)="gotoSignIn()" class="btn-style-menu" md-menu-item>
              <span class="icon-txt">SIGN IN</span>
            </button>
            <button (click)="gotoRegister()" class="btn-style-menu" md-menu-item>
              <span class="icon-txt">Get Started</span>
            </button>
          </md-menu>
        </div>
    </div>
  </div>

</div>
<div class="container-fluid bgMainImage paddingTop4per">
  <div class="container">

    <div class="row ">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5 colorBlack marginTop5per">
          <h3 class="colorBlack fontSize25px">WELCOME TO CERT TIN</h3>
          <p>A Blockchain based education certificate sharing, creating and verification system</p>
          <video id="video" controls poster="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/flipcerts_video_thumb.png" class="img-fluid video"
            controlslist="nodownload" style="cursor: pointer;">
            <source src="http://d2btkkuyusotz5.cloudfront.net/flipcerts/Cert+Tin+-+English.mp4" type="video/mp4">
            <source src="http://d2btkkuyusotz5.cloudfront.net/flipcerts/Cert+Tin+-+English.webm" type="video/webm">
          </video>
          <button class="mainCTA marginTop9per" (click)="gotoRegister()">START FREE TRIAL</button>
        </div>
        <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7 colorBlack marginTop5per pull-right">
          <img class="img-responsive pull-right" src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/banner-image.gif" style="width: 550px;">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="start" class="container-fluid margintop2per">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5 marginTop12per">
          <p>The world's most innovative Blockchain solution for global certification. CertTin verifies the connection between
            users, organisations and universities globally. In other words, CertTin is a blockchain-based educational certificate,
            sharing, creating and verification system.</p>
          <button class="mainCTA marginTop9per" (click)="gotoRegister()">START FREE TRIAL</button>
        </div>
        <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
          <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/infographic_flipcerts_3.jpg" align="right" class="img-responsive"
            width="500">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Features -->
<!--<div #featuress id="featuress" class="container-fluid marginTop5per">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <p align="center" class="subhdng"> FEATURES </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <img src="assets/images/landingPage/module_1.png" class="img-responsive modulepic">
            </div>
          </div>
          <div class="row" style="font-size:18px;">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <h4 style="color:#000;"> The Mobile app provides: </h4>
              <ul>
                <li> Authentication.</li>
                <li> University selection and certificate request process.</li>
                <li>Mnemonic key and block chain wallet.</li>
                <li> Certificate.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 pull-right">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <img src="assets/images/landingPage/module_2.png" class=" img-responsive modulepic">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              &lt;!&ndash; <h4 style="color:#000;"> For Universities and Employer/3<sup>rd</sup> party the <br> web application will be
               accessed using <a style="color: #2b669a" href="http://certs.fliptin.com/"
                                 target="_blank"> certs.fliptin.com</a> : </h4>&ndash;&gt;

              <div class="row" style="font-size:18px;">
                <div class="col-md-12 ">
                  <h4 style="color:#000;">For Universities : </h4>
                  <ul>
                    <li> Validate the students requests.</li>
                    <li> Issues digital certificate.</li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <h4 style="color:#000;"> For Employers/3
                    <sup>rd</sup> party: </h4>
                  <ul>
                    <li> Validate the certificate.</li>
                    <li> Issue digital certificate of experience.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!-- End Features -->
<div class="container-fluid bgLytGrey margintop2per">
  <div id="values" class="container" style="padding-bottom: 4rem;">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margintop2per">
        <p align="center" class="subhdng"> Value of Cert Tin </p>
      </div>
    </div>
    <div class="row marginTop5per">
      <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 hidden-xs hidden-sm">
        <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/features.png" style="width:800px">
      </div>
    </div>
    <div class="row desc-text">
      <div class="col-sm-12 col-xs-12 hidden-lg hidden-md">
        <div class="row">
          <div class="col-sm-12 col-xs-12" style="margin-top:3.5rem;">
            <div class="row margintop1per">
              <div class="col-sm-4 col-xs-4 width25per">
                <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/cost.png" class="img-responsive" style="margin-top: 6%;margin-bottom: 6%">
              </div>
              <div class="col-sm-8 col-xs-8 width75per marginTop5per">
                <span class="use-cases-small-dev">
                  Cost & energy efficient.
                </span>
              </div>
            </div>
            <div class="row margintop1per">
              <div class="col-sm-4 col-xs-4 width25per">
                <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/immutable.png" class="img-responsive" style="margin-top: 6%;margin-bottom: 6%">
              </div>
              <div class="col-sm-8 col-xs-8 width75per marginTop5per">
                <span class="use-cases-small-dev">
                  Immutable (unchangeable) & resilient (zero downtime).
                </span>
              </div>
            </div>
            <div class="row margintop1per">
              <div class="col-sm-4 col-xs-4 width25per">
                <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/private.png" class="img-responsive" style="margin-top: 6%;margin-bottom: 6%">
              </div>
              <div class="col-sm-8 col-xs-8 width75per marginTop5per">
                <span class="use-cases-small-dev">
                  Private consortium & distributed network transaction.
                </span>
              </div>
            </div>
            <div class="row margintop1per">
              <div class="col-sm-4 col-xs-4 width25per">
                <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/hack-proof.png" class="img-responsive" style="margin-top: 6%;margin-bottom: 6%">
              </div>
              <div class="col-sm-8 col-xs-8 width75per marginTop5per">
                <span class="use-cases-small-dev">
                  Encrypted, hack proof & no single point of failure.
                </span>
              </div>
            </div>
            <div class="row margintop1per">
              <div class="col-sm-4 col-xs-4 width25per">
                <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/smart-contacts.png" class="img-responsive" style="margin-top: 6%;margin-bottom: 6%">
              </div>
              <div class="col-sm-8 col-xs-8 width75per marginTop5per">
                <span class="use-cases-small-dev">
                  Synchronized records , smart contract& transfer of ownership.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Use Cases -->
<!--<div id="use-cases" class="container-fluid features-bg margintop2per paddingbottom1per">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 marginTop5per">
        <p align="center" class="subhdng"> USE CASES </p>
      </div>
    </div>
    <div class="row" style="margin-top: 3.5rem;">
      <div class="col-md-3 hidden-sm hidden-xs">
        <div class="row">
          <div class="col-12" style="margin-top: 1.2rem;">
                        <span class="use-cases">Attestation of work experience certificates:
                            employers, employees and job platforms.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12" style="margin-top: 5rem;">
            <span class="use-cases">Prescription: between patients, healthcare institutions, doctors and pharmacies.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 hidden-sm hidden-xs"><img src="assets/images/landingPage/uses_cases.png" class="img-responsive">
      </div>
      <div class="col-md-3 hidden-sm hidden-xs">
        <div class="row">
          <div class="col-12" style="margin-top: 2.5rem;">
            <span class="use-cases">Grant management tracking.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12" style="margin-top: 6.5rem;">
            <span class="use-cases">Proof of address: between citizen, cities and utilities.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 hidden-sm hidden-xs text-center" style="margin-top: 0.5rem;">
        <span class="use-cases">Field technician certificate.</span>
      </div>
    </div>
    &lt;!&ndash; Use Cases for Mobile Device &ndash;&gt;
    <div class="row desc-text">
      <div class="col-sm-12 col-xs-12 hidden-lg hidden-sm">
        <div class="row">
          <div class="col-sm-12 col-xs-12" style="margin-top:3.5rem;">
            <div class="row">
              <div class="col-sm-4 col-xs-4"><img src="assets/images/landingPage/usecases/cv.png" class="img-responsive"
                                                  style="margin-top: 6%;margin-bottom: 6%"></div>
              <div class="col-sm-8 col-xs-8" style="margin-top: 0.5rem;margin-bottom: 2.5rem;">
                                <span class="use-cases-small-dev">Attestation of work experience certificates: <br> employers, employees and job
                                    platforms.
                                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-xs-4"><img src="assets/images/landingPage/usecases/certi.png" class="img-responsive"
                                                  style="margin-top: 6%;margin-bottom: 6%"></div>
              <div class="col-sm-8 col-xs-8" style="margin-top: 1.5rem;">
                                <span class="use-cases-small-dev">Proof of address: between <br> citizen, cities and
                                    utilities.
                                </span>
              </div>
            </div>
            <div class="row" style="margin-bottom: 2rem;margin-top: 1rem;">
              <div class="col-sm-4 col-xs-4"><img src="assets/images/landingPage/usecases/healthcare.png"
                                                  class="img-responsive"
                                                  style="margin-top: 6%;margin-bottom: 6%"></div>
              <div class="col-sm-8 col-xs-8" style="margin-top: 1rem;">
                                <span class="use-cases-small-dev">Prescription: between patients, healthcare institutions,
                                    doctors and pharmacies.
                                </span>
              </div>
            </div>
            <div class="row" style="margin-bottom: 2rem;margin-top: 1rem;">
              <div class="col-sm-4 col-xs-4"><img src="assets/images/landingPage/usecases/managment.png"
                                                  class="img-responsive"
                                                  style="margin-top: 6%;margin-bottom: 6%"></div>
              <div class="col-sm-8 col-xs-8" style="margin-top: 2rem;">
                                <span class="use-cases-small-dev">Grant management tracking.
                                </span>
              </div>
            </div>
            <div class="row" style="margin-bottom: 2rem;margin-top: 1rem;">
              <div class="col-sm-4 col-xs-4"><img src="assets/images/landingPage/usecases/proof-of-address.png"
                                                  class="img-responsive"
                                                  style="margin-top: 6%;margin-bottom: 6%"></div>
              <div class="col-sm-8 col-xs-8" style="margin-top: 2rem;">
                                <span class="use-cases-small-dev">Field technician certificate.
                                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    &lt;!&ndash; End Use Cases for Mobile Device &ndash;&gt;
  </div>
</div>-->
<div class="container-fluid">
  <div #usecases id="usecases" class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 marginTop5per">
        <p align="center" class="subhdng"> Use Cases </p>
      </div>
      <div class="row margintop2per hidden-xs hidden-sm">
        <div class="col-md-12 col-lg-12" align="center">
          <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/feature.png" class="img-responsive" style="width: 75%;">
          <!--<div class="col-md-5 hidden-xs hidden-sm">
            <div class="row">
              <div class="col-12" style="font-size: 15px;font-weight: 600;margin-left: -7rem;margin-top: 2rem;">Job matter
            </div>
            <div class="row">
              <div class="col-12" style="font-size: 15px;font-weight: 600;margin-top: 4rem;margin-left: -2rem;">Medical
              </div>
            </div>
            <div class="row">
              <div class="col-12" style="font-size: 15px;font-weight: 600;margin-top: 6.5rem;">Compliance (Insurance, Warranty and Claims)
              </div>
            </div>
            <div class="row">
              <div class="col-12" style="font-size: 15px;font-weight: 600;margin-top: 6rem;margin-left: -2rem;">Identity and Consent Management
              </div>
            </div>
            <div class="row">
              <div class="col-12" style="font-size: 15px;font-weight: 600;margin-top: 5.5rem;margin-left: -8rem;">Financial Tracking
              </div>
            </div>
            <div class="row">
              <div class="col-12" style="font-size: 15px;font-weight: 600;margin-top: 4.5rem;margin-left: -14em;">Fmcg ( Suppliers)
              </div>
            </div>
          </div>
        </div>-->
        </div>
      </div>

      <!-- Small Device -->
      <div class="row desc-text">
        <div class="col-sm-12 col-xs-12 hidden-lg hidden-md">
          <div class="row">
            <div class="col-sm-12 col-xs-12" style="margin-top:1.5rem;">
              <div class="row marginTop5per">
                <div class="col-sm-4 col-xs-4 width25per">
                  <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/Job-matter.png" class="img-responsive" style="margin-top: 6%;margin-bottom: 6%">
                </div>
                <div class="col-sm-8 col-xs-8 width75per ">
                  <span class="use-cases-small-dev">
                    <p class="fontBold noMarginBtm">Recruitment and Employment</p>
                    Academic Certifications, References, Attestation Of Work
                  </span>
                </div>
              </div>
              <div class="row marginTop5per">
                <div class="col-sm-4 col-xs-4 width25per">
                  <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/Medical.png" class="img-responsive" style="margin-top: 6%;margin-bottom: 6%">
                </div>
                <div class="col-sm-8 col-xs-8 width75per ">
                  <span class="use-cases-small-dev">
                    <p class="fontBold noMarginBtm"> Medical</p>
                    Prescriptions, Medical Trials, Clinical Data
                  </span>
                </div>
              </div>
              <div class="row marginTop5per">
                <div class="col-sm-4 col-xs-4 width25per">
                  <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/Compliance.png" class="img-responsive" style="margin-top: 6%;margin-bottom: 6%">
                </div>
                <div class="col-sm-8 col-xs-8 width75per ">
                  <span class="use-cases-small-dev">
                    <p class="fontBold noMarginBtm"> Certificate Of Compliance</p>
                    Insurance, Warranty, Claims
                  </span>
                </div>
              </div>
              <div class="row marginTop5per">
                <div class="col-sm-4 col-xs-4 width25per">
                  <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/Identity.png" class="img-responsive" style="margin-top: 6%;margin-bottom: 6%">
                </div>
                <div class="col-sm-8 col-xs-8 width75per ">
                  <span class="use-cases-small-dev">
                    <p class="fontBold noMarginBtm"> Identity and Consent Management</p>
                    Authentication and Reconciliation
                  </span>
                </div>
              </div>
              <div class="row marginTop5per">
                <div class="col-sm-4 col-xs-4 width25per">
                  <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/Financial-Tracking.png" class="img-responsive" style="margin-top: 6%;margin-bottom: 6%">
                </div>
                <div class="col-sm-8 col-xs-8 width75per ">
                  <span class="use-cases-small-dev">
                    Remittance, Cryptocurrency, Micro-payments and Grant Management, Procurement
                  </span>
                </div>
              </div>
              <div class="row marginTop5per">
                <div class="col-sm-4 col-xs-4 width25per">
                  <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/Fmcg.png" class="img-responsive" style="margin-top: 6%;margin-bottom: 6%">
                </div>
                <div class="col-sm-8 col-xs-8 width75per marginTop5per">
                  <span class="use-cases-small-dev">
                    <p class="fontBold noMarginBtm"> FMCG</p>
                    Product Safety and Supply Chain Management and Provenance
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Small Device -->
    </div>
  </div>
</div>
<!-- End Use Cases -->

<!--<div class="container-fluid">
  <div class="container flip-header">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top: 12%;" >
        <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
          <img src="./images/banner/ani.gif" class="img-responsive">
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 " style="margin-top:1rem;">
                  <span class="intro-text">
                      The world’s most innovative <b> Blockchain solution for global certification. </b> Cert Tin verifies the connection between users, organisations and universities globally.
                  </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 " style="margin-top:1rem;">
                  <span class="intro-text">
                      In other words, Cert Tin is a blockchain-based educational certificate, sharing, creating and verification system.
                  </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
          <button class="mainCTA marginTop9per">WATCH ON FLIPTIN</button>
          </div>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
        <img src="assets/images/landingPage/ani.gif" class="img-responsive">
      </div>
    </div>
  </div>
</div>-->
<!-- Content section -->
<div class="container-fluid marginTop5per">
  <div id="faq" class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <p align="center" class="subhdng"> Who is it for </p>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: 2%;margin-bottom: 2%">

        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 res-margin2per  ">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 borderDivs bgWhite whoStyles" align="center">
            <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/university.png" class="img-responsive whoImgStyles">
            <h4 class="process-heading">ISSUER</h4>
            <span class="fontSize11px">Any issuing organisation e.g. universities, training institution, municipality etc.</span>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 res-margin2per ">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bgWhite borderDivs whoStyles" align="center">
            <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/org.png" class="img-responsive whoImgStyles">
            <h4 class="process-heading">CONSUMER</h4>
            <span class="fontSize11px">Any individual or organisation that needs to receive verified documents.</span>
          </div>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 res-margin2per">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bgWhite borderDivs whoStyles" align="center">
            <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/individual.png" class="img-responsive whoImgStyles">
            <h4 class="process-heading">INDIVIDUAL</h4>
            <span class="fontSize11px">Any individual requiring an authentic claim, certificate, work attestation or record of recognition. </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Sponsers-->

<!--<div id="sponsers" class="container-fluid marginTop5per">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <p align="center" class="subhdng"> SPONSERS </p>
      </div>
    </div>
    <div class="row margintop2per marginBottom2per">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" align="center">
        <div class="col-md-3">
          <img src="assets/images/landingPage/soulstice_new_logo.png" class="logoSize">
        </div>
        <div class="col-md-3">
          <img src="assets/images/landingPage/logo_small.png" class="logoSize">
        </div>
        <div class="col-md-3">
          <img src="assets/images/landingPage/soulstice_new_logo.png" class="logoSize">
        </div>
        <div class="col-md-3">
          <img src="assets/images/landingPage/logo_small.png" class="logoSize">
        </div>
      </div>
    </div>
  </div>
</div>-->

<!--End Sponsers-->

<div class="container-fluid connect margintop2per" id="connectFooter" style="padding-bottom: 2%;color:#fff">
  <div class="row" style="margin-top: 2%;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <p style="font-size: 17px">Let's build products, solve problems and enable growth. Cobuild and Coideate with Fliptin
        </p>
        <p style="font-size: 17px">We leverage our market proximity and multicultural resources through existing operations in Africa, Asia and the
          Middle East.</p>

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-11  col-xs-12 col-sm-12 col-xs-12" style="margin-top: 5%;margin-bottom: 4%" align="center">
            <div class="col-md-2  col-sm-2  col-xs-3">
              <a href="mailto:connect@fliptin.com" id="connect">
                <img class="img-responsive" src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/message.png">
              </a>
            </div>
            <div class="col-md-2  col-sm-2  col-xs-3">
              <a href="https://www.linkedin.com/company/fliptin" id="linkedin" style="color: #000000;" target="_blank" title="FlipTin Linkedin">
                <img class="img-responsive" src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/linked_in.png">
              </a>
            </div>
            <div class="col-md-2  col-sm-2  col-xs-3">
              <a href="https://www.facebook.com/fliptin" id="fb" style="color: #000000;" target="_blank" title="FlipTin Facebook">
                <img class="img-responsive fbImg" src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/fb.png">
              </a>
            </div>
            <div class="col-md-2  col-sm-2  col-xs-3">
              <a href="https://twitter.com/FliptinTech" id="twitter" style="color: #000000;" target="_blank" title="FlipTin Twitter">
                <img class="img-responsive" src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/twitter.png">
              </a>
            </div>
            <div class="col-md-2 col-sm-2  col-xs-3">
              <!--<a href="" style="color: #000000;" target="_blank"
                                                        title="FlipTin Signup"><img
              ng-click="getMypopup($event)" class="img-responsive" src="assets/images/landingPage/icon/edit_iocn_2.png"></a>-->
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="margin-left: 6%;">
        <a class="twitter-timeline" style="color:#fff" data-height="193" data href="https://twitter.com/FliptinTech">Tweets by FliptinTech
        </a>
        <a href="https://twitter.com/FliptinTech" target="_blank">
          <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/landingPage/tweetPic.png" class="img-responsive"> </a>
        <!-- <script async src="../../../vendors/twitterwidgets.js" charset="utf-8"></script>-->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="connectNew" style="background-color: #000;color: #ffffff;padding-top: 10px;padding-bottom: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="">
            <h4>
              <b>Fliptin Technologies LLC</b>
            </h4>
            <p>9th Floor, Conrad Hotel,
              <br> Sheikh Zayed Road,
              <br> Dubai, UAE</p>
            <p>
              <strong>Tel:</strong> +971(0) 4 501 3554</p>
            <div class="fusion-clearfix"></div>
          </div>
          <div class="row hidden-sm hidden-md hidden-lg">
            <hr>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="">
            <h4>
              <b>Fliptin India</b>
            </h4>
            <p>The Platina, A-703, 136/3,
              <br> Gachibowli, Near Radisson hotel,
              <br>Hyderabad 500032, INDIA</p>
            <p>
              <strong>Tel:</strong> +91 (0)40 67451308</p>
            <div class="fusion-clearfix">

            </div>
          </div>
          <div class="row hidden-sm hidden-md hidden-lg">
            <hr>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="">
            <h4>
              <b>Fliptin South Africa </b>
            </h4>
            <p>4th floor Rosebank Corner,
              <br> 191 Jan Smuts Avenue Rosebank
              <br> 2193, Johannesburg, South Africa</p>
            <p>
              <strong>Tel:</strong> +27 (0)10 590 3040</p>
            <div class="fusion-clearfix"></div>

          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="">
            <h4>
              <b>Fliptin USA </b>
            </h4>
            <p>c/o DigiTrack, Suite 210-A
              <br> 300 Delaware Avenue
              <br> Wilmington, DE 19801</p>
            <p>
              <strong>Tel:</strong> +1 650 275 3280 </p>
            <div class="fusion-clearfix"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bgFtr">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-5">
        <nav class="">
          <h6 [routerLink]="['/landingPage/contact']" style="cursor:pointer" class="noMarginTop noMarginBottom colorWhite">
            <i class="fa fa-comments" aria-hidden="true"></i>
            <b>
              Need help?</b> Contact us now </h6>
        </nav>
      </div>
      <div class="col-lg-5 col-md-5 footerNav col-xs-12 col-sm-7 pull-right">
        <a class="customHyper colorWhite">Terms and conditions </a> |
        <a class="customHyper colorWhite">&#169; 2017 </a> |
        <a class="customHyper colorWhite">All rights are reserved by Fliptin</a>
      </div>
    </div>
  </div>
</div>

<!--Scroll to top -->
<!--<a href="#0" class="cd-top">Top</a>-->
