.spanStyle {
    padding-top: 4%;
    width: 3rem !important;
    height: 2.45rem !important;
    border-radius: 0px 5px 5px 0px !important;
  }
  .mat-datepicker-toggle{
    background-image: url('../../../assets/images/icons/calender.svg');
  }
  .spanStyle{
    padding-top: 3%;
  }
.custom-profile-pic1 {
  width: 100px;
  height: 100px;
}
.btnStyle{
  width: 65%;
}
.marginTop2per{
  margin-top: 2%;
}
.noPadding{
  padding: 0% !important;
}
