<section>
  <form [formGroup]="addUserForm" class="form-horizontal">
    <div class="row" style="border-bottom: 1px solid #ccc">
      <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
        <p class="fontBold"> USER </p>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" align="right">
        <i class="fa fa-times" aria-hidden="true" (click)="cancel()"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 pull-right">
            <!-- <button (click)="minimizePersonal()" class="btn btn-link  pull-right" style="margin-top: -10px;color: #838383">
            <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
            <i class="fa fa-angle-down fa-2x" *ngIf="personalPerson" aria-hidden="true"></i>
          </button> -->
          </div>
        </div>
        <div class="row marginTop2per">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 margintop2per" align="center">
            <img *ngIf="!disable && !logoUrl" src="assets/images/profile_pic.jpg" class="custom-profile-pic1 cursorPointer" (click)="file.click()">
            <img *ngIf="!disable && logoUrl" [src]="logoUrl" class="custom-profile-pic1 cursorPointer" (click)="file.click()">
            <img *ngIf="disable && personDetails?.pictureUri" [src]="logoUrl" class="custom-profile-pic1 cursorPointer">
            <img *ngIf="disable && !personDetails?.pictureUri" src="assets/images/profile_pic.jpg" class="custom-profile-pic1 cursorPointer">
            <p (click)="file.click()" class="fontsize10px cursorPointer" *ngIf="!disable"> Click to upload photo</p>
            <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
          </div>
          <input id="upload" class="none_display" #file type="file" name="file-upload" multiple accept="image/*" (change)="uploadPicture($event)">
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
            <div class="form-group">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <label>Title*</label>
                <select class="form-control" formControlName="title" required [(ngModel)]="userModal.title" name="title"
                        [ngClass]="{ 'is-invalid': (submitted && f.title.errors)  || (submitted && userModal.title == 'defaultTitle')}">
                  <option value="defaultTitle" disabled>Select Title</option>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Ms">Ms</option>
                  <option value="Dr">Dr</option>
                  <option value="Prof">Prof</option>
                  <option value="Rev">Rev</option>
                </select>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <label>First Name*</label>
                <input type="text"  class="form-control" placeholder="First Name" formControlName="firstName" required name="firstName" [(ngModel)]="userModal.firstName"
                   [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
              </div>

            </div>
            <div class="form-group">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <label>Last Name* </label>
                <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" required name="lastName" [(ngModel)]="userModal.lastName"
                       [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" >
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <label>Birth Date*</label>
                <div class="input-group">
                  <input mdInput type="text"   [mdDatepicker]="data.status != 'view' ? picker: nopicker" placeholder="MM/DD/YYYY" aria-describedby="basic-addon1"
                    class="form-control"  formControlName="dob" name="birthDate" [(ngModel)]="userModal.dateOfBirth"
                    required  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">
                  <span class="input-group-addon spanStyle" id="basic-addon1">
                    <button mdSuffix [mdDatepickerToggle]="picker">
                    </button>
                  </span>
                  <md-datepicker #picker></md-datepicker>
                  <md-datepicker #nopicker *ngIf="data.status == 'view'"></md-datepicker>

                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <label>Email*</label>
                <input type="email" class="form-control" placeholder="Email" formControlName="emailId"
                  required name="email" [(ngModel)]="userModal.email"  [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }">
<!--
                <div *ngIf="email.errors?.pattern">
                  <span style="font-size: 10px;color: #838383;">
                    <i> Please enter email</i>
                  </span>
                </div>-->
              </div>
              <div class="col-md-6">
                <label>Mobile*</label>
                <span class="input-group">
                  <select  class=" col-md-4 input-group-addon form-control" formControlName="countryCode" required [(ngModel)]="userModal.countryCode"
                    name="countryCode" style="height:34px;background-color:white;"
                          [ngClass]="{ 'is-invalid': (submitted && f.countryCode.errors) || (submitted && userModal.countryCode == 'defaultCode')}">
                    <option value="defaultCode">+91</option>
                    <option *ngFor="let countryCode of countryDetails" [ngValue]="countryCode.dial_code">
                      {{countryCode.dial_code}}
                    </option>
                  </select>
                  <input (keypress)="numberOnly($event)" type="text" class=" col-md-8 inputField form-control" placeholder="Mobile "
                    formControlName="mobile" required aria-describedby="basic-addon1" minlength="10" maxlength="12" name="phoneNumber"
                    [(ngModel)]="userModal.phoneNumber"  [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }">
                </span>
              </div>
            </div>
            <!--<div class="form-group">
            <div class="col-md-3" style="padding-top: 1%">
              <label>Linked in Profile</label>
            </div>
            <div class="col-md-2" style="padding-top: 0.5%">
              <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
            </div>
          </div>-->
          </div>
        </div>
      </div>
    </div>
    <div class="row marginTop2per " style="border-top: 1px solid #ccc;" *ngIf="!disable">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12  marginTop2per" align="center">
        <div class="col-md-12" align="right">
          <button class="btn btn-default " style="width:9rem;border:1px solid cornflowerblue" type="button" (click)="cancel()">
            Cancel
          </button>
          <button class="btn btn-primary respMtop1per" style="width:9rem;" type="submit" (click)="saveDetails()">
            {{data.status =='edit'?'Update':'Add'}}
            <img src="assets/images/source.gif" *ngIf="btnshowLoader" class="loaderPosition" style="width:20px; height:20px;">
          </button>
        </div>
      </div>
    </div>
  </form>
</section>
