<div class="col-md-12 bg-color" align="center" style="min-height: 650px">
  <img src="assets/images/linked_in_page.png" width="150" class="img-response" style="margin-top: 20%">
  <p> Loading details Please wait, Dont refresh the  page</p>
</div>
