hr {
  margin-top: 0;
  margin-bottom: 0;
}
.small {
  color: #9e9e9e;
}
.setting-card {
  display: block;
  color: #33475c;
  border-color: transparent;
  border-width: 1px;
  min-height: 125px;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 10px 20px rgba(47, 91, 231, 0.1);
  box-shadow: 0 5px 15px rgba(47, 91, 231, 0.1);
}
.setting-card:hover {
  -webkit-box-shadow: 0 10px 30px rgba(47, 91, 231, 0.2);
  box-shadow: 0 10px 30px rgba(47, 91, 231, 0.2);
  color: #009bbd;
}
.setting-card .card-header {
  background: #fff;
  border: 0;
  padding-top: 2rem;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.setting-card .card-body {
  padding-bottom: 0;
  font-size: 1rem;
  color: #637282;
  padding-top: 0;
}
h4{
  margin-top: 10px;
  font-size: 14px;
}
.setting-icon{
  font-size: 32px !important;
  color: #009bbd;
}
