<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">
  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item" *ngIf="roleType !== 'SOULSTICEADMIN'">
      <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item active">Admin Settings</li>
  </ol>
  <!-- Breadcumbs -->
  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-body">
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="setting-heading">
                <strong>General Settings</strong>
                <br>
                <span class="small">Configure the basic settings that are necessary for your service desk</span>
              </div>
              <hr>
            </div>
          </div>
          <div class="col-md-12 p-0">
            <div class="col-md-4" [routerLink]="['/app/audit-logs']">
              <a class="card setting-card">
                <div class="card-header">
                  <i class="fa fa-list-alt setting-icon"></i>
                  <h4>Audit Logs</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4" *ngIf="roleType !== 'SOULSTICEADMIN'" [routerLink]="['/app/adminSettings']">

              <a class="card setting-card">
                <div class="card-header">
                  <i class="fa fa-bar-chart setting-icon" aria-hidden="true"></i>
                  <h4>Report and Analysis</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4" [routerLink]="['/app/adminSettings']">

              <a class="card setting-card">
                <div class="card-header">
                  <i class="fa fa-envelope setting-icon" aria-hidden="true"></i>
                  <h4 *ngIf="roleType !== 'SOULSTICEADMIN'">Email Notifications</h4>
                  <h4 *ngIf="roleType === 'SOULSTICEADMIN'">Email Templates</h4>
                </div>
              </a>

            </div>
            <div class="col-md-4" *ngIf="roleType !== 'SOULSTICEADMIN'" [routerLink]="['/app/adminSettings']">
              <a class="card setting-card">
                <div class="card-header">
                  <i class="fa fa-ticket setting-icon" aria-hidden="true"></i>
                  <h4>Support Portal</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4" *ngIf="roleType !== 'SOULSTICEADMIN'" [routerLink]="['/app/templates']">
              <a class="card setting-card">
                <div class="card-header">
                  <i class="fa fa-id-card-o setting-icon" aria-hidden="true"></i>
                  <h4>Templates</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4" [routerLink]="['/app/transactions']">
              <a class="card setting-card">
                <div class="card-header">
                  <i class="fa fa-money setting-icon" aria-hidden="true"></i>
                  <h4>Transactions</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4" *ngIf="roleType !== 'SOULSTICEADMIN'" [routerLink]="['/app/job-advertisement']">
              <a class="card setting-card">
                <div class="card-header">
                  <i class="fa fa-newspaper-o setting-icon" aria-hidden="true"></i>
                  <h4>Job Advertisement</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4" *ngIf="roleType === 'SOULSTICEADMIN'"[routerLink]="['/app/adminSettings']">
              <a class="card setting-card">
                <div class="card-header">
                  <i class="fa fa-retweet setting-icon" aria-hidden="true"></i>
                  <h4>KYC Requests</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4" *ngIf="roleType === 'SOULSTICEADMIN'" [routerLink]="['/app/individual']">
              <a class="card setting-card">
                <div class="card-header">
                  <i class="fa fa-user setting-icon" aria-hidden="true"></i>
                  <h4>Individuals</h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-body">
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="setting-heading">
                <strong>Account Settings</strong>
                <br>
                <span class="small">Manage your account and subscription</span>
              </div>
              <hr>
            </div>
          </div>
          <div class="col-md-12 p-0">
            <div class="col-md-4" *ngIf="roleType !== 'SOULSTICEADMIN'" [routerLink]="['/app/account']">
              <a class="card setting-card">
                <div class="card-header">
                  <i class="fa fa-address-book-o setting-icon" aria-hidden="true"></i>
                  <h4>Account</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4" [routerLink]="['/app/user-list']">
              <a class="card setting-card">
                <div class="card-header">
                  <i class="fa fa-users setting-icon" aria-hidden="true"></i>
                  <h4 *ngIf="roleType !== 'SOULSTICEADMIN'">User Management</h4>
                  <h4 *ngIf="roleType === 'SOULSTICEADMIN'">Organisation Management</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4" [routerLink]="['/app/change-password']">
              <a class="card setting-card">
                <div class="card-header">
                  <i class="fa fa-key setting-icon" aria-hidden="true"></i>
                  <h4>Change Password</h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>