<section>
  <div class="modal-header modalHeadStyle" style="padding-top:0; border-bottom: 1px solid #ccc">
    <button type="button" (click)="goBack()" class="close" data-dismiss="modal">×</button>
    <h4 class="custom-modal-title text-center m-0">
      Decline Claim </h4>
  </div>
  <div class="row" style="margin-top: 5%">
    <div class="col-md-12 is-invalid"  style="padding-top: 2%">
      <p class="custom-tab-title"> Remarks *</p>
      <textarea class="noResize borderRadius5px" [ngClass]="{'redBorder': submitted && !commnets}" rows="7" cols="50" [(ngModel)]="commnets"> </textarea>
    </div>
  </div>
  <div class="row">
  <div class="col-md-12 " align="right" style="margin-top: 2%">
    <button (click)="goBack()" class="btn  cancelBtn" type="button">Cancel </button> &nbsp;
      <button (click)="decline()" class="btn btn-primary " type="button">
        <img *ngIf="showLoader" src="assets/images/source.gif" style="width: 20px;height: 20px;"> Decline</button>
  </div>
  </div>
</section>
