<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 2%">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 custom-pl-1">
          <p class="custom-tab-title" style="margin-bottom:0px;"> Search {{valueChoosed === 'individual'? 'Individual' : 'Organisation'}} </p>
          <!-- Breadcumbs -->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/app/dashboard']">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a>Certs</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/app/certs-issued']">Issued Certificates</a>
            </li>
            <li class="breadcrumb-item" *ngIf="valueChoosed == 'transfer'">
              <a [routerLink]="['/app/certificate']">View Certificate</a>
            </li>
            <li class="breadcrumb-item" *ngIf="valueChoosed == 'individual'">
              <a [routerLink]="['/app/issue-newCertificate']">Issue Certificate</a>
            </li>
            <li class="breadcrumb-item active">Search</li>
          </ol>
          <!-- Breadcrumbs -->
        </div>
       <!-- <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 custom-pl-1">
          <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
        </div>-->
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="details || IndvDetails"
           style="background-color: #fff ;margin-bottom:3%;border: 1px solid #cccccc; border-radius: 4px">
        <div class="row" style="padding:1%;margin-top:1rem;" *ngIf="details">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" *ngIf="details?.organisationLogoUrl">
            <img src="{{details?.organisationLogoUrl}}" class="img-responsive imgStyles">
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" *ngIf="!details?.organisationLogoUrl">
            <img src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer"
                 (click)="file.click()">
            <input id="upload1" class="none_display" #file type="file" name="file-upload" multiple accept="image/*"
                   (change)="uploadPicturegeneral($event)">
          </div>
          <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10 m-top-1rem">
            <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12"> Name <span class="fontWt100" style="padding-left:31px">&nbsp;:&nbsp;&nbsp;{{details?.organisationName}}</span></label>
            <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12">Website <span class="fontWt100" style="padding-left:31px">&nbsp;&nbsp;:&nbsp;&nbsp;{{details?.organisationWebsite}}</span></label>
            <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12">Industry type <span class="fontWt100" style="padding-left:31px">&nbsp;&nbsp;:&nbsp;&nbsp;{{details?.industry}}</span></label>
            <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12">Location <span class="fontWt100" style="padding-left:31px">&nbsp;&nbsp;:&nbsp;&nbsp;{{details?.location}}</span></label>
          </div>
        </div>
        <div class="row" style="padding:1%;margin-top:1rem;" *ngIf="IndvDetails">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" *ngIf="IndvDetails?.pictureUrl">
            <img src="{{IndvDetails?.pictureUrl}}" class="img-responsive imgStyles">
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" *ngIf="!IndvDetails?.pictureUrl">
            <img src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer"
                 (click)="file.click()">
            <input id="upload1" class="none_display" #file type="file" name="file-upload" multiple accept="image/*"
                   (change)="uploadPicturegeneral($event)">
          </div>
          <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10 m-top-1rem">
            <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12"> Name <span class="fontWt100" style="padding-left:31px">&nbsp;:&nbsp;&nbsp;{{IndvDetails?.firstName + IndvDetails?.lastName}}</span></label>
            <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12">Email <span class="fontWt100" style="padding-left:31px">&nbsp;&nbsp;:&nbsp;&nbsp;{{IndvDetails?.email}}</span></label>
            <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12">Mobile <span class="fontWt100" style="padding-left:31px">&nbsp;&nbsp;:&nbsp;&nbsp;{{IndvDetails?.phone?.number}}</span></label>
          </div>
        </div>
        <div class="row marginbottom2per">
          <div class="col-md-12" align="center">
            <button class="btn btn-secondary-color mainBtn" type="button" (click)="transferCert()">Transfer
              <img *ngIf="transferLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-default">
  <div class="row marginZero">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle  noPaddingRight" style="padding-right: 0px">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding1Per  noPaddingRight" style="padding-right: 0px">
        <input type="text" placeholder="Type the name" class="form-control input-sm fontsize13px" [(ngModel)]="searchValue" (keyup)="getSrchList()">
      </div>
      <div class="col-md-9 col-lg-9 col-xs-9 col-sm-9 padding1Per " align="right">
        <span>Search By : </span> &nbsp;
        <select class="selectBoxStyles fontsize13px height28px form-control" style="display: inline-block;width:20%" [(ngModel)]="selectChoice" (change)="changeType()">
          <option value="individual" *ngIf="valueChoosed === 'individual'"> Individual</option>
          <option value="organisation" *ngIf="valueChoosed !== 'individual'"> Organisation</option>
        </select>
      </div>
    </div>
  </div>
  <div class="box box-default table-box table-responsive table-sm mdl-shadow--2dp noMarginBottom">
    <div class="row marginZero">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padding1Per">
          <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize"
                  (change)="recordsPerPage()">
            <option value="10" selected> 10 Records per page</option>
            <option value="20"> 20 Records per page</option>
            <option value="40"> 40 Records per page</option>
            <option value="60"> 60 Records per page</option>
            <option value="80"> 80 Records per page</option>
            <option value="100"> 100 Records per page</option>
          </select>
        </div>
        <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2 padding1Per">
          <div class="row">
                <span (click)="prevPage()" style="cursor: pointer">
                  <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                </span>
            <span> {{firstItem}}
                  <span style="color: #cccccc"> to</span> {{lastItem}}</span>
            <span (click)="nextPage()" style="cursor: pointer;">
                  <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                </span>
          </div>
        </div>
      </div>
    </div>
    <table class="mdl-data-table borderZero" *ngIf="searchResult">
      <thead>
      <tr class="custom-table-heading borderZero">
        <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover"> Name

        </th>
        <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover"> Email
        </th>
        <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover text-center"> Mobile
        </th>
      </tr>
      </thead>
      <tbody *ngFor="let res of searchResult">
      <tr style="cursor: pointer" (click)="selectRow(res,i,$event); verify(res)">
        <td class="mdl-data-table__cell--non-numeric ">{{res?.firstName}}</td>
        <td class="mdl-data-table__cell--non-numeric ">{{res?.email}}</td>
        <td class="mdl-data-table__cell--non-numeric text-center">{{res?.phone?.number}}</td>
      </tr>
      </tbody>
      <tbody *ngIf="searchResult?.length == 0">
      <tr>
        <td colspan="6" class="noPaddingTop">
          <h6 align="center" class="fontsize13px colorBlack">
            <img src="assets/images/empty-table.png" class="noDataImageStyles">
            <br>Uhh.. There is no data at this moment</h6>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="mdl-data-table borderZero" *ngIf="orgResult">
      <thead>
      <tr class="custom-table-heading borderZero">
        <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover"> Name
        </th>
        <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover"> Url
        </th>
        <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover"> Industry
        </th>
      </tr>
      </thead>
      <tbody *ngFor="let res of orgResult">
      <tr style="cursor: pointer" (click)="selectRow(res,i,$event); verify(res)">
        <td class="mdl-data-table__cell--non-numeric ">{{res?.organisationName}}</td>
        <td class="mdl-data-table__cell--non-numeric ">{{res?.organisationWebsite}}</td>
        <td class="mdl-data-table__cell--non-numeric ">{{res?.industry}}</td>
      </tr>
      </tbody>
      <tbody *ngIf="orgResult?.length == 0">
      <tr>
        <td colspan="6" class="noPaddingTop">
          <h6 align="center" class="fontsize13px colorBlack">
            <img  src="assets/images/empty-table.png" class="noDataImageStyles">
            <br>Uhh.. There is no data at this moment</h6>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row marginZero">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
      <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7 " style="padding: 1%">
        <span style="font-size: 15px;">Total Count: {{totalpages}}</span>
      </div>
      <div align="right" class="col-md-3 col-lg-3 col-xs-3 col-sm-3" style="padding: 1%">
        <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize" (change)="recordsPerPage()">
          <option value="10" selected> 10 Records per page</option>
          <option value="20"> 20 Records per page</option>
          <option value="40"> 40 Records per page</option>
          <option value="60"> 60 Records per page</option>
          <option value="80"> 80 Records per page</option>
          <option value="100"> 100 Records per page</option>
        </select>
      </div>
      <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
        <div class="row">
                <span (click)="prevPage()" style="cursor: pointer">
                  <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                </span>
          <span>{{firstItem}}
                  <span style="color: #cccccc"> to</span> {{lastItem}}</span>
          <span (click)="nextPage()" style="cursor: pointer;">
                  <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                </span>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
