.topSpace{
    margin-top: 5%
}
.divBorder{
  height:100%;
    border: 1px solid black;
    background-color:white;
    padding-right: 1%;
    padding-left:1%;
}
.alignCenter{
    text-align:center;
}
.mTop1per{
    margin-top:1%;
}
.mleft2per{
    margin-left:2%;
}
.height90{
    height: 90%;
}
.mTopZero{
    margin-top:0px;
}
.imageStyle{
    width:180px;
    padding:10%
}
.minHeight660{
    min-height:670px !important;
}
.vHidden{
    visibility: hidden;
}
.margintop2rem{
    margin-top:2rem;
}
.fontsize15px{
    font-size:15px;
    color:lightgrey;

}
.paddingLR3px{
    padding-left:3px !important;
    padding-right:3px !important;
}

.paddingLR0px{
    padding-left:0px !important;
    padding-right:0px !important;
}

.paddingB12Per{
    padding-bottom:12% !important;

}

.borderStyle{
    height:100%;
    border:0px solid #aba2a2;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
  }
  .borderStyle:hover{
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .borderStyle:hover .secondBlock{
    color:green;
  }

  .first-Block{
      color: #f37120;
  }

  .secondBlock{
    color:black
  }

  .panelStyle {
    /* border:1px solid lightgray; */
    padding-left:0px !important;
    padding-right:0px !important;
    height: 4rem;
    background-color: #efefef;


  }
  .borderRight{
      border-right:1px solid lightgray
  }
  .ptop2per{
      padding-top: 2%;
  }
  .bgWhite{
      background-color: white;
  }


  h1, h2, h3, h4, h5, h6 {
    line-height:  0.85 !important;
    font-family: 'Open Sans', sans-serif !important;

}
.colorStyle{
    color: #008fc1;
}
p{
    font-size:12px !important;
}

.showHidden{
    display:none;
    }

 .listViewStyle{
        background-color: #eeee;
        width: 2rem;
        text-align: center;
        border-radius: 30%;
        border: 1px solid #eeee;
    }

.collapsed:hover .showHidden {
    display: inline;
    text-decoration:underline;
    }
.redClr{
  color: red;
}
    /* .collapse .button {
        visibility: hidden;
     }

     .collapse:hover:after .button {
        visibility: visible;
        text-decoration:underline;
     }  */
