<div class="container-fluid">
  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a>Subscriptions</a>
    </li>
    <li class="breadcrumb-item active">Subscribe</li>
  </ol>
  <!-- Breadcumbs -->
  <div class="row pbottom6Per">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 alignCenter">
      <h4 class="mTopZero">PLANS</h4>
      <!-- <h4 class="mTopZero" *ngIf="planDetails">Upgraded to {{this.selectedPlan}}</h4> -->
    </div>
    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 margintop2per col-md-offset-1 paddingLR0px" style="background-color:white;">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 panelStyle">
        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 borderRight">
          <h6>1</h6>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
          <h6 *ngIf="!planDetails">
            Select Plan
          </h6>
          <h6 *ngIf="planDetails">
            Selected Plan
          </h6>
        </div>
        <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7 paddingLR0px" *ngIf="planDetails">
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8 bgWhite">
            <h6 class="margintop2per" style="color:#008fc1;">
              <span style="font-size:12px; color:lightgrey">Certtin</span>
              <h6 class="margintop2per">{{this.selectedPlan}}</h6>
            </h6>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 bgWhite">
            <h6 class="collapsed" style="color:grey;float:right;cursor:pointer">
              <i class="fa fa-pencil" aria-hidden="true" (click)="goToPlanForm()"></i>
              <span class="showHidden" style="font-size:12px;">
                <a (click)="goToPlanForm()">Change</a>
              </span>
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 margintop2per col-md-offset-1" *ngIf="planForm">
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 mTop1per paddingLR3px">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingLR0px" ngClass="{{viewList? 'minHeight660' : ''}}" style="background-color:white;">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 secondBlock paddingLR0px">
            <img src="assets/images/star(1).png" *ngIf="planName=='Trial'">
            <img class="vHidden" src="assets/images/star(1).png" *ngIf="planName!=='Trial'">
            <h5 class="alignCenter nomarginTop">TRIAL</h5>
          </div>
          <h5 class="mTop1per first-Block alignCenter">
            <b>FREE</b>
            <span style="font-size:12px;">/Month</span>
          </h5>
          <p class="mTop1per alignCenter">
            <i class="fa fa-star fontsize15px" aria-hidden="true"></i>
          </p>
          <ul class="vHidden">
            <li>Free Viewing</li>
            <li>Free Viewing</li>
          </ul>
          <hr>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 alignCenter">
            <h6 class="mTop1per" style="font-size:15px"> FEATURES</h6>
            <p>30 Credits Monthly</p>
            <p>Free Viewing</p>
            <p *ngIf="!viewList" class="alignCenter">
              <i class="fa fa-ellipsis-h listViewStyle" (click)="gotoList()" aria-hidden="true"></i>
            </p>
            <span *ngIf="viewList">
              <p>Verification for 10 credits</p>
              <p>Request certified copy for 25 Credits</p>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 mTop1per paddingLR3px">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingLR0px" ngClass="{{viewList? 'minHeight660' : ''}}" style="background-color:white;">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 secondBlock paddingLR0px">
            <img *ngIf="planName=='Professional'" src="assets/images/star(1).png">
            <img class="vHidden" *ngIf="planName!=='Professional'" src="assets/images/star(1).png">
            <h5 class="alignCenter nomarginTop">PROFESSIONAL</h5>
          </div>
          <h5 class="mTop1per first-Block alignCenter">
            <b>FREE</b>
            <span style="font-size:12px;">/3 Months</span>
          </h5>
          <p class="mTop1per alignCenter">
            <i class="fa fa-star fontsize15px" aria-hidden="true"></i>
            <i class="fa fa-star fontsize15px" aria-hidden="true"></i>
          </p>
          <ul class="vHidden">
            <li>Free Viewing</li>
            <li>Free Viewing</li>
          </ul>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 alignCenter" style="border-top:1px solid #ddd;background-color:white;">
            <h6 style="font-size:15px; margin-top:1rem;"> FEATURES</h6>
            <p>20 Credits Monthly</p>
            <p>Free Viewing</p>
            <p *ngIf="!viewList" class="alignCenter">
              <i class="fa fa-ellipsis-h listViewStyle" (click)="gotoList()" aria-hidden="true"></i>
            </p>
            <span *ngIf="viewList">
              <p>Verification for 10 credits</p>
              <p>Free issuing of reference letters</p>
              <p>Request certified copy for 25 Credits</p>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 mTop1per paddingLR3px">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingLR0px" ngClass="{{viewList? 'minHeight660' : ''}}" style="background-color:white;">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 secondBlock paddingLR0px">
            <img *ngIf="planName=='Premium'" src="assets/images/star(1).png">
            <img class="vHidden" *ngIf="planName!=='Premium'" src="assets/images/star(1).png">
            <h5 class="alignCenter nomarginTop">PREMIUM</h5>
          </div>
          <h4 class="mTop1per first-Block alignCenter">
            <b>$35</b>
            <span style="font-size:12px;">/Month</span>
          </h4>
          <p class="mTop1per alignCenter">
            <i class="fa fa-star fontsize15px" aria-hidden="true"></i>
            <i class="fa fa-star fontsize15px" aria-hidden="true"></i>
            <i class="fa fa-star fontsize15px" aria-hidden="true"></i>
          </p>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 alignCenter paddingB12Per">
            <!-- <button class="btn btn-primary " (click)="subscription('PREMIUM','3500')">Upgrade</button> -->
            <button class="btn btn-primary " disabled (click)="goToPlanDetails('PREMIUM','35')">Upgrade</button>
          </div>

          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 alignCenter" style="border-top:1px solid #ddd;background-color:white;">
            <h6 style="font-size:15px; margin-top:1rem;"> FEATURES</h6>
            <p>100 Credits Monthly</p>
            <p>Free Viewing</p>
            <p *ngIf="!viewList" class="alignCenter">
              <i class="fa fa-ellipsis-h listViewStyle" (click)="gotoList()" aria-hidden="true"></i>
            </p>
            <span *ngIf="viewList">
              <p>Free issue of reference letters</p>
              <p>Free issuing of attestations</p>
              <p>Request certified copy for 25 Credits</p>
              <p>Issue certificate 25 credits</p>
              <p>Advertisement 30 cr/daily</p>
              <p>Acess to skills database</p>
              <p>Reporting</p>
              <p>Manage upto 3 Accounts</p>
            </span>
          </div>
        </div>

      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 mTop1per paddingLR3px">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingLR0px" ngClass="{{viewList? 'minHeight660' : ''}}" style=" background-color:white;">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 secondBlock paddingLR0px">
            <img *ngIf="planName=='Enterprise'" src="assets/images/star(1).png">
            <img class="vHidden" *ngIf="planName!=='Enterprise'" src="assets/images/star(1).png">
            <h5 class="alignCenter nomarginTop">ENTERPRISE</h5>
          </div>
          <h4 class="mTop1per first-Block alignCenter">
            <b>$100</b>
            <span style="font-size:12px;">/Month</span>
          </h4>
          <p class="margintop2per alignCenter">
            <i class="fa fa-star fontsize15px" aria-hidden="true"></i>
            <i class="fa fa-star fontsize15px" aria-hidden="true"></i>
            <i class="fa fa-star fontsize15px" aria-hidden="true"></i>
          </p>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 alignCenter paddingB12Per">
            <!-- <button class="btn btn-primary " (click)="subscription('ENTERPRISE','10000')">Upgrade</button> -->
            <button class="btn btn-primary " disabled (click)="goToPlanDetails('ENTERPRISE','100')">Upgrade</button>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 alignCenter" style="border-top:1px solid #ddd; background-color:white;">
            <h6 style="font-size:15px; margin-top:1rem;"> FEATURES</h6>
            <p>250 Credits Monthly</p>
            <p>Free Viewing</p>
            <p *ngIf="!viewList" class="alignCenter">
              <i class="fa fa-ellipsis-h listViewStyle" (click)="gotoList()" aria-hidden="true"></i>
            </p>
            <span *ngIf="viewList">
              <p>Free issue of reference letters</p>
              <p>Free issuing of attestations</p>
              <p>Request certified copy for 25 Credits</p>
              <p>Issue certificate 25 credits</p>
              <p>Advertisement 30 cr/daily</p>
              <p>Acess to skills database</p>
              <p>Reporting</p>
              <p>Manage upto 10 Accounts</p>
            </span>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 margintop2per col-md-offset-1 paddingLR0px" style="background-color:white;">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 panelStyle paddingLR0px">
        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 borderRight">
          <h6>2</h6>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
          <h6>
            Order Details
          </h6>
        </div>
        <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7 paddingLR0px" *ngIf="planEdit && !planDetailForm">
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8 bgWhite">
            <h6 class="margintop2per" style="color:#008fc1;">
              <span style="font-size:12px; color:lightgrey">{{this.planDuration}}</span>
              <h6 class="margintop2per">{{this.selectedPlan}}</h6>
            </h6>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 bgWhite">
            <h6 class="collapsed" style="color:grey;float:right;cursor:pointer">
              <i (click)="goToPlanDetailForm()" class="fa fa-pencil" aria-hidden="true"></i>
              <span class="showHidden" style="font-size:12px;">
                <a (click)="goToPlanDetailForm()">Change</a>
              </span>
            </h6>
          </div>
        </div>
      </div>

      <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 margintop2per" *ngIf="planDetailForm" style="padding-bottom:2rem;">
        <div class="row">
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
            <label>Payment Frequency <span [ngClass] = "{'redClr': submitCheck && !planDuration}">*</span></label>
          </div>
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
            <md-radio-group name="option1" [(ngModel)]="planDuration">
              <md-radio-button style="font-weight: normal;" color="primary" checked value='Yearly' name="option1" (click)="selectSubscription('Yearly')">Yearly
              </md-radio-button>
              <md-radio-button style="padding-left:1rem ; font-weight: normal" color="primary" value='Monthly' name="option1" (click)="selectSubscription('Monthly')">Monthly
              </md-radio-button>
            </md-radio-group>
            <!-- <input type="radio" name="planDuration" value="yearly" checked> Yearly &nbsp;&nbsp;&nbsp;
              <input type="radio" name="planDuration" value="monthly"> Monthly -->
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
            <label>Review Order</label>
          </div>
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
            <span style="font-size: 17px">{{this.selectedPlan}}</span>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
            <label *ngIf="this.totalselectedPrice">Amount to be paid</label>
          </div>
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
            <span style="font-size: 17px" *ngIf="this.totalselectedPrice">${{this.totalselectedPrice}}</span>
          </div>
        </div>
        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
          <button class="btn btn-primary" (click)="goToReview()" style="float: right;">
            Continue
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 margintop2per col-md-offset-1 paddingLR0px" style="background-color:white; ">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 panelStyle paddingLR0px">
        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 borderRight">
          <h6>3</h6>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
          <h6>
            Review Order
          </h6>
        </div>
        <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7 bgWhite paddingLR0px" *ngIf="reviewOrder && !reviewForm">
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8 bgWhite">
            <h6 style="color:#008fc1;">
              <i class="fa fa-check" aria-hidden="true"></i>
            </h6>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 bgWhite">
            <h6 class="collapsed" style="color:grey;float:right;cursor:pointer">
              <i (click)="goToReview()" class="fa fa-pencil" aria-hidden="true"></i>
              <span class="showHidden" style="font-size:12px;">
                <a (click)="goToReview()">View</a>
              </span>
            </h6>
          </div>
          <h6 class="margintop2per">
          </h6>
        </div>
      </div>
      <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 table-responsive" *ngIf="reviewForm" style="padding-bottom: 2rem">
        <h5 class="colorStyle">Order Summary</h5>
        <table class="table table-hover table-bordered">
          <thead>
            <tr class="active">
              <td>Product Plan</td>
              <td>Price</td>
              <td>Persons</td>
              <td>Subscription Period</td>
              <td>Total</td>
            </tr>
          </thead>
          <tbody>
            <tr class="info">
              <td>{{this.selectedPlan}}</td>
              <td>${{this.selectedPrice}}</td>
              <td>Soulstice</td>
              <td>{{this.planDuration}}</td>
              <td>${{this.totalselectedPrice}}</td>
            </tr>
          </tbody>
        </table>
        <div class="form-group">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <button class="btn btn-primary" (click)="goToBillingForm()" style="float: right;">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 margintop2per col-md-offset-1 paddingLR0px" style="background-color:white;">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 panelStyle paddingLR0px">
        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 borderRight">
          <h6>4</h6>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
          <h6>
            Payment Details
          </h6>
        </div>
      </div>
      <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1" *ngIf="billingForm" style="padding-bottom: 2rem">
        <form role="form" [formGroup]="subscriptionForm">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="form-group ">
              <h5 style="padding-left:15px;" class="colorStyle">Billing Address</h5>
              <!--<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margintop2per" style="display:none">
                <md-radio-group name="addTypeBill" [(ngModel)]="billAddressModel.addressTypeBill" >
                  <md-radio-button style="font-weight: normal" color="primary" checked value='BusinessBill' name="addTypeBill">Business
                  </md-radio-button>
                  <md-radio-button style="padding-left:1rem ; font-weight: normal" color="primary" value='IndividualBill' name="addTypeBill">Individual
                  </md-radio-button>
                </md-radio-group>
              </div>-->
            </div>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 mTop1per">
                <label>Company Name*</label>
                <input type="text" [(ngModel)]="billAddressModel.companyNameBill" formControlName="companyName" class="form-control" placeholder="Company Name"
                  required name="companyNameBill" [ngClass]="{'is-invalid': submitted && f.companyName.errors}">
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mTop1per">
                <label>Phone Number*</label>
                <input type="text" [(ngModel)]="billAddressModel.phoneNumberBill" formControlName="phnNumber" class="form-control" placeholder="Phone Number"
                  required name="phoneNumberBill" minlength="10" maxlength="11" (keypress)="numberOnly($event)"
                       [ngClass]="{'is-invalid': submitted && f.phnNumber.errors}">
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 mTop1per">
                <label>Country*</label>
                <select class="form-control" required placeholder="Country" formControlName="country" [(ngModel)]="billAddressModel.selectCountryBill"
                  name="countryBill"  [ngClass]="{'is-invalid': submitted && f.country.errors}">
                  <option value="undefined" disabled selected hidden style="border-top: none;">Select Country</option>
                  <option *ngFor="let countryName of countryDetails" [title]="countryName.name" [value]="countryName.code"> {{countryName.name}}
                  </option>
                </select>
                <!-- <input type="text" [(ngModel)]="country" class="form-control" placeholder="India" required name="india"> -->
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mTop1per">
                <label>Street Address*</label>
                <input type="text" [(ngModel)]="billAddressModel.streetAddressBill" formControlName="strtAdrs" class="form-control"
                  placeholder="Street Address" required name="streetAddressBill"  [ngClass]="{'is-invalid': submitted && f.strtAdrs.errors}">
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 mTop1per">
                <label>City*</label>
                <input type="text" [(ngModel)]="billAddressModel.cityBill" formControlName="city" class="form-control" placeholder="City"
                  required name="cityBill" [ngClass]="{'is-invalid': submitted && f.city.errors}">
              </div>
              <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 mTop1per">
                <label>State*</label>
                <input type="text" [(ngModel)]="billAddressModel.selectStateBill" formControlName="state" class="form-control" placeholder="State"
                  required name="selectStateBill"  [ngClass]="{'is-invalid': submitted && f.state.errors}">
              </div>
              <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 mTop1per">
                <label>Post Code*</label>
                <input type="text" [(ngModel)]="billAddressModel.postCodeBill" formControlName="postCode" class="form-control" placeholder="Zip/Postal Code"
                  required name="postalCodeBill" minlength="3" maxlength="8" [ngClass]="{'is-invalid': submitted && f.postCode.errors}">
              </div>
            </div>
          </div>
        </form>

        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="shipingForm" style="margin-top:2rem;">
          <h5 style="padding-left:15px;" class="colorStyle">Shipping Details</h5>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mTop1per">
            <md-checkbox [checked]="shippingAdress" (change)="changeShipAdd()" [(ngModel)]="shipSameAsBilling" name="shipSameAsBilling"
              color="primary">
            </md-checkbox>
            <span style="padding-left:15px; display: inline;">Shipping Details same as Billing Details</span>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" *ngIf="!shipSameAsBilling">
            <button class="btn btn-primary" (click)="goToShippingForm(shippingForm)">Add Shipping Details</button>
          </div>
        </div>
        <!--<form role="form" #shippingForm="ngForm" *ngIf="shipingForm && !shipSameAsBilling">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="form-group" style="margin-top:2rem;">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margintop2per">
                <md-radio-group name="addTypeShip" #addTypeShiping="ngModel" [(ngModel)]="shipAddressModel.addTypeShip">
                  <md-radio-button style="font-weight: normal" color="primary" checked value='BusinessShip' name="addTypeShip">Business
                  </md-radio-button>
                  <md-radio-button style="padding-left:1rem ; font-weight: normal" color="primary" value='IndividualShip' name="addTypeShip">Individual
                  </md-radio-button>
                </md-radio-group>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 mTop1per">
                <input type="text" #companyNameShiping="ngModel" [(ngModel)]="shipAddressModel.companyNameShip" class="form-control" placeholder="Company Name"
                  required name="companyNameShip">
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mTop1per">
                <input type="text" #phoneNumberShiping="ngModel" [(ngModel)]="shipAddressModel.phoneNumberShip" class="form-control" placeholder="Phone Number"
                  required name="phoneNumberShip" minlength="10" maxlength="11" (keypress)="numberOnly($event)">
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 mTop1per">
                <select class="form-control" #countryShiping="ngModel" required placeholder="Country" [(ngModel)]="shipAddressModel.countryShip"
                  name="countryShip">
                  <option value="undefined" disabled selected hidden style="border-top: none;">Select Country</option>
                  <option *ngFor="let countryName of countryDetails" [title]="countryName.name" [value]="countryName.code"> {{countryName.name}}
                  </option>
                </select>
                &lt;!&ndash; <input type="text" [(ngModel)]="country" class="form-control" placeholder="India" required name="india"> &ndash;&gt;
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mTop1per">
                <input type="text" #streetAddressShiping="ngModel" [(ngModel)]="shipAddressModel.streetAddressShip" class="form-control"
                  placeholder="Street Address" required name="streetAddressShip">
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 mTop1per">
                <input type="text" #cityShiping="ngModel" [(ngModel)]="shipAddressModel.cityShip" class="form-control" placeholder="City"
                  required name="cityShip">
              </div>
              <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 mTop1per">
                <input type="text" #selectStateShiping="ngModel" [(ngModel)]="shipAddressModel.selectStateShip" class="form-control" placeholder="Select State"
                  required name="selectStateShip">
              </div>
              <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 mTop1per">
                <input type="text" #postalCodeShiping="ngModel" [(ngModel)]="shipAddressModel.postalCodeShip" class="form-control" placeholder="Zip/Postal Code"
                  required name="postalCodeShip" minlength="3" maxlength="8">
              </div>
            </div>
          </div>
        </form>-->
        <div class="form-group ">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="border-top:1px solid #eee;margin-top:1rem">
            <h6 style="font-size: 17px; margin-top:1rem">
              Recurring Payment
            </h6>
            <span>
              This is a recurring payment. Your credit card will be charged automatically on your next renewal date until you cancel the
              service.
            </span>
          </div>
        </div>
        <div class="form-group mTop1per">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <button class="btn btn-primary" style="float: right;" (click)="subscription(selectedPlan,totalselectedPrice)">
              Make Payment
              <img *ngIf="showLoader" src="assets/images/source.gif" style="width:20px; height: 20px;">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
