<div class="container-fluid" style="background: #ffffff;margin-top: -1.6%">
  <div class="container">
    <div class="row" align="center">
      <div class="col-md-12">
        <h4> Cert Tin </h4>
        <h4> Claim of work </h4>
      </div>
      <div class="col-md-12">
        <h5>Please, verify the claim of work provided by Courage Kpotosu below </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" style="margin-top: 2%">
        <div class="col-md-2">
          <img src="assets/images/orbit-all.png" class="img-responsive">
        </div>
        <div class="col-md-10">
          <p style="font-size: 16px;font-weight: bold">Frontend Developer</p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua.</p>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 2%">
        <div class="col-md-2 ">
          <p style="font-size: 16px;font-weight: bold"> Keywords: </p>
        </div>
        <div class="col-md-10">
          <span class="label label-default">HTML5</span>
          <span class="label label-primary">Javascript</span>
          <span class="label label-success">Angular 5</span>
          <span class="label label-info">Node.js</span>
          <span class="label label-warning">CSS</span>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 2%">
        <div class="col-md-2 ">
          <p style="font-size: 16px;font-weight: bold"> Period: </p>
        </div>
        <div class="col-md-8">
          <p style="font-size: 16px;font-weight: bold"> Nov 2017 - May 2018 </p>
        </div>
        <div class="col-md-2">
          <p style="font-size: 16px;"> Attachments <i class="material-icons">attach_file</i></p>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 2%;">
        <div class="form-group">
          <div class="col-md-12">
            <label>Comments</label>
            <textarea class="form-control" rows="5" [value]=" commnets">
            </textarea>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 2%;margin-bottom: 5%">
        <div class="form-group">
          <div class="col-md-12" align="center">
            <button class="btn btn-primary" type="button" (click)="getEndrose()"> Endorse</button> &nbsp; &nbsp;
            <button class="btn btn-primary" type="button" (click)="getDeclined()"> Decline</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
