<section>
  <div class="row" style="border-bottom: 1px solid #ccc">
    <div class="col-12" align="center">
      <p><b>  {{data}} Claim Endorsed </b></p>
    </div>
  </div>
  <div class="row" style="margin-top: 5%">
    <div class="col-12" align="center" style="padding-top: 2%">
      <span> You have successfully endorsed the {{data}} claim from Courage Kpotosu as duly obtained. </span>
    </div>
  </div>
  <div class="row" style="border-top: 1px solid #ccc;margin-top: 10%">
    <div class="col-6"></div>
    <div class="col-6 text-right " style="margin-top: 2%">
      <button (click)="close()" class="btn btn-primary" type="button">Ok</button>
    </div>
  </div>
</section>
