<!-- New Design Starts-->
<section>
  <!-- Logo & Nav Section Starts -->
  <div class="container-fluid cv-builder-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 hidden-xs logo-align mobile-logo">
          <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive mobile-logo" width="100">
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 hidden-xs text-right mobile-nav">
          <button class="btn-with-outline" (click)="register()"> Create Account</button>
          <button class="btn-with-color" (click)="login()">Sign in</button>
        </div>
        <div align="right" class=" hidden-md hidden-lg hidden-sm col-xs-12  m-t-1per">
          <div class="col-xs-9">
            <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive" width="100">
          </div>
          <div class="col-xs-3">
            <button class="pull-right m-t-1per" md-icon-button [mdMenuTriggerFor]="actionMenu">
              <i class="fa fa-bars" style="font-size:18px;" aria-hidden="true"></i>
            </button>
            <md-menu #actionMenu="mdMenu" class="table-dropdown-area">
              <button (click)="login()" class="btn-style-menu" md-menu-item>
                <span class="icon-txt">SIGN IN</span>
              </button>
              <button (click)="register()" class="btn-style-menu" md-menu-item>
                <span class="icon-txt">Create Account</span>
              </button>
            </md-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Logo & Nav Section Ends -->

  <!-- Header Section Starts -->
  <div class="page-section" *ngIf="certificateDetails">
    <div class="profile-header-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="profile-header-content">
              <div class="cv-image">
                <figure>
                  <img *ngIf="!certificateDetails?.certificate?.pictureUrl" src="assets/images/profile_pic.jpg">
                  <img *ngIf="certificateDetails?.certificate?.pictureUrl"
                       [src]="certificateDetails?.certificate?.pictureUrl">
                </figure>
              </div>
              <div class="cv-info">
                <div class="title">
                  <h3>{{certificateDetails?.person?.firstName | titlecase}} {{" "}}
                    {{certificateDetails?.person?.lastName | titlecase}}</h3>
                </div>
                <div class="extra-info">
                  <div class="email-info"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                    {{certificateDetails?.person?.email}}
                  </div>
                  <div class="phone-info mt-1"><i class="fa fa-phone fa-fw" aria-hidden="true"></i>
                    {{certificateDetails?.person?.phone?.countryCode}} {{certificateDetails?.person?.phone?.number}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Section Ends -->
  <!-- Career Snap Section Starts-->
  <div class="container">

  </div>

  <div class="page-section" *ngIf="certificateDetails">
    <div class="container" style="margin-top: 2%;margin-bottom: 2%">
      <div class="row"  *ngIf="!certificateDetails?.certificate?.customTemplateUrl" >
        <div class="col-md-8 col-md-offset-2" *ngIf="(certificateDetails?.certificate?.certificateType !== 'QUALIFICATION_CERTIFICATE' &&  certificateDetails?.certificate?.certificateType !== 'LICENSE_CERTIFICATE')  && ( certificateDetails?.certificate?.template !== 'ATTENDANCELETTER_TEMP')">
          <app-work-template [hero]="certificateDetails" [revoked]="certificateDetails?.certificate?.isValid" [htmlContent]="certificateDetails?.certificate?.certificateHtml"
                             [className]="''"></app-work-template>
        </div>

        <div class="col-md-8 col-md-offset-2" *ngIf="certificateDetails?.certificate?.certificateType === 'QUALIFICATION_CERTIFICATE' ||  certificateDetails?.certificate?.certificateType === 'LICENSE_CERTIFICATE' ">
          <app-qualification-directive [revoked]="certificateDetails?.certificate?.isValid" [htmlContent]="certificateDetails?.certificate?.certificateHtml" [borderTop]="borderTop"
                                       [borderBtm]="borderBtm"
                                       [qualificationInfo]="issuedDetails">
          </app-qualification-directive>
        </div>
        <div class="col-md-8 col-md-offset-2"
             *ngIf="certificateDetails?.certificate?.certificateType === 'ATTENDANCE_LETTER' &&  certificateDetails?.certificate?.template === 'ATTENDANCELETTER_TEMP' ">
          <app-event-certificate [participentName]="certificateDetails?.person?.firstName + ''+ certificateDetails?.person?.lastName "
                                 [revoked]="certificateDetails?.certificate?.isValid" [className]="'publicUrl'"></app-event-certificate>
        </div>
      </div>
      <div class="row" *ngIf="certificateDetails?.certificate?.customTemplateUrl" >
        <div class="col-md-8 col-md-offset-2">
          <div *ngIf="!certificateDetails?.certificate?.isValid" class="row" align="center"
               style="border-radius: 4px; position: absolute;top: 0px;left: 2%;width: 100%; height: 100%;background-color:rgba(0, 0, 0, 0);z-index: 100 ">
            <div class="col-md-12" style="margin-top: 15%">
              <img src="assets/images/revoked-stamp-2.png" class="img-responsive" style="width: 65%">
            </div>
          </div>
          <div class="col-md-12" *ngIf="!checkPdf(certificateDetails?.certificate?.customTemplateUrl)">
            <img [src]="certificateDetails?.certificate?.customTemplateUrl" class="img-responsive" >
          </div>
          <div class="col-md-12"  *ngIf="checkPdf(certificateDetails?.certificate?.customTemplateUrl)">
            <div *ngIf="isLoaded" style="text-align: center;z-index: 2000 !important;">
              <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
              <span>{{ page }} / {{ totalPages }}</span>
              <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
            </div>
            <pdf-viewer  (after-load-complete)="afterLoadComplete($event)" style="display: block;" [original-size]="false" [fit-to-page]="false" [show-all]="false" [page]="page" [src]="certificateDetails?.certificate?.customTemplateUrl"
                         [render-text]="true"
            ></pdf-viewer>

         <!--  <pdf-viewer  (after-load-complete)="afterLoadComplete($event)" [fit-to-page]="false" [show-all]="false" [page]="page" [src]="certificateDetails?.certificate?.customTemplateUrl"
                         [render-text]="true"
            ></pdf-viewer>-->
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 10%;margin-top: 1%">
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle1">
          <div class="col-md-9 col-xs-12 col-lg-9 ">
            <p style="font-size:14px;padding-top: 50px"> Link to Blockchain <br>
              <span style="word-break: break-all;">
                     <a target="_blank"
                        href="https://kovan.etherscan.io/tx/{{certificateDetails?.transactions[0]?.txHash}}">https://kovan.etherscan.io/tx/{{certificateDetails?.transactions[0]?.txHash}}</a>
                </span>
            </p>
          </div>
          <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 " align="center">
            <p style="font-size:14px;padding-top: 10px"> Public Url <br>
              <ngx-qrcode [qrc-element-type]="'img'"
                          [qrc-value]="publicUrlPath"
                          qrc-class="qrclass"></ngx-qrcode>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Career Snap Section Ends-->
</section>
<!-- New Design Ends-->
