<div class="row" style="border-bottom: 1px solid #ccc">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" align="center">
      <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" style="width: 150px;text-align: center">
    <p style="color: #008fc1;font-size: 14px">
      <b> Advanced Account Upgrade Confirmation</b>
    </p>
  </div>
</div>
<div class="row" style="margin-top: 5%">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <p>Thank you! </p>
    <p>You have now upgraded the mobile user Hansen Eliya to an Advanced account.</p>
    <p>Please state the reason why the application from Hansen Eliya got declined.</p>
    <textarea  align="center" rows="5" cols="50"></textarea>
    <p>You have now rejected the Professional account request from the organisation Varsity College Sandton</p>
    <p>A confirmation email has been sent to hansen.eliya@gmail.com.</p>
    </div>
</div>
<div class="row" style="border-top: 1px solid #ccc">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" align="center" style="margin-top: 2%">
    <button class="btn btn-primary closeButton" type="button" (click)="close()" >Close</button>
    <button class="btn btn-primary submitButton" type="button" (click)="submit()" >Submit</button>
  </div>
</div>