.submitButton{
    background-color: #009bbd !important;
    border: 1px solid #D8DDE6 !important;
    color: #ffffff !important;
  }
  .closeButton{
    background-color: #ffffff !important;
    border: 1px solid #D8DDE6 !important;
    color: #009bbd !important;
  }