<section class="container-fluid" style="padding: 0 2% 2% 2%">
  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a>Outbox</a>
    </li>
    <li class="breadcrumb-item">
      <a>Claims</a>
    </li>
    <li class="breadcrumb-item">
      <a> {{claimType | titlecase}} Claims</a>
    </li>
    <li class="breadcrumb-item active">View Claims</li>
  </ol>
  <!-- Breadcumbs -->


  <!--<div class="box box-default">
    <div class="box-body">

      <div class="row" style="margin-bottom:2%;">
        <div class="col-md-12">
          <p class="custom-tab-title" style="padding-left:1%"> Claim details</p>
          <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <span>Name</span>
            <span style="padding-left:93px;" class="claim-detail-text">&nbsp;:&nbsp;&nbsp;{{getClaimDetail?.requesterName}}</span>
          </label>
          <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <span>Description</span>
            <span style="padding-left:60px;" class="claim-detail-text">&nbsp;:&nbsp;&nbsp;{{getClaimDetail?.description}}</span>
          </label>
          <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <span>Start Date</span>
            <span style="padding-left:67px;" class="claim-detail-text">&nbsp;:&nbsp;&nbsp;{{mm.utc(getClaimDetail?.startDate).toDate() | date:'mediumDate'}}</span>
          </label>
          <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <span>End Date</span>
            <span style="padding-left:75px;" class="claim-detail-text">&nbsp;:&nbsp;&nbsp;{{mm.utc(getClaimDetail?.endDate).toDate() | date:'mediumDate'}}</span>
          </label>
          <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <span>Request Date</span>
            <span style="padding-left:45px;" class="claim-detail-text">&nbsp;:&nbsp;&nbsp;{{mm.utc(getClaimDetail?.claimDate).toDate() | date:'mediumDate'}}</span>
          </label>
          <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <span>Request Time</span>
            <span style="padding-left:45px;" class="claim-detail-text">&nbsp;:&nbsp;&nbsp;{{mm.utc(getClaimDetail?.claimDate).toDate() | date:'mediumTime'}}</span>
          </label>
          <label class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <span>Keywords</span>
            <span style="padding-left:69px;" class="claim-detail-text">&nbsp;:&nbsp;&nbsp;
              <ng-container *ngFor="let keyword of getClaimDetail?.keywords">
                <p class="label label-primary bgColorLabel" style="font-weight: lighter">{{keyword}}</p> &nbsp;
              </ng-container>
            </span>
          </label>
        </div>

        &lt;!&ndash; <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
          <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">Name</label>
          <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
          <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50"> </span>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
          <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">Description</label>
          <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
          <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50"> </span>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">Start&nbsp;Date</label>
            <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
            <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50"> </span>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">End Date</label>
            <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
            <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50"> </span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">Request&nbsp;Date</label>
            <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
            <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50"> </span>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">Request&nbsp;Time</label>
            <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
            <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50"> </span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">Keywords</label>
            <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
            <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50">

            </span>
          </div>
        </div> &ndash;&gt;
      </div>
    </div>
  </div>-->
  <div class="box box-default">
    <div class="box-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <p class="custom-tab-title"> Claim details</p>
            </div>
          </div>
          <!-- Personal Details Setion Starts -->
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="padding:2%;">
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 pl-0">
              <img *ngIf="claimPersonDetails?.pictureUrl" [src]="claimPersonDetails?.pictureUrl" class="custom-profile-pic imgStyles">
              <img *ngIf="!claimPersonDetails?.pictureUrl" src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer">
              <!--
              <input id="upload1" class="none_display" #file type="file" name="file-upload" multiple accept="image/*"
                     (change)="uploadPicturegeneral($event)">
  -->
            </div>
            <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 col-xl-9" *ngIf="getClaimDetailsResponse">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mt1">
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6">Name</label>
                <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{claimPersonDetails?.firstName}} {{claimPersonDetails?.lastName}}</label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6">Email</label>
                <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{claimPersonDetails?.email}}</label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6">Phone</label>
                <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{claimPersonDetails?.phone?.countryCode}} {{" "}} {{claimPersonDetails?.phone?.number}}</label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6" *ngIf="claimPersonDetails?.gender">Gender</label>
                <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text" *ngIf="claimPersonDetails?.gender">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{claimPersonDetails?.gender}}</label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6" *ngIf="claimPersonDetails?.dateOfBirth">Date of Birth</label>
                <label class="col-md-4 col-lg-4 col-sm-4 col-xs-6 claim-detail-text" *ngIf="claimPersonDetails?.dateOfBirth">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{claimPersonDetails?.dateOfBirth.split(" ")[0]}}</label>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <hr class="separate-bdr">
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6">Claim Title</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10">:&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong>{{getClaimDetail?.claimType | titlecase}}</strong>
                </label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6" *ngIf="getClaimDetail?.claimType == 'WORK'">Job Position</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getClaimDetail?.claimType == 'WORK'">:&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong>{{getClaimDetail?.heading | titlecase }}</strong>
                </label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6" *ngIf="getClaimDetail?.claimType == 'SKILLS'">Skill</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getClaimDetail?.claimType == 'SKILLS'">:&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong>{{getClaimDetail?.skill | titlecase }}</strong>
                </label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6" *ngIf="getClaimDetail?.claimType == 'GENERAL_CLAIM'">Certificate</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getClaimDetail?.claimType == 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong>{{getClaimDetail?.requestType | titlecase }}</strong>
                </label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6" *ngIf="getClaimDetail?.claimType == 'GENERAL_CLAIM'">Request</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getClaimDetail?.claimType == 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong>{{getClaimDetail?.description | titlecase }}</strong>
                </label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6" *ngIf="getClaimDetail?.claimType == 'SKILLS'">Level</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getClaimDetail?.claimType == 'SKILLS'">:&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong>{{getClaimDetail?.level | titlecase }}</strong>
                </label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-2" *ngIf="getClaimDetail?.claimType == 'SKILLS'">Experience</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getClaimDetail?.claimType == 'SKILLS'">:&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong>{{getClaimDetail?.yearsOfExp | titlecase }} Years</strong>
                </label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6" *ngIf="getClaimDetail?.claimType != 'CHARACTER' && getClaimDetail?.claimType != 'WORK' && getClaimDetail?.claimType != 'SKILLS' && getClaimDetail?.claimType != 'GENERAL_CLAIM'">Course name</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getClaimDetail?.claimType != 'CHARACTER' && getClaimDetail?.claimType != 'WORK' && getClaimDetail?.claimType != 'SKILLS' && getClaimDetail?.claimType != 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong>{{getClaimDetail?.heading | titlecase }}</strong>
                </label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6" *ngIf="getClaimDetail?.claimType != 'SKILLS' && getClaimDetail?.claimType != 'GENERAL_CLAIM'">Description</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getClaimDetail?.claimType != 'SKILLS' && getClaimDetail?.claimType != 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{getClaimDetail?.description}}</label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6" *ngIf="getClaimDetail?.claimType != 'CHARACTER' && getClaimDetail?.claimType != 'SKILLS' && getClaimDetail?.claimType != 'GENERAL_CLAIM'">Period</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getClaimDetail?.claimType != 'CHARACTER' && getClaimDetail?.claimType != 'SKILLS' && getClaimDetail?.claimType != 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{mm.utc(getClaimDetail?.startDate).toDate() | date:'mediumDate'}} - {{mm.utc(getClaimDetail?.endDate).toDate()
                  | date:'mediumDate'}}</label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6">Request&nbsp;Date</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{mm.utc(getClaimDetail?.claimDate).toDate() | date:'mediumDate'}}, {{mm.utc(getClaimDetail?.claimDate).toDate()
                  | date:'mediumTime'}}
                </label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6" *ngIf="getClaimDetail?.claimType != 'GENERAL_CLAIM'">Keywords</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getClaimDetail?.claimType != 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <ng-container *ngFor="let keyword of getClaimDetail?.keywords">
                    <p class="label label-primary bgColorLabel" style="font-weight: lighter">{{keyword}}</p> &nbsp;
                  </ng-container>
                </label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-6" *ngIf="getClaimDetail?.claimType != 'CHARACTER' && getClaimDetail?.claimType != 'SKILLS' && getClaimDetail?.claimType != 'GENERAL_CLAIM'">Location</label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10 claim-detail-text" *ngIf="getClaimDetail?.claimType != 'CHARACTER' && getClaimDetail?.claimType != 'SKILLS' && getClaimDetail?.claimType != 'GENERAL_CLAIM'">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{getClaimDetail?.location}}</label>

                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                  Evidence
                </label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
                 <!-- <span> : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../../assets/images/pen.png"></span>
                  <span> &nbsp;&nbsp;&nbsp;  <img src="../../../../assets/images/pen.png"></span>
                  <span> &nbsp;&nbsp;&nbsp;<img src="../../../../assets/images/pen.png"></span>-->
                  <span>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <ng-container *ngFor="let evidences of getClaimDetail?.evidences">
                    <i class="fa fa-file-pdf-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'pdf' " (click)="openEvidence(evidences.fileUrl)"></i>
                    <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'png' " (click)="openEvidence(evidences.fileUrl)"></i>
                    <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'jpg' " (click)="openEvidence(evidences.fileUrl)"></i>
                    <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'tif' " (click)="openEvidence(evidences.fileUrl)"></i>
                    <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'gif' " (click)="openEvidence(evidences.fileUrl)"></i>
                    <i class="fa fa-file-image-o iconColor" aria-hidden="true" *ngIf="evidences.fileUrl.split('.').pop() === 'jpeg' " (click)="openEvidence(evidences.fileUrl)"></i>
                    <i class="fa fa-certificate iconColor" aria-hidden="true" *ngIf="evidences?.certUid" (click)="openCertificate(evidences.certUid)"></i>
                <!-- <img *ngIf="evidences.fileUrl.split('.').pop() === 'pdf' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                   <img *ngIf="evidences.fileUrl.split('.').pop() === 'png' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'jpg' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'tif' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'gif' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
                  <img *ngIf="evidences.fileUrl.split('.').pop() === 'jpeg' " src="../../../assets/images/pen.png" (click)="openEvidence(evidences.fileUrl)">
             <img *ngIf="evidences?.certUid" src="../../../assets/images/pen.png" (click)="openCertificate(evidences.certUid)"> -->
             </ng-container>
              </span>


                </label>
                <label class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                  Decline&nbsp;Reason
                </label>
                <label class="col-md-10 col-lg-10 col-sm-10 col-xs-10">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{getClaimDetailsResponse?.calimRequest?.declineReason}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box box-default" *ngIf="getClaimDetail?.claimStatus !== 'DECLINED'">
    <div class="box-body">
      <div class="row">
        <div class="col-md-12" style="display: flex;align-items: center;padding-left: 2.5%;">
          <p class="m-0">
            <label class="m-0">Claim public URL :</label>
            <span>
              <a href="{{rootPath}}/#/badges/claim/{{getClaimDetail.uid}}" target="_blank" style="cursor: pointer;word-break: break-all;">
                {{rootPath}}/#/badges/claim/{{getClaimDetail.uid}}</a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="box box-default">
    <div class="box-body">
      &lt;!&ndash;
            <p class="custom-tab-title" style="padding-left:1%"> Blockchain Transaction details :</p>


             <div class="col-md-12">
              <div class="row" *ngIf="transactionDetail?.length">
                <div class="col-md-12 hidden-xs" style="margin-top: 2%">
                  <div class="row">
                    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                      <p> Transaction
                        <br>
                        <span>
                          <b> {{mm.utc(transactionDetail[0]?.txDate).toDate() | date:'short'}} </b>
                        </span>
                      </p>
                    </div>
                    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                      <p style="padding-left: 37%;"> Network&nbsp;Name
                        <br>
                        <span>
                          <b> {{transactionDetail[0]?.networkName}} </b>
                        </span>
                      </p>
                    </div>
                    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                      <p style="padding-left:65%"> Action
                        <br>
                        <span>
                          <b> {{transactionDetail[0]?.action}} </b>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" style="background-color:#fcfcfc;padding:2%;">
                <div class="row" *ngIf="transactionDetail?.length">
                  <div class="col-md-12 hidden-xs">
                    <div class='qr-section'>
                      <div class="first-circle text-center">
                        <div class='red-circle'>
                          <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.smartContractAddress" qrc-class="aclass"></ngx-qrcode>
                        </div>
                        <p> Action to Contract</p>
                      </div>
                      <div class='bdr-section'>
                        <hr class="between" />
                      </div>
                      <div class="second-circle text-center">
                        <div class='semi-red-circle'>
                          <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionFrom" qrc-class="aclass"></ngx-qrcode>
                        </div>
                        <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
                      </div>
                      <div class='bdr-section'>
                        <hr class="between" />
                      </div>
                      <div class="third-circle text-center">
                        <div class='red-circle'>
                          <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionTo" qrc-class="aclass"></ngx-qrcode>
                        </div>
                        <p>Action&nbsp;to&nbsp;(person)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> &ndash;&gt;

      &lt;!&ndash;soului code&ndash;&gt;
      <div class="col-lg-12 hidden-xs" *ngIf="transactionDetail?.length">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
            <div class="col-md-12 qrCode">
              <div class="col-lg-4">
                <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionFrom" qrc-class="xsclass"></ngx-qrcode>
              </div>
              <div class="col-lg-8">
                <p> Action from (Org key)</p>
                <p> Network Name
                  <br>
                  <span>
                    <b> {{transactionDetail[0]?.networkName}} </b>
                  </span>
                </p>
              </div>
              <div class="col-lg-12">
                <p style="margin-bottom:5px;">
                  <b>Public key</b>
                </p>
                <span class="publicKey">{{transactionDetail[0]?.actionFrom}}</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="col-md-12 qrCodeCon">
              <div class="col-lg-4">
                <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.smartContractAddress" qrc-class="xsclass"></ngx-qrcode>
              </div>
              <div class="col-lg-8">
                <p> Action to Contract</p>
                <p> Transaction Date
                  <br>
                  <span>
                    <b> {{mm.utc(transactionDetail[0]?.txDate).toDate() | date:'short'}} </b>
                  </span>
                </p>
              </div>
              <div class="col-lg-12">
                <p style="margin-bottom:5px;">
                  <b>Public key</b>
                </p>
                <span class="publicKey">0x0e2d654ccfd53f3c6a6ccae0bc94fa5a17db3fc0</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="col-md-12 qrCode">
              <div class="col-lg-4">
                <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionFrom" qrc-class="xsclass"></ngx-qrcode>
              </div>
              <div class="col-lg-8">
                <p> Action to Person</p>
                <p> Action
                  <br>
                  <span>
                    <b> {{transactionDetail[0]?.action}} </b>
                  </span>
                </p>
              </div>
              <div class="col-lg-12">
                <p style="margin-bottom:5px;">
                  <b>Public key</b>
                </p>
                <span class="publicKey">{{transactionDetail[0]?.actionTo}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      &lt;!&ndash; end soului code&ndash;&gt;
      &lt;!&ndash; Mobile Device QR Code Starts &ndash;&gt;
      <div class="row" *ngIf="transactionDetail?.length">
        <div class="col-md-12 xs-qr-code" style="background: #fcfcfc;padding: 2%">
          <div class="col-md-4 text-center">
            <p> Transaction
              <br>
              <span>
                <b> {{mm.utc(transactionDetail[0]?.txDate).toDate() | date:'short'}} </b>
              </span>
            </p>
            <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.smartContractAddress" qrc-class="xsclass"></ngx-qrcode>
            <p> Action to Contract</p>

          </div>
          <div class="col-md-4 text-center">
            <p> Network&nbsp;Name
              <br>
              <span>
                <b> {{transactionDetail[0]?.networkName}} </b>
              </span>
            </p>
            <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionFrom" qrc-class="xsclass"></ngx-qrcode>
            <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
          </div>
          <div class="col-md-4 text-center">
            <p> Action
              <br>
              <span>
                <b> {{transactionDetail[0]?.action}} </b>
              </span>
            </p>
            <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionTo" qrc-class="xsclass"></ngx-qrcode>
            <p>Action&nbsp;to&nbsp;(person)</p>
          </div>
        </div>
      </div>

      &lt;!&ndash; Mobile Device QR Code Ends &ndash;&gt;


      <div class="col-md-12 col-xs-12" style="margin-top: 2%" *ngIf="transactionDetail?.length">
        <div class="row" *ngIf="transactionDetail[0]?.dataHash">
          <div class="col-md-12">
            <p> Data Hash
              <br>
              <span style="word-break: break-all;font-style:italic"> {{transactionDetail[0]?.dataHash}} </span>
            </p>
          </div>
        </div>
        <div class="row" *ngIf="transactionDetail[0]?.txHash">
          <div class="col-md-12">
            <p> Transaction Hash
              <br>
              <span style="word-break: break-all;font-style:italic"> {{transactionDetail[0]?.txHash}} </span>
            </p>
          </div>
        </div>
        <div class="row blockDiv">
          <div class="col-md-12">
            <p> Link to Blockchain
              <br>
              <span style="word-break: break-all;font-style:italic">
                <a target="_blank" href="https://ropsten.etherscan.io/tx/{{transactionDetail[0]?.txHash}}">https://ropsten.etherscan.io/tx/{{transactionDetail[0]?.txHash}}</a>
              </span>
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>-->
  <div class="box box-default" *ngIf="blockChaindetails">
    <div class="box-body">
      <div class="col-md-12">
        <p class="custom-tab-title">From Blockchain :</p>
      </div>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{blockNonce}} {{'| {'+blockPosition+'}' }}
        <span class="spanBlock">Nonce & (Position)</span>
      </label>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{blockHeight}}
        <span class="spanBlock"> Block Height</span>
      </label>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{blockValue}}
        <span class="spanBlock"> Value</span>
      </label>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{blockGasLimit}}
        <span class="spanBlock">Gas Limit</span>
      </label>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{gasUsedByTransaction}}
        <span class="spanBlock">Gas used/Transaction</span>
      </label>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{blockGasPriceFix}} Ether {{'('+blockGasPriceGw+')'}}
        <span class="spanBlock"> Gas Price</span>
      </label>
      <label class="col-md-4 col-lg-4 col-sm-4 col-xs-12 f-w-normal">{{totalTransactionCost}}Ether
        <span class="spanBlock">Actual Tx Cost/Fee</span>
      </label>
    </div>
  </div>
</section>


<!--<section class="container-fluid" style="padding: 0 2% 2% 2%">
  &lt;!&ndash; Breadcumbs &ndash;&gt;
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a>Outbox</a>
    </li>
    <li class="breadcrumb-item">
      <a>Claims</a>
    </li>
    <li class="breadcrumb-item">
      <a> {{claimType | titlecase}} Claims</a>
    </li>
    <li class="breadcrumb-item active">View Claims</li>
  </ol>
  &lt;!&ndash; Breadcumbs &ndash;&gt;


  <div class="box box-default">
    <div class="box-body">

      <div class="col-md-12">
        <div class="row" style="margin-top: 2%">
          <p class="custom-tab-title" style="padding-left:2%"> Claim details</p>
        </div>
        <div class="row" style="margin-bottom:2%;">
          <div class="col-md-12">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">Name</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
              <span
                class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50"> {{getClaimDetail?.requesterName}}</span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">Description</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
              <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50"> {{getClaimDetail?.description}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">Start&nbsp;Date</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
              <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50"> {{mm.utc(getClaimDetail?.startDate).toDate() | date:'mediumDate'}}</span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">End Date</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
              <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50"> {{mm.utc(getClaimDetail?.endDate).toDate() | date:'mediumDate'}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">Request&nbsp;Date</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
              <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50"> {{mm.utc(getClaimDetail?.claimDate).toDate() | date:'mediumDate'}}</span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">Request&nbsp;Time</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
              <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50"> {{mm.utc(getClaimDetail?.claimDate).toDate() | date:'mediumTime'}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-3 col-lg-3 col-sm-3 col-xs-3 xs-width-32">Keywords</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
              <span class="col-md-8 col-lg-8 col-sm-8 col-xs-8 xs-width-50">
                <ng-container *ngFor="let keyword of getClaimDetail?.keywords">
                  <p class="label label-primary bgColorLabel" style="font-weight: lighter">{{keyword}}</p> &nbsp;
                </ng-container>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-12">
      <div class="col-md-12" style="padding-top:2%">
        <p>
          <label>Claim public URL :</label>
          <span>
              <a href="http://dev1.fliptin.com/certtinweb/#/badges/claim/{{getClaimDetail.uid}}" target="_blank"
                 style="cursor: pointer">
                http://dev1.fliptin.com/certtinweb/#/badges/claim/{{getClaimDetail.uid}}</a>
            </span>
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="box box-default">
          <div class="box-body">
            <strong>Claims public url :</strong>
            <span>
              <a href="http://dev1.fliptin.com/certtinweb/#/badges/claim/{{getClaimDetail.uid}}" target="_blank"
                 style="cursor: pointer;word-break: break-all;">
                http://dev1.fliptin.com/certtinweb/#/badges/claim/{{getClaimDetail.uid}}</a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="box box-default">
          <div class="box-body">
            <div class="col-md-12">
              <div class="row">
                <p class="custom-tab-title" style="padding-left:1%"> Blockchain Transaction details :</p>
              </div>
              <div class="row" style="margin-bottom:2%;" *ngIf="transactionDetail?.length">
                <div class="col-md-12 hidden-xs" style="margin-top: 2%">
                  <div class="row">
                    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                      <p> Transaction <br>
                        <span><b>  {{mm.utc(transactionDetail[0]?.txDate).toDate() | date:'short'}} </b> </span></p>
                    </div>
                    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                      <p style="padding-left: 37%;"> Network&nbsp;Name <br> <span><b>  {{transactionDetail[0]?.networkName}} </b></span>
                      </p>
                    </div>
                    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                      <p style="padding-left:65%"> Action <br>
                        <span> <b> {{transactionDetail[0]?.action}} </b></span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="background-color:#fcfcfc;padding:2%;">
                  &lt;!&ndash;<div class="row">
                    <div class="col-md-12" style="background: #fcfcfc;padding: 2%">
                      <div class="col-md-4">
                        <ngx-qrcode [qrc-element-type]="'img'"
                                    [qrc-value]="transactionDetail[0]?.smartContractAddress"
                                    qrc-class="aclass"></ngx-qrcode>
                        <p> Action to Contract</p>

                      </div>
                      <div class="col-md-4">
                        <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionFrom"
                                    qrc-class="aclass"></ngx-qrcode>
                        <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
                      </div>
                      <div class="col-md-4">

                        <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionTo"
                                    qrc-class="aclass"></ngx-qrcode>
                        <p>Action&nbsp;to&nbsp;(person)</p>
                      </div>
                    </div>
                  </div>&ndash;&gt;

                  <div class="row">
                    <div class="col-md-12 hidden-xs">
                      <div class='qr-section'>
                        <div class="first-circle text-center">
                          <div class='red-circle'>
                            <ngx-qrcode [qrc-element-type]="'img'"
                                        [qrc-value]="transactionDetail[0]?.smartContractAddress"
                                        qrc-class="aclass"></ngx-qrcode>
                          </div>
                          <p> Action to Contract</p>
                        </div>
                        <div class='bdr-section'>
                          <hr class="between"/>
                        </div>
                        <div class="second-circle text-center">
                          <div class='semi-red-circle'>
                            <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionFrom"
                                        qrc-class="aclass"></ngx-qrcode>
                          </div>
                          <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
                        </div>
                        <div class='bdr-section'>
                          <hr class="between"/>
                        </div>
                        <div class="third-circle text-center">
                          <div class='red-circle'>
                            <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionTo"
                                        qrc-class="aclass"></ngx-qrcode>
                          </div>
                          <p>Action&nbsp;to&nbsp;(person)</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 xs-qr-code" style="background: #fcfcfc;padding: 2%">
                      <div class="col-md-4 text-center">
                        <p> Transaction <br>
                          <span><b>  {{mm.utc(transactionDetail[0]?.txDate).toDate() | date:'short'}} </b> </span>
                        </p>
                        <ngx-qrcode [qrc-element-type]="'img'"
                                    [qrc-value]="transactionDetail[0]?.smartContractAddress"
                                    qrc-class="xsclass"></ngx-qrcode>
                        <p> Action to Contract</p>

                      </div>
                      <div class="col-md-4 text-center">
                        <p> Network&nbsp;Name <br> <span><b>  {{transactionDetail[0]?.networkName}} </b></span>
                        </p>
                        <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionFrom"
                                    qrc-class="xsclass"></ngx-qrcode>
                        <p> Action&nbsp;from&nbsp;(Org&nbsp;key)</p>
                      </div>
                      <div class="col-md-4 text-center">
                        <p> Action <br> <span> <b> {{transactionDetail[0]?.action}} </b></span>
                        </p>
                        <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="transactionDetail[0]?.actionTo"
                                    qrc-class="xsclass"></ngx-qrcode>
                        <p>Action&nbsp;to&nbsp;(person)</p>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-12 col-xs-12" style="margin-top: 2%">
                  <div class="row">
                    <div class="col-md-12">
                      <p> Transaction Hash <br> <span
                        style="word-break: break-all;"> {{transactionDetail[0]?.txHash}} </span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p> Link to Blockchain <br> <span style="word-break: break-all;">    <a target="_blank"
                                                                                              href="https://ropsten.etherscan.io/tx/{{transactionDetail[0]?.txHash}}">https://ropsten.etherscan.io/tx/{{transactionDetail[0]?.txHash}}</a></span>
                      </p>
                    </div>
                  </div>
                </div>

                &lt;!&ndash; <div class="col-md-12">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Data Hash</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7">{{transactionDetail[0]?.dataHash}} </span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Action&nbsp;from&nbsp;(Org&nbsp;key)</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7"> {{transactionDetail[0]?.actionFrom}} </span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Action&nbsp;to&nbsp;Contract</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7">{{transactionDetail[0]?.smartContractAddress}}</span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Action&nbsp;to&nbsp;(person)</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7">{{transactionDetail[0]?.actionTo}} </span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Transaction&nbsp;Hash</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7">{{transactionDetail[0]?.txHash}} </span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Link&nbsp;to&nbsp;Blockchain</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                      <a target="_blank" href="https://ropsten.etherscan.io/tx/{{transactionDetail[0]?.txHash}}">https://ropsten.etherscan.io/tx/{{transactionDetail[0]?.txHash}}</a>
                    </span>
                  </div>
                </div>&ndash;&gt;
              </div>
              <div class="row" style="margin-top:4%;">
                <p class="custom-tab-title" style="padding-left:1%">From Blockchain :</p>

                <div class="col-md-12">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4 xs-width-40">Time Stamp</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7 xs-width-50">- </span>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4 xs-width-40">Block Height</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7 xs-width-50"> {{blockHeight}}</span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4 xs-width-40">Value</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7 xs-width-50">{{blockValue}} </span>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4 xs-width-40">Gas Limit</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7 xs-width-50">{{blockGasLimit}} </span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label
                      class="col-md-4 col-lg-4 col-sm-4 col-xs-4 xs-width-40">Gas&nbsp;used&nbsp;/Transaction</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1 xs-width-10"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7 xs-width-50"> - </span>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Gas Price</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7"> {{'('+blockGasPriceGw+')'}}</span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Actual&nbsp;Tx&nbsp;Cost/Fee</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7"> -</span>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Nonce&nbsp;&&nbsp;(Position)</label>
                    <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
                    <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7">{{blockNonce}} ({{blockPosition }})</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>-->
