.borderStyle {
  border: 1px solid #ccc !important;
  border-radius: 0px;
}

.borderStyle:hover {
  -webkit-box-shadow: 6px 0px 50px 0px rgba(201, 201, 201, 1);
  -moz-box-shadow: 6px 0px 50px 0px rgba(201, 201, 201, 1);
  box-shadow: 6px 0px 50px 0px rgba(201, 201, 201, 1);

}

.borderStyle:hover .firstBlock {
  color: #333;
}

.public-style{
  margin-top: 3.5% !important;
  padding-bottom: 3%;
  border-bottom: 1px solid #dddbbb
}
.min-385px{
  min-height: 385px !important;
}

.bg-fff{
  background-color: #fff
}
.pl-35px{
  padding-left:35px !important;
}

.bg-white{
  background-color: white !important;
  overflow: auto !important;
}
.plr-0{
  padding-left:0px !important;
  padding-right: 0px !important;
}

.plr-15{
  padding-left:15px !important;
  padding-right: 15px !important;
}

.rml--2{
  margin-left: 0rem;
}
.rml-2{
  margin-left: 0rem;
}
.rpl-2{
  padding-left:2rem !important;
}
.rpr-2{
  padding-right: 2rem !important;
}

.status-txt {
  font-size: 11px;
  margin-bottom: 0;
  text-align: center;
  display: block;
}

.label-info {
  border-bottom: 3px solid #5bc0de;
  background-color: transparent;
}

.label-success {
  border-bottom: 3px solid #5cb85c;
  background-color: transparent;
}

.label-warning {
  border-bottom: 3px solid#f0ad4e;
  background-color: transparent;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.outer-box {
  top: 9px;
  left: 9px;
  height: 191px;
  width: 191px;
  background-color: white;
  border: 1px solid black;
  margin: 0 auto;
}

.inner-box {
  position: relative;
  top: -1px;
  left: -1px;
  height: 191px;
  width: 191px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  line-height: 191px;
}

.account-text-title {
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.public-text {
  color: rgb(63, 63, 63);
  font-size: 13px;
}
.public-address-text{
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
  width: 100%;
}
.org-url, .org-url:hover {
  color: rgb(0, 155, 189);
  text-decoration: underline;
}
.net-url, .net-url:hover{
  color: rgb(0, 155, 189);
  text-decoration: underline;
}
.label-received{
  border-bottom: 3px solid #2ec7c9;
}
.label-issued{
  border-bottom: 3px solid #b6a2de;
}
.label-verified{
  border-bottom: 3px solid #5ab1ef;
}
.maxHeightnograph{
  height: 385px;
  max-height: 385px;
}
.h-flex{
  display: flex;
  flex-flow: row wrap;
}


@media screen  and (min-width: 920px)  and (max-width: 1048px) {
  .net-url, .net-url:hover{
    color: rgb(0, 155, 189);
    text-decoration: underline;
    font-size: 12px;
  }

  .account-text-title {
    font-size: 12px;
    font-weight: 600;
    display: block;
  }
  .inner-box{
    position: relative;
    top: -1px;
    left: -2px;
    height: 192px;
    width: 192px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    line-height: 191px;
  }
  



}

@media screen  and (min-width: 420px)  and (max-width: 1200px) {
  .rml--2{
    margin-left:-2rem;
  }
  .rml-2{
    margin-left:2rem;
  }
   
}
