<div class="container-fluid"style="padding-left:15px; padding-right:15px">


  <!-- New Dashboard Design Starts-->
  <!-- First Section Starts-->
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </div>
  <!-- <button class="btn btn-info" (click)="startLoader()">
  Start loader
  </button>
  <button class="btn btn-info" (click)="stopLoader()">
    Stop loader
  </button>-->
  <!-- <div class="box box-transparent plr-0">
    <div class="box-body padding-lg plr-0">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 plr-0">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
          <div class="box box-default">
            <div class="box-heading">Claims</div>

            <div class="box-body" *ngIf="pie1">
              <div myECharts [EChartsOptions]="pie1" style="height: 150px;"></div>
            </div>
            <div class="col-md-12 pb-2 bg-white p-0">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 text-center pl-0">
                <span class="status-txt">Received</span>
                <span class="label label-rounded label-received">{{claimCountResponse?.requested}}</span>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 text-center pl-0">
              certsn class="status-txt">Endorsed</span>
                <span class="label label-rounded label-issued">{{claimCountResponse?.endorsed}}</span>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 text-center pl-0">
                <span class="status-txt">Declined</span>
                <span class="label label-rounded label-verified">{{claimCountResponse?.declined}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
          <div class="box box-default">
            <div class="box-heading">Certification</div>

            <div class="box-body" *ngIf="pie2">
              <div myECharts [EChartsOptions]="pie2" style="height: 150px;"></div>
            </div>
            <div class="col-md-12 pb-2 bg-white p-0">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 text-center pl-0">
                <span class="status-txt">Received</span>
                <span class="label label-rounded label-received">{{certCountResponse?.requested}}</span>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 text-center pl-0">
                <span class="status-txt">Issued</span>
                <span class="label label-rounded label-issued">{{certCountResponse?.issued}}</span>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 text-center pl-0">
                <span class="status-txt">Shared</span>
                <span class="label label-rounded label-verified">{{certCountResponse?.shared}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
          <div class="box box-default">
            <div class="box-heading">Users</div>

            <div class="box-body" *ngIf="pie3">
              <div myECharts [EChartsOptions]="pie3" style="height: 150px;"></div>
            </div>
            <div class="col-md-12 bg-white pb-2 p-0">
              <div class="col-md-5 text-center pl-0">
                <span class="status-txt">Individual&nbsp;Users</span>
                <span class="label label-rounded label-received">{{usersResponse?.requesters}}</span>
              </div>
              <div class="col-md-7 text-center pl-0">
                <span class="status-txt" style="padding-left:0px;">Organisation&nbsp;Users</span>
                <span class="label label-rounded label-issued">{{usersResponse?.users}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
          <div class="box box-default">
            <div class="box-heading">Transactions</div>

            <div class="box-body" *ngIf="pie4">
              <div myECharts [EChartsOptions]="pie4" style="height: 150px;"></div>
            </div>
            <div class="col-md-12 bg-white pb-2">
              <div class="col-md-5 text-center pl-0">
                <span class="status-txt">Issued</span>
                <span class="label label-rounded label-issued">{{transactionResponse?.transactionsCount?.issued}}</span>
              </div>

              <div class="col-md-7 text-center pl-0">
                <span class="status-txt">Endorsed</span>
                <span class="label label-rounded label-verified">{{transactionResponse?.transactionsCount?.endorsed}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
 <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 plr-0">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
          <div class="box box-default">
            <div class="box-heading">Claims</div>

            <div class="box-body" *ngIf="pie1">
              <div myECharts [EChartsOptions]="pie1" style="height: 150px;"></div>
            </div>
            <div class="col-md-12 pb-2 bg-white p-0">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 text-center pl-0">
                <span class="status-txt">Received</span>
                <span class="label label-rounded label-received">{{claimCountResponse?.requested}}</span>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 text-center pl-0">
                <span class="status-txt">Endorsed</span>
                <span class="label label-rounded label-issued">{{claimCountResponse?.endorsed}}</span>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 text-center pl-0">
                <span class="status-txt">Declined</span>
                <span class="label label-rounded label-verified">{{claimCountResponse?.declined}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
          <div class="box box-default">
            <div class="box-heading">Certification</div>

            <div class="box-body" *ngIf="pie2">
              <div myECharts [EChartsOptions]="pie2" style="height: 150px;"></div>
            </div>
            <div class="col-md-12 pb-2 bg-white p-0">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 text-center pl-0">
                <span class="status-txt">Received</span>
                <span class="label label-rounded label-received">{{certCountResponse?.requested}}</span>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 text-center pl-0">
                <span class="status-txt">Issued</span>
                <span class="label label-rounded label-issued">{{certCountResponse?.issued}}</span>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 text-center pl-0">
                <span class="status-txt">Shared</span>
                <span class="label label-rounded label-verified">{{certCountResponse?.shared}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
          <div class="box box-default">
            <div class="box-heading">Users</div>

            <div class="box-body" *ngIf="pie3" style="min-height:150px">
              <div myECharts [EChartsOptions]="pie3" style="height: 150px;"></div>
            </div>
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 pb-2 bg-fff text-center plr-15">
              <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12 col-text-center">
                <span class="status-txt">Individuals</span>
                <span class="label label-rounded label-received">{{usersResponse?.requesters}}</span>
              </div>
              <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12 text-center">
                <span class="status-txt" style="padding-left:0px;">Users</span>
                <span class="label label-rounded label-issued">{{usersResponse?.users}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
          <div class="box box-default">
            <div class="box-heading">Transactions</div>

            <div class="box-body" *ngIf="pie4">
              <div myECharts [EChartsOptions]="pie4" style="height: 150px;"></div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pb-2 bg-fff text-center plr-15">
              <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12 text-center ">
                <span class="status-txt">Issued</span>
                <span class="label label-rounded label-issued">{{transactionResponse?.transactionsCount?.issued}}</span>
              </div>

              <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12 text-center ">
                <span class="status-txt">Endorsed</span>
                <span class="label label-rounded label-verified">{{transactionResponse?.transactionsCount?.endorsed}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- First Section Ends-->
  <!-- Second Section Starts-->
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 " style="margin-top:2%">
    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12 pl-0">
      <div class="box box-default ">
        <div class="box-body" *ngIf="trafficChart">
          <div myECharts [EChartsOptions]="trafficChart" style="height: 350px;"></div>
        </div>
        <div class="box-body maxHeightnograph" *ngIf="noBarGraph" align="center">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="margin-top: 15%;">
              <img src="assets/images/empty-table.png" class="noDataImageStyles" align="center">
              <p>No data Found</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12 pr-0">
      <div class="box box-default ">
        <div class="box-body">
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" *ngIf="organisationResponse?.orgPublicKey" style="height: 350px;">
              <div class="outer-box">
                <div class="inner-box">
                  <!--<img src="assets//images/Originals/qr-sample.png">-->
                  <ngx-qrcode [qrc-value]="organisationResponse?.orgPublicKey"></ngx-qrcode>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 text-center public-style  plr-0 mt-1" *ngIf="organisationResponse?.orgPublicKey" >
                  <span class="account-text-title">Public Blockchain Ethereum Account</span>
                  <span class="public-text">
                    <input type="text" class="public-address-text" id="yourAddress1" [value]="organisationResponse?.orgPublicKey" disabled/>
                  </span>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 plr-0 text-center">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-left plr-0 mt-1 rml--2">
                    <span class="account-text-title ">Connected to</span>
                   <a href="https://kovan.etherscan.io/" class="net-url" target="_blank">https://kovan.etherscan.io/</a>

                </div>
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 plr-0 text-right mt-1 rml-2">
                    <span class="account-text-title">Organisation URL</span>
                    <a href="{{organisationResponse?.organisation?.organisationWebsite}}" target="_blank" class="org-url">{{organisationResponse?.organisation?.organisationWebsite}}</a>
                  </div>
                  </div>
            </div>


          <!-- <div class="row mt-1 text-center">
            <div class="col-md-12">
              <span class="account-text-title">Organization URL</span>
              <a href="{{organisationResponse?.organisation?.organisationWebsite}}" target="_blank" class="org-url">{{organisationResponse?.organisation?.organisationWebsite}}</a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Second Section Ends-->
  <!-- New Dashboard Design Ends-->


</div>
