.topSpace{
    margin-top: 5%
}
.divBorder{
  height:100%;
    border: 1px solid black;
    background-color:white;
    padding-right: 1%;
    padding-left:1%;
}
.alignCenter{
    text-align:center !important;
}
.mTop1per{
    margin-top:1%;
}
.mleft2per{
    margin-left:2%;
}
.height90{
    height: 90%;
}

.imageStyle{
    width:180px;
    padding:10%
}

.borderStyle{
    height:100%;
    border:1px solid #aba2a2;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
  }
  .borderStyle:hover{
    border:1px solid #000;
  }
  .borderStyle:hover .firstBlock{
    color: red
  }
  .borderStyle:hover .secondBlock{
    color:green;
  }
  .borderStyle:hover .thirdBlock{
    color:#cb4f3a;
  }