.labelStyles {
  font-size: 13px;
  color: #8c8b8b;
}
.valueStyles{
  margin-top: 5% !important;
  font-size: 15px;
  font-weight: 500;
  color : #333333
}
.profileImage1 {
  width: 100px;
  height: 100px;
  border : 1px solid #dbdbdb;
  padding: 2%;
}
.paddingTop1per{
  padding-top: 1%
}
.boxStyle {
  margin-top: 2%;
  border: 1px solid #dbdbdb;
  padding-top: 1%;
}
.borderBottom{
  border-bottom: 1px solid #dbdbdb;
}
.borderBottom:last-child{
  border-bottom: 0px solid #dbdbdb;
}
.noPaddingLeftRight{
padding: 0%;
}
.dataStyle{
 padding: 2%;
  line-height: 22px;
  margin-bottom: 0px;
}
.boxxSpace{
  margin-top: 2%;
  padding-top: 1%;
}
.margintop3per{
  margin-top: 3%;
}
.padding2per{
  padding: 2%;
}
.boxBorder{
  border: 1px solid #dbdbdb;
}
.maxHeight{
  max-height: 320px;
  min-height: 320px;
}
.scrollStyle{
  max-height: 320px;
  overflow: auto;
  min-height: 320px;
}

.listViewStyle{
  background-color: #eeee;
  width: 2rem;
  text-align: center;
  border-radius: 30%;
  border: 1px solid #eeee;
}


Stychartreuse { background-color: chartreuse; }
Styyellow { background-color: red; }




ul {
  margin: 0 auto;
  list-style-type: none;
  counter-reset: steps;
  margin: 0;
}
ul li {
  padding: 0 0 20px 50px;
  position: relative;
  margin: 0;
  margin-left: -25px;
}
 .issue li:after {
  padding-top:2px;
  position: absolute;
  top: 2px;
  left: 0;
  content: counter(steps);
  counter-increment: steps;
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  width: 12px;
  text-align: center;
  line-height: 24px;
  background-color: chartreuse;
   color:transparent;
   margin-top:5px !important;
}


 .issue li:before {
  position: absolute;
  left: 6px;
  top: 9px;
  content: "";
  height: 100%;
  background-color: chartreuse;
  width: 0;
  border-left: 1px solid grey;
  color:transparent;
}

.request li:after {
  padding-top:2px;
  position: absolute;
  top: 2px;
  left: 0;
  content: counter(steps);
  counter-increment: steps;
  border: 1px solid grey;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  width: 12px;
  text-align: center;
  line-height: 24px;
  background-color: cornflowerblue;
   color:transparent;
   margin-top:5px !important;
}

.request li:before {
  position: absolute;
  left: 6px;
  top: 9px;
  content: "";
  height: 100%;
  background-color: cornflowerblue;
  width: 0;
  border-left: 1px solid grey;
  color:transparent;
}
.sent li:after {
  padding-top:2px;
  position: absolute;
  top: 2px;
  left: 0;
  content: counter(steps);
  counter-increment: steps;
  border: 1px solid grey;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  width: 12px;
  text-align: center;
  line-height: 24px;
  background-color: cornflowerblue;
   color:transparent;
   margin-top:5px !important;
}

.sent li:before {
  position: absolute;
  left: 6px;
  top: 9px;
  content: "";
  height: 100%;
  background-color: cornflowerblue;
  width: 0;
  border-left: 1px solid grey;
  color:transparent;
}
.declined li:after {
  padding-top:2px;
  position: absolute;
  top: 2px;
  left: 0;
  content: counter(steps);
  counter-increment: steps;
  border: 1px solid grey;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  width: 12px;
  text-align: center;
  line-height: 24px;
  background-color: red;
   color:transparent;
   margin-top:5px !important;
}

.declined li:before {
  position: absolute;
  left: 6px;
  top: 9px;
  content: "";
  height: 100%;
  background-color: red;
  width: 0;
  border-left: 1px solid grey;
  color:transparent;
}

li:nth-last-child(n) {
  border-left:none !important;
}

ul:last-of-type{
  border-left: 0px;
  height:0px;
}

.imgStyles{
  width: 80px;
  height: 80px;
}
.custom-tab-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  padding-top: 14px;
  padding-left: 20px;
  margin-bottom: 0;
}
.custom-profile-pic{
  width: 100px;
  height: 100px;
}
.mt1{
  margin-top: .5rem;
}
.plr25{
  padding: 1rem 2.5rem 2.5rem 2.5rem;
}
label{
  font-size:13px;
}
.individual-detail-text {
  color: #868585;
  font-size: 13px;
}
