<!--<div class="container-fluid" style="padding: 0 2% 2% 2%;">
  <div class="container">
    &lt;!&ndash; Breadcumbs &ndash;&gt;
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/app/dashboard']">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a>Individuals</a>
      </li>
      <li class="breadcrumb-item active">Individuals Claims</li>
    </ol>
    &lt;!&ndash; Breadcumbs &ndash;&gt;
  </div>
</div>
<div class="container-fluid" style="background: #ffffff;">
  <div class="row box box-default boxBorder" style="padding: 2%">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background-color: #fff ;">
      <div class="row" style="margin-top: 1%">
        <div class="col-md-12">
          <p class="custom-tab-title" style="padding-left:8px;"> Individual Claims</p>
        </div>
      </div>
      <div class="row" style="padding:1%;">
        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" *ngIf="!individulaPersonDetails?.pictureUri">
          <img  src="assets/images/g1.jpg" class="img-responsive imgStyles">
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" *ngIf="individulaPersonDetails?.pictureUri">
          <img  [src]="individulaPersonDetails?.pictureUri" class="custom-profile-pic cursorPointer" (click)="file.click()">
          <input id="upload1" class="none_display" #file type="file" name="file-upload" multiple accept="image/*" (change)="uploadPicturegeneral($event)">
        </div>
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
          <div class="col-md-12">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">First Name</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
              <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7"> {{individulaPersonDetails?.firstName}}</span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">last Name</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
              <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7"> {{individulaPersonDetails?.lastName}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <label class="col-md-4">Mobile no</label>
              <span class="col-md-1"> :</span>
              <span class="col-md-7"> {{individulaPersonDetails?.phones[0].countryCode + " " + individulaPersonDetails?.phones[0].number}}</span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Email</label>
              <span class="col-md-1 col-lg-1 col-sm-1 col-xs-1"> :</span>
              <span class="col-md-7 col-lg-7 col-sm-7 col-xs-7"> {{individulaPersonDetails?.email}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <label class="col-md-4">DOB</label>
              <span class="col-md-1"> :</span>
              <span class="col-md-7" *ngIf='individulaPersonDetails?.dateOfBirth'> {{individulaPersonDetails?.dateOfBirth.split(" ")[0]}}</span>
              <span class="col-md-7" *ngIf='!individulaPersonDetails?.dateOfBirth'> -</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    &lt;!&ndash; <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-top: 1%" align="center">
        <img *ngIf="!individulaPersonDetails?.pictureUri" src="assets/images/g1.jpg" class="profileImage1">
        <img *ngIf="individulaPersonDetails?.pictureUri" [src]="individulaPersonDetails?.pictureUri" class="profileImage1">
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="row">
          <div class="col-md-3">
            <span class="labelStyles"> Firstname </span>
            <h6 class="valueStyles">{{individulaPersonDetails?.firstName}}</h6>
          </div>
          <div class="col-md-3">
            <span class="labelStyles"> Date of birth </span>
            <h6 class="valueStyles" *ngIf='individulaPersonDetails?.dateOfBirth'>{{individulaPersonDetails?.dateOfBirth.split(" ")[0]}}</h6>
            <h6 class="valueStyles" *ngIf='!individulaPersonDetails?.dateOfBirth'>-</h6>
          </div>
          <div class="col-md-3">
            <span class="labelStyles"> Mobile Number </span>
            <h6 class="valueStyles">{{individulaPersonDetails?.phones[0].countryCode + " " + individulaPersonDetails?.phones[0].number}}</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <span class="labelStyles"> Lastname </span>
            <h6 class="valueStyles">{{individulaPersonDetails?.lastName}}</h6>
          </div>
          <div class="col-md-3">
            <span class="labelStyles"> Email Id </span>
            <h6 class="valueStyles">{{individulaPersonDetails?.email}}</h6>
          </div>
        </div>
      </div>
    </div> &ndash;&gt;
  </div>

  <div class="row margintop2per">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
      <div class="row">
        <h5 class="lHeightStyle">Requests Summary</h5>
      </div>
    </div>
    <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 " id="timeLine">
      <div class="row">
        <div class="col-md-11 box box-default scrollStyle boxBorder">
          <ul *ngFor="let notification of individualNotifications" [ngClass]="{issue: notifystatus === 'issued', request: notifystatus === 'request', sent: notifystatus === 'sent'}">
            <li>
              {{notification}}
            </li>
          </ul>
        </div>
      </div>
      &lt;!&ndash; <div class="row">

        <div class="col-md-11 box box-default boxBorder scrollStyle noPaddingLeftRight">
          <p *ngIf="!viewAllList && individualNotifications" class="borderBottom dataStyle">{{individualNotifications[0]}} </p>
          <p *ngIf="!viewAllList && individualNotifications?.length>=1" class="borderBottom dataStyle">{{individualNotifications[1]}} </p>
          <p *ngIf="!viewAllList && individualNotifications?.length>=2" class="borderBottom dataStyle">{{individualNotifications[2]}} </p>
          <p *ngIf="!viewAllList && individualNotifications?.length>=3" class="borderBottom dataStyle">{{individualNotifications[3]}} </p>
          <p *ngIf="!viewAllList && individualNotifications?.length>=4" class="borderBottom dataStyle">{{individualNotifications[4]}} </p>
          <p *ngIf="!viewAllList && individualNotifications?.length" class=" dataStyle " align="center">
            <i class="fa fa-ellipsis-h listViewStyle" (click)="viewAll()" aria-hidden="true"></i>
          </p>
          <ng-container *ngIf="viewAllList">
            <p class="borderBottom dataStyle" *ngFor="let notification of individualNotifications">
              {{notification}}
            </p>
          </ng-container>
          <p style="margin-top:3rem;" align="center">
            <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
          </p>
        </div>
      </div> &ndash;&gt;
    </div>
    &lt;!&ndash; <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 ">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 maxHeight box box-default boxBorder noPaddingLeftRight" align="center">
          <img src="assets/images/mySubscription.png" class="padding2per" style="margin-top: 5%;">
        </div>
      </div>
    </div> &ndash;&gt;
  </div>
</div>-->


<!-- New View -->
<section class="container-fluid with-maxwidth" style="padding: 0 2% 2% 2%">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 custom-pl-1">
      <!-- Breadcumbs -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/app/dashboard']">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a>Individuals</a>
        </li>
        <li class="breadcrumb-item active">Individuals Claims</li>
      </ol>
      <!-- Breadcumbs -->
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="row">
          <div class="col-md-12">
            <p class="custom-tab-title"> Individual Claims</p>
          </div>
        </div>
        <!-- Individual Claims Section Starts -->

        <div class="row" style="padding:2%;">
          <!--  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-xl-2" *ngIf="!individulaPersonDetails?.pictureUri">

          </div>-->
          <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
            <img src="assets/images/profile_pic.jpg" class="img-responsive imgStyles" *ngIf="!individulaPersonDetails?.pictureUri">
            <img *ngIf="individulaPersonDetails?.pictureUri" [src]="individulaPersonDetails?.pictureUri" class="custom-profile-pic cursorPointer"
              (click)="file.click()">
            <!-- <input id="upload1" class="none_display" #file type="file" name="file-upload" multiple accept="image/*"
                   (change)="uploadPicturegeneral($event)">-->
          </div>
          <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 col-xl-8">
            <div class="row mt1">
              <div class="col-md-2">
                <label>First Name</label>
              </div>
              <div class="col-md-4">
                <span class="individual-detail-text">&nbsp; : &nbsp;{{individulaPersonDetails?.firstName}}</span>
              </div>
              <div class="col-md-2">
                <label>Last Name</label>
              </div>
              <div class="col-md-4">
                <span class="individual-detail-text">&nbsp; : &nbsp;{{individulaPersonDetails?.lastName}}</span>
              </div>
            </div>
            <div class="row mt1">
              <div class="col-md-2">
                <label>Phone</label>
              </div>
              <div class="col-md-4">
                <span class="individual-detail-text">&nbsp; : &nbsp;{{individulaPersonDetails?.phones[0]?.countryCode + " " + individulaPersonDetails?.phones[0]?.number}}</span>
              </div>
              <div class="col-md-2">
                <label>Email</label>
              </div>
              <div class="col-md-4">
                <span class="individual-detail-text">&nbsp; : &nbsp;{{individulaPersonDetails?.email}}</span>
              </div>
            </div>
            <div class="row mt1">
              <div *ngIf='individulaPersonDetails?.gender' class="col-md-2">
                <label>Gender</label>
              </div>
              <div *ngIf='individulaPersonDetails?.gender' class="col-md-4 individual-detail-text">
                <span>&nbsp; : &nbsp;{{individulaPersonDetails?.gender}}</span>

              </div>
              <div *ngIf='individulaPersonDetails?.dateOfBirth' class="col-md-2">
                <label>Date Of Birth</label>
              </div>
              <div *ngIf='individulaPersonDetails?.dateOfBirth' class="col-md-4 individual-detail-text">
                <span>&nbsp; : &nbsp;{{individulaPersonDetails?.dateOfBirth.split(" ")[0]}}</span>

              </div>
            </div>
            <!-- Individual Claims Setion Section Ends -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Request Summary Starts-->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="box box-default">
        <div class="row">
          <div class="col-md-12">
            <p class="custom-tab-title"> Requests Summary</p>
          </div>
        </div>
        <div class="row mt1 plr25">
          <div class="col-md-8 scrollStyle boxBorder">
            <ul *ngFor="let notification of individualNotifications" [ngClass]="{issue: notifystatus === 'issued', request: notifystatus === 'request', sent: notifystatus === 'sent'}">
              <li>
                {{notification}}
                <!-- <label class="col-md-2">date</label> <label class="col-md-10 style">{{notification}}</label> -->
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <!-- This place is for graph -->
          </div>
        </div>
      </div>
      <!-- Individual Claims Setion Section Ends -->
    </div>
  </div>
  <!-- Request Summary Ends-->

</section>