.border1px{
  border: 1px solid #dbdbdb;
}
.width25per{
  width: 25%
}
.hdngT{
  font-size: 20px;
  color: #009bbd;
  font-weight: bold;
  margin-top: 5%;
}
.input-group-addon{
  background-color: #e9ecef;
}
.spanStyle {
  padding-top: 4%;
  width: 3rem !important;
  height: 2.45rem !important;
  border-radius: 0px 5px 5px 0px !important;
}
.stepStyle {
  border: 1px solid #009bbd;
  border-radius: 50px;
  padding: 2%;
  text-align: center;
  color: #009bbd;
}
.stepperStyle{
  margin-top: -2rem;
  padding-left: 7%;
}

.linestyle{
  margin-top: 4%;
  border: 1px solid #009bbd;
}
.stepNameStyles{
  margin-top: 5%;
  position: relative;
  margin-right: 8%;
  left: 10px;
  color: #009bbd;
  font-size: 14px;
}
.activeStep{
  background-color: #009bbd;
  color: #fff;
}
.width35per{
  width:35%
}
.marginBtm2per{
  margin-bottom: 2%;
}
.hdngBlck{
  margin-top: 2%;
  color: #9f9e9e;
}
.fa-angle-right{
  color: #009bbd;
  font-size: 50px;
}
.spanStyle {
  padding-top: 4%;
  width: 3rem !important;
  height: 2.4rem !important;
  border-radius: 0px 5px 5px 0px !important;
}
.input-group-addon{
  background-color: #e9ecef;
}


@media screen  and (min-width: 920px)  and (max-width: 1200px) {

  .stepNameStyles{
  margin-top: 5%;
  position: relative;
  margin-right: 8%;
  left: 10px;
  color: #009bbd;
  font-size: 10px;
  }
  
  .hdngT{
    font-size: 14px;
    color: #009bbd;
    font-weight: bold;
    margin-top: 5%;
  }
  
  .stepStyle {
    border: 1px solid #009bbd;
    border-radius: 50px;
    padding: 1% 2%;
    text-align: center;
    color: #009bbd;
  }  
  .activeStep{
    background-color: #009bbd;
    color: #fff;
  }

  .stepperStyle {
    margin-top: -3rem;
    padding-left: 7%;
}
.width35per{
  width: 42%;
}

}
