<!--<h2> Hi this is directive</h2>
{{orgDetails}}, {{personData}}-->

<div class="container-fluid margintop2per">
  <div class="container paddingbottom1per">
    <div class="row hidden-sm hidden-xs">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPaddingLeft">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 noPaddingLeft">
          <p class="hdngT ">Professional Account Application</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6  col-xs-6 col-md-offset-2">
          <div class="col-md-1 stepStyle" [ngClass] = "{'activeStep': step1Status}">1</div>
          <div class="col-md-5 linestyle">

          </div>
          <div class="col-md-1 stepStyle"[ngClass] = "{'activeStep': step2Status}">2</div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-md-offset-5 col-lg-offset-5 mt-3">
            <div class="col-md-6 stepperStyle">
              <p class="stepNameStyles">Create Admin Account</p>
            </div>
            <div class="col-md-6 stepperStyle">
              <p class="stepNameStyles">KYC & KYV Information</p>
            </div>
          </div>

        <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <span class="stepStyle" [ngClass]="{'activeStep': step1Status}">1</span>
          <span class="lineStyle" [ngClass]="{'activeStep': step1Status}"></span>
          <span class="stepStyle" [ngClass]="{'activeStep': step2Status}">2</span>







        </div> -->
      </div>
    </div>
    <div class="row hidden-lg hidden-md">
      <div class="col-sm-12 col-xs-12 noPaddingLeft">
        <p class="hdngT" align="center">Professional Account Application</p>
      </div>
    </div>
    <form class="form-horizontal mt-3" [formGroup]="profAccountForm" (ngSubmit)="goToKycForm()">
      <ng-container *ngIf="step1Status">
        <div class="row border1px box box-default">
          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <p class="hdngBlck">Admin Personal Details</p>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="labelStyles">First name*</label>
                <input type="text" formControlName="firstname" class="form-control" placeholder="First name" [(ngModel)]="profAccModel.firstName"
                  [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="">Last name*</label>
                <input type="text" formControlName="lastname" class="form-control" placeholder="Last name" [(ngModel)]="profAccModel.lastName"
                  [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="">Country*</label>
                <select formControlName="country" class="form-control selectField" [(ngModel)]="selectedObject"
                        (change)="selectCountry($event)"
                        id="country" name="country"   [ngClass]="{ 'is-invalid': (submitted && f.country.errors) || (submitted && selectedObject == 'selectYourCountry') }">
                  <option value="selectYourCountry" disabled>Select Country</option>
                  <option *ngFor="let countryName of countryDetails" [title]="countryName.name"
                          [value]="countryName.code"> {{countryName.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="labelStyles ">Mobile*</label>
                <br>
                <span class="input-group">
                  <select id="basic-addon1" class=" col-md-4 input-group-addon form-control" formControlName="countrycode" required [(ngModel)]="profAccModel.countryCode"
                    style="height:34px;font-size:12px; background-color:white;padding: 0%;" name="countryCode" [ngClass]="{ 'is-invalid': (submitted && f.countrycode.errors) || (submitted && profAccModel.countryCode == 'defaultCode') }">
                    <option disabled value="defaultCode">Country Code</option>
                    <option *ngFor="let countryCode of countryDetails" [ngValue]="countryCode.dial_code">

                      <!--    &lt;!&ndash;<div class="MocG8c aCjZuc LMgvRb" jsname="wQNmvb" jsaction="" data-value="ag" aria-selected="true" tabindex="0" role="option"><div class="kRoyt MbhUzd" jsname="ksKsZd" style="top: 19px; left: 42.5px; width: 64px; height: 64px;"></div><div class="MWQFLe uLX2p" aria-hidden="true"><div class="qclxzb"><div class="Fy0Xbe SrKVbf" style="background-position: -1px -1140px;" aria-hidden="true"></div></div></div><content class="vRMGwf oJeWuf">Antigua &amp; Barbuda <span class="CO1lLb" dir="ltr">+1</span></content></div>&ndash;&gt;-->
                      <div class="Fy0Xbe"> </div> &nbsp; {{countryCode.name}} &nbsp; {{countryCode.dial_code}}
                    </option>
                  </select>
                  <input formControlName="mobile" required [(ngModel)]="profAccModel.mobileNumber" type="text" placeholder="Mobile" aria-describedby="basic-addon1"
                    class=" col-md-8 inputField form-control" id="mobileNumber" name="mobileNumber" minlength="10" maxlength="12"
                    (keypress)="numberOnly($event)" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }">
                </span>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="labelStyles">Email*</label>
                <input type="text" formControlName="email" class="form-control" placeholder="Email" [(ngModel)]="profAccModel.emailId" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  disabled>
              </div>
             <!-- <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="">Country*</label>
                <select formControlName="country" class="form-control selectField" [(ngModel)]="profAccModel.country" (change)="selectCountry($event)"
                  id="country" name="country" [ngClass]="{ 'is-invalid': (submitted && f.country.errors) || (submitted && selectedObject == 'selectYourCountry') }">
                  <option value="selectYourCountry" disabled>Select Country</option>
                  <option *ngFor="let countryName of countryDetails" [title]="countryName.name" [value]="countryName.code"> {{countryName.name}}
                  </option>
                </select>
              </div>-->
            </div>
          </div>
        </div>
        <div class="row border1px margintop2per box box-default">
          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <p class="hdngBlck">Organisation Details</p>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="labelStyles">Organisation*</label>
                <input type="text" formControlName="org" class="form-control" placeholder="Organisation" [(ngModel)]="profAccModel.organisation"
                  [ngClass]="{ 'is-invalid': submitted && f.org.errors }" disabled>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class=" ">Organisation website*</label>
                <input formControlName="organisationWeb" required [(ngModel)]="profAccModel.organisationWebsite" type="text" placeholder="Organisation Website"
                  class="inputField form-control " id="orgSite" name="organisationWeb" [ngClass]="{ 'is-invalid': (submitted && f.organisationWeb.errors) ||  validityStatus == 'fail'  }"
                  (blur)="checkValidSite()">
                <div *ngIf="!f.organisationWeb.errors && validityStatus == 'fail' ">
                  <span style="font-size: 10px;color: #838383;">
                    <i> Please enter working URL</i>
                  </span>

                </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="labelStyles">Location*</label>
                <input required [(ngModel)]="profAccModel.location" ngx-google-places-autocomplete [options]="googlePlacesOptions" #placesRef="ngx-places"
                  type="text" placeholder="Location" class="inputField form-control" formControlName="location" id="location"
                  name="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="labelStyles ">Industry*</label>
                <select class="form-control selectField" formControlName="industry" required [(ngModel)]="profAccModel.industry" name="industry"
                  [ngClass]="{ 'is-invalid': (submitted && f.industry.errors)  ||(submitted && profAccModel.industry == 'defaultInd')}">
                  <option value="defaultInd" disabled>Select Industry</option>
                  <option *ngFor="let industry of industryNames" [ngValue]="industry.industryName">
                    {{industry.industryName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margintop2per">
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" align="right">
            <button class="btn cancelBtn width35per widthXs" type="button" (click)="cancelBtn()">Cancel</button>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 resMarginTop2per" align="left">
            <button class="btn mainBtn width35per widthXs" type="submit">Next</button>
          </div>
        </div>
      </ng-container>
    </form>
    <form class="form-horizontal mt-3" [formGroup]="kycAccountForm" (ngSubmit)="upgrade()">
      <ng-container *ngIf="step2Status">
        <div class="row border1px box box-default">
          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <p class="hdngBlck">Identification</p>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label>ID Type*</label>
                <select class="form-control selectField" formControlName="idType" name="idProofType" required [(ngModel)]="kycModel.idProofType"
                  [ngClass]="{'is-invalid': (submittedTry && g.idType.errors) || (submittedTry && kycModel.idProofType == 'defaultIdtype')}">
                  <option value="defaultIdtype" disabled>ID Type</option>
                  <option value="ID Card"> ID Card</option>
                  <option value="passport"> Passport</option>
                </select>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label>ID Number*</label>
                <input type="text" class="form-control" placeholder="ID Number" formControlName="idNum" required name="idNumber" [(ngModel)]="kycModel.idNumber"
                  [ngClass]="{'is-invalid': submittedTry && g.idNum.errors}">
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label>Nationality*</label>
                <select class="form-control selectField" formControlName="national" required name="nationality" [(ngModel)]="kycModel.nationality"
                  [ngClass]="{'is-invalid': (submittedTry && g.national.errors) || (submittedTry && kycModel.nationality == 'defaultNationality')}">
                  <option value="defaultNationality" disabled>Nationality</option>
                  <option *ngFor="let countryCode of countryDetails" [ngValue]="countryCode.name">
                    {{countryCode.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12" >
                <label>Issued date*</label>
                <div class="input-group">
                  <input mdInput type="text" [mdDatepicker]="picker3" placeholder="MM/DD/YYYY" [max]="maxDate"
                         aria-describedby="basic-addon1" class="form-control" formControlName="issue"
                         name="issueDate" [(ngModel)]="kycModel.issuedDate"
                         required [ngClass]="{'is-invalid': submittedTry && g.issue.errors}">
                  <span class="input-group-addon spanStyle" id="basic-addon3">
                          <button mdSuffix [mdDatepickerToggle]="picker3"></button>
                        </span>
                  <md-datepicker #picker3></md-datepicker>
                </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label>Expiry date <span *ngIf="kycModel.idProofType == 'passport'">*</span></label>
                <div class="input-group">
                  <input mdInput type="text" [mdDatepicker]="picker2" placeholder="MM/DD/YYYY" [min]="kycModel.issuedDate"
                         aria-describedby="basic-addon1" class="form-control" formControlName="expiry"
                         name="expiryDate" [(ngModel)]="kycModel.expiryDate"
                         [required]="kycModel.idProofType == 'passport'"
                         required [ngClass]="{'is-invalid': submittedTry && g.expiry.errors}">
                  <span class="input-group-addon spanStyle" id="basic-addon2">
                          <button mdSuffix [mdDatepickerToggle]="picker2"></button>
                        </span>
                  <md-datepicker #picker2></md-datepicker>
                </div>
              </div>
            </div>
        </div>
        </div>
        <div class="row border1px box box-default">
          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <p class="hdngBlck">Company Registered Details</p>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="">Country*</label>
                <select formControlName="country" class="form-control selectField" [(ngModel)]="kycModel.issuedCountry" id="country1" name="country"
                  [ngClass]="{ 'is-invalid': (submittedTry && g.country.errors) || (submittedTry && kycModel.issuedCountry == 'selectYourCountry') }">
                  <option value="selectYourCountry" disabled>Select Country</option>
                  <option *ngFor="let countryName of countryDetails" [title]="countryName.name" [value]="countryName.code"> {{countryName.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label>Company Registration No*</label>
                <input type="text" class="form-control" placeholder="YYYY/NNNN/NN" formControlName="regNum" required name="orgRef" [(ngModel)]="kycModel.registrationNumber"
                  [ngClass]="{'is-invalid': submittedTry && g.regNum.errors}">
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label>Organisation name*</label>
                <input type="text" class="form-control" placeholder="Organisation name" formControlName="orgName" required [disabled]="true"
                  name="orgName" [(ngModel)]="profAccModel.organisation" disabled [ngClass]="{'is-invalid': submittedTry && g.orgName.errors}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="">Vat Number*</label>
                <input type="number" class="form-control" placeholder="Vat Number" formControlName="vatNum" required name="vatNumber" [(ngModel)]="kycModel.vatNumber"
                  [ngClass]="{'is-invalid': submittedTry && g.vatNum.errors}">
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label>Registration date*</label>
                <div class="input-group">
                  <input mdInput type="text" [mdDatepicker]="picker" placeholder="MM/DD/YYYY" aria-describedby="basic-addon1" class="form-control" [max]="maxDate"
                    formControlName="regDate" name="registrationDate" [(ngModel)]="kycModel.regDate" required [ngClass]="{'is-invalid': submittedTry && g.regDate.errors}">
                  <span class="input-group-addon spanStyle" id="basic-addon1">
                    <button mdSuffix [mdDatepickerToggle]="picker"></button>
                  </span>
                  <md-datepicker #picker></md-datepicker>
                </div>

              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="margintop1per">Address line 1*</label>
                <input type="text" class="form-control noResize" placeholder="Line 1" formControlName="line1" required name="companyaddressLine1"
                  [(ngModel)]="kycModel.line1" [ngClass]="{'is-invalid': submittedTry && g.line1.errors}">
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="margintop1per">Address line 2</label>
                <input type="text" class="form-control noResize" placeholder="Line 2" formControlName="line2" name="companyaddressLine2"
                  [(ngModel)]="kycModel.line2">
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="margintop1per">Address line 3</label>
                <input type="text" class="form-control noResize" placeholder="Line 3" formControlName="line3" name="companyaddressLine3"
                  [(ngModel)]="kycModel.line3">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label class="">Region*</label>
                <input type="text" class="form-control" placeholder="Region" formControlName="region" required name="region" [(ngModel)]="kycModel.region"
                  [ngClass]="{'is-invalid': submittedTry && g.region.errors}">
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <label>Post Code*</label>
                <input type="text" class="form-control" placeholder="Post Code" formControlName="pin" required name="postCode" [(ngModel)]="kycModel.postCode"
                  [ngClass]="{'is-invalid': submittedTry && g.pin.errors}" minlength="3" maxlength="8">
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margintop2per marginBtm2per">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" align="right">
              <button class="btn cancelBtn width35per widthXs" type="button" (click)="goBack()">Previous</button>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 resMarginTop2per" align="left">
              <button class="btn mainBtn width35per widthXs" type="submit">Request Upgrade</button>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
</div>
