h1, h2, h3, h4, h5, h6 {
    color:#008fc1;
    font-family: 'Open Sans', sans-serif !important;
  }
  .iconstyle{
    font-size:18px;
    color:#008fc1;
    cursor:pointer;
  
  }
  .smallPadding{
      padding-top: 1%
    }
    .zeroPadding{
      padding: 0px
    }
    .marginTop{
      margin-top: 2%;
    }
  
    .customHW{
      width: 20px;height: 20px
    }
    .mdl-data-table tbody tr:focus {
      background-color: #fffced;
    }
    .table tr.active td {
      background-color:#123456 !important;
      color: white;
    }
    .custom-button {
      background-color: transparent;
      border: 1px solid #c7c7c7;
      border-radius: 0rem;
      margin-right: .7rem;
    }
    .custom-table-icon{
      background-color: transparent;
      border: 0px;
      outline: none;
      vertical-align: middle;
      margin-top: 8px;
      font-size: 20px;
      min-width: 45px;
    }
    .customize-material-icons {
      font-size: 20px;
      color:#757575;
    }
    .custom-table-heading {
      background-color:  #f7f7f7;
      font-size: 12px !important;
      text-transform: uppercase;
      border-top: 1px solid #e0e0e0;
    }
    .mdl-data-table {
      font-size: 12px !important;
    }
    .mdl-data-table th {
      font-size: 12px !important;
      font-weight: 600 !important;
    }
    .mdl-data-table td {
  
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      box-sizing: border-box;
    }
    .btn-default {
      border: 1px solid transparent;
      border-radius: 3px;
      color: #333;
      background-color: #fff;
      border-color: #ddd;
      box-shadow: none;
    }
    .btn-defaultnew{
      border: 1px solid transparent;
      border-radius: 3px;
      color: #333;
      background-color: #fff;
      border-color: #ddd;
      box-shadow: none;
  
    }
    .borderBottom{
      border-bottom: 1px solid #dbdbdb;
    }
    .paddingbottom1per{
      padding-bottom: 1% !important;
    }
    .paddingLeft30{
      padding-left: 30px !important;
    }
  
    .margintop2per{
      margin-top: 2% !important;
    }
    .margintop1per{
      margin-top: 1%;
    }
    .alignCenter{
      text-align:center;
    }
    .labelBlock {
      display: block;
    }
    .mTop2Rem{
      margin-top:2rem;
    }
    .pHeadStyle{
      background-color:#eee;
      padding-bottom: 1%; 
      border-bottom: 1px solid #eee;
      margin-top: 0%;
      padding-top: 1%;
    }
  
  
    .headClass{
      background-color:#fcfcfc; 
      border-top:0px;
      padding:1%;
    }
    .headClass1{
      background-color:#fefefe; 
      border-top:0px;
      padding:1%;
  
    }
  
    .headClass:hover, .headClass1:hover {
      background-color:#f9f9f9;  
    }
    .mdl-data-table th {
      background-color: #f5f5f5;
    }
    .accesnding{
      color: #cccccc !important;
      cursor: pointer;
      position: absolute;
      top: 8px;
      transform: rotate(90deg)
    }
    .decending{
      cursor: pointer;
      color:#cccccc;
      position: absolute;
      top: 18px;
      transform: rotate(90deg)
    }
    .customFluid{
      margin-top:-5%;
      padding: 0px !important;
    }
    .btn-default {
      border: 1px solid transparent;
      border-radius: 3px;
      color: #333;
      background-color: #fff;
      border-color: #ddd;
      box-shadow: none;
    
    }
    .btnOuter{
      color: #ffffff !important;
      background-color: #c73f29 !important;
      box-shadow: none !important;
      border-radius: 5px !important;
    }
    .REQUESTED{
      color: #c73f29;
    }
    .ISSUED{
      color: #75c830;
    }
    .paddingbottom1per{
      padding-bottom: 1%;
    }
    .paginationPosition {
      font-size: 15px;
      margin-right: 2em;
    }
    .btnMargin {
      border-radius: 0rem;
      margin-right: .7rem;
    }
    .custom-button {
      border: 1px solid #c7442c;
      border-radius: 0rem;
      margin-right: .7rem;
      color: #fff;
      background-color: #bb1515;
      border: 1px solid #c7442c;
    }
    .paddingleft1rem{
      padding-left: 2rem
    }
    .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 4px solid;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    
    }
    .sort{
      position: absolute;
      top: 20px;
      margin-left: 2%;
      margin-top: 3%;
      cursor: pointer;
    }
    
    .sort .up {
      border-bottom: 4px solid #000;
      border-top: 0;
      display: block;
    
    }
    .sort .down{
      margin-bottom: 17px;
    }
    .addonStyle :not(:last-child){
      border-right: 1px solid #d9d9d9 !important;
    
    }
    .btnStylee{
      border: 1px solid #dbdbdb;
      border-radius: 0rem;
      margin-right: .7rem;
      color: #212121;
      background-color: #ececec66;
    }
    .input-group-addon {
      padding: 2% 1% 2% 2% !important;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #000;
      font-size: 13px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #000;
      font-size: 13px;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #000;
      font-size: 13px;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #000;
      font-size: 13px;
    }

    .with-maxwidth {
      position: relative;
      z-index: 2;
    }

    
   
    