.PERSONAL_DEFAULT, .WORK_DEFAULT, .SKILLS_DEFAULT, .COURSE_DEFAULT, .WORKATTESTATION_DEFAULT, .QUALIFICATION_DEFAULT, .PERSONAL_ORG, .WORK_ORG, .SKILLS_ORG, .COURSE_ORG, .WORKATTESTATION_ORG, .QUALIFICATION_ORG {
  background-image: url("../../../assets/images/1511931102295.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.WORK_TEMP {
  background-image: url("../../../assets/images/cert-templates/template-2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.SKILLS_TEMP {
  background-image: url("../../../assets/images/cert-templates/template-3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.COURSE_TEMP {
  background-image: url("../../../assets/images/cert-templates/template-4.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.WORKATTESTATION_TEMP {
  background-image: url("../../../assets/images/cert-templates/template-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.QUALIFICATION_TEMP {
  background-image: url("../../../assets/images/cert-templates/template-2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.PERSONAL_TEMP {
  background-image: url("../../../assets/images/cert-templates/template-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.ch4 h4 {
  margin-top: 14px !important;
}

.titleHead {
  font-family: 'UnifrakturMaguntia', cursive !important;
}

.titleHead p {
  line-height: 18px !important;
}

.keyWords p {
  line-height: 18px !important;
}
.custom-profile-pic{
  width: 100px; height: 100px; border-radius: 40px
}
