<section>
  <div class="row" style="border-bottom: 1px solid #ccc">
    <div class="col-md-12" align="center">
      <p><b> Certificate View</b></p>
    </div>
  </div>
  <div class="row main-body">
    <div class="col-md-12" [ngClass]="data.tempType" style="margin-top: 2%">
      <div class="col-md-12" style="margin-top: 5%" align="center">
        <div
          *ngIf="data.tempType == 'PERSONAL_ORG' || data.tempType == 'WORK_ORG' || data.tempType == 'SKILLS_ORG' || data.tempType == 'COURSE_ORG' || data.tempType == 'WORKATTESTATION_ORG' || data.tempType == 'QUALIFICATION_ORG'"
          class="logo" style="position: absolute;top: 35%;left:8%;z-index: 1000">
          <img *ngIf="!data?.orgLogo" src="assets/images/profile_pic.jpg" class="custom-profile-pic ">
          <img *ngIf="data?.orgLogo" [src]="data?.orgLogo" class="img-responsive">
        </div>
        <h4 class="titleHead" *ngIf="data.cert !== 'Certificate'"> Endrosement of {{data?.certificate}} Claim</h4>
        <h4 class="titleHead" *ngIf="data.cert === 'Certificate'"> Certificate of {{data?.certificate}} </h4>
        <p> Claim Name: <b> {{data?.certificate}} </b></p>
        <p> Employee ID: XXX </p>
        <p> Period: XXX</p>
      </div>
      <div class="col-md-12 ch4" align="center" style="border-top: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee">
        <h4> {{loginResponse?.personName}} </h4>
      </div>
      <div class="col-md-12 keyWords " style="margin-top: 2%;margin-bottom: 12%;padding-bottom: 5%">
        <p> Key words: <span> XXX</span> <span> XXX</span></p>
        <p> Comments :</p>
        <p style="margin-bottom: 4%"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
          Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley </p>
      </div>
    </div>
  </div>
  <div class="row" style="border-top: 1px solid #ccc;">
    <div class="col-4">
    </div>
    <div class="col-8 text-right " style="margin-top: 1%">
      <!-- <img *ngIf="showLoader" src="assets/images/source.gif" style="width:20px; height: 20px;">-->
      <button (click)="close()" class="btn btn-primary" type="button" style="width:9rem;"> Ok</button>
    </div>
  </div>

</section>
