@charset "UTF-8";

@font-face {
  font-family: "custom-font";
  src:url("fonts/custom-font.eot");
  src:url("fonts/custom-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/custom-font.woff") format("woff"),
    url("fonts/custom-font.ttf") format("truetype"),
    url("fonts/custom-font.svg#custom-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "custom-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "custom-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-streamline-umbrella-weather:before {
  content: "\61";
}
.icon-streamline-sync:before {
  content: "\62";
}
.icon-streamline-suitcase-travel:before {
  content: "\63";
}
.icon-stamp-streamline:before {
  content: "\64";
}
.icon-speech-streamline-talk-user:before {
  content: "\65";
}
.icon-shoes-snickers-streamline:before {
  content: "\66";
}
.icon-settings-streamline-2:before {
  content: "\67";
}
.icon-settings-streamline-1:before {
  content: "\68";
}
.icon-settings-streamline:before {
  content: "\69";
}
.icon-notebook-streamline:before {
  content: "\6a";
}
.icon-paint-bucket-streamline:before {
  content: "\6b";
}
.icon-painting-pallet-streamline:before {
  content: "\6c";
}
.icon-painting-roll-streamline:before {
  content: "\6d";
}
.icon-pen-streamline:before {
  content: "\6e";
}
.icon-pen-streamline-1:before {
  content: "\6f";
}
.icon-pen-streamline-2:before {
  content: "\70";
}
.icon-pen-streamline-3:before {
  content: "\71";
}
.icon-photo-pictures-streamline:before {
  content: "\72";
}
.icon-picture-streamline:before {
  content: "\73";
}
.icon-picture-streamline-1:before {
  content: "\74";
}
.icon-receipt-shopping-streamline:before {
  content: "\75";
}
.icon-remote-control-streamline:before {
  content: "\76";
}
.icon-music-speaker-streamline:before {
  content: "\77";
}
.icon-music-note-streamline:before {
  content: "\78";
}
.icon-monocle-mustache-streamline:before {
  content: "\79";
}
.icon-micro-record-streamline:before {
  content: "\7a";
}
.icon-map-pin-streamline:before {
  content: "\41";
}
.icon-map-streamline-user:before {
  content: "\42";
}
.icon-man-people-streamline-user:before {
  content: "\43";
}
.icon-magnet-streamline:before {
  content: "\44";
}
.icon-magic-magic-wand-streamline:before {
  content: "\45";
}
.icon-macintosh:before {
  content: "\46";
}
.icon-locker-streamline-unlock:before {
  content: "\47";
}
.icon-lock-locker-streamline:before {
  content: "\48";
}
.icon-link-streamline:before {
  content: "\49";
}
.icon-happy-smiley-streamline:before {
  content: "\4a";
}
.icon-headset-sound-streamline:before {
  content: "\4b";
}
.icon-home-house-streamline:before {
  content: "\4c";
}
.icon-ibook-laptop:before {
  content: "\4d";
}
.icon-ink-pen-streamline:before {
  content: "\4e";
}
.icon-ipad-streamline:before {
  content: "\4f";
}
.icon-iphone-streamline:before {
  content: "\50";
}
.icon-ipod-mini-music-streamline:before {
  content: "\51";
}
.icon-ipod-music-streamline:before {
  content: "\52";
}
.icon-ipod-streamline:before {
  content: "\53";
}
.icon-japan-streamline-tea:before {
  content: "\54";
}
.icon-laptop-macbook-streamline:before {
  content: "\55";
}
.icon-like-love-streamline:before {
  content: "\56";
}
.icon-handle-streamline-vector:before {
  content: "\57";
}
.icon-grid-lines-streamline:before {
  content: "\58";
}
.icon-armchair-chair-streamline:before {
  content: "\59";
}
.icon-arrow-streamline-target:before {
  content: "\5a";
}
.icon-backpack-streamline-trekking:before {
  content: "\30";
}
.icon-bag-shopping-streamline:before {
  content: "\31";
}
.icon-barbecue-eat-food-streamline:before {
  content: "\32";
}
.icon-barista-coffee-espresso-streamline:before {
  content: "\33";
}
.icon-bomb-bug:before {
  content: "\34";
}
.icon-book-dowload-streamline:before {
  content: "\35";
}
.icon-book-read-streamline:before {
  content: "\36";
}
.icon-browser-streamline-window:before {
  content: "\37";
}
.icon-brush-paint-streamline:before {
  content: "\38";
}
.icon-caddie-shop-shopping-streamline:before {
  content: "\39";
}
.icon-caddie-shopping-streamline:before {
  content: "\21";
}
.icon-camera-photo-polaroid-streamline:before {
  content: "\22";
}
.icon-camera-photo-streamline:before {
  content: "\23";
}
.icon-camera-streamline-video:before {
  content: "\24";
}
.icon-chaplin-hat-movie-streamline:before {
  content: "\25";
}
.icon-chef-food-restaurant-streamline:before {
  content: "\26";
}
.icon-clock-streamline-time:before {
  content: "\27";
}
.icon-cocktail-mojito-streamline:before {
  content: "\28";
}
.icon-coffee-streamline:before {
  content: "\29";
}
.icon-computer-imac:before {
  content: "\2a";
}
.icon-computer-network-streamline:before {
  content: "\2b";
}
.icon-computer-streamline:before {
  content: "\2c";
}
.icon-cook-pan-pot-streamline:before {
  content: "\2d";
}
.icon-crop-streamline:before {
  content: "\2e";
}
.icon-crown-king-streamline:before {
  content: "\2f";
}
.icon-danger-death-delete-destroy-skull-stream:before {
  content: "\3a";
}
.icon-dashboard-speed-streamline:before {
  content: "\3b";
}
.icon-database-streamline:before {
  content: "\3c";
}
.icon-delete-garbage-streamline:before {
  content: "\3d";
}
.icon-design-graphic-tablet-streamline-tablet:before {
  content: "\3e";
}
.icon-design-pencil-rule-streamline:before {
  content: "\3f";
}
.icon-earth-globe-streamline:before {
  content: "\40";
}
.icon-eat-food-fork-knife-streamline:before {
  content: "\5b";
}
.icon-eat-food-hotdog-streamline:before {
  content: "\5d";
}
.icon-edit-modify-streamline:before {
  content: "\5e";
}
.icon-email-mail-streamline:before {
  content: "\5f";
}
.icon-envellope-mail-streamline:before {
  content: "\60";
}
.icon-eye-dropper-streamline:before {
  content: "\7b";
}
.icon-factory-lift-streamline-warehouse:before {
  content: "\7c";
}
.icon-first-aid-medecine-shield-streamline:before {
  content: "\7d";
}
.icon-food-ice-cream-streamline:before {
  content: "\7e";
}
.icon-frame-picture-streamline:before {
  content: "\5c";
}
.icon-diving-leisure-sea-sport-streamline:before {
  content: "\e000";
}
.icon-drug-medecine-streamline-syringue:before {
  content: "\e001";
}
.icon-computer-imac-2:before {
  content: "\e002";
}
.icon-computer-macintosh-vintage:before {
  content: "\e003";
}
.icon-bubble-comment-streamline-talk:before {
  content: "\e004";
}
.icon-bubble-love-streamline-talk:before {
  content: "\e005";
}
.icon-clock:before {
  content: "\e006";
}
.icon-cloud:before {
  content: "\e007";
}
.icon-cup:before {
  content: "\e008";
}
.icon-data:before {
  content: "\e009";
}
.icon-diamond:before {
  content: "\e00a";
}
.icon-display:before {
  content: "\e00b";
}
.icon-eye:before {
  content: "\e00c";
}
.icon-location:before {
  content: "\e013";
}
.icon-lock:before {
  content: "\e014";
}
.icon-mail:before {
  content: "\e015";
}
.icon-megaphone:before {
  content: "\e016";
}
.icon-music:before {
  content: "\e017";
}
.icon-news:before {
  content: "\e018";
}
.icon-note:before {
  content: "\e019";
}
.icon-paperplane:before {
  content: "\e01a";
}
.icon-params:before {
  content: "\e01b";
}
.icon-pen:before {
  content: "\e01c";
}
.icon-phone:before {
  content: "\e01d";
}
.icon-photo:before {
  content: "\e01e";
}
.icon-search:before {
  content: "\e01f";
}
.icon-settings:before {
  content: "\e020";
}
.icon-shop:before {
  content: "\e021";
}
.icon-sound:before {
  content: "\e022";
}
.icon-stack:before {
  content: "\e023";
}
.icon-star:before {
  content: "\e024";
}
.icon-study:before {
  content: "\e025";
}
.icon-t-shirt:before {
  content: "\e026";
}
.icon-tag:before {
  content: "\e027";
}
.icon-trash:before {
  content: "\e028";
}
.icon-truck:before {
  content: "\e029";
}
.icon-tv:before {
  content: "\e02a";
}
.icon-user:before {
  content: "\e02b";
}
.icon-vallet:before {
  content: "\e02c";
}
.icon-video:before {
  content: "\e02d";
}
.icon-vynil:before {
  content: "\e02e";
}
.icon-world:before {
  content: "\e02f";
}
.icon-banknote:before {
  content: "\e00d";
}
.icon-bubble:before {
  content: "\e00e";
}
.icon-bulb:before {
  content: "\e00f";
}
.icon-calendar:before {
  content: "\e010";
}
.icon-camera:before {
  content: "\e011";
}
.icon-clip:before {
  content: "\e012";
}
.icon-fire:before {
  content: "\e030";
}
.icon-food:before {
  content: "\e031";
}
.icon-heart:before {
  content: "\e032";
}
.icon-key:before {
  content: "\e033";
}
.icon-lab:before {
  content: "\e034";
}
.icon-like:before {
  content: "\e035";
}
.icon-bag:before {
  content: "\e036";
}
.icon-bicycle:before {
  content: "\e037";
}
.icon-bicycle-vintage:before {
  content: "\e038";
}
.icon-browser-empty:before {
  content: "\e039";
}
.icon-browser-full:before {
  content: "\e03a";
}
.icon-bubble-1:before {
  content: "\e03b";
}
.icon-bubble-2:before {
  content: "\e03c";
}
.icon-bubble-3:before {
  content: "\e03d";
}
.icon-camera-1:before {
  content: "\e03e";
}
.icon-clap-board:before {
  content: "\e03f";
}
.icon-clipboard:before {
  content: "\e040";
}
.icon-clock-1:before {
  content: "\e041";
}
.icon-cloud-1:before {
  content: "\e042";
}
.icon-cloudy:before {
  content: "\e043";
}
.icon-envelope:before {
  content: "\e044";
}
.icon-file-ai:before {
  content: "\e045";
}
.icon-file-jpg:before {
  content: "\e046";
}
.icon-file-png:before {
  content: "\e047";
}
.icon-file-psd:before {
  content: "\e048";
}
.icon-file-text:before {
  content: "\e049";
}
.icon-graph:before {
  content: "\e04a";
}
.icon-heart-1:before {
  content: "\e04b";
}
.icon-hierarchy:before {
  content: "\e04c";
}
.icon-hierarchy-2:before {
  content: "\e04d";
}
.icon-imac:before {
  content: "\e04e";
}
.icon-ipad:before {
  content: "\e04f";
}
.icon-iphone:before {
  content: "\e050";
}
.icon-keyboard:before {
  content: "\e051";
}
.icon-laptop:before {
  content: "\e052";
}
.icon-line:before {
  content: "\e053";
}
.icon-list:before {
  content: "\e054";
}
.icon-list-thumbnails:before {
  content: "\e055";
}
.icon-lock-1:before {
  content: "\e056";
}
.icon-magnifier:before {
  content: "\e057";
}
.icon-map:before {
  content: "\e058";
}
.icon-map-pin:before {
  content: "\e059";
}
.icon-moon:before {
  content: "\e05a";
}
.icon-mouse:before {
  content: "\e05b";
}
.icon-pencil:before {
  content: "\e05c";
}
.icon-pencil-ruler:before {
  content: "\e05d";
}
.icon-picture:before {
  content: "\e05e";
}
.icon-rain:before {
  content: "\e05f";
}
.icon-ribbon:before {
  content: "\e060";
}
.icon-shoe:before {
  content: "\e061";
}
.icon-speaker:before {
  content: "\e062";
}
.icon-speaker-off:before {
  content: "\e063";
}
.icon-sun:before {
  content: "\e064";
}
.icon-tape:before {
  content: "\e065";
}
.icon-target:before {
  content: "\e066";
}
.icon-unlock:before {
  content: "\e067";
}
.icon-bell-1:before {
  content: "\e068";
}
.icon-bell-2:before {
  content: "\e069";
}
.icon-print:before {
  content: "\e06a";
}
.icon-time:before {
  content: "\e06b";
}
.icon-table:before {
  content: "\e06c";
}
