<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
  <div class="row" [ngClass]="className">
    <div class="col-md-12">
      <img *ngIf="!hero?.certificate?.orgUrl"
           src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer">
      <img *ngIf="hero?.certificate?.orgUrl" [src]="hero?.certificate?.orgUrl"
           class="custom-profile-pic cursorPointer">
      <p class="pull-right m-t-6per"> Date Issued: <br> {{mm.utc(hero?.certificate?.issuedDate).format('MM/DD/YYYY')}}
      </p>
    </div>
    <div class="col-md-12">
      <p><b> To Whom It May Concern: </b></p>
      <p> This letter is to confirm that  <b>{{hero?.person?.firstName}} {{hero?.person?.lastName}}</b> is
        attended the <b>{{hero?.certificate?.issuerUnvName}}</b> event which took place between
        <b>{{mm.utc(hero?.certificate?.periodFromDate).format('MM/DD/YYYY')}}</b> - <b>{{mm.utc(hero?.certificate?.periodEndDate).format('MM/DD/YYYY')}} </b>.</p>

      <!--   <p><b>{{hero?.person?.firstName}} {{hero?.person?.lastName}}</b> started working in this capacity
        on <b>{{mm.utc(hero?.certificate?.periodFromDate).format('MM/DD/YYYY')}}</b> and ended his employment
        in this position on <b>{{mm.utc(hero?.certificate?.periodEndDate).format('MM/DD/YYYY')}} </b>
      </p>-->
      <p>Our records can confirm the attendance of the person above.</p>

  <!--    <p>If you require any additional information, please contact me at
        <b>{{personResponse?.person?.phones[0]?.countryCode}}
          {{personResponse?.person?.phones[0]?.number}}</b> or
        via
        email <b>{{personResponse?.person?.emails[0]?.email}} </b></p>-->
      <p> Regards</p>
      <p><span>  <img src="assets/images/sign.svg" style="width: 30%"></span> <br>
        {{personResponse?.person?.firstName}} {{personResponse?.person?.lastName}}
      </p>
    </div>
    <div class="col-md-12  ">
      <div class="col-md-12 footer" style="margin-top: 2%">
        <div class="row">
          <div class="col-md-6 ">
            <p> Reg. {{hero?.organisation?.listOfCompany[0]?.registrationNumber}}<br>{{hero?.organisation?.organisation?.address[0]?.line1}}<br>{{hero?.organisation?.organisation?.address[0]?.line2}}<br>{{hero?.organisation?.organisation?.address[0]?.line3}}<br>{{hero?.organisation?.organisation?.address[0]?.country}}
            </p>
          </div>
          <div class="col-md-6">
            <p> Ph: {{personResponse?.person?.phones[0]?.countryCode}} {{personResponse?.person?.phones[0]?.number}}
              <br> {{footerInfo?.organisation?.website}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
