<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 girdStyle">
  <div class="row" [ngClass]="className">
    <div class="col-md-12">
      <img *ngIf="!hero?.certificate?.orgUrl"
           src="assets/images/profile_pic.jpg" class="custom-profile-pic cursorPointer">
      <img *ngIf="hero?.certificate?.orgUrl" [src]="hero?.certificate?.orgUrl"
           class="custom-profile-pic cursorPointer">
      <p class="pull-right m-t-6per"> Date Issued: <br> {{mm.utc(hero?.certificate?.issuedDate).format('MM/DD/YYYY')}}
      </p>
    </div>
    <div class="col-md-12">
      <p><b> Dear Sir / Madame </b></p>

      <p> I have known <b>{{hero?.person?.firstName}} {{hero?.person?.lastName}}</b> professionally for the last <b>
        Known years</b> years as
        he was an employee in my organisation.
      </p>
      <p>
        During this time I have found <b>{{hero?.person?.firstName}} {{hero?.person?.lastName}}</b> to be
        an outstanding and trustworthy person. <b>{{hero?.person?.firstName}}</b> achieved numerous
          accomplishments during the time in <b>{{hero?.certificate?.issuerUnvName}}</b> and was liked and respected
            by the work colleagues.
      </p>
      <p>
        I found <b>{{hero?.person?.firstName}}</b> to be honest, hardworking and with attention for details. During
        the time in <b>{{hero?.certificate?.issuerUnvName}}</b>, <b>{{hero?.person?.firstName}}</b> was leading a small team and
          turned out to have excellent management skills.

      </p>
      <p> I can highly recommend <b>{{hero?.person?.firstName}} {{hero?.person?.lastName}}</b> for the position of <b> {{hero?.certificate?.position}}</b> </p>

      <!-- <p> This letter is to verify that <b>{{hero?.person?.firstName}} {{hero?.person?.lastName}}</b> is
         employed at <b>{{hero?.certificate?.issuerUnvName}}</b> in the position of
         <b>{{hero?.certificate?.certificateName }}</b>.</p>
       <p><b>{{hero?.person?.firstName}} {{hero?.person?.lastName}}</b> started working in this capacity
         on <b>{{mm.utc(hero?.certificate?.periodFromDate).format('MM/DD/YYYY')}}</b> and ended his employment
         in this position on <b>{{mm.utc(hero?.certificate?.periodEndDate).format('MM/DD/YYYY')}} </b>
       </p>-->


      <p>If you require any additional information, please contact me at
        <b>{{personResponse?.person?.phones[0]?.countryCode}}
          {{personResponse?.person?.phones[0]?.number}}</b> or
        via
        email <b>{{personResponse?.person?.emails[0]?.email}} </b></p>
      <p> Yours sincerely</p>
      <p><span>  <img src="assets/images/sign.svg" style="width: 30%"></span> <br>
        {{personResponse?.person?.firstName}} {{personResponse?.person?.lastName}}
      </p>
    </div>
    <div class="col-md-12  ">
      <div class="col-md-12 footer" style="margin-top: 2%">
        <div class="row">
          <div class="col-md-6 ">
            <p> Reg. {{hero?.organisation?.listOfCompany[0]?.registrationNumber}}<br>{{hero?.organisation?.organisation?.address[0]?.line1}}<br>{{hero?.organisation?.organisation?.address[0]?.line2}}<br>{{hero?.organisation?.organisation?.address[0]?.line3}}<br>{{hero?.organisation?.organisation?.address[0]?.country}}
            </p>
          </div>
          <div class="col-md-6">
            <p> Ph: {{personResponse?.person?.phones[0]?.countryCode}} {{personResponse?.person?.phones[0]?.number}}
              <br> {{footerInfo?.organisation?.website}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
