<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">

  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a>Certs</a>
    </li>
    <li class="breadcrumb-item active">Issued Certificates</li>
  </ol>
  <!-- Breadcumbs -->
  <article class="article">
    <div class="row " style="margin-bottom: 1%">
      <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8" *ngIf="orgDetails.organisation?.stripePlanName != 'Trial'">
        <button class="btn btn-secondary-color cancelBtn" type="button" (click)="issueCert('cert')">Issue Certificate
        </button>
         <button class="btn btn-secondary-color cancelBtn" type="button" (click)="issueCert('group')">Issue to group
        </button>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 margin" align="right">

      </div>
    </div>
    <div class="box box-default">
      <div class="box-body" style="padding:0px;">
        <div class="row borderBottom marginZero">
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
            <h5 class="lHeightStyle">Issued Certificates</h5>
          </div>

          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 padding6px">
            <div class="input-group input-sm pull-center searchClass" data-toggle="dropdown" data-hover="dropdown"
                 style="height: 38px; ">
              <span class="input-group-addon" data-toggle="dropdown" [mdMenuTriggerFor]="menu" data-hover="dropdown"
                    style="cursor: pointer;  width:3.2rem "
                    id="basic-addon1">
                <i class=" dropdown material-icons" style="font-size:20px">search</i>
                <i class=" dropdown material-icons m-l-minus5px" style="transform: rotate(270deg); font-size:15px;">chevron_left</i>
              </span>
              <input type="text" class="form-control input-sm fontsize13px" [(ngModel)]="searchValue"
                     placeholder="{{placeholdervalue }}"
                     aria-describedby="basic-addon1"
                     style=" border-radius: 3px;border-top-left-radius: 0;border-bottom-left-radius: 0;height: 2rem;"
                     (keyup)="getSearchResult()">
              <md-menu #menu="mdMenu" class="custom-width">
                <button md-menu-item class="searchItem" disabled>Search By</button>
                <button md-menu-item class="searchItem" (click)="selectedSearch('personName')">Recipient
                </button>
                <button md-menu-item class="searchItem" (click)="selectedSearch('certificateName')">Name
                </button>
              </md-menu>
            </div>
          </div>
        </div>


        <div class="row marginZero">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 padding1Per">
              <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize"
                      (change)="recordsPerPage()">
                <option value="10" selected> 10 Records per page</option>
                <option value="20"> 20 Records per page</option>
                <option value="40"> 40 Records per page</option>
                <option value="60"> 60 Records per page</option>
                <option value="80"> 80 Records per page</option>
                <option value="100"> 100 Records per page</option>
              </select>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-4 padding1Per">
              <select class="selectBoxStyles fontsize13px height28px" placeholder="Select" disableRipple
                      [(ngModel)]="filterData" (change)="getFilter(filterData)">
                <option value="ALL">All</option>
                <!--  <option value="ENDORSEMENT">Endorsement</option>-->
                <option value="WORK_ATTESTATION">Work Attestation</option>
                <option value="QUALIFICATION_CERTIFICATE">Qualification Certificate</option>
                <option value="ATTENDANCE_LETTER">Attendance Letter</option>
                <option value="PROOF_OF_INTERNSHIP">Proof of Internship</option>
                <option value="LICENSE_CERTIFICATE">License Certificate</option>
                <option value="REFERENCE_LETTER">Reference Letter</option>
              </select>
            </div>
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2 padding1Per">
              <div class="row">
                <span (click)="prevPage()" style="cursor: pointer">
                  <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                </span>
                <span> {{firstItem}}
                  <span style="color: #cccccc"> to</span> {{lastItem}}</span>
                <span (click)="nextPage()" style="cursor: pointer;">
                  <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="box box-default table-box table-responsive table-sm mdl-shadow--2dp noMarginBottom">
          <table class="mdl-data-table borderZero">
            <thead>
            <tr class="custom-table-heading borderZero">
              <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover"
                  (click)="sortingName('personName')">Receipient
                <i *ngIf="!nameSort" class="fa fa-sort" aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'personName' && sortingOrder == '')" class="fa fa-sort"
                   aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'personName' && sortingOrder == 'ASC')" class="fa fa-sort-asc"
                   aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'personName' && sortingOrder == 'DESC')" class="fa fa-sort-desc"
                   aria-hidden="true"></i>

              </th>
              <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover" (click)="sortingName('certType')">
                Type
                <i *ngIf="!requestSort" class="fa fa-sort" aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'certType' && sortingOrder == '')" class="fa fa-sort" aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'certType' && sortingOrder == 'ASC')" class="fa fa-sort-asc"
                   aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'certType' && sortingOrder == 'DESC')" class="fa fa-sort-desc"
                   aria-hidden="true"></i>
              </th>
              <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover"
                  (click)="sortingName('certificateName')"> Name
                <i *ngIf="!certNameSort" class="fa fa-sort" aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'certificateName' && sortingOrder == '')" class="fa fa-sort"
                   aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'certificateName' && sortingOrder == 'ASC')" class="fa fa-sort-asc"
                   aria-hidden="true"></i>
                <i *ngIf="(sortingField== 'certificateName' && sortingOrder == 'DESC')" class="fa fa-sort-desc"
                   aria-hidden="true"></i>
              </th>
              <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover "> STATUS
              </th>
              <th class="mdl-data-table__cell--non-numeric cursorPointer titleHover text-center"> Issued Date
              </th>
            </tr>
            </thead>
            <tbody *ngFor="let certIssued of certsIssuedList; let i=index">
            <tr style="cursor: pointer" (click)="selectRow(certIssued,i,$event); verify(certIssued)">
              <td class="mdl-data-table__cell--non-numeric ">{{certIssued?.recipientName}}</td>
              <td class="mdl-data-table__cell--non-numeric ">{{certIssued?.certificateType}}</td>
              <td class="mdl-data-table__cell--non-numeric ">{{certIssued?.certificateName}}</td>
              <td class="mdl-data-table__cell--non-numeric "><span *ngIf="certIssued?.isValid">Issued </span> <span
                *ngIf="!certIssued?.isValid"> Revoked </span></td>
              <td class="mdl-data-table__cell--non-numeric text-center">
                {{certIssued?.issuedDate | date : 'd-MM-y'}}
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="showLoader">
            <tr>
              <td colspan="6" class="noPaddingTop">
                <h6 align="center" class="fontsize13px colorBlack">
                  <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
                </h6>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="certsIssuedList?.length == 0 && !showLoader">
            <tr>
              <td colspan="6" class="noPaddingTop">
                <h6 align="center" class="fontsize13px colorBlack">
                  <img *ngIf="!showLoader" src="assets/images/empty-table.png" class="noDataImageStyles">
                  <br>Uhh.. There is no data at this moment</h6>
              </td>
            </tr>
            </tbody>
          </table>
        </div>


        <div class="row marginZero">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 valignMiddle">
            <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7 " style="padding: 1%">
              <span style="font-size: 15px;">Total Count: {{totalpages}}</span>
            </div>
            <div align="right" class="col-md-3 col-lg-3 col-xs-3 col-sm-3" style="padding: 1%">
              <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize"
                      (change)="recordsPerPage()">
                <option value="10" selected> 10 Records per page</option>
                <option value="20"> 20 Records per page</option>
                <option value="40"> 40 Records per page</option>
                <option value="60"> 60 Records per page</option>
                <option value="80"> 80 Records per page</option>
                <option value="100"> 100 Records per page</option>
              </select>
            </div>
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <div class="row">
                <span (click)="prevPage()" style="cursor: pointer">
                  <i class="fa fa-angle-left cIcon" aria-hidden="true"></i>
                </span>
                <span>{{firstItem}}
                  <span style="color: #cccccc"> to</span> {{lastItem}}</span>
                <span (click)="nextPage()" style="cursor: pointer;">
                  <i class="fa fa-angle-right cIcon" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
           <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margintop2per marginbottom2per ">
             <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 pull-right" align="right">

             </div>
           </div>
         </div>-->

      </div>
    </div>
  </article>
</section>
