.canvas-size{
  justify-content: center;
  align-items: center;
  position: relative;  
}
.inner-canvas{
  position: absolute;
  min-width: 480px;
  max-width: 480px;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.text-right {
  position: absolute;
  right: 10% !important;
  color: #f37120;
  cursor: pointer;
}
.p-1{
  padding:1rem !important;
}

.linkedInbtn{
  background-color : #2876b4 !important;
}
.forgotPwdStyle {
  font-size: 11px;
  color: #008fc1;
  text-decoration: underline;
}

.form-control {
  padding: 1.5rem 1rem;
  box-shadow: none;
}

.btn {
  padding: .97rem 1rem;
  margin-top: 0.5rem;
  border: 0;
  background-color: #009bbd;
}

.bg-color {
  /* background-color: #fbffff; */
  background-image: url('../../../assets/images/certtin-bg.jpg');
}

.card {
  box-shadow: none;
  padding: 30px 30px;
  border-radius: 5px;
}

.card .card-content {
  padding: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}
.login-title {
  color: #009bbd;
  margin-top: 0;
}
label
{
  font-weight: 500;
  margin-bottom: 0.2rem;
  font-size: 13px;
  color: #909090;
}
.btn-primary
{
  text-shadow: none;
  box-shadow: none;
}
.pl-2{
  padding-left: 2rem !important;
}
.pr-2{
  padding-right: 2rem !important;
}
.mb-10{
  margin-bottom:10px;
}
.forgot-info{
  color: #868e96;
  background-color: rgba(197, 197, 197, 0.04);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  font-size: 0.875rem;
  border-top: 1px solid #ececec;
  color: #009bbd;
}
.forgot-info a {
  text-decoration: none;
}
.linkBg{
  background-color: #0073b1;
}
.linkBg:hover{
  background-color: #006097;
}
.logBg:hover{
  background-color: #0187a4;
}

@media only screen and (max-width: 420px) {
  .custom-width-50{
    width:50%;
  }
  .small-font11{
    font-size: 11px;
  }
}