<div class="page-auth canvas-size bg-color">
  <div class="main-body inner-canvas" style="padding: 0;">
    <div class="card card-white">
      <div class="card-content">
        <div align="center" class="col">
          <a [routerLink]="['/landingPage/home']">  <img src="http://d2btkkuyusotz5.cloudfront.net/certTin/logo/certtin-logo.png" class="img-responsive" style="width: 150px;"></a>
         </div>
        <form [formGroup]="loginForm" class="form-horizontal" (ngSubmit)="login()">
    <!--      <div class="form-group text-center no-margin">
              <h5 class="login-title">Log In </h5>
          </div>-->
          <div class="form-group" style="margin-top: 2%">
            <label> Email * </label>
          <input type="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitTry && f.email.errors }" [(ngModel)]="loginModal.email">
            <!--   <input required class="form-control" type="text" name="email" placeholder="Email" #email="ngModel" [(ngModel)]="loginModal.email"
               [ngClass]="{'red-border-class': email.touched && email.invalid}" [pattern]="aotherPattern">
             <div *ngIf="email.errors?.pattern">
               <span style="font-size: 10px;color: #838383;">
                 <i> Please enter email</i>
               </span>
             </div>-->
          </div>
          <div class="form-group">
            <label> Password * </label>
            <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitTry && f.password.errors }" [(ngModel)]="loginModal.password">
           <!-- <input required class="form-control" type="password" name="passwordd" placeholder="Password" #passwordd="ngModel" [(ngModel)]="loginModal.password"
              [ngClass]="{'red-border-class': passwordd.touched && passwordd.invalid}">-->
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [checked]="rememberChecked" (change)="changeRemember($event)"> Remember me
                  </label>
                </div>
              </div>
            </div>
            <!-- <span class="forgotPwdStyle" [routerLink]="['/extra/forgot-password']"> Forgot Password?</span> -->
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary btn-block logBg" type="submit">
                  Log In
                  <img *ngIf="showLoader" class="loaderPosition" src="assets/images/source.gif" style="width: 27px;height: 27px;">
                </button>
              </div>
            </div>
          </div>
          <h6 style="text-align:center">(or)</h6>
          <!--  <button (click)="dologin()" md-raised-button type="submit" color="primary" class="float-right">Login</button>-->
          <div class="row" >
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center" style="padding:0px;margin-bottom:5%">
              <a href="{{rootPath}}:3000/auth/linkedin">
                <button class="btn btn-primary btn-block linkBg mb-10" (click)="linkedIn()"type="button">Login with LinkedIn
                  <img *ngIf="linkedInLoader" class="loaderPosition" src="assets/images/source.gif" style="width: 27px;height: 27px;">
                </button></a>
            </div>
          </div>        
        </form>
        <div class="forgot-info">
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 custom-width-50 text-left p-1 small-font11">
            <a [routerLink]="['/extra/forgot-password']"> Forgot Your Password?</a>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 custom-width-50 p-1 small-font12">
            <a [routerLink]="['/extra/sign-up']">Create an account </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<ng-progress></ng-progress>-->
<!--<button (click)="progressBar.start()">Start</button>
<button (click)="progressBar.complete()">Complete</button>-->
