<section class="container-fluid with-maxwidth chapter customFluid" style="padding: 0 2% 2% 2%">
  <!-- Breadcumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/app/dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a>Subscriptions</a>
    </li>
    <li class="breadcrumb-item active">My Subscriptions</li>
  </ol>
  <!-- Breadcumbs -->
  <article class="article">
    <div class="box box-default">
      <div class="box-body" style="padding:0px;">
        <div class="row borderBottom" style="margin-right: 0px;margin-left: 0px; ">
          <div class="col-md-8 col-lg-8 col-sm-4 col-xs-6">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <h5>Subscriptons List</h5>
              </div>
            </div>
          </div>
          <!--
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4 " style="padding:1%; margin-left:2.2rem ">
                      <div class="input-group input-sm" style="height: 38px;">
                        <span class="input-group-addon" style="cursor: pointer;  width:3.2rem " [mdMenuTriggerFor]="menu" id="basic-addon1">
                          <i class="material-icons" style="font-size:20px">search</i>
                          <i style="transform: rotate(270deg); font-size:15px;" class="material-icons ">chevron_left</i>
                        </span>
                        <input type="text" class="form-control input-sm fontsize13px" (keyup)="getSearchResult()" [(ngModel)]="searchValue" placeholder="{{placeholdervalue }}"
                          aria-describedby="basic-addon1" style=" border-radius: 3px;border-top-left-radius: 0;border-bottom-left-radius: 0;height: 2rem;">
                        <md-menu #menu="mdMenu" class="custom-width">
                          <button md-menu-item class="searchItem" disabled>Search By</button>
                          <button md-menu-item class="searchItem" (click)="selectedSearch('applicationName')">Application
                          </button>
                        </md-menu>
                      </div>
                    </div>
          -->
        </div>
        <!--
                <div class="row" style="padding:1%;">
                  <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6 paddingLeft">
                    <select class="selectBoxStyles fontsize13px height28px" [(ngModel)]="pageSize" (change)="getCahnaged()" *ngIf="!selectedCheckbox">
                      <option value="10" selected> 10 Records per page</option>
                      <option value="20"> 20 Records per page</option>
                    </select>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    <div class="row" style="margin-left:0px;">
                      <span (click)="prevPage()" style="cursor: pointer">
                        <img src="assets/images/left_arrow.png" class="img-responsive customHW"> </span>
                      <span> 01
                        <span style="color: #cccccc"> to</span> 10</span>
                      <span (click)="nextPage()" style="cursor: pointer;">
                        <img src="assets/images/arrow.png" class="img-responsive customHW"> </span>
                    </div>
                  </div>
                </div>
        -->
        <div class="box box-default table-box table-responsive table-sm mdl-shadow--2dp noMarginBottom">
          <table class="mdl-data-table ">
            <thead >
              <tr class="custom-table-heading">
                <th class="mdl-data-table__cell--non-numeric cursorPointer">Id</th>
                <th class="mdl-data-table__cell--non-numeric">Plan</th>
                <th class="mdl-data-table__cell--non-numeric alignCenter">Created Date</th>
                <th class="mdl-data-table__cell--non-numeric alignCenter"> Status</th>
                <th class="mdl-data-table__cell--non-numeric alignCenter"> Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr style="cursor: pointer" *ngFor="let subscription of subscriptionsList; let i = index">
                <td class="mdl-data-table__cell--non-numeric">{{subscription.id}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{subscription.planName}}</td>
                <td class="mdl-data-table__cell--non-numeric alignCenter">{{ mm.utc(subscription.created).format('MM/DD/YYYY') }}</td>
                <td class="mdl-data-table__cell--non-numeric alignCenter">{{subscription.status | uppercase}}</td>
                <td class="mdl-data-table__cell--non-numeric alignCenter linkStyle">
                  <i (click)="goToDetails(subscription,subscription.id)" class="fa fa-eye iconstyle" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="showLoader">
              <tr>
                <td colspan="5" class="noPaddingTop">
                  <h6 align="center" class="fontsize13px colorBlack">
                    <img *ngIf="showLoader" src="assets/images/loaderGrey.gif" style="width:20px; height: 20px;">
                  </h6>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="subscriptionsList?.length == 0 && !showLoader">
              <tr>
                <td colspan="5" class="noPaddingTop">
                  <h6 align="center" class="fontsize13px colorBlack">
                    <img *ngIf="!showLoader" src="assets/images/empty-table.png" class="noDataImageStyles">
                    <br>Uhh.. There is no data at this moment</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </article>
</section>

<section *ngIf="viewDetails" class="container-fluid with-maxwidth chapter customFluid" style="padding: 2%">
  <article class="article">
    <div class="box box-default">
      <div class="box-body" style="padding:1%;">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <img (click)="goBack()" src="assets/images/close.png" style="float:right;">
          <h5>Subscription Details</h5>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Details Id</div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{subscriptionDetails.id}}</div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass1">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Created</div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{subscriptionDetails.created|date}}</div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Current Period</div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8" *ngIf="subscriptionDetails.dueDate">{{subscriptionDetails.dueDate|date}}</div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8" *ngIf="!subscriptionDetails.dueDate">--</div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass1">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Customer</div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{customerEmail}}</div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Billing Method</div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{subscriptionDetails.billing}}
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <h5>Product Details</h5>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Pricing Plan</div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{subscriptionDetails.planName}}</div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 headClass1">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Amount</div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{subscriptionDetails.amount/100}}$</div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <h5>Upcoming Invoices</h5>
          <table class="table table-hover">
            <thead>
              <tr class="headClass" style="padding:1%">
                <td>Upcoming Dates</td>
                <td>Invoice No</td>
                <td>Payment due</td>
              </tr>
            </thead>
            <tbody>
              <tr class="headClass1">
                <td>{{subscriptionDetailsResponse?.upcomingInvoice.period_start|date}}-{{upcomingEndDate|date}}</td>
                <td>{{subscriptionDetailsResponse?.upcomingInvoice.number}}</td>
                <td>{{subscriptionDetailsResponse?.upcomingInvoice.amount_due/100}}$</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive">
          <h5>Invoices</h5>
          <table class="table table-hover">
            <thead>
              <tr class="headClass" style="padding:1%">
                <td>Amount</td>
                <td>Invoice No</td>
                <td>Payment due</td>
                <td>Created</td>
                <td>URL</td>
              </tr>
            </thead>
            <tbody>
              <tr class="headClass1" *ngFor="let invoice of invoicesList">
                <td>{{invoice.amountDue/100}}$</td>
                <td>{{invoice.number}}</td>
                <td *ngIf="invoice.dueDate">{{mm.utc(invoice.dueDate).toDate()|date: 'mediumDate'}}</td>
                <td *ngIf="!invoice.dueDate">--</td>
                <td>{{invoice.created|date}}</td>
                <td>
                  <a href="{{invoice.hostedInvoiceURL}}">{{invoice.hostedInvoiceURL}}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <h5>Releated Orders</h5>
          <table class="table table-hover">
            <thead>
              <tr class="headClass">
                <td>Order</td>
                <td>Date</td>
                <td>Status</td>
                <td>Total</td>
                <td>Actions</td>
              </tr>
            </thead>
            <tbody>
              <tr class="headClass1">
                <td>#134</td>
                <td>Aug 2, 2018</td>
                <td>Completed</td>
                <td>R.120 for 2 Products</td>
                <td>
                  <button class="btn">
                    View
                    <i class="fa fa-eye iconstyle" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <h5>Billing Address</h5>
            <address>
              <em>{{addressDetails?.line1}}</em>
              <br *ngIf="addressDetails?.line2">
              <em *ngIf="addressDetails?.line2">{{addressDetails?.line2}}</em>
              <br *ngIf="addressDetails?.city">
              <em *ngIf="addressDetails?.city">{{addressDetails?.city}}</em>
              <br *ngIf="addressDetails?.state">
              <em *ngIf="addressDetails?.state">{{addressDetails?.state}}, {{addressDetails?.country}}</em>
              <br>
              <em *ngIf="addressDetails?.postal_code">{{addressDetails?.postal_code}}</em>
              <br>
              <em style="margin-top:1rem;">{{customerEmail}}</em>
            </address>
          </div>
          <!--
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <h5>Shipping Address</h5>
            <address>
              <em>{{addressDetails?.line1}}</em>
              <br>
              <em>{{addressDetails?.line2}}</em>
              <br>
              <em>{{addressDetails?.city}}</em>
              <br>
              <em>{{addressDetails?.state}}, {{addressDetails?.country}}</em>
              <br>
              <em>{{addressDetails?.postal_code}}</em>
              <br>
              <em style="margin-top:1rem;">{{customerEmail}}</em>
            </address>
          </div>
-->
        </div>
      </div>
    </div>
  </article>
</section>
